Repository kubernetes/kops, pull requests merged in 2020-11, with the labels that each got.

#10098 [Digital Ocean] Use Debian10 as default image
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9011 Implement API load balancer class with NLB and ELB support on AWS
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/commands/BUILD.bazel
  pkg/commands/status_discovery.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  pkg/model/context.go
  pkg/model/dns.go
  pkg/model/names.go
  pkg/model/spotinstmodel/instance_group.go
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_healthchecks.go
  upup/pkg/fi/cloudup/awstasks/classicloadbalancer_fitask.go
  upup/pkg/fi/cloudup/awstasks/dnsname.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/networkloadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/networkloadbalancer_fitask.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_test.go
  upup/pkg/fi/cloudup/awsup/aws_apitarget.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/spotinsttasks/BUILD.bazel
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/api, area/documentation, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, ok-to-test, size/XXL, tide/merge-method-squash

#10152 Automated cherry pick of #10098: Use Debian10 image for DO
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10154 Automated cherry pick of #10140 and #9011: Implement API load balancer class with NLB and ELB support on AWS
  cloudmock/aws/mockautoscaling/attach.go
  cloudmock/aws/mockautoscaling/group.go
  cloudmock/aws/mockelbv2/BUILD.bazel
  cloudmock/aws/mockelbv2/api.go
  cloudmock/aws/mockelbv2/listeners.go
  cloudmock/aws/mockelbv2/loadbalancers.go
  cloudmock/aws/mockelbv2/tags.go
  cloudmock/aws/mockelbv2/targetgroups.go
  cloudmock/aws/mockiam/iamrole.go
  cmd/kops/create_cluster.go
  cmd/kops/lifecycle_integration_test.go
  docs/cli/kops_create_cluster.md
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/commands/BUILD.bazel
  pkg/commands/status_discovery.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  pkg/model/context.go
  pkg/model/dns.go
  pkg/model/names.go
  pkg/model/spotinstmodel/instance_group.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_healthchecks.go
  upup/pkg/fi/cloudup/awstasks/classicloadbalancer_fitask.go
  upup/pkg/fi/cloudup/awstasks/dnsname.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/networkloadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/networkloadbalancer_fitask.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_test.go
  upup/pkg/fi/cloudup/awsup/aws_apitarget.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/spotinsttasks/BUILD.bazel
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/api, area/documentation, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, size/XXL, tide/merge-method-squash

#10158 Fix NLB naming for terraform and cloudformation targets
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10159 Automated cherry pick of #10158: Fix NLB naming for terraform and cloudformation targets
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10161 Move NLB's VPC CIDR security group rule logic into model
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10162 Fix additionalSecurityGroups support for NLB
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#10163 Automated cherry pick of #10161: Move NLB's VPC CIDR security group rule logic into model #10162: Fix additionalSecurityGroups support for NLB
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10160 Some typos
  pkg/apis/kops/instancegroup.go
  pkg/apis/nodeup/bootstrap.go
  pkg/instancegroups/instancegroups.go
Labels: approved, area/api, area/rolling-update, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10169 Mount the whole /etc/ssl/certs directory for k8s-ec2-srcdst
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S, tide/merge-method-squash

#10065 Avoid waiting on validation during rolling update for inapplicable instance groups
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/L

#10178 OpenStack Reset deviceID status if needed
  pkg/instancegroups/rollingupdate_os_test.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/port.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: approved, area/provider/openstack, area/rolling-update, cncf-cla: yes, lgtm, size/M

#10180 Automated cherry pick of #10178: Reset deviceID status if needed
  pkg/instancegroups/rollingupdate_os_test.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/port.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: approved, area/provider/openstack, area/rolling-update, cncf-cla: yes, lgtm, size/M

#10181 Remove unused bearer token field from kubeconfig builder
  pkg/kubeconfig/kubecfg_builder.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/S

#10186 Compare KubernetesAPIAccess to OpenStack allowedCIDRs deterministically
  pkg/model/openstackmodel/servergroup.go
  upup/pkg/fi/cloudup/openstacktasks/lblistener.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10179 Consistent naming of security group rules
  pkg/model/firewall.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#10189 Upgrade Hashicorp HCLv2 Go module v2.7.0
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/v12/LICENSE
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/BUILD.bazel
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/all_tokens.go
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/emoji_table.rl
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/generate.go
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/grapheme_clusters.go
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/grapheme_clusters.rl
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/grapheme_clusters_table.rl
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/tables.go
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/unicode2ragel.rb
  vendor/github.com/apparentlymart/go-textseg/v12/textseg/utf8_seqs.go
  vendor/github.com/hashicorp/hcl/v2/BUILD.bazel
  vendor/github.com/hashicorp/hcl/v2/CHANGELOG.md
  vendor/github.com/hashicorp/hcl/v2/README.md
  vendor/github.com/hashicorp/hcl/v2/diagnostic.go
  vendor/github.com/hashicorp/hcl/v2/go.mod
  vendor/github.com/hashicorp/hcl/v2/go.sum
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/BUILD.bazel
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression_template.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser_template.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/spec.md
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/token.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/BUILD.bazel
  vendor/github.com/hashicorp/hcl/v2/hclwrite/ast_block.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/generate.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/node.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclwrite/tokens.go
  vendor/github.com/hashicorp/hcl/v2/ops.go
  vendor/github.com/hashicorp/hcl/v2/pos_scanner.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#10171 Automated cherry pick of #10169: Mount the whole /etc/ssl/certs directory for k8s-ec2-srcdst
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10187 Fix auto scaling group changes when using spot instances
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#10192 Upgrade helm to 2.17 and use the helm.sh reference
  cmd/kops/BUILD.bazel
  cmd/kops/toolbox_template.go
  go.mod
  go.sum
  vendor/helm.sh/helm/LICENSE
  vendor/helm.sh/helm/pkg/strvals/BUILD.bazel
  vendor/helm.sh/helm/pkg/strvals/doc.go
  vendor/helm.sh/helm/pkg/strvals/parser.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10199 Fix AWS NLB reconciliation
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10172 Automated cherry pick of #10169: Mount the whole /etc/ssl/certs directory for k8s-ec2-srcdst
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10198 Fix disabling spot instances when using launch templates
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10200 Automated cherry pick of #10187: Fix auto scaling group changes when using spot instances #10198: Fix mismatch between expected launch template Name and ID
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10201 Automated cherry pick of #10199: Fix AWS NLB reconciliation
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10205 Automated cherry pick of #10144: allow reauth for openstack client
  util/pkg/vfs/swiftfs.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#10156 Add ACM cert permalink
  permalinks/acm_nlb.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#10157 Setup a second NLB listener when an AWS ACM certificate is used
  pkg/apis/kops/validation/validation.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/firewall.go
  pkg/model/names.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: approved, area/api, area/documentation, area/nodeup, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, size/XL

#10209 Update Go to v1.15.4
  .github/workflows/main.yml
  .travis.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#10208 Automated cherry pick of #10157: Add support for multiple NLB listeners and target
  pkg/apis/kops/validation/validation.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/firewall.go
  pkg/model/names.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10210 Automated cherry pick of #10209: Update Go to v1.15.4
  .github/workflows/main.yml
  .travis.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#10212 Release 1.19.0-beta.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10190 Spotinst: Configure Resource Limits in Ocean Auto Scaler
  docs/advanced/experimental.md
  docs/getting_started/spot-ocean.md
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/documentation, area/provider/spotinst, cncf-cla: yes, lgtm, size/L

#10213 Release notes 1.19.0-beta.1
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10151 Use LaunchTemplate versions instead of timestamped LaunchTemplates
  cloudmock/aws/mockautoscaling/group.go
  cloudmock/aws/mockec2/launch_templates.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/awsup/aws_apitarget.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10216 Update kOps version after 1.19.0-beta.1 release
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10214 Remove components from cluster validation
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10215 Allow to use custom csi plugin image and enable topology support
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#10218 Automated cherry pick of #10214: Remove components from cluster validation
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10219 Update validate cluster cli docs
  cmd/kops/validate_cluster.go
  docs/cli/kops_validate_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10220 Automated cherry pick of #10219: Update validate cluster cli docs
  cmd/kops/validate_cluster.go
  docs/cli/kops_validate_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10225 Fix cluster autoscaler docs
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10194 Make etcd-manager log verbosity configurable
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/overwrite_settings/cluster.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#10227 Update k8s versions nov 2020
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10195 Update Ubuntu ami to latest version
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#10217 Fix various nits
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/resources/aws/aws.go
  pkg/resources/aws/errors.go
  tests/integration/update_cluster/externalpolicies/in-v1alpha2.yaml
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  upup/pkg/fi/dryrun_target.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10230 Switch ARM64 CI to Graviton2 CPU
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10232 Automated cherry pick of #10230: Switch ARM64 CI to Graviton2 CPU
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10231 Update docs related to audit logging
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10233 Automated cherry pick of #10217: Fix various nits
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/resources/aws/aws.go
  pkg/resources/aws/errors.go
  tests/integration/update_cluster/externalpolicies/in-v1alpha2.yaml
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  upup/pkg/fi/dryrun_target.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10222 Don't install the misc packages for k8s 1.20+
  nodeup/pkg/model/miscutils.go
  nodeup/pkg/model/packages.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#10228 Fix readme
  docs/getting_started/install.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#10236 Automated cherry pick of #10194: feat: Make etcd-manager log verbosity configurable
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/overwrite_settings/cluster.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#10238 Add default runtime and runtimes fields in the docker config
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#10221 Fix cluster validation dependency on local kubeconfig
  cmd/kops/delete_instance.go
  cmd/kops/rollingupdatecluster.go
  cmd/kops/validate_cluster.go
  pkg/validation/BUILD.bazel
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10237 Associate instance group to pod validation failures in cluster validation.
  pkg/instancegroups/instancegroups.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, lgtm, ok-to-test, size/L

#10241 Add HPA Flags for `horizontal-pod-autoscaler-initial-readiness-delay` & `horizontal-pod-autoscaler-cpu-initialization-period`
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10226 Automated cherry pick of #10151: Use LT versions instead of timestamped LTs
  cloudmock/aws/mockautoscaling/group.go
  cloudmock/aws/mockec2/launch_templates.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/awsup/aws_apitarget.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10245 Remove more code specific to unsupported etcd v2
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/model/components/apiserver.go
Labels: approved, area/api, cncf-cla: yes, kind/cleanup, lgtm, size/M

#10243 Automated cherry pick of #10238: dockerconfig: Add default runtime and runtimes fields
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10244 Automated cherry pick of #10241: Expose flags for HorizontalPodAutoscaler
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10242 GCE: ignore (output-only) networkInterface.name
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10167 Make it possible to use OnDelete update strategy on addon daemonset
  channels/pkg/api/channel.go
  channels/pkg/channels/addon.go
  cmd/kops/get_instances.go
  cmd/kops/rollingupdatecluster.go
  pkg/cloudinstances/cloud_instance_group.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_test.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, area/channels, area/rolling-update, cncf-cla: yes, lgtm, size/L

#10211 Cherry pick of #9794 and #10138 onto release-1.18
  docs/releases/1.18-NOTES.md
  docs/releases/1.19-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  tests/integration/update_cluster/api_elb_cross_zone/kubernetes.tf
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/nosshkey/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/external_load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/external_target_group_attachment.go
  upup/pkg/fi/cloudup/awstasks/externalloadbalancerattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/awstasks/load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/loadbalancerattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_fitask.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10247 Fix version of storage-aws addon manifest
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#10248 Automated cherry pick of #10247: Fix version of storage-aws addon manifest
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10249 Automated cherry pick of #10247: Fix version of storage-aws addon manifest
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10256 Fix cloudformation lint job
  hack/cfn-lint.Dockerfile
  hack/verify-cloudformation.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#10257 Update etcd-manager to 3.0.20201117
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10239 Use separate domain for kops-controller bootstrap
  nodeup/pkg/model/kops_controller.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: approved, area/addons, area/nodeup, cncf-cla: yes, lgtm, size/S

#10259 Automated cherry pick of #10257: Update etcd-manager to 3.0.20201117
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10260 Automated cherry pick of #10239: Use separate domain for kops-controller bootstrap
  nodeup/pkg/model/kops_controller.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: approved, area/addons, area/nodeup, cncf-cla: yes, lgtm, size/S

#10262 Revert "Switch ARM64 CI to Graviton2 CPU"
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10240 Update Bazel rules for Go to v0.24.7
  .github/workflows/main.yml
  .travis.yml
  Makefile
  WORKSPACE
  cmd/kops-controller/BUILD.bazel
  cmd/kops/BUILD.bazel
  cmd/kube-apiserver-healthcheck/BUILD.bazel
  cmd/nodeup/BUILD.bazel
  dns-controller/cmd/dns-controller/BUILD.bazel
  node-authorizer/images/BUILD.bazel
  protokube/cmd/protokube/BUILD.bazel
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/L

#10263 Automated cherry pick of #10262: Revert "Switch ARM64 CI to Graviton2 CPU"
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10265 Push multi-arch images
  Makefile
  cloudbuild.yaml
  cmd/kops-controller/BUILD.bazel
  cmd/kube-apiserver-healthcheck/BUILD.bazel
  dns-controller/cmd/dns-controller/BUILD.bazel
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/M

#10269 alpha channel: update legacy images
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10270 Fix multi-arch image pushing
  Makefile
  cmd/kops-controller/BUILD.bazel
  cmd/kube-apiserver-healthcheck/BUILD.bazel
  dns-controller/cmd/dns-controller/BUILD.bazel
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/S

#10271 Automated cherry pick of #10265: Push multi-arch images #10270: Fix multi-arch image pushing
  Makefile
  cloudbuild.yaml
  cmd/kops-controller/BUILD.bazel
  cmd/kube-apiserver-healthcheck/BUILD.bazel
  dns-controller/cmd/dns-controller/BUILD.bazel
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/M

#9666 Add sslPolicy for NLB to change listener's security policy
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/M

#10267 Optimize Bazel builds by os and arch
  Makefile
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/L

#10274 Fix incorrect URLs in kops cluster documentation
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10277 Use etcd v3.4.13 for k8s v1.19+
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Labels: approved, blocks-next, cncf-cla: yes, lgtm, size/XS

#10286 Automated cherry pick of #10277: Use etcd v3.4.13 for k8s v1.19+
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10276 Parse TargetGroup names from ARNs
  pkg/apis/kops/validation/instancegroup.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/api, area/provider/aws, blocks-next, cncf-cla: yes, lgtm, size/L

#10290 Automated cherry pick of #10256: Fix cloudformation lint job #9666: feat(aws): add PolicyNames for ELB to change listener's
  docs/cluster_spec.md
  hack/cfn-lint.Dockerfile
  hack/verify-cloudformation.sh
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10288 Automated cherry pick of #10276: Parse TargetGrup names from ARNs
  pkg/apis/kops/validation/instancegroup.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10285 Add Go code-generator v0.20.0-beta.2 crypto hash
  go.sum
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10291 Release 1.19.0-beta.2
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10292 Add ACM/NLB instructions to 1.19 release notes
  docs/releases/1.19-NOTES.md
  permalinks/acm_nlb.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10293 Release notes for 1.19.0-beta.2
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10294 Add more NLB release notes and documentation
  docs/cluster_spec.md
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10282 Can check cert expiry using openssl
  docs/advisories/etcd-manager-certificate-expiration.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10295 Update kOps version after 1.19.0-beta.2 release
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10296 Remove support for using legacy ELB name
  pkg/model/context.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10297 Remove dead code
  upup/pkg/fi/loader/BUILD.bazel
  upup/pkg/fi/loader/tree_walker.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10298 Remove support for disabling manifest normalization
  pkg/assets/BUILD.bazel
  pkg/assets/builder.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10305 Fix a typo in an error message returned from buildAzureBlobPath
  util/pkg/vfs/context.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10302 Automated cherry pick of #10273: Add support for default version override
  docs/networking/weave.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10301 Automated cherry pick of #10273: Add support for default version override
  docs/networking/weave.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10306 Automated cherrypick of #10275 onto release-1.19
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kube_apiserver.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/M

#10309 Optimize Bazel dev builds by arch
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/M

#10310 Update Calico to v3.17.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/L

#10320 [Digital Ocean] Upgrade godo sdk to v1.54
  go.mod
  go.sum
  pkg/resources/digitalocean/dns/dns_test.go
  vendor/github.com/digitalocean/godo/.travis.yml
  vendor/github.com/digitalocean/godo/.whitesource
  vendor/github.com/digitalocean/godo/1-click.go
  vendor/github.com/digitalocean/godo/BUILD.bazel
  vendor/github.com/digitalocean/godo/CHANGELOG.md
  vendor/github.com/digitalocean/godo/CONTRIBUTING.md
  vendor/github.com/digitalocean/godo/README.md
  vendor/github.com/digitalocean/godo/action.go
  vendor/github.com/digitalocean/godo/apps.gen.go
  vendor/github.com/digitalocean/godo/apps.go
  vendor/github.com/digitalocean/godo/balance.go
  vendor/github.com/digitalocean/godo/billing_history.go
  vendor/github.com/digitalocean/godo/cdn.go
  vendor/github.com/digitalocean/godo/certificates.go
  vendor/github.com/digitalocean/godo/databases.go
  vendor/github.com/digitalocean/godo/doc.go
  vendor/github.com/digitalocean/godo/domains.go
  vendor/github.com/digitalocean/godo/droplets.go
  vendor/github.com/digitalocean/godo/firewalls.go
  vendor/github.com/digitalocean/godo/floating_ips.go
  vendor/github.com/digitalocean/godo/go.mod
  vendor/github.com/digitalocean/godo/go.sum
  vendor/github.com/digitalocean/godo/godo.go
  vendor/github.com/digitalocean/godo/images.go
  vendor/github.com/digitalocean/godo/invoices.go
  vendor/github.com/digitalocean/godo/keys.go
  vendor/github.com/digitalocean/godo/kubernetes.go
  vendor/github.com/digitalocean/godo/links.go
  vendor/github.com/digitalocean/godo/load_balancers.go
  vendor/github.com/digitalocean/godo/meta.go
  vendor/github.com/digitalocean/godo/projects.go
  vendor/github.com/digitalocean/godo/regions.go
  vendor/github.com/digitalocean/godo/registry.go
  vendor/github.com/digitalocean/godo/sizes.go
  vendor/github.com/digitalocean/godo/snapshots.go
  vendor/github.com/digitalocean/godo/storage.go
  vendor/github.com/digitalocean/godo/storage_actions.go
  vendor/github.com/digitalocean/godo/strings.go
  vendor/github.com/digitalocean/godo/tags.go
  vendor/github.com/digitalocean/godo/vpcs.go
  vendor/modules.txt
Labels: approved, area/provider/digitalocean, cncf-cla: yes, lgtm, needs-ok-to-test, size/XXL

#10319 Tolerate missing detached EC2 instances
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10315 Automated cherry pick of #10310: Update Calico to v3.17.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10328 Don't try to detach masters
  pkg/instancegroups/instancegroups.go
Labels: approved, area/rolling-update, cncf-cla: yes, kind/bug, lgtm, size/S

#10322 Automated cherry pick of #10319: Tolerate missing detached EC2 instances
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10323 Automated cherry pick of #10319: Tolerate missing detached EC2 instances
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS
