Repository kubernetes/kops, pull requests merged in 2020-10, with the labels that each got.

#10007 Update rules_docker in order to build protokube
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#10008 Bump cilium to 1.8.4
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9996 Fix support for multiple additionalNetworkCIDR blocks
  pkg/model/network.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/awstasks/vpccidrblock.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9981 More removals of BuildCloud
  cmd/kops/create_cluster.go
  cmd/kops/create_ig.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/toolbox_instance_selector.go
  cmd/kops/update_cluster.go
  nodeup/pkg/model/kubelet_test.go
  pkg/commands/helpers_readwrite.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/defaults_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/populateinstancegroup_test.go
  upup/pkg/fi/cloudup/subnets.go
  upup/pkg/fi/cloudup/subnets_test.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/kutil/convert_kubeup_cluster.go
  upup/pkg/kutil/import_cluster.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#9927 Support rolling upgrade on openstack
  cloudmock/openstack/mockcompute/servers.go
  cloudmock/openstack/mocknetworking/ports.go
  cmd/kops/lifecycle_integration_test.go
  cmd/kops/rollingupdatecluster.go
  pkg/instancegroups/BUILD.bazel
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/openstack/instance.go
Labels: approved, area/provider/aws, area/provider/openstack, area/rolling-update, cncf-cla: yes, lgtm, size/L

#10011 Spotinst: Upgrade the Spot Cluster Controller to version 1.0.67
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.9.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10013 Don't disassociate additional CIDR blocks with shared VPCs
  cloudmock/aws/mockec2/vpcs.go
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/awstasks/vpc_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10016 enable kubelet --housekeeping-interval flag
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10024 Move kops-controller serving port out of conflict
  docs/development/ports.md
  pkg/wellknownports/wellknownports.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10025 Sort wellknown ports and add missing ports to table
  docs/development/ports.md
  pkg/wellknownports/wellknownports.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10019 [calico] awsSrcDstCheck to disable src/dest checks in AWS
  docs/networking/calico.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, area/documentation, area/nodeup, area/provider/aws, area/provider/openstack, area/rolling-update, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/M

#10030 Minor fixes to swiftfs.go
  util/pkg/vfs/swiftfs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10032 Open etcd port only when Calico uses "etcd" datastore
  nodeup/pkg/model/networking/calico.go
  pkg/apis/kops/cluster.go
  pkg/model/firewall.go
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
Labels: approved, area/api, area/nodeup, cncf-cla: yes, kind/cleanup, lgtm, size/M

#10022 Kubelet serving certificate and metrics server addon
  addons/metrics-server/README.md
  cmd/kops-controller/pkg/server/server.go
  docs/releases/1.19-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
Labels: approved, area/addons, area/api, area/documentation, area/kops-controller, area/nodeup, cncf-cla: yes, lgtm, size/XL

#10034 kops/cmd: add sshAccess to be recognized for the kops set cluster command
  pkg/commands/set_cluster.go
  pkg/commands/set_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10036 Update Calico to v3.16.3
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10033 Update Docker version defaults for older k8s versions
  pkg/model/components/docker.go
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10038 Add support for KubeAPIServer --request-timeout flag
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10035 Allow upgrades when IG image is Ubuntu 20.04
  cmd/kops/upgrade_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10037 Add WireGuard support for Calico CNI
  docs/networking/calico.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/networking/calico.go
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, area/documentation, area/nodeup, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/M

#10040 Automated cherry pick of #10038: Add support for KubeAPIServer --request-timeout flag
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#10039 Automated cherry pick of #10037: Add WireGuard support for Calico CNI
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/packages.go
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, area/nodeup, cncf-cla: yes, lgtm, size/S

#10042 Fix docs feature table not being rendered
  docs/extra.css
  hack/mkdocs_macros/feature_stability_table.py
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10046 Fix nil pointer when deleting instance
  cmd/kops/delete_instance.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#10000 [Digital Ocean] Implement Delete Instance logic for rolling update
  pkg/instancegroups/instancegroups.go
  pkg/resources/digitalocean/cloud.go
Labels: approved, area/provider/digitalocean, area/rolling-update, cncf-cla: yes, lgtm, ok-to-test, size/M, tide/merge-method-squash

#10049 Don't require PriorityClassName to pass missing-static-pod checks
  pkg/validation/validate_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10047 Upgrade aws-iam-authenticator to 0.5.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10050 Automated cherry pick of #10049: Don't require PriorityClassName to pass missing-static-pod
  pkg/validation/validate_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10051 Recommend kops 1.18.1 for kops >= 1.15 in alpha channel
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#10052 upgrade-cluster: test that new image in stable or alpha channel will …
  cmd/kops/upgrade_cluster.go
  pkg/apis/kops/channel.go
  tests/integration/channel/integration_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#10054 Release 1.19.0-alpha.5
  Makefile
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, area/rolling-update, cncf-cla: yes, lgtm, size/L

#10055 Release notes for 1.19.0-alpha.5
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10044 Rewrite ssh user to ubuntu in bastions docs
  docs/examples/kops-tests-private-net-bastion-host.md
Labels: approved, area/documentation, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/M

#10058 Automated cherry pick of #9917: Remove force_tcp flag for nodelocalcache dot zone
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10062 Updating alpha with October releases and latest Ubuntu AMI version
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10059 Simplify node local dns
  pkg/model/components/kubelet.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10045 Fix bug in MergeAddons and test
  channels/pkg/channels/addon.go
  channels/pkg/channels/addons_test.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/M

#10063 Automated cherry pick of #10059: Don't let node-local-dns add iptables rules
  pkg/model/components/kubelet.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10061 do not create egress rules when using vipacl octavia
  pkg/model/openstackmodel/firewall.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XS

#10067 Add some quick notes on how to get GPU opertor working
  docs/gpu.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10056 Add some missing notes to the release notes
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S, tide/merge-method-squash

#10068 Cleanup channels error output
  channels/pkg/cmd/root.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#10069 Add eBPF dataplane support for Calico CNI
  docs/networking/calico.md
  docs/releases/1.19-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/L

#10075 Use AWS SDK lists of enum values for API validation
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/instancegroup.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10073 Allow more volume types
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10031 Initial kubetest2 structure for e2e testing
  .gitignore
  hack/update-bazel.sh
  hack/verify-bazel.sh
  hack/verify-staticcheck.sh
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#10066 Hotfix/10015 cloud formation lint error
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/values.go
Labels: approved, area/provider/aws, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/L

#10084 Update docs for cutting new release branches
  docs/development/release.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10078 Update security_groups.md
  docs/security_groups.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10087 Update Office Hours Zoom link
  docs/welcome/office_hours.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10088 Update zoom links on the spanish README
  README-ES.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10086 Ignore changes to ForAPIServer field
  upup/pkg/fi/cloudup/alitasks/loadbalancer.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/dotasks/loadbalancer.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/digitalocean, cncf-cla: yes, lgtm, size/S

#10064 Update Flannel CNI to v0.13.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10089 Automated cherry pick of #10064: Update Flannel CNI to v0.13.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10083 kubetest2 - Implement create/validate/delete cluster functionality
  Makefile
  hack/verify-gomod.sh
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/util/http.go
  tests/e2e/kubetest2-kops/util/publicip.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10093 Automated cherry pick of #10092: Fix circular dependency in tasks related to kubelet
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/cilium.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10090 Automated cherry pick of #10086: Ignore changes to ForAPIServer field
  upup/pkg/fi/cloudup/alitasks/loadbalancer.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/dotasks/loadbalancer.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/digitalocean, cncf-cla: yes, lgtm, size/S

#10092 Cert circular deps
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/cilium.go
Labels: approved, area/nodeup, cncf-cla: yes, kind/bug, lgtm, size/M

#10094 Fix cilium template by specifying boolean as a string for enable-metrics
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10096 Automated cherry pick of #10094: Fix cilium template by specifying boolean as a string for
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10097 Release notes for 1.18.2
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10099 Update Kops Go build supported versions 1.15
  docs/development/building.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#10103 Spotinst: Bump the Spot Cluster Controller to 1.0.68
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10102 Remove hack/workaround from etcd-manager certificate expiration advisory
  docs/advisories/etcd-manager-certificate-expiration.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10105 Default to exporting a kubecfg, even without credentials
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10107 Automated cherry pick of #10105: Default to exporting a kubecfg, even without credentials
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10106 Remove dependency of TerraformJSON feature flag
  cmd/kops/integration_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10110 Automated cherry pick of #10106: Remove dependency of TerraformJSON feature flag
  cmd/kops/integration_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10112 Makefile and hack script cleanup
  Makefile
  hack/.shellcheck_failures
  hack/common.sh
  hack/new-iam-user.sh
  hack/update-apimachinery.sh
  hack/update-bazel.sh
  hack/update-header.sh
  hack/verify-bazel.sh
  hack/verify-boilerplate.sh
  hack/verify-crds.sh
  hack/verify-gofmt.sh
  hack/verify-spelling.sh
  hack/verify-staticcheck.sh
Labels: approved, cncf-cla: yes, lgtm, size/L

#10117 Update channels
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10115 Update Calico config for eBPF mode
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/L

#10120 Automated cherry pick of #10115: Use optional ConfigMap to configure k8s API endpoint for
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/L

#10125 Automated cherry pick of #10124: Update AWS VPC CNI to 1.7.5
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10124 Update AWS VPC CNI to 1.7.5
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/M

#10111 Add nodeLocalDNSCache.kubeDnsOnly option
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubedns.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, hacktoberfest-accepted, lgtm, ok-to-test, size/M

#10126 Align AWS VPC CNI manifest with upstream
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XL

#10129 Automated cherry pick of #10126: Align AWS VPC CNI manifest with upstream
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XL

#10118 Fix release notes links to point to https://kops.sigs.k8s
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10130 Add verify-cloudformation script
  Makefile
  hack/.cfnlintrc.yaml
  hack/verify-cloudformation.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#10131 Fix cloudformation lint errors
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#10128 Update shell style for CLI docs for better compatibility
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/create_secret.go
  cmd/kops/create_secret_cilium_encryptionconfig.go
  cmd/kops/create_secret_dockerconfig.go
  cmd/kops/create_secret_encryptionconfig.go
  cmd/kops/create_secret_keypair.go
  cmd/kops/create_secret_keypair_ca.go
  cmd/kops/create_secret_sshpublickey.go
  cmd/kops/create_secret_weave_encryptionconfig.go
  cmd/kops/delete.go
  cmd/kops/edit.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/export.go
  cmd/kops/export_kubecfg.go
  cmd/kops/update.go
  cmd/kops/update_cluster.go
  cmd/kops/upgrade.go
  docs/cli/kops_create.md
  docs/cli/kops_create_cluster.md
  docs/cli/kops_create_secret.md
  docs/cli/kops_create_secret_ciliumpassword.md
  docs/cli/kops_create_secret_dockerconfig.md
  docs/cli/kops_create_secret_encryptionconfig.md
  docs/cli/kops_create_secret_keypair.md
  docs/cli/kops_create_secret_keypair_ca.md
  docs/cli/kops_create_secret_sshpublickey.md
  docs/cli/kops_create_secret_weavepassword.md
  docs/cli/kops_delete.md
  docs/cli/kops_edit.md
  docs/cli/kops_edit_cluster.md
  docs/cli/kops_edit_instancegroup.md
  docs/cli/kops_export.md
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update.md
  docs/cli/kops_update_cluster.md
  docs/cli/kops_upgrade.md
  docs/cli/kops_upgrade_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9794 Prevent unintended resource updates to LB attatchments
  docs/releases/1.19-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/external_load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/external_target_group_attachment.go
  upup/pkg/fi/cloudup/awstasks/externalloadbalancerattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/externaltargetgroupattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/awstasks/load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_fitask.go
Labels: approved, area/documentation, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10132 Automated cherry pick of #10130: Add verify-cloudformation script #10131: Fix cloudformation lint errors
  Makefile
  hack/.cfnlintrc.yaml
  hack/verify-cloudformation.sh
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10133 Make verify-cloudformation job fail when issues are found
  hack/verify-cloudformation.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10135 Automated cherry pick of #10128: Update shell style for CLI docs for better compatibility
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/create_secret.go
  cmd/kops/create_secret_cilium_encryptionconfig.go
  cmd/kops/create_secret_dockerconfig.go
  cmd/kops/create_secret_encryptionconfig.go
  cmd/kops/create_secret_keypair.go
  cmd/kops/create_secret_keypair_ca.go
  cmd/kops/create_secret_sshpublickey.go
  cmd/kops/create_secret_weave_encryptionconfig.go
  cmd/kops/delete.go
  cmd/kops/edit.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/export.go
  cmd/kops/export_kubecfg.go
  cmd/kops/update.go
  cmd/kops/update_cluster.go
  cmd/kops/upgrade.go
  docs/cli/kops_create.md
  docs/cli/kops_create_cluster.md
  docs/cli/kops_create_secret.md
  docs/cli/kops_create_secret_ciliumpassword.md
  docs/cli/kops_create_secret_dockerconfig.md
  docs/cli/kops_create_secret_encryptionconfig.md
  docs/cli/kops_create_secret_keypair.md
  docs/cli/kops_create_secret_keypair_ca.md
  docs/cli/kops_create_secret_sshpublickey.md
  docs/cli/kops_create_secret_weavepassword.md
  docs/cli/kops_delete.md
  docs/cli/kops_edit.md
  docs/cli/kops_edit_cluster.md
  docs/cli/kops_edit_instancegroup.md
  docs/cli/kops_export.md
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update.md
  docs/cli/kops_update_cluster.md
  docs/cli/kops_upgrade.md
  docs/cli/kops_upgrade_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#10138 ELB/TargetGroup/ASG attachment fixes
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10134 Automated cherry pick of #9794 and #10138 onto release-1.19
  docs/releases/1.19-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/external_load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/external_target_group_attachment.go
  upup/pkg/fi/cloudup/awstasks/externalloadbalancerattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/externaltargetgroupattachment_fitask.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/awstasks/load_balancer_attachment.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_fitask.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10101 Prepare for version 1.20
  docs/releases/1.20-NOTES.md
  permalinks/upgrade_k8s.md
  tests/integration/update_cluster/launch_templates/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1a.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1b.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1c.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_nodes.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/in-v1alpha2.yaml
  tests/integration/update_cluster/mixed_instances/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/in-v1alpha2.yaml
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10141 Remove code for no-longer-supported k8s releases
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/networking/calico.go
  nodeup/pkg/model/tests/apiServer/auditDynamicConfiguration/cluster.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/validation/openstack.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/apiserver.go
  pkg/model/components/cilium.go
  pkg/model/components/docker.go
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/openstack.go
  pkg/model/context.go
  pkg/model/firewall.go
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.10.yaml.template
  upup/models/cloudup/resources/addons/authentication.kope.io/k8s-1.8.yaml
  upup/models/cloudup/resources/addons/core.addons.k8s.io/k8s-1.7.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.10.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.7.yaml.template
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/networking.kope.io/k8s-1.6.yaml
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.7-v3.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.7.yaml.template
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.9.yaml.template
  upup/models/cloudup/resources/addons/node-authorizer.addons.k8s.io/k8s-1.10.yaml.template
  upup/models/cloudup/resources/addons/podsecuritypolicy.addons.k8s.io/k8s-1.10.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, area/api, area/nodeup, cncf-cla: yes, lgtm, size/XXL

#10144 allow reauth for openstack client
  util/pkg/vfs/swiftfs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10145 Simplify etcd options builder
  pkg/model/components/etcd.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10143 Deprecate field calico.majorVersion
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M
