Repository kubernetes/kops, pull requests merged in 2020-12, with the labels that each got.

#10332 Add docs for metrics server
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10336 Push alpha to stable
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/L

#10339 Add paramaeters related to Taint based Evictions in kube-apiserver
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10342 Automated cherry pick of #10341: Update containerd and Docker versions
  pkg/model/components/containerd.go
  pkg/model/components/docker.go
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10345 Allow using gp3 for root volumes
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10341 Update containerd and Docker versions
  pkg/model/components/containerd.go
  pkg/model/components/docker.go
  tests/integration/update_cluster/launch_templates/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1a.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1b.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1c.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_nodes.launchtemplates.example.com_user_data
  tests/integration/update_cluster/mixed_instances/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10346 Automated cherry pick of #10345: Alloq using gp3 for root volumes
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10337 Bump aws-vpc-cni version to 1.7.6
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10338 Automated cherry pick of #10337: Bump aws-vpc-cni version to 1.7.6
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10351 Update etcd-manager to 3.0.20201202
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10352 Update DigitalOcean cloud-controller-manager to v0.1.30
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9704 Add aws-cloud-controller-manager config to addons
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/model/components/kubecontrollermanager.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-cloud-controller.addons.k8s.io/k8s-1.18.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/XL

#10353 Automated cherry pick of #10320: Update godo to v1.54.0 #10352: Update DigitalOcean cloud-controller-manager to v0.1.30
  go.mod
  go.sum
  pkg/resources/digitalocean/dns/dns_test.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
  vendor/github.com/digitalocean/godo/.travis.yml
  vendor/github.com/digitalocean/godo/.whitesource
  vendor/github.com/digitalocean/godo/1-click.go
  vendor/github.com/digitalocean/godo/BUILD.bazel
  vendor/github.com/digitalocean/godo/CHANGELOG.md
  vendor/github.com/digitalocean/godo/CONTRIBUTING.md
  vendor/github.com/digitalocean/godo/README.md
  vendor/github.com/digitalocean/godo/action.go
  vendor/github.com/digitalocean/godo/apps.gen.go
  vendor/github.com/digitalocean/godo/apps.go
  vendor/github.com/digitalocean/godo/balance.go
  vendor/github.com/digitalocean/godo/billing_history.go
  vendor/github.com/digitalocean/godo/cdn.go
  vendor/github.com/digitalocean/godo/certificates.go
  vendor/github.com/digitalocean/godo/databases.go
  vendor/github.com/digitalocean/godo/doc.go
  vendor/github.com/digitalocean/godo/domains.go
  vendor/github.com/digitalocean/godo/droplets.go
  vendor/github.com/digitalocean/godo/firewalls.go
  vendor/github.com/digitalocean/godo/floating_ips.go
  vendor/github.com/digitalocean/godo/go.mod
  vendor/github.com/digitalocean/godo/go.sum
  vendor/github.com/digitalocean/godo/godo.go
  vendor/github.com/digitalocean/godo/images.go
  vendor/github.com/digitalocean/godo/invoices.go
  vendor/github.com/digitalocean/godo/keys.go
  vendor/github.com/digitalocean/godo/kubernetes.go
  vendor/github.com/digitalocean/godo/links.go
  vendor/github.com/digitalocean/godo/load_balancers.go
  vendor/github.com/digitalocean/godo/meta.go
  vendor/github.com/digitalocean/godo/projects.go
  vendor/github.com/digitalocean/godo/regions.go
  vendor/github.com/digitalocean/godo/registry.go
  vendor/github.com/digitalocean/godo/sizes.go
  vendor/github.com/digitalocean/godo/snapshots.go
  vendor/github.com/digitalocean/godo/storage.go
  vendor/github.com/digitalocean/godo/storage_actions.go
  vendor/github.com/digitalocean/godo/strings.go
  vendor/github.com/digitalocean/godo/tags.go
  vendor/github.com/digitalocean/godo/vpcs.go
  vendor/modules.txt
Labels: approved, area/addons, area/provider/digitalocean, cncf-cla: yes, lgtm, size/XXL

#10354 Automated cherry pick of #10351: Update etcd-manager to 3.0.20201202
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10335 Allow attaching same external target group to multiple instance groups
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  pkg/model/context.go
  pkg/model/context_test.go
  pkg/model/firewall_test.go
  pkg/model/names.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_test.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10344 Automated cherry pick of #10339: Add paramaeters related to Taint based Evictions in
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10358 Automated cherry pick of #10296: Remove support for using legacy ELB name #10335: Allow attaching same external target group to multiple
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bastion.go
  pkg/model/context.go
  pkg/model/context_test.go
  pkg/model/firewall_test.go
  pkg/model/names.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup_test.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10326 Add fuzzer and OSS-fuzz build script
  hack/.packages
  tests/fuzz/BUILD.bazel
  tests/fuzz/build.sh
  tests/fuzz/fuzz.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#10284 Set --service-account-issuer for k8s 1.20+
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/components/discovery.go
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/subject.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10355 Promote addon docs to first level menu item
  docs/addons.md
  docs/cluster_spec.md
  docs/development/addons.md
  docs/index.md
  docs/operations/addons.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XL

#10312 [Digital Ocean] Promote to Beta
  docs/getting_started/digitalocean.md
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/documentation, area/provider/digitalocean, cncf-cla: yes, lgtm, ok-to-test, size/S

#10357 Give users the option to gzip and base64 encode the heredocs in the nodeup.sh user-data
  cmd/kops/integration_test.go
  docs/instance_groups.md
  docs/releases/1.19-NOTES.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
  tests/integration/update_cluster/compress/data/aws_iam_role_masters.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_nodes.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_policy_masters.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_policy_nodes.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_launch_template_master-us-test-1a.masters.compress.example.com_user_data
  tests/integration/update_cluster/compress/data/aws_launch_template_nodes.compress.example.com_user_data
  tests/integration/update_cluster/compress/id_rsa.pub
  tests/integration/update_cluster/compress/in-v1alpha2.yaml
  tests/integration/update_cluster/compress/kubernetes.tf
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10365 Add integration test for creating an HA cluster in shared zone
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/options.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#10367 Automated cherry pick of #10357 onto release-1.19
  cmd/kops/integration_test.go
  docs/instance_groups.md
  docs/releases/1.19-NOTES.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
  tests/integration/update_cluster/compress/data/aws_iam_role_masters.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_nodes.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_policy_masters.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_policy_nodes.compress.example.com_policy
  tests/integration/update_cluster/compress/data/aws_launch_template_master-us-test-1a.masters.compress.example.com_user_data
  tests/integration/update_cluster/compress/data/aws_launch_template_nodes.compress.example.com_user_data
  tests/integration/update_cluster/compress/id_rsa.pub
  tests/integration/update_cluster/compress/in-v1alpha2.yaml
  tests/integration/update_cluster/compress/kubernetes.tf
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10374 Add option to reuse existing Elastic IPs for NAT gateways
  cloudmock/aws/mockec2/address.go
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/model/network.go
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_bastions.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_masters.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_nodes.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_bastions.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_masters.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_nodes.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_key_pair_kubernetes.private-shared-ip.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_master-us-test-1a.masters.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_nodes.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/id_rsa.pub
  tests/integration/update_cluster/private-shared-ip/in-v1alpha2.yaml
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10375 Remove resource limits from cluster autoscaler
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10366 Remove dependency on TravisCI
  .github/workflows/main.yml
  .travis.yml
  Makefile
  README-ES.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#10377 Automated cherry pick of #10375: Remove resource limits from cluster autoscaler
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10373 fix cluster-autoscaler README url from cluster_spec -> addons
  addons/cluster-autoscaler/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10378 Rename duplicate ci target to quick-ci
  .github/workflows/main.yml
  Makefile
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10379 Automated cherry pick of #10366: Remove dependency on TravisCI #10378: Rename duplicate ci target to quick-ci
  .github/workflows/main.yml
  .travis.yml
  Makefile
  README-ES.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#10380 Automated cherry pick of #10366: Remove dependency on TravisCI #10378: Rename duplicate ci target to quick-ci
  .github/workflows/main.yml
  .travis.yml
  Makefile
  README-ES.md
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#10364 Use custom-configured ServiceAccountIssuer when present
  pkg/model/iam/subject.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10359 Add option for setting the volume encryption key in AWS
  docs/tutorial/working-with-instancegroups.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  netlify.toml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/block_device_mappings.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10376 Automated cherry pick of #10374: Add option to reuse existing Elastic IPs for NAT gateways
  cloudmock/aws/mockec2/address.go
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/model/network.go
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_bastions.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_masters.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_nodes.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_bastions.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_masters.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_nodes.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_key_pair_kubernetes.private-shared-ip.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_master-us-test-1a.masters.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_nodes.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/id_rsa.pub
  tests/integration/update_cluster/private-shared-ip/in-v1alpha2.yaml
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10324 Add support for AWS IMDS v2
  cloudmock/aws/mockec2/launch_templates.go
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/XL

#10383 Automated cherry pick of #10359: Add option for setting the volume encryption key in AWS
  docs/tutorial/working-with-instancegroups.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  netlify.toml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/block_device_mappings.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10384 Automated cherry pick of #10324: Add support for AWS IMDS v2
  cloudmock/aws/mockec2/launch_templates.go
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10390 Update k8s dependencies to v1.20.0
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10368 Update docs for CentOS 8
  docs/operations/images.md
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/S

#10394 Update etcd-manager to 20201209
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10395 Automated cherry pick of #10394: Update etcd-manager to 20201209
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10396 Mount /lib64 for Protokube only on AMD64
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#10398 Explicitly specify http_endpoint in terraform launch template
  docs/instance_groups.md
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/M

#10399 Automated cherry pick of #10398: Explicitly specify http_endpoint in launch_template terraform
  docs/instance_groups.md
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10402 Automated cherry pick of #10396: Mount /lib64 for Protokube only on AMD64
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#10401 Update alpha channel with December 2020 k8s releases and bump Ubuntu AMI version
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10406 Update cilium to 1.8.6
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10405 Cilium bump 1.18
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10407 Hack script improvements
  Makefile
  go.mod
  hack/.packages
  hack/go.mod
  hack/go.sum
  hack/lib/__init__.py
  hack/lib/kubernetes/__init__.py
  hack/tools.go
  hack/update-apimachinery.sh
  hack/update-goimports
  hack/update-goimports.sh
  hack/verify-goimports
  hack/verify-goimports.sh
  pkg/pki/issue_test.go
  pkg/pki/privatekey_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#10410 hack/goimports - Replace mapfile with read
  hack/update-goimports.sh
  hack/verify-goimports.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10316 Allow override of registry and tag for Calico images
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/M

#10408 Update Calico to v3.17.1
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/L

#10411 Automated cherry pick of #10316: Allow override of registry and tag for Calico images #10408: Update Calico to v3.17.1
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/L

#10415 Automated cherry pick of #10312: Move DO to beta
  docs/getting_started/digitalocean.md
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M, tide/merge-method-squash

#10416 Bump aws-cni to 1.7.7
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10417 Automated cherry pick of #10416: Bump aws-cni to 1.7.7
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10418 Add support for containerd v1.4.3 ARM64
  pkg/model/components/containerd.go
  pkg/model/components/containerd_test.go
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/containerd_test.go
  upup/pkg/fi/cloudup/docker.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10420 Automated cherry pick of #10418: Add support for containerd v1.4.3 ARM64
  pkg/model/components/containerd.go
  pkg/model/components/containerd_test.go
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/containerd_test.go
  upup/pkg/fi/cloudup/docker.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10423 Add release note for terraform launch template migration
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10414 Expose metrics port when PrometheusMetricsEnabled set to true in Calico
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S

#10425 Bump etcd client to 3.4.13. Use go modules
  dnsprovider/pkg/dnsprovider/providers/coredns/BUILD.bazel
  dnsprovider/pkg/dnsprovider/providers/coredns/coredns.go
  dnsprovider/pkg/dnsprovider/providers/coredns/rrchangeset.go
  dnsprovider/pkg/dnsprovider/providers/coredns/rrsets.go
  dnsprovider/pkg/dnsprovider/providers/coredns/stubs/BUILD.bazel
  dnsprovider/pkg/dnsprovider/providers/coredns/stubs/corednsapi.go
  go.mod
  go.sum
  vendor/github.com/coreos/etcd/pkg/srv/BUILD.bazel
  vendor/go.etcd.io/etcd/LICENSE
  vendor/go.etcd.io/etcd/NOTICE
  vendor/go.etcd.io/etcd/client/BUILD.bazel
  vendor/go.etcd.io/etcd/client/README.md
  vendor/go.etcd.io/etcd/client/auth_role.go
  vendor/go.etcd.io/etcd/client/auth_user.go
  vendor/go.etcd.io/etcd/client/cancelreq.go
  vendor/go.etcd.io/etcd/client/client.go
  vendor/go.etcd.io/etcd/client/cluster_error.go
  vendor/go.etcd.io/etcd/client/curl.go
  vendor/go.etcd.io/etcd/client/discover.go
  vendor/go.etcd.io/etcd/client/doc.go
  vendor/go.etcd.io/etcd/client/json.go
  vendor/go.etcd.io/etcd/client/keys.go
  vendor/go.etcd.io/etcd/client/members.go
  vendor/go.etcd.io/etcd/client/util.go
  vendor/go.etcd.io/etcd/pkg/pathutil/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/pathutil/path.go
  vendor/go.etcd.io/etcd/pkg/srv/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/srv/srv.go
  vendor/go.etcd.io/etcd/pkg/types/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/types/doc.go
  vendor/go.etcd.io/etcd/pkg/types/id.go
  vendor/go.etcd.io/etcd/pkg/types/set.go
  vendor/go.etcd.io/etcd/pkg/types/slice.go
  vendor/go.etcd.io/etcd/pkg/types/urls.go
  vendor/go.etcd.io/etcd/pkg/types/urlsmap.go
  vendor/go.etcd.io/etcd/version/BUILD.bazel
  vendor/go.etcd.io/etcd/version/version.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10427 Use the kubernetes-sigs version of yaml
  cmd/kops/BUILD.bazel
  cmd/kops/integration_test.go
  cmd/kops/toolbox_template.go
  cmd/kops/validate_cluster.go
  go.mod
  pkg/kubemanifest/BUILD.bazel
  pkg/kubemanifest/manifest.go
  pkg/model/BUILD.bazel
  pkg/model/bootstrapscript.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume_test.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/utils/BUILD.bazel
  upup/pkg/fi/utils/yaml.go
  vendor/modules.txt
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10429 Bump heredoc to v2
  go.mod
  go.sum
  pkg/edit/BUILD.bazel
  pkg/edit/edit_test.go
  pkg/jsonutils/BUILD.bazel
  pkg/jsonutils/streamwriter_test.go
  pkg/k8scodecs/BUILD.bazel
  pkg/k8scodecs/codecs_test.go
  pkg/kopscodecs/BUILD.bazel
  pkg/kopscodecs/codecs_test.go
  pkg/pretty/BUILD.bazel
  pkg/pretty/help.go
  vendor/github.com/MakeNowJust/heredoc/v2/BUILD.bazel
  vendor/github.com/MakeNowJust/heredoc/v2/LICENSE
  vendor/github.com/MakeNowJust/heredoc/v2/README.md
  vendor/github.com/MakeNowJust/heredoc/v2/go.mod
  vendor/github.com/MakeNowJust/heredoc/v2/heredoc.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10430 Automated cherry pick of #10414: This will expose metrics port when
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10369 Template functions for recommended kubernetes versions
  cmd/kops/toolbox_template.go
  docs/cli/kops_toolbox_template.md
  docs/operations/cluster_template.md
  docs/releases/1.20-NOTES.md
  pkg/util/templater/BUILD.bazel
  pkg/util/templater/template_functions.go
  pkg/util/templater/templater.go
  pkg/util/templater/templater_test.go
  tests/integration/channel/BUILD.bazel
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/BUILD.bazel
  tests/integration/channel/simple/mock_channel.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#7919 Make CoreDNS the default DNS server
  docs/cluster_spec.md
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10435 Delay defaulting to CoreDNS to k8s v1.20
  docs/cluster_spec.md
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/cluster.yaml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10437 IAM ServiceAccount Roles: truncate name at 64 characters
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/types.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10440 cloudmock - guard the VPC CIDR association calls with a mutex
  cloudmock/aws/mockec2/vpcs.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10433 Upgrade mkdocs dependencies to latest
  images/mkdocs/requirements.txt
  mkdocs.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10444 Spotinst: Schedule Ocean Controller to Linux nodes only
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10447 Bump AWS-CNI to version 1.7.8
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10448 Automated cherry pick of #10447: Bump AWS-CNI to version 1.7.8
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10413 protokube - query host by label when setting tags
  protokube/pkg/protokube/labeler.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10446 Automated cherry pick of #10442: Allow Calico to run on systems with loose reverse path
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10445 Automated cherry pick of #10442: Allow Calico to run on systems with loose reverse path
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10442 Allow Calico to run on systems with loose reverse path forwarding
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10464 Bump k8s versions on alpha and bump Ubuntu AMI version on stable
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10466 Remove gjtempleton as reviewer
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10462 Backport TargetGroup related fixes
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10465 Automated cherry pick of #10404: Allow use of Calico's VXLAN networking backend
  docs/networking/calico.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/calico.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/L

#10404 Calico: Allow operators to choose which encapsulation mode to use
  docs/networking/calico.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/calico.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/L

#10468 Automated cherry pick of #10413 onto release-1.19
  protokube/pkg/protokube/labeler.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10450 Spotinst: Ignore volume type case sensitivity to prevent unnecessary updates
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10449 Spotinst: Expose Ocean Headroom percentage and autoconfig labels
  docs/getting_started/spot-ocean.md
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/documentation, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#10452 Spotinst: Support for multiple subnets per zone
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#10472 Replace (some) deprecated ResourceHolder with Resource
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/cloudup/alitasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/dotasks/droplet.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/topological_sort.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/digitalocean, area/provider/openstack, area/provider/spotinst, cncf-cla: yes, lgtm, size/L

#10478 Remove ResourceHolder: remove last usages and remove code
  pkg/model/alimodel/sshkey.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/iam.go
  pkg/model/openstackmodel/sshkey.go
  pkg/model/sshkey.go
  upup/pkg/fi/cloudup/alitasks/launchconfiguration.go
  upup/pkg/fi/cloudup/alitasks/rampolicy.go
  upup/pkg/fi/cloudup/alitasks/sshkey.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/awstasks/sshkey.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/cloudup/openstacktasks/sshkey.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/dryrun_target.go
  upup/pkg/fi/fitasks/managedfile.go
  upup/pkg/fi/printers.go
  upup/pkg/fi/resources.go
  upup/pkg/fi/topological_sort.go
  upup/pkg/fi/values.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/openstack, area/provider/spotinst, cncf-cla: yes, lgtm, size/XXL

#10475 Refactor MirroredAsset into mirrors package
  pkg/model/BUILD.bazel
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/tests/data/bootstrapscript_0.txt
  pkg/model/tests/data/bootstrapscript_1.txt
  pkg/model/tests/data/bootstrapscript_2.txt
  pkg/model/tests/data/bootstrapscript_3.txt
  pkg/model/tests/data/bootstrapscript_4.txt
  pkg/model/tests/data/bootstrapscript_5.txt
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/urls.go
  upup/pkg/fi/cloudup/urls_test.go
  util/pkg/hashing/hash.go
  util/pkg/mirrors/BUILD.bazel
  util/pkg/mirrors/mirrored_asset.go
  util/pkg/mirrors/mirrors.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#10476 Refactor nodeUpConfigBuilder to be standalone
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10482 Avoid recursive type definitions in schema
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#10483 Drop support for containerd 1.2
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-cloudformation/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/containerd.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10481 Update CNI plugins to v0.8.7
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1a.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1b.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1c.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_nodes.launchtemplates.example.com_user_data
  tests/integration/update_cluster/mixed_instances/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_nodes.mixedinstances.example.com_user_data
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/networking.go
  upup/pkg/fi/cloudup/networking_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10484 Automated cherry pick of #10483: Drop support for containerd 1.2 #10481: Update CNI plugins to v0.8.7
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-cloudformation/in-v1alpha2.yaml
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/networking.go
  upup/pkg/fi/cloudup/networking_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#10485 Automated cherry pick of #10481: Update CNI plugins to v0.8.7
  cmd/kops/integration_test.go
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/id_rsa.pub
  tests/integration/update_cluster/containerd/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/networking.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10477 Refactor GCE InstanceTemplate
  pkg/model/gcemodel/autoscalinggroup.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10474 Use Region method of fi.Cloud
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/render_test.go
  upup/pkg/fi/cloudup/cloudformation/target.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraform/target_json.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10487 Spotinst: Bump the Ocean Controller to 1.0.69
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10486 Added event-qps and event-burst flags to kubelet
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10490 Automated cherry pick of #10486: Added event-qps to kubelet flags Change default value for
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10491 Automated cherry pick of #10471: addons(cluster-autoscaler): Add newPodScaleUpDelay in
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/S

#10495 Automated cherry pick of #10473: Add config options for container runtime package URL and Hash
  cmd/kops/integration_test.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/id_rsa.pub
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/id_rsa.pub
  tests/integration/update_cluster/containerd/in-v1alpha2.yaml
  tests/integration/update_cluster/docker-custom/cloudformation.json
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/docker-custom/id_rsa.pub
  tests/integration/update_cluster/docker-custom/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10473 Add config options for container runtime package URL and Hash
  cmd/kops/integration_test.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/id_rsa.pub
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/id_rsa.pub
  tests/integration/update_cluster/containerd/in-v1alpha2.yaml
  tests/integration/update_cluster/docker-custom/cloudformation.json
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/docker-custom/id_rsa.pub
  tests/integration/update_cluster/docker-custom/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10494 Release 1.19.0-beta.3
  Makefile
  docs/release-process.md
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, area/documentation, cncf-cla: yes, lgtm, size/L

#10496 Fix cluster setup when KOPS_ARCH is set
  pkg/model/bootstrapscript.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10455 Docs: Rename "Development" section to "Contributing" and add instructions to update the base AMI version of Ubuntu
  docs/contributing/Docker.md
  docs/contributing/adding_a_feature.md
  docs/contributing/addons.md
  docs/contributing/api_updates.md
  docs/contributing/bazel.md
  docs/contributing/building.md
  docs/contributing/documentation.md
  docs/contributing/gossip.md
  docs/contributing/hack.md
  docs/contributing/homebrew.md
  docs/contributing/how_it_works.md
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/data.plist
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/image10.png
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/image11.jpg
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/image4.png
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/image8.png
  docs/contributing/images/K8s-Hybrid-Cloud.graffle/image9.png
  docs/contributing/index.md
  docs/contributing/instancesizes.md
  docs/contributing/new_kubernetes_version.md
  docs/contributing/ports.md
  docs/contributing/proposing-a-cherry-pick.md
  docs/contributing/release.md
  docs/contributing/testing.md
  docs/contributing/update_ami_versions.md
  docs/contributing/vendoring.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10497 Release notes for 1.19.0-beta.3
  docs/release-process.md
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10501 Remove support for Kubenet with containerd
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  nodeup/pkg/model/tests/protokube/containerd/cluster.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/in-v1alpha2.yaml
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#10505 Automated cherry pick of #10501: Remove support for Kubenet with containerd
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  nodeup/pkg/model/tests/protokube/containerd/cluster.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/in-v1alpha2.yaml
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#10507 Add containerd option for registry mirrors
  docs/cluster_spec.md
  go.mod
  go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/containerd.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  vendor/github.com/pelletier/go-toml/.travis.yml
  vendor/github.com/pelletier/go-toml/BUILD.bazel
  vendor/github.com/pelletier/go-toml/Dockerfile
  vendor/github.com/pelletier/go-toml/Makefile
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/appveyor.yml
  vendor/github.com/pelletier/go-toml/azure-pipelines.yml
  vendor/github.com/pelletier/go-toml/benchmark.json
  vendor/github.com/pelletier/go-toml/benchmark.sh
  vendor/github.com/pelletier/go-toml/benchmark.toml
  vendor/github.com/pelletier/go-toml/benchmark.yml
  vendor/github.com/pelletier/go-toml/doc.go
  vendor/github.com/pelletier/go-toml/example-crlf.toml
  vendor/github.com/pelletier/go-toml/example.toml
  vendor/github.com/pelletier/go-toml/fuzzit.sh
  vendor/github.com/pelletier/go-toml/go.mod
  vendor/github.com/pelletier/go-toml/go.sum
  vendor/github.com/pelletier/go-toml/keysparsing.go
  vendor/github.com/pelletier/go-toml/lexer.go
  vendor/github.com/pelletier/go-toml/localtime.go
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/marshal_OrderPreserve_Map_test.toml
  vendor/github.com/pelletier/go-toml/marshal_OrderPreserve_test.toml
  vendor/github.com/pelletier/go-toml/marshal_test.toml
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/token.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/pelletier/go-toml/tomltree_create.go
  vendor/github.com/pelletier/go-toml/tomltree_write.go
  vendor/modules.txt
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10508 Treat InvalidDhcpOptionsId.NotFound as already-deleted
  pkg/resources/aws/aws.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10509 Add required toleration to gpu documentation
  docs/gpu.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10488 AWS IAM Role Tagging
  cloudmock/aws/mockiam/iamrole.go
  pkg/model/iam.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/docker-custom/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/tags.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10514 Update stable channel with recent k8s releases
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S
