Repository kubernetes/kops, pull requests merged in 2020-09, with the labels that each got.

#9849 Keep SHELLCHECK_IMAGE vesion sync with SHELLCHECK_VERSION defined before
  hack/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9799 Cloudinstances refactor
  cmd/kops/delete_instance.go
  pkg/cloudinstances/BUILD.bazel
  pkg/cloudinstances/cloud_instance.go
  pkg/cloudinstances/cloud_instance_group.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/resources/digitalocean/cloud.go
  pkg/resources/spotinst/resources.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  upup/pkg/fi/cloud.go
  upup/pkg/fi/cloudup/aliup/ali_cloud.go
  upup/pkg/fi/cloudup/aliup/status.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/server_group.go
Labels: approved, area/addons, area/api, area/channels, area/documentation, area/nodeup, area/provider/alicloud, area/provider/aws, area/provider/digitalocean, area/provider/openstack, area/provider/spotinst, area/rolling-update, cncf-cla: yes, lgtm, size/L

#9850 Populate cloudinstances data on openstack
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/server_group.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/S

#9853 Refactor IAM route53 construction
  pkg/model/iam/iam_builder.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9859 Improve description of detaching instances
  docs/operations/rolling-update.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9851 fix "unbound variable" issue
  hack/verify-staticcheck.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9860 Add instance info to detached nodes
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#9864 Update installation
  docs/getting_started/install.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9829 Update Calico to v3.16.0 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9869 Update alpha channel k8s 1.16 to 1.16.15 and Ubuntu image to latest available
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#9787 Implement cluster autoscaler as bootstrap addon
  docs/cluster_spec.md
  go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/XL

#9871 Bump cilium to 1.8.3
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9874 Openstack golden servergrouptests
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  pkg/testutils/golden/compare.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XXL

#9877 Map ENOENT to ErrNotExist in FSPath
  util/pkg/vfs/fs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9878 Update Go to v1.15.1
  .github/workflows/main.yml
  .travis.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#9879 Add kubelet cgroup driver property
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S

#9880 Automated cherry pick of #9879: Add kubelet cgroup driver property
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#9881 verify-terraform: rearrange arguments to find
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9872 Use root volume encryption flag for LaunchConfiguration with TF and CF
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9873 Automated cherry pick of #9793: Add flag for root volume encryption #9872: Use root volume encryption flag for LaunchConfiguration
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#9885 Errors when encryptionConfig is enabled, but no encryptionconfig secret
  nodeup/pkg/model/kube_apiserver.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/nodeup, cncf-cla: yes, kind/bug, lgtm, size/S

#9897 Add missing spot support to launch template direct render
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9899 Don't explicitly set insecure-bind-address on newer k8s
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  pkg/model/components/apiserver.go
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9892 Deprecate old cluster autoscaler addon
  addons/cluster-autoscaler/README.md
  docs/cluster_spec.md
Labels: approved, area/documentation, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9895 Update Calico to v3.15.3
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9894 Update Calico to v3.16.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9901 Nodelocalcache configure resources
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubedns.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#9902 Release notes for 1.17.2
  docs/releases/1.17-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9904 Release notes for 1.18.1
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9906 Automated cherry pick of #9897: Add missing spot support to launch template direct render
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9908 Allow caching of Nodeidentity Info in kops-controller for AWS.
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  pkg/featureflag/featureflag.go
  pkg/nodeidentity/aws/BUILD.bazel
  pkg/nodeidentity/aws/identify.go
  pkg/nodeidentity/interfaces.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/M

#9905 Automated cherry pick of #9376: NodeLocalDNS config population: small tweaks #9901: Update NodeLocalDNSConfig with Mem/CPU requests
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubedns.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#9857 Detect AWS region for S3 inside containers
  util/pkg/vfs/s3context.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9867 Only apply external policies when these are defined
  pkg/model/iam.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9909 Get launch template versions after filtering templates
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#9907 Remove constraint of setting volume type for OS
  pkg/model/master_volumes.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9858 Automated cherry pick of #9857: Detect AWS region for S3 inside containers
  util/pkg/vfs/s3context.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9917 Remove force_tcp flag for nodelocalcache dot zone
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9918 Validate labels
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#9922 Automated cherry pick of #9909: Get launch template versions after filtering templates
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#9919 Add missing setResources on CA task
  tests/integration/update_cluster/public-jwks/README.md
  tests/integration/update_cluster/public-jwks/ca.crt
  tests/integration/update_cluster/public-jwks/ca.key
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  upup/pkg/fi/fitasks/keypair.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9925 Add missing flags to cluster autoscaler template
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, kind/bug, lgtm, size/M

#9883 Add unit test for pkg/apis/kops/model/features.go
  pkg/apis/kops/model/BUILD.bazel
  pkg/apis/kops/model/features_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#9900 Continue if asg instance is unknown
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9911 Allow the BootstrapClient task to run after Protokube
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/kube_router.go
  nodeup/pkg/model/node_authorizer.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  pkg/model/iam.go
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
  upup/pkg/fi/nodeup/nodetasks/file.go
  upup/pkg/fi/nodeup/nodetasks/load_image.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9934 Document process to get older releases into artifacts.k8s.io
  docs/development/release.md
  docs/release-process.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9935 Don't write application credentials to cloud config unless external CCM is enabled
  nodeup/pkg/model/cloudconfig.go
  pkg/model/bootstrapscript.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9941 add kube-system psp to system:nodes
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/podsecuritypolicy.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#9936 use subnet also when creating floatingip
  upup/pkg/fi/cloudup/openstacktasks/floatingip.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9943 Block external CCM for k8s less than 1.13
  pkg/apis/kops/validation/openstack.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions_test.go
  upup/pkg/fi/cloudup/tests/manifests/k8s-1.11.yaml
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/XL

#9923 Automated cherry pick of #9909: Get launch template versions after filtering templates
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9942 Force external cloud controller manager on OS
  pkg/model/components/openstack.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/BUILD.bazel
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/template_functions_test.go
  upup/pkg/fi/cloudup/tests/manifests/k8s-1.13.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9944 Update Go to v1.15.2
  .github/workflows/main.yml
  .travis.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#9924 Only add additional policies to kops managed IAMRoles
  pkg/model/iam.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9948 Automated cherry pick of #9867: only apply external policy tasks on non-shared iam #9924: Only add additional policies to kops managed IAMRoles
  pkg/model/iam.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9949 Release 1.19.0-alpha.4
  Makefile
  hack/set-version
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9950 Release notes for 1.19.0-alpha.4
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9945 Support ChainInsertMode config option for Calico Networking
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S

#9962 Add instance groups and k8s 1.19 to bootstrapchannelbuilder tests
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9963 Bump k8s versions and Ubuntu ami version to latest
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9961 AWS add cluster tag to detachinstances/findinstances filters
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9968 Update containerd to v1.4.1
  nodeup/pkg/model/containerd.go
  pkg/model/components/containerd.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9921 Add addon for aws node termination handler
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/nodeterminationhandler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/XL

#9958 Use all kops mirrors to determine artifacts hashes
  hack/.packages
  pkg/assets/BUILD.bazel
  pkg/assets/builder.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/urls.go
  util/pkg/mirrors/BUILD.bazel
  util/pkg/mirrors/mirrors.go
  util/pkg/vfs/context.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#9971 OpenStack: allow to specify storageClass creation to false
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, kind/bug, lgtm, size/XS

#9964 Add AWS partition support to iam service account roles
  pkg/model/iam/subject.go
  pkg/model/iam/types.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#9969 Update Docker to v19.03.13
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/docker.go
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
  pkg/model/components/docker.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/M

#9938 Improve kops get instances when api is unavailable
  cmd/kops/get_instances.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9965 Fix fip description
  upup/pkg/fi/cloudup/openstacktasks/floatingip.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9975 Updating the Version
  addons/ingress-citrix/README.md
  addons/ingress-citrix/v1.1.1.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#9979 Add missing permissions for cilium-operator
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/M

#9972 Consolidate all buildMinimalClusters into a generic test cluster builder
  pkg/kubeconfig/BUILD.bazel
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/cluster.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/defaults_test.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/validation_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9973 Build cloud outside of PerformAssignments
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  examples/kops-api-example/up.go
  nodeup/pkg/model/kubelet_test.go
  pkg/commands/helpers_readwrite.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/kutil/convert_kubeup_cluster.go
Labels: approved, area/nodeup, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9986 Bumping k8s versions and ubuntu AMI version from alpha to stable
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9988 Update mkdocs dependencies and pin macro plugin
  images/mkdocs/Dockerfile
  images/mkdocs/requirements.txt
Labels: approved, cncf-cla: yes, lgtm, size/S

#9985 Fix nil pointer when instance has not joined the cluster
  cmd/kops/delete_instance.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#9984 Production recommendations document
  docs/getting_started/aws.md
  docs/getting_started/digitalocean.md
  docs/getting_started/gce.md
  docs/getting_started/openstack.md
  docs/getting_started/production.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9991 Clarified S3 state store encryption default
  docs/getting_started/aws.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9989 Add deprecation notice for support of Terraform v0.11
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9993 Fix CAS ASG configuration
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#9995 Fix small typo in create cluster help output
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9974 Set ctx and cluster on the rolling update struct instead of passing it around everywhere
  cmd/kops/delete_instance.go
  cmd/kops/rollingupdatecluster.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9997 Fix pair of typos in openstack docs
  docs/getting_started/openstack.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9998 Add label to prevent kops-controller from running on old nodes
  protokube/pkg/protokube/labeler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10001 Update prometheus-operator to support k8sv >= 1.16.0
  addons/prometheus-operator/addon.yaml
  addons/prometheus-operator/v0.42.1.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#10002 Bump NTH to 1.8
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9967 Cilium hubble pointer
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/M

#10005 Add missing closing inline code character
  docs/getting_started/commands.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS
