Repository kubernetes/kops, pull requests merged in 2020-08, with the labels that each got.

#9663 Prefer nodes with "master" role for Canal Typha pods
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9664 Automated cherry pick of #9663: Prefer nodes with "master" role for Canal Typha pods
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9665 Refactor networking assets finder
  pkg/assets/builder.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/networking.go
  upup/pkg/fi/cloudup/networking_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#9668 Release notes for 1.18.0
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9669 Update releases.md and alpha channel for 1.18.0 release
  channels/alpha
  docs/welcome/releases.md
Labels: approved, area/channels, area/documentation, cncf-cla: yes, lgtm, size/S

#9645 Refactor openstackCloud to be mockable, add a MockCloud
  upup/pkg/fi/cloudup/openstack/BUILD.bazel
  upup/pkg/fi/cloudup/openstack/availability_zone.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/dns.go
  upup/pkg/fi/cloudup/openstack/floatingip.go
  upup/pkg/fi/cloudup/openstack/image.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/keypair.go
  upup/pkg/fi/cloudup/openstack/loadbalancer.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/network.go
  upup/pkg/fi/cloudup/openstack/port.go
  upup/pkg/fi/cloudup/openstack/router.go
  upup/pkg/fi/cloudup/openstack/security_group.go
  upup/pkg/fi/cloudup/openstack/server_group.go
  upup/pkg/fi/cloudup/openstack/status.go
  upup/pkg/fi/cloudup/openstack/subnet.go
  upup/pkg/fi/cloudup/openstack/utils.go
  upup/pkg/fi/cloudup/openstack/volume.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XL

#9671 GCE: Fix spurious comparison failures on adddress & InstanceTemplate
  upup/pkg/fi/cloudup/gcetasks/address.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9670 Automated cherry pick of #9597: Improve locking in memfs
  util/pkg/vfs/memfs.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9675 Update aws-sdk-go to 1.30.29
  Makefile
  go.mod
  go.sum
  hack/verify-gomod.sh
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/waiters.go
  vendor/github.com/aws/aws-sdk-go/service/ec2/api.go
  vendor/github.com/aws/aws-sdk-go/service/route53/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#9674 Upgrade cluster-proportional-autoscaler to multi-arch image
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9676 Move cluster-proportional-autoscaler to worker nodes
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9559 When channel is unavailable, don't try to validate things from it
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9678 Automated cherry pick of #9559: When channel is unavailable, don't try to validate things
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9560 Determine fixedip during nodeup directly
  nodeup/pkg/model/secrets.go
  pkg/model/openstackmodel/network.go
  pkg/model/openstackmodel/servergroup.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  util/pkg/vfs/context.go
Labels: approved, area/api, area/nodeup, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9682 Remove embedded structs from spotinst terraform types
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/L

#9684 Automated cherry pick of #9682: Remove embedded structs from spotinst terraform types
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/L

#9683 Spotinst: Change `ScaleDown.MaxPercentage` from int to float64
  go.mod
  go.sum
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/ocean_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/config.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/BUILD.bazel
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/credentials.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider_chain.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider_env.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider_file.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider_static.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/featureflag/BUILD.bazel
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/featureflag/featureflag.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/featureflag/features.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XXL

#9687 Upgrade k8s-dns-dnsmasq-nanny to match KubeDNS
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9677 Add missing locking in MockEC2
  cloudmock/aws/mockec2/images.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9690 Openstack - Don't panic if the dns zone is not found
  pkg/resources/openstack/dns.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XS

#9691 Add an initial structure for openstack cloudmock
  cloudmock/README.md
  cloudmock/openstack/BUILD.bazel
  cloudmock/openstack/README.md
  cloudmock/openstack/mock.go
  cloudmock/openstack/mockblockstorage/BUILD.bazel
  cloudmock/openstack/mockblockstorage/api.go
  cloudmock/openstack/mockblockstorage/availabilityzones.go
  cloudmock/openstack/mockblockstorage/volumes.go
  cloudmock/openstack/mockcompute/BUILD.bazel
  cloudmock/openstack/mockcompute/api.go
  cloudmock/openstack/mockcompute/flavors.go
  cloudmock/openstack/mockcompute/images.go
  cloudmock/openstack/mockcompute/keypairs.go
  cloudmock/openstack/mockcompute/servergroups.go
  cloudmock/openstack/mockcompute/servers.go
  cloudmock/openstack/mockdns/BUILD.bazel
  cloudmock/openstack/mockdns/api.go
  cloudmock/openstack/mockdns/zones.go
  cloudmock/openstack/mockloadbalancer/BUILD.bazel
  cloudmock/openstack/mockloadbalancer/api.go
  cloudmock/openstack/mockloadbalancer/listeners.go
  cloudmock/openstack/mockloadbalancer/loadbalancers.go
  cloudmock/openstack/mockloadbalancer/pools.go
  cloudmock/openstack/mocknetworking/BUILD.bazel
  cloudmock/openstack/mocknetworking/api.go
  cloudmock/openstack/mocknetworking/networks.go
  cloudmock/openstack/mocknetworking/ports.go
  cloudmock/openstack/mocknetworking/routers.go
  cloudmock/openstack/mocknetworking/securitygrouprules.go
  cloudmock/openstack/mocknetworking/securitygroups.go
  cloudmock/openstack/mocknetworking/subnets.go
  hack/.packages
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#9696 Spotinst: Upgrade the Spot Cluster Controller to version 1.0.63
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#9697 Add markdown code block to bug report GH issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9699 Spotinst: Selecting a default Instance Group in Spot Ocean should be optional
  pkg/model/spotinstmodel/instance_group.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/S

#9672 [Digital Ocean] Upload binaries to DO Spaces
  hack/upload
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9702 Adds support for using OS application credentials
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/protokube.go
  pkg/model/bootstrapscript.go
  util/pkg/env/standard.go
  util/pkg/vfs/swiftfs.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9500 Allow configurable backend modes for aws-iam-authenticator
  docs/authentication.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Labels: approved, area/addons, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/L

#9703 Add support for cilium on openstack
  pkg/model/openstackmodel/firewall.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9709 Update Go to v1.15rc2
  .github/workflows/main.yml
  .travis.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#9711 Update k8s dependencies to v1.18.6
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  vendor/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/util/wait/wait.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/csi-translation-lib/plugins/BUILD.bazel
  vendor/k8s.io/csi-translation-lib/plugins/azure_disk.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/validation/types.go
  vendor/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9714 Fix bazel darwin hash for Go 15rc2
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9715 Make it possible to change subnet dns servers
  upup/pkg/fi/cloudup/openstacktasks/port.go
  upup/pkg/fi/cloudup/openstacktasks/port_test.go
  upup/pkg/fi/cloudup/openstacktasks/subnet.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9708 Update example for Resources Reservation
  docs/calico_cidr_migration/create_migration_manifest.sh
  docs/calico_cidr_migration/jobs.yaml.template
  docs/cluster_spec.md
  hack/.shellcheck_failures
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9717 Improve the error logged when multiple DNS Zones match the provided name
  upup/pkg/fi/cloudup/dns.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9718 Default kubelet authorization-mode to Webhook for k8s 1.19+
  nodeup/pkg/model/kubelet.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9701 Respect Topology when assigning floating ips or not
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/openstack.go
  pkg/apis/kops/validation/openstack_test.go
  pkg/apis/kops/validation/validation.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
Labels: approved, area/api, area/provider/openstack, cncf-cla: yes, kind/bug, lgtm, size/L

#8577 Capture logs from a kops cluster
  cmd/kops/BUILD.bazel
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
  hack/.packages
  pkg/dump/BUILD.bazel
  pkg/dump/dumper.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, lifecycle/rotten, size/XL

#9720 Update docs for Amazon Linux 2
  docs/operations/images.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9627 Update SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9005 Remove amd64 TravisCI jobs
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#9722 Implement Openstack cloudmock, add integration test
  cloudmock/openstack/mockblockstorage/BUILD.bazel
  cloudmock/openstack/mockblockstorage/availabilityzones.go
  cloudmock/openstack/mockblockstorage/volumes.go
  cloudmock/openstack/mockcompute/BUILD.bazel
  cloudmock/openstack/mockcompute/api.go
  cloudmock/openstack/mockcompute/flavors.go
  cloudmock/openstack/mockcompute/images.go
  cloudmock/openstack/mockcompute/keypairs.go
  cloudmock/openstack/mockcompute/servergroups.go
  cloudmock/openstack/mockcompute/servers.go
  cloudmock/openstack/mockdns/BUILD.bazel
  cloudmock/openstack/mockdns/zones.go
  cloudmock/openstack/mockloadbalancer/BUILD.bazel
  cloudmock/openstack/mockloadbalancer/listeners.go
  cloudmock/openstack/mockloadbalancer/loadbalancers.go
  cloudmock/openstack/mockloadbalancer/pools.go
  cloudmock/openstack/mocknetworking/BUILD.bazel
  cloudmock/openstack/mocknetworking/networks.go
  cloudmock/openstack/mocknetworking/ports.go
  cloudmock/openstack/mocknetworking/routers.go
  cloudmock/openstack/mocknetworking/securitygrouprules.go
  cloudmock/openstack/mocknetworking/securitygroups.go
  cloudmock/openstack/mocknetworking/subnets.go
  cmd/kops/BUILD.bazel
  cmd/kops/lifecycle_integration_test.go
  go.mod
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/minimal_openstack/id_rsa.pub
  tests/integration/update_cluster/minimal_openstack/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/openstack/BUILD.bazel
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  vendor/modules.txt
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XXL

#9710 Update k8s dependencies to v1.18.6
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  vendor/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/util/wait/wait.go
  vendor/k8s.io/apimachinery/pkg/watch/streamwatcher.go
  vendor/k8s.io/client-go/rest/request.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/csi-translation-lib/plugins/BUILD.bazel
  vendor/k8s.io/csi-translation-lib/plugins/azure_disk.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/kube-openapi/pkg/util/proto/validation/types.go
  vendor/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#9700 Add cinder plugin
  docs/releases/1.19-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/openstack.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, area/api, area/documentation, area/openstack, area/provider/openstack, cncf-cla: yes, lgtm, size/XXL

#9721 Add windows job to GH workflows
  .github/workflows/main.yml
  Makefile
  protokube/pkg/protokube/etcd_manifest.go
  protokube/tests/integration/build_etcd_manifest/integration_test.go
  tests/integration/conversion/BUILD.bazel
  tests/integration/conversion/integration_test.go
  tests/integration/conversion/minimal/legacy-v1alpha2.yaml
  upup/pkg/fi/cloudup/awstasks/render_test.go
  upup/pkg/fi/files_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#9733 Upgrade CI jobs to go 1.15.0
  .github/workflows/main.yml
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#9734 Upgrade AWS VPC CNI provider to 1.6.4
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9735 Update Go to v1.15.0 for Bazel
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9726 Add missing cli options for kube-controller-manager and kube-scheduler
  go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  protokube/pkg/gossip/mesh/mesh.pb.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#9738 Fix test-windows target
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9740 Fix update and verify goimports
  hack/update-goimports
  hack/verify-goimports
Labels: approved, cncf-cla: yes, lgtm, size/S

#9742 Upgrade to Terraform 0.13.0
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9744 Update cluster-proportional-autoscaler to v1.8.3
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9743 Update link names for releases
  mkdocs.yml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9736 Update images docs
  docs/operations/images.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9737 Remove unused Tags and FSRoot from NodeUp
  cmd/nodeup/main.go
  hack/.packages
  nodeup/pkg/bootstrap/BUILD.bazel
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/distros/BUILD.bazel
  nodeup/pkg/distros/distribution.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/cloudinit/BUILD.bazel
  upup/pkg/fi/nodeup/cloudinit/cloud_init_target.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/local/BUILD.bazel
  upup/pkg/fi/nodeup/local/local_target.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/package.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
  upup/pkg/fi/nodeup/tags/BUILD.bazel
  upup/pkg/fi/nodeup/tags/tags.go
Labels: approved, area/nodeup, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9746 Spotinst: Support for Instance Types in Ocean Launch Spec
  docs/getting_started/spot-ocean.md
  go.mod
  go.sum
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Labels: approved, area/documentation, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#9748 Update alpha channel with August releases
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9719 Update shared-VPC documentation
  docs/run_in_existing_vpc.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9689 Support for using hostPort when using kube-router
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S

#9752 Automated cherry pick of #9630: Fix int to string conversions
  upup/pkg/fi/cloudup/awsup/machine_types.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9659 fixes(openstack): auth problem for kops-controller
  pkg/nodeidentity/openstack/identify.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9754 Move kubernetes 1.18 from alpha to stable
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9758 Add the client cert / ACM cert known issue to the 1.18 release notes
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9759 Remove unused tags functionality
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/tagbuilder.go
  upup/pkg/fi/cloudup/tagbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9757 Default kubelet authenticationTokenWebhook to true for k8s 1.19+
  nodeup/pkg/model/kubelet.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9593 Reduce the lifetime of exported kubecfg credentials
  cmd/kops/create_cluster.go
  cmd/kops/export_kubecfg.go
  cmd/kops/update_cluster.go
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update_cluster.md
  docs/releases/1.19-NOTES.md
  pkg/kubeconfig/BUILD.bazel
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/pki.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9764 Clear KOPS_FEATURE_FLAGS in update-expected.sh
  hack/update-expected.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9653 Bootstrap worker nodes using kops-controller
  cmd/kops-controller/BUILD.bazel
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/BUILD.bazel
  cmd/kops-controller/pkg/config/options.go
  cmd/kops-controller/pkg/server/BUILD.bazel
  cmd/kops-controller/pkg/server/keystore.go
  cmd/kops-controller/pkg/server/server.go
  hack/.packages
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/etcd_manager_tls.go
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/kops_controller_test.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/calico.go
  nodeup/pkg/model/networking/cilium.go
  nodeup/pkg/model/node_authorizer.go
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/secrets.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kops-controller.yaml
  pkg/apis/kops/model/BUILD.bazel
  pkg/apis/kops/model/features.go
  pkg/apis/nodeup/BUILD.bazel
  pkg/apis/nodeup/bootstrap.go
  pkg/model/components/apiserver.go
  pkg/model/context.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
  pkg/pki/issue.go
  pkg/wellknownports/wellknownports.go
  pkg/wellknownusers/wellknownusers.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/BUILD.bazel
  upup/pkg/fi/authenticate.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: approved, area/addons, area/api, area/kops-controller, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#9771 Issue more certs out of kops-controller
  cmd/kops-controller/pkg/config/options.go
  cmd/kops-controller/pkg/server/BUILD.bazel
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/networking/BUILD.bazel
  nodeup/pkg/model/networking/kube_router.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
  pkg/rbac/wellknown.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/kops-controller, area/nodeup, cncf-cla: yes, lgtm, size/L

#9755 Fix backwards compatibility when backend mode isn't set
  docs/authentication.md
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Labels: approved, area/addons, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#9772 Update more klog v1 references to v2
  cmd/kops-controller/BUILD.bazel
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/server/BUILD.bazel
  cmd/kops-controller/pkg/server/server.go
  go.mod
  vendor/k8s.io/klog/v2/klogr/BUILD.bazel
  vendor/k8s.io/klog/v2/klogr/README.md
  vendor/k8s.io/klog/v2/klogr/klogr.go
  vendor/modules.txt
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, size/M

#9760 Document Docker iptables settings
  docs/cluster_spec.md
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9766 Use /etc/os-release to identify the distribution
  hack/.packages
  nodeup/pkg/bootstrap/BUILD.bazel
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/distros/BUILD.bazel
  nodeup/pkg/distros/identify.go
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/convenience.go
  nodeup/pkg/model/directories.go
  nodeup/pkg/model/docker.go
  nodeup/pkg/model/docker_test.go
  nodeup/pkg/model/etcd.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/logrotate.go
  nodeup/pkg/model/miscutils.go
  nodeup/pkg/model/ntp.go
  nodeup/pkg/model/packages.go
  nodeup/pkg/model/sysctls.go
  nodeup/pkg/model/update_service.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/package.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
  util/pkg/architectures/BUILD.bazel
  util/pkg/architectures/architectures.go
  util/pkg/distributions/BUILD.bazel
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/BUILD.bazel
  util/pkg/distributions/tests/amazonlinux2/etc/os-release
  util/pkg/distributions/tests/centos7/etc/os-release
  util/pkg/distributions/tests/centos8/etc/os-release
  util/pkg/distributions/tests/containeros/etc/os-release
  util/pkg/distributions/tests/coreos/etc/os-release
  util/pkg/distributions/tests/debian10/etc/os-release
  util/pkg/distributions/tests/debian8/etc/os-release
  util/pkg/distributions/tests/debian9/etc/os-release
  util/pkg/distributions/tests/flatcar/etc/os-release
  util/pkg/distributions/tests/rhel7/etc/os-release
  util/pkg/distributions/tests/rhel8/etc/os-release
  util/pkg/distributions/tests/ubuntu1604/etc/os-release
  util/pkg/distributions/tests/ubuntu1804/etc/os-release
  util/pkg/distributions/tests/ubuntu2004/etc/os-release
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XL

#9776 Issue the cilium etcd client cert out of kops-controller
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/networking/BUILD.bazel
  nodeup/pkg/model/networking/cilium.go
  pkg/apis/kops/model/features.go
  pkg/model/iam/iam_builder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/api, area/kops-controller, area/nodeup, cncf-cla: yes, lgtm, size/L

#9778 Only add OS variables if they are needed
  pkg/model/bootstrapscript.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9777 Add support for containerd v1.4.0
  nodeup/pkg/model/containerd.go
  pkg/model/components/containerd.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9779 Don't give access to calico-client key when not needed
  pkg/model/iam/iam_builder.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9770 Squash patch versions of old release notes
  docs/releases/1.4-NOTES.md
  docs/releases/1.6-NOTES.md
  docs/releases/1.6.0-alpha.1.md
  docs/releases/1.6.1.md
  docs/releases/1.6.2.md
  docs/releases/1.7-NOTES.md
  docs/releases/1.7.1.md
  docs/releases/1.8-NOTES.md
  docs/releases/1.8.1.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#8687 Enhancement in Ubuntu or debian apt-get and CI issue fix
  hooks/nvidia-bootstrap/image/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9211 feat(openstack): propagate cloud labels to machines
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/XL

#9781 Add release note about cert expiration
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9780 Put userid in kubecfg cert CommonName
  pkg/kubeconfig/create_kubecfg.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9773 Adding support for permission boundaries for AWS IAM Roles
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/iam.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/iamrole.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/L

#9783 Update Weave Net to v2.7.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9786 Upgrade AWS VPC CNI to 1.7.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9789 Unset more env vars in update-expected.sh
  hack/update-expected.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#9803 Update validation for Calico to assume etcd3 as default
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#9802 Update API slice fields to not use pointers
  examples/kops-api-example/up.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/cluster.go
  pkg/apis/kops/validation/cluster_test.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/commands/set_cluster.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/node-authorizer/options.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/dns_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/kutil/import_cluster.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9804 Bump stable versions from alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9801 Release 1.19.0-alpha.3
  Makefile
  hack/verify-bindata.sh
  hack/verify-generate.sh
  hack/verify-gomod.sh
  hack/verify-shellcheck.sh
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9805 Release notes for 1.19.0-alpha.3
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9809 Stop trying to pull the Protokube image
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9811 Add all images to GH release
  .shipbot.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9814 Refactor: KopsModelContext embeds IAMModelContext
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/components/etcdmanager/BUILD.bazel
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/kubeapiserver/BUILD.bazel
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/context.go
  pkg/model/context_test.go
  pkg/model/firewall_test.go
  pkg/model/iam/types.go
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/dns.go
Labels: approved, area/provider/aws, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9807 Adding docs on AWS Permissions Boundaries support
  docs/iam_roles.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#9815 Fix GCE cluster creation with private topology
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9812 Support writing a full certificate chain
  nodeup/pkg/model/context.go
  nodeup/pkg/model/secrets.go
  nodeup/pkg/model/tests/golden/minimal/tasks-secret.yaml
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9816 Update Calico to v3.15.2 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9817 Automated cherry pick of #9816: Update Calico to v3.15.2 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9818 Update kube-router to v1.0.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9819 Automated cherry pick of #9689: Support for using hostPort when using kube-router #9818: Update kube-router to v1.0.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9790 Remove compute floating ip extension
  pkg/resources/openstack/floatingip.go
  upup/pkg/fi/cloudup/openstack/BUILD.bazel
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
  upup/pkg/fi/cloudup/openstack/floatingip.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstacktasks/BUILD.bazel
  upup/pkg/fi/cloudup/openstacktasks/floatingip.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/lblistener.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/floatingips/urls.go
  vendor/modules.txt
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/XL

#9808 Pull images from k8s.gcr.io/kops instead of docker.io/kope
  Makefile
  hack/set-version
  pkg/assets/builder.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9822 Upgrade AWS VPC CNI to 1.7.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9823 Backport #9803: Update validation for Calico to assume etcd3 as default
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  pkg/apis/kops/validation/validation.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#9824 Update k8s dependencies to v1.19.0
  go.mod
  go.sum
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/k8s.io/apimachinery/pkg/runtime/BUILD.bazel
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apimachinery/pkg/util/net/util.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/errors/errors.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/loadbalancer.go
  vendor/k8s.io/cloud-provider/cloud.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/kubectl/pkg/generated/bindata.go
  vendor/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_instances.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/LICENSE
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/BUILD.bazel
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/allocator.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/doc.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/fields.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/jsontagutil.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/list.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/listreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/listunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/map.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/mapreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/mapunstructured.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/reflectcache.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/scalar.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/structreflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/value.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/valuereflect.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/valueunstructured.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9820 Remove unknown rules from managed security groups on openstack
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/context.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/openstacktasks/securitygrouprule.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9732 Add --internal flag for export kubecfg that targets the internal dns name
  cmd/kops/export_kubecfg.go
  cmd/kops/update_cluster.go
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update_cluster.md
  docs/cluster_spec.md
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9821 Reconcile ports and floating ips
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/openstacktasks/floatingip.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9827 GCE - Set Bastion InstanceGroup zone
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/ha/expected-v1alpha1.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha1.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha1.yaml
  tests/integration/create_cluster/minimal/expected-v1alpha1.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha1.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/options.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha1.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha1.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha1.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9828 Move from debian-hyperkube-base to debian-base for node-authorizer
  WORKSPACE
  node-authorizer/images/BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, size/S

#9826 remove nodeAffinity from typha
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/M

#9830 Use the get_workspace_status script to get the versions
  Makefile
  tools/get_workspace_status.sh
Labels: approved, cncf-cla: yes, lgtm, size/S

#9831 cloudbuild: allow CI env var to be specified
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9837 TaskDependentResource: support preview when the task isn't ready
  upup/pkg/fi/changes.go
  upup/pkg/fi/resources.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#8119 Addons: Support arbitrary additional objects
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  hack/.packages
  pkg/apis/kops/registry/BUILD.bazel
  pkg/apis/kops/registry/helpers.go
  pkg/assets/builder.go
  pkg/client/simple/BUILD.bazel
  pkg/client/simple/api/BUILD.bazel
  pkg/client/simple/api/clientset.go
  pkg/client/simple/clientset.go
  pkg/client/simple/vfsclientset/BUILD.bazel
  pkg/client/simple/vfsclientset/addons.go
  pkg/client/simple/vfsclientset/clientset.go
  pkg/clusteraddons/BUILD.bazel
  pkg/clusteraddons/load.go
  pkg/featureflag/featureflag.go
  pkg/kubemanifest/manifest.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/kutil/convert_kubeup_cluster.go
  upup/pkg/kutil/import_cluster.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#9838 add support for cors-allowed-origins
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S

#8896 Implement setter by reflection
  pkg/commands/BUILD.bazel
  pkg/commands/set_cluster.go
  pkg/commands/set_cluster_test.go
  pkg/configbuilder/buildconfigfile.go
  pkg/flagbuilder/build_flags.go
  tests/integration/create_cluster/overrides/options.yaml
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/topological_sort.go
  util/pkg/reflectutils/BUILD.bazel
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
  util/pkg/reflectutils/field_path.go
  util/pkg/reflectutils/field_path_test.go
  util/pkg/reflectutils/print.go
  util/pkg/reflectutils/walk.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#9813 Expose JWKS via a feature-flag
  cloudmock/aws/mockiam/oidcprovider.go
  cmd/kops/integration_test.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/featureflag/featureflag.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/apiserver.go
  pkg/model/components/discovery.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/pod_roles.go
  tests/integration/update_cluster/public-jwks/README.md
  tests/integration/update_cluster/public-jwks/ca.crt
  tests/integration/update_cluster/public-jwks/ca.key
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/public-jwks/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks/id_rsa.pub
  tests/integration/update_cluster/public-jwks/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/anonymous-issuer-discovery.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/anonymous-issuer-discovery.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/topological_sort.go
Labels: approved, area/addons, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#9836 Always use OpenStack Swift reauthentication
  util/pkg/vfs/swiftfs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9843 Upgrade cilium versions
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9839 Dont generate the ssl_certificate_id field on TCP listeners in Terraform
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9846 Spotinst: Upgrade the Spot Cluster Controller to version 1.0.64
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9847 Update OpenStack CSIDriver to v1 and update few csi deps
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9841 Remove more machinery for file-based cloudup models
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/resources.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9842 Automated cherry pick of #9836: Always use OpenStack Swift reauthentication
  util/pkg/vfs/swiftfs.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS
