Repository kubernetes/kops, pull requests merged in 2020-07, with the labels that each got.

#9443 Refactor more cluster creation code into NewCluster()
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  pkg/apis/kops/channel.go
  tests/integration/create_cluster/complex/options.yaml
  tests/integration/create_cluster/gce_byo_sa/options.yaml
  tests/integration/create_cluster/ha/options.yaml
  tests/integration/create_cluster/ha_encrypt/options.yaml
  tests/integration/create_cluster/ha_gce/options.yaml
  tests/integration/create_cluster/ha_shared_zones/options.yaml
  tests/integration/create_cluster/ingwspecified/options.yaml
  tests/integration/create_cluster/minimal/options.yaml
  tests/integration/create_cluster/ngwspecified/options.yaml
  tests/integration/create_cluster/overrides/options.yaml
  tests/integration/create_cluster/private/options.yaml
  tests/integration/create_cluster/private_shared_subnets/options.yaml
  tests/integration/create_cluster/shared_subnets/options.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/options.yaml
  tests/integration/create_cluster/shared_vpc/options.yaml
  tests/integration/minimal_gce/options.yaml
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#9472 Cleanup tempfiles
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/awstasks/internetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration_test.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
  upup/pkg/fi/cloudup/awstasks/subnet_test.go
  upup/pkg/fi/cloudup/awstasks/vpc_test.go
  upup/pkg/fi/files_test.go
  util/pkg/vfs/fs_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, size/S

#9474 Fix where etcd-cluster-spec is writen when etcd's BackupStore is defined -v2
  pkg/apis/kops/validation/validation.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/pkg/fi/fitasks/managedfile.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#9348 Create separate field for disabling rolling updates
  docs/operations/rolling-update.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/instancegroups/BUILD.bazel
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/instancegroups/settings.go
  pkg/instancegroups/settings_test.go
Labels: approved, area/api, area/documentation, area/rolling-update, cncf-cla: yes, lgtm, size/L

#9479 Automated cherry pick of #9348: Create separate field for disabling rolling updates
  docs/operations/rolling-update.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/instancegroups/BUILD.bazel
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/instancegroups/settings.go
  pkg/instancegroups/settings_test.go
Labels: approved, area/api, area/documentation, area/rolling-update, cncf-cla: yes, lgtm, size/L

#9481 Automated cherry pick of #9474 onto release-1.18
  pkg/apis/kops/validation/validation.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/pkg/fi/fitasks/managedfile.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#9467 Move more cluster creation code to NewCluster()
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9482 Automated cherry pick of #9444: Update Calico to v3.15.0 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XXL

#9488 Update terraform docs with version compatibility
  docs/terraform.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9485 Automated cherry pick of #9462: Update KubeDNS to v1.15.13
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9484 Automated cherry pick of #9465: Update the service manifest for Docker
  nodeup/pkg/model/docker.go
  nodeup/pkg/model/packages.go
  nodeup/pkg/model/tests/dockerbuilder/docker_18.06.3/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/healthcheck/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/logflags/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/simple/tasks.yaml
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#9487 Cherry pick of #9272 onto release-1.18
  Makefile
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9480 Updating the YAMLs for Ingress-Citrix Addon
  addons/ingress-citrix/README.md
  addons/ingress-citrix/v1.1.1-aws.yaml
  addons/ingress-citrix/v1.1.1.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#9493 Allow CI builds to build a tagged version
  Makefile
  tools/get_version.sh
  tools/get_workspace_status.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#9494 Release 1.19.0-alpha.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9495 Use kubelet docker-specific flags only for Docker
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  pkg/model/components/kubelet.go
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json.extracted.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9497 cloudbuild: Push additional images from cloudbuild
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9498 Release notes for 1.19.0-alpha.1
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9501 Release notes for 1.16.4
  docs/releases/1.16-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9428 Update bazel rules versions
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#9504 Fix verify-terraform in release-1.18 branch
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9503 Release notes for 1.17.1
  docs/releases/1.17-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#9502 Automated cherry pick of #9495: Use kubelet docker-specific flags only for Docker
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  pkg/model/components/kubelet.go
  tests/integration/update_cluster/containerd-cloudformation/cloudformation.json.extracted.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9491 Default ClusterDNS appropriately when NodeLocalDNS is enabled
  docs/cluster_spec.md
  pkg/apis/kops/validation/validation.go
  pkg/model/components/kubelet.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/S

#9442 Fixing typos and rewording docs/examples/basic-requirements.md
  docs/examples/basic-requirements.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9505 Automated cherry pick of #9491: Default ClusterDNS appropriately when NodeLocalDNS is enabled
  docs/cluster_spec.md
  pkg/apis/kops/validation/validation.go
  pkg/model/components/kubelet.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/S

#9490 Move more cluster creation code to NewCluster()
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9354 Continue refactoring certs into nodeup
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/secrets.go
  nodeup/pkg/model/secrets_test.go
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-secret.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  pkg/apis/nodeup/config.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/pki.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
Labels: approved, area/api, area/nodeup, area/provider/aws, area/provider/digitalocean, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9509 Update AWS VPC CNI docs to use `--networking amazonvpc`
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/networking/aws-vpc.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9516 Add Ambassador documentation to addons docs
  docs/operations/addons.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#9513 Move remaining new cluster setup to pkg
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#9056 Changing base image for node authorizer.
  node-authorizer/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9512 Update kube-router to v1.0.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9514 Remove deprecated function
  pkg/model/components/context.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubecontrollermanager_test.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubelet_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#8928 Add ability to set various cilium flags through CLI
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/networking/cilium.md
  pkg/commands/BUILD.bazel
  pkg/commands/set_cluster.go
  pkg/commands/set_cluster_test.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9519 Add tag support to AWS launch templates
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#9461 Fix a link typo in the networking.md
  docs/networking.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9525 Cilium parse k8s version url
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9520 Cloudmock cleanup - preparation for EC2 tag-on-create
  cloudmock/aws/mockec2/api.go
  cloudmock/aws/mockec2/dhcpoptions.go
  cloudmock/aws/mockec2/internetgateways.go
  cloudmock/aws/mockec2/launch_templates.go
  cloudmock/aws/mockec2/natgateway.go
  cloudmock/aws/mockec2/routetable.go
  cloudmock/aws/mockec2/securitygroups.go
  cloudmock/aws/mockec2/subnets.go
  cloudmock/aws/mockec2/tags.go
  cloudmock/aws/mockec2/volumes.go
  cloudmock/aws/mockec2/vpcs.go
  pkg/resources/aws/aws_test.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9529 Use EC2's tag-on-create for various resources
  upup/pkg/fi/cloudup/awstasks/dhcp_options.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/awstasks/internetgateway.go
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/awstasks/subnet_test.go
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9521 Fix KubeDNS missing resourceVersion
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9532 Use filebase64 for launch template userdata and Terraform 0.12
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraform/literal.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9537 Promote alphas to stable
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9538 Add some err judgments
  upup/pkg/fi/files_test.go
  util/pkg/vfs/fs_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#9535 Force single arch support via env var
  upup/pkg/fi/cloudup/apply_cluster.go
  util/pkg/architectures/architectures.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9539 Add lyft hash environment variable
  docs/networking/lyft-vpc.md
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#9540 Update AWS IAM Authenticator to 0.5.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9541 Update CoreDNS to v1.7.0 - Take 2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#8991 Add healthcheck to aws-iam-authenticator
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9475 Re-enable disk based evictions for Kubernetes 1.19
  pkg/model/components/kubelet.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#8726 Switch AWS NAT Gateway creation to use tags on create
  upup/pkg/fi/cloudup/awstasks/natgateway.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#9542 Improve Makefile
  Makefile
  upup/models/bindata.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9543 Remove the checksum workaround for Flannel VXLAN
  nodeup/pkg/model/networking/BUILD.bazel
  nodeup/pkg/model/networking/canal.go
  nodeup/pkg/model/networking/flannel.go
  upup/pkg/fi/nodeup/command.go
Labels: approved, area/documentation, area/nodeup, cncf-cla: yes, lgtm, size/L

#9547 Widen the tolerations of kuberouter
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9553 Add missing lifecycle to etcd keypair tasks
  pkg/model/components/etcdmanager/model.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#9534 Use a stable key for signing service account tokens
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/secrets.go
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-secret.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/model/pki.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/M

#9557 Automated cherry pick of #9512: Update kube-router to v1.0.0 #9547: Widen the tolerations of kuberouter
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.6.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#9403 Use distroless image as base for Protokube
  images/BUILD.bazel
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/cluster.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
  protokube/pkg/protokube/channels.go
  protokube/pkg/protokube/kube_boot.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#9558 Automated cherry pick of #9553: Add missing lifecycle to etcd keypair tasks
  pkg/model/components/etcdmanager/model.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9552 Use stable names for GH workflow jobs
  .github/workflows/main.yml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9562 File permission test: clear umask before testing
  upup/pkg/fi/files_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9561 Don't try to delete terraform providers
  .gitignore
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9563 Release notes for 1.18.0-beta.2
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9564 Remove old unused files
  tests/integration/minimal_gce/expected-v1alpha2.yaml
  tests/integration/minimal_gce/options.yaml
  upup/DEVELOP.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#9567 Automated cherry pick of #9552: Use stable names for GH workflow jobs
  .github/workflows/main.yml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9568 Add support for uploading to private buckets
  Makefile
  hack/upload
Labels: approved, cncf-cla: yes, lgtm, size/S

#9499 Upgrade to go 1.14.4
  .travis.yml
  Makefile
  WORKSPACE
  docker/Dockerfile
  go.mod
  hack/make-apimachinery.sh
  images/dns-controller-builder/Dockerfile
  images/protokube-builder/Dockerfile
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#9572 Upgrade go to 1.14.5
  Makefile
  WORKSPACE
  docker/Dockerfile
  images/dns-controller-builder/Dockerfile
  images/protokube-builder/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/S

#9573 Update goimports script for go 1.14
  hack/update-goimports
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9476 [Digital Ocean] Implement KOPS validate cluster
  pkg/model/domodel/BUILD.bazel
  pkg/model/domodel/droplets.go
  pkg/resources/digitalocean/cloud.go
  upup/pkg/fi/cloudup/do/cloud.go
Labels: approved, area/provider/digitalocean, cncf-cla: yes, lgtm, ok-to-test, size/L

#9579 Update alpha channel with July releases
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9581 Use fixed UID for etcd user and restrict to legacy provider
  nodeup/pkg/model/etcd.go
  pkg/wellknownusers/wellknownusers.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9555 Adding feature stability table to docs and including one example for encryption support in cilium
  docs/extra.css
  docs/networking/cilium.md
  hack/__init__.py
  hack/mkdocs_macros/__init__.py
  hack/mkdocs_macros/feature_stability_table.py
  hack/update-header.sh
  images/mkdocs/requirements.txt
  mkdocs.yml
  netlify.toml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9582 Automated cherry pick of #9581: Use fixed UID for etcd user and restrict to legacy provider
  nodeup/pkg/model/etcd.go
  pkg/wellknownusers/wellknownusers.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#9583 Automated cherry pick of #9581: Use fixed UID for etcd user and restrict to legacy provider
  nodeup/pkg/model/etcd.go
  pkg/wellknownusers/wellknownusers.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9589 Print error during cluster delete for dependency violation
  pkg/resources/ops/delete.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9280 Specify user on export kubecfg
  cmd/kops/create_cluster.go
  cmd/kops/export_kubecfg.go
  cmd/kops/update_cluster.go
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update_cluster.md
  docs/releases/1.19-NOTES.md
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/kubeconfig/kubecfg_builder.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9362 Require extra flag when updating cluster with downgraded kops version
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
  docs/releases/1.19-NOTES.md
  pkg/apis/kops/registry/registry.go
  pkg/client/simple/vfsclientset/clientset.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#9471 Create one nodes instance group per zone
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/releases/1.19-NOTES.md
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9590 Promote Ciprian & John to approvers
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9576 Remove unused and unmaintained Docker build targets
  Makefile
  docker/Dockerfile
  docker/Dockerfile-light
  docker/README.md
  hack/.shellcheck_failures
  images/BUILD.bazel
  images/dns-controller-builder/Dockerfile
  images/dns-controller-builder/onbuild.sh
  images/dns-controller/Dockerfile
  images/protokube-builder/Dockerfile
  images/protokube-builder/onbuild.sh
  images/protokube/Dockerfile
  protokube/cmd/protokube/BUILD.bazel
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9592 Remove min width on tables
  docs/extra.css
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#9596 Update stable channel with July releases
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9597 Improve locking in memfs
  util/pkg/vfs/memfs.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#9585 Docs - Add the new feature table to various feature sections
  docs/bastion.md
  docs/cluster_spec.md
  docs/examples/kops-test-route53-subdomain.md
  docs/examples/kops-tests-private-net-bastion-host.md
  docs/getting_started/gce.md
  docs/iam_roles.md
  docs/instance_groups.md
  docs/manifests_and_customizing_via_api.md
  docs/run_in_existing_vpc.md
  docs/security_groups.md
  docs/state.md
  docs/tutorial/upgrading-kubernetes.md
  docs/tutorial/working-with-instancegroups.md
  hack/mkdocs_macros/feature_stability_table.py
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#9599 Update stretch images (from 1.11) in alpha channel
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#9584 Restore default SELinux security contexts for container runtime binaries
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/docker.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9605 Revert move to explicit dependencies
  upup/pkg/fi/cloudup/alitasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/dotasks/droplet.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/digitalocean, cncf-cla: yes, kind/bug, lgtm, size/S

#9609 Prefer nodes with "master" role for Calico Typha pods
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9612 Automated cherry pick of #9590: Promote Ciprian & John to approvers
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9611 Automated cherry pick of #9609: Prefer nodes with "master" role for Calico Typha pods
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9613 Automated cherry pick of #9333: Update cmd help text
  cmd/kops/update_cluster.go
  cmd/kops/validate.go
  cmd/kops/validate_cluster.go
  docs/cli/kops_validate.md
  docs/cli/kops_validate_cluster.md
  docs/getting_started/aws.md
  docs/rotate-secrets.md
  docs/single-to-multi-master.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9616 Add Ubuntu 20.04 support for Docker 18.06.3
  nodeup/pkg/model/docker.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9617 Automated cherry pick of #9616: Add Ubuntu 20.04 support for Docker 18.06.3
  nodeup/pkg/model/docker.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#9554 Openstack fixes
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/floatingip.go
  upup/pkg/fi/cloudup/openstacktasks/floatingip.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: approved, area/api, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#9623 remove LB circular in OpenStack
  upup/pkg/fi/cloudup/openstacktasks/lb.go
  upup/pkg/fi/cloudup/openstacktasks/poolassociation.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9626 fix(docs): render double curly braces
  docs/development/adding_a_feature.md
  docs/operations/cluster_template.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#9628 Use public client accessors within openstackCloud functions
  upup/pkg/fi/cloudup/openstack/dns.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/keypair.go
  upup/pkg/fi/cloudup/openstack/network.go
  upup/pkg/fi/cloudup/openstack/port.go
  upup/pkg/fi/cloudup/openstack/router.go
  upup/pkg/fi/cloudup/openstack/security_group.go
  upup/pkg/fi/cloudup/openstack/server_group.go
  upup/pkg/fi/cloudup/openstack/subnet.go
  upup/pkg/fi/cloudup/openstack/volume.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#9629 Exempt OpenStack from the EnableExternalCloudController feature flag
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/replace.go
  pkg/apis/kops/validation/validation.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/apiserver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#9630 Fix int to string conversions
  pkg/instancegroups/rollingupdate_test.go
  upup/pkg/fi/cloudup/awsup/machine_types.go
Labels: approved, area/provider/aws, area/rolling-update, cncf-cla: yes, lgtm, size/XS

#9610 add os.RemoveAll err verification
  upup/pkg/fi/cloudup/awstasks/render_test.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9636 Update instructions for fixing verify-gomod.sh
  Makefile
  go.sum
  hack/verify-gomod.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9638 Add repo SECURITY.md
  SECURITY.md
Labels: approved, cncf-cla: yes, lgtm, size/S

#9642 Spotinst: Upgrade the Spotinst controller to version 1.0.62
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9533 Add tagging support for AWS Keypairs
  cloudmock/aws/mockec2/api.go
  cloudmock/aws/mockec2/keypairs.go
  cloudmock/aws/mockec2/tags.go
  pkg/model/sshkey.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal-tf11/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/sshkey.go
Labels: approved, area/addons, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9644 Make ARM64 job blocking with TravisCI
  .travis.yml
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/docker_test.go
  nodeup/pkg/model/kubelet_test.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9641 Upgrade Go to version 1.15rc1
  .github/workflows/main.yml
  .travis.yml
  Makefile
  WORKSPACE
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#9647 Calico: Upgrade the "k8s-ec2-srcdst" controller to version v0.3.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, blocks-next, cncf-cla: yes, lgtm, ok-to-test, size/M

#9648 Automated cherry pick of #9647: Calico: upgrade "k8s-ec2-srcdst" to version v0.3.0
  pkg/instancegroups/rollingupdate_test.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/awsup/machine_types.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/provider/aws, area/rolling-update, cncf-cla: yes, lgtm, size/M

#9637 Cleanup AWS EC2 eventual consistency warnings
  pkg/resources/ops/delete.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/natgateway.go
  upup/pkg/fi/cloudup/awstasks/route.go
  upup/pkg/fi/context.go
  upup/pkg/fi/executor.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#9649 Cleanup unused loader features
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_fitask.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/loader/BUILD.bazel
  upup/pkg/fi/loader/tree_walker.go
Labels: approved, area/provider/aws, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9652 Promote alpha channel to stable
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/L

#9654 Release 1.19.0-alpha.2
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#9656 Update Calico to v3.15.1 for k8s 1.16+
  docs/releases/1.18-NOTES.md
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/documentation, cncf-cla: yes, lgtm, size/S

#9657 Automated cherry pick of #9656: Update Calico to v3.15.1 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#9658 Release notes for 1.19.0-alpha.2
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#9651 Use BAZEL_OPTIONS for bazel build
  Makefile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#9660 Document new release process for kops 1.19 and on
  .shipbot.yaml
  Makefile
  docs/development/release.md
  docs/release-process.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L
