Repository kubernetes/kops, pull requests merged in 2021-01, with the labels that each got.

#10522 e2e - dump cluster manifests into artifacts and add --kubernetes-version
  Makefile
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10525 kubetest2: Pass through some AWS env vars
  tests/e2e/kubetest2-kops/deployer/common.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10524 kubetest2: add initial support for GCE
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/gce/zones.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10453 Add gp3 Volume Type to etcd
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/M

#10527 Automated cherry pick of #10453: add gp3 volume default params
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10519 Only include API server additional security groups in InstanceGroups for masters
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/L

#10528 Automated cherry pick of #10519: Test that AWS launch templates include wrong SG
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10512 Update kube-router to v1.1.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10529 IRSA - continue adding route53 permisions to masters
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_masters.minimal.example.com_policy
Labels: approved, cncf-cla: yes, lgtm, size/M

#10511 Automated cherry pick of #10508: Treat InvalidDhcpOptionsId.NotFound as already-deleted
  pkg/resources/aws/aws.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10513 Automated cherry pick of #10512: Update kube-router to v1.1.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10530 Add possibility to set volume throughput for gp3 volumes
  cmd/kops/integration_test.go
  docs/tutorial/working-with-instancegroups.md
  hack/verify-terraform.sh
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/master_volumes.go
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/id_rsa.pub
  tests/integration/update_cluster/minimal-gp3/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/block_device_mappings.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10510 Manual cherry-pick of #10507: Add containerd option for registry mirrors
  docs/cluster_spec.md
  go.mod
  go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/containerd.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  vendor/github.com/pelletier/go-toml/.travis.yml
  vendor/github.com/pelletier/go-toml/BUILD.bazel
  vendor/github.com/pelletier/go-toml/Dockerfile
  vendor/github.com/pelletier/go-toml/Makefile
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/appveyor.yml
  vendor/github.com/pelletier/go-toml/azure-pipelines.yml
  vendor/github.com/pelletier/go-toml/benchmark.json
  vendor/github.com/pelletier/go-toml/benchmark.sh
  vendor/github.com/pelletier/go-toml/benchmark.toml
  vendor/github.com/pelletier/go-toml/benchmark.yml
  vendor/github.com/pelletier/go-toml/doc.go
  vendor/github.com/pelletier/go-toml/example-crlf.toml
  vendor/github.com/pelletier/go-toml/example.toml
  vendor/github.com/pelletier/go-toml/fuzzit.sh
  vendor/github.com/pelletier/go-toml/go.mod
  vendor/github.com/pelletier/go-toml/go.sum
  vendor/github.com/pelletier/go-toml/keysparsing.go
  vendor/github.com/pelletier/go-toml/lexer.go
  vendor/github.com/pelletier/go-toml/localtime.go
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/marshal_OrderPreserve_Map_test.toml
  vendor/github.com/pelletier/go-toml/marshal_OrderPreserve_test.toml
  vendor/github.com/pelletier/go-toml/marshal_test.toml
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/token.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/pelletier/go-toml/tomltree_create.go
  vendor/github.com/pelletier/go-toml/tomltree_write.go
  vendor/modules.txt
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10532 Automated cherry pick of #10530: Add possibility to set volume throughput for gp3 volumes
  cmd/kops/integration_test.go
  docs/tutorial/working-with-instancegroups.md
  hack/verify-terraform.sh
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/master_volumes.go
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/id_rsa.pub
  tests/integration/update_cluster/minimal-gp3/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/block_device_mappings.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10361 Prefix etcd cluster names with letters
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: approved, blocks-next, cncf-cla: yes, lgtm, size/S

#10278 Recognize ubuntu 20.10
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/miscutils.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/ubuntu2010/etc/os-release
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10424 Don't allow ebs volume TF resource names to begin with digit
  docs/releases/1.19-NOTES.md
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/documentation, area/provider/aws, blocks-next, cncf-cla: yes, lgtm, size/M

#10536 Automated cherry pick of #10424: Don't allow ebs volume TF resource names to begin with digit
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10537 Automated cherry pick of #10424: Don't allow ebs volume TF resource names to begin with digit
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10371 Add K8s Docker runtime support deprecation release note
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, retest-not-required-docs-only, size/XS

#10461 Make it possible to change the etcd volume type and iops
  pkg/apis/kops/validation/cluster.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10542 Promote Ole Markus to approvers list
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10540 Add containerd config file to Flatcar based instances
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10544 Automated cherry pick of #10466: Remove gjtempleton as reviewer #10542: Promote Ole Markus to approvers list
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10409 Move bootstrapchannelbuilder to a dedicated package
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/BUILD.bazel
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/L

#10526 kubetest2: support specifying admin-access value
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10548 GCE: Don't warn about NVME
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10523 Simple upgrade test using kubetest2 framework
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/M

#10538 Refactor and centralize distribution logic
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/miscutils.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10182 Fix to handle exit code of gazelle command in hack/verify-bazel.sh
  hack/verify-bazel.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10547 COS/GCE: exec on kubelet/flexvolume dirs
  nodeup/pkg/model/directories.go
  nodeup/pkg/model/kubelet.go
  upup/pkg/fi/nodeup/nodetasks/bindmount.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10541 Fix typo in comment
  upup/pkg/fi/context.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10553 Openstack: Prevent data race in servergroup member list
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/poolassociation.go
  upup/pkg/fi/cloudup/openstacktasks/servergroup.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#10554 Updates GCE channels to use ubuntu over COS
  channels/alpha
  channels/stable
  docs/releases/1.20-NOTES.md
  pkg/apis/kops/channel.go
Labels: approved, area/api, area/channels, area/documentation, cncf-cla: yes, lgtm, size/S

#10549 Kubetest2 - use our own tester that wraps kubetest2's ginkgo tester
  Makefile
  tests/e2e/kubetest2-tester-kops/main.go
  tests/e2e/pkg/tester/kubectl.go
  tests/e2e/pkg/tester/tester.go
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/L

#10551 Spotinst: Specify Spot percentage per Instance Group
  go.mod
  go.sum
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  vendor/github.com/go-ini/ini/.travis.yml
  vendor/github.com/go-ini/ini/Makefile
  vendor/github.com/go-ini/ini/README.md
  vendor/github.com/go-ini/ini/codecov.yml
  vendor/github.com/go-ini/ini/data_source.go
  vendor/github.com/go-ini/ini/file.go
  vendor/github.com/go-ini/ini/ini.go
  vendor/github.com/go-ini/ini/key.go
  vendor/github.com/go-ini/ini/parser.go
  vendor/github.com/go-ini/ini/section.go
  vendor/github.com/go-ini/ini/struct.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/ocean_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/right_sizing.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XXL

#10556 update gophercloud dependency
  go.mod
  go.sum
  pkg/instancegroups/BUILD.bazel
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/resources/openstack/BUILD.bazel
  pkg/resources/openstack/servergroup.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/server_group.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/servergroup.go
  vendor/github.com/gophercloud/gophercloud/.travis.yml
  vendor/github.com/gophercloud/gophercloud/.zuul.yaml
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/go.mod
  vendor/github.com/gophercloud/gophercloud/go.sum
  vendor/github.com/gophercloud/gophercloud/internal/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/internal/pkg.go
  vendor/github.com/gophercloud/gophercloud/internal/util.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/bootfromvolume/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/schedulerhints/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/servergroups/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tenants/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/extensions/oauth1/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/l7policies/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/loadbalancers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/routers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/routers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/routers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/layer3/routers/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/accounts/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/containers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/objects/requests.go
  vendor/github.com/gophercloud/gophercloud/pagination/linked.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/gophercloud/util.go
  vendor/modules.txt
Labels: approved, area/provider/openstack, area/rolling-update, cncf-cla: yes, lgtm, size/XL

#10550 Upgrade Go v1.15.6 / Bazel v3.4.1
  .bazelversion
  .github/workflows/main.yml
  WORKSPACE
  cmd/kops-controller/BUILD.bazel
  cmd/kops/BUILD.bazel
  cmd/kube-apiserver-healthcheck/BUILD.bazel
  dns-controller/cmd/dns-controller/BUILD.bazel
  hack/go.mod
  hack/go.sum
  protokube/cmd/protokube/BUILD.bazel
  protokube/pkg/hostmount/BUILD.bazel
  vendor/github.com/gogo/protobuf/proto/BUILD.bazel
  vendor/github.com/google/uuid/BUILD.bazel
  vendor/github.com/miekg/dns/BUILD.bazel
  vendor/github.com/moby/term/BUILD.bazel
  vendor/github.com/prometheus/client_golang/prometheus/BUILD.bazel
  vendor/github.com/prometheus/procfs/BUILD.bazel
  vendor/github.com/sirupsen/logrus/BUILD.bazel
  vendor/golang.org/x/net/internal/socket/BUILD.bazel
  vendor/golang.org/x/net/ipv4/BUILD.bazel
  vendor/golang.org/x/net/ipv6/BUILD.bazel
  vendor/golang.org/x/sys/cpu/BUILD.bazel
  vendor/golang.org/x/sys/unix/BUILD.bazel
  vendor/golang.org/x/sys/windows/BUILD.bazel
  vendor/google.golang.org/grpc/internal/syscall/BUILD.bazel
  vendor/helm.sh/helm/v3/pkg/helmpath/BUILD.bazel
  vendor/k8s.io/kubectl/pkg/util/BUILD.bazel
  vendor/k8s.io/kubectl/pkg/util/term/BUILD.bazel
  vendor/k8s.io/utils/mount/BUILD.bazel
  vendor/k8s.io/utils/nsenter/BUILD.bazel
Labels: approved, area/kops-controller, cncf-cla: yes, lgtm, ok-to-test, size/L

#10281 [addons/CA] Add support for specifying resources and metrics
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#10560 Spotinst: Iterate over metadata labels only once
  pkg/model/spotinstmodel/instance_group.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/S

#10419 Default cgroup driver to systemd from k8s 1.20
  docs/cluster_spec.md
  nodeup/pkg/model/docker_test.go
  pkg/model/components/containerd.go
  pkg/model/components/docker.go
  pkg/model/components/kubelet.go
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
Labels: approved, area/documentation, area/nodeup, cncf-cla: yes, lgtm, ok-to-test, size/M

#10467 AWS CSI driver
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/XXL

#10565 Upgrade cfn-lint to 0.44.3
  hack/.cfnlintrc.yaml
  hack/cfn-lint.Dockerfile
  hack/verify-cloudformation.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10566 Fix file not found error detection in fs://
  util/pkg/vfs/fs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10567 Fix NLB listener -> target group association for TF & CF
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10568 Automated cherry pick of #10566: Fix file not found error detection in fs://
  util/pkg/vfs/fs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10571 Automated cherry pick of #10567: Fix NLB listener -> target group association for TF & CF
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10573 Spotinst: Bump the Ocean Controller to 1.0.70
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10561 Spotinst: Specify whether scale-down activities should be restricted
  docs/getting_started/spot-ocean.md
  go.mod
  go.sum
  pkg/model/spotinstmodel/instance_group.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Labels: approved, area/documentation, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#10557 [OpenStack] Use new hash format in instance names
  cloudmock/openstack/mockcompute/servers.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  pkg/resources/openstack/floatingip.go
  pkg/resources/openstack/instances.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/servergroup.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/L

#10559 kubetest2 - Add manifest template support
  Makefile
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/create.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/template.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/templates/simple.yaml.tmpl
Labels: approved, cncf-cla: yes, lgtm, size/L

#10576 Updates to Alpha versions - k8s & kOps
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10578 Use Bazel 3.4.1 for postsubmit jobs
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10577 Give kubetest2 its own makefile
  Makefile
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#10188 Use consistent naming for the remaining SGRs part two
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/bastion.go
  pkg/model/external_access.go
  pkg/model/firewall.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/docker-custom/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10575 [DigitalOcean] add e2e tests
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/do/zones.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#10581 Allow nodeup (and others) to replace in-use files
  upup/pkg/fi/files.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10582 Dial-down logging on flagbuilder
  pkg/flagbuilder/build_flags.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10584 Fix default make target
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10572 Allow setting gp3 for terraform volumes without setting throughput
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10585 containerd: Add /etc/crictl config to enable crictl
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#10569 Add CF integration test for gp3 volumes
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-gp3/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10587 Update machine types
  upup/pkg/fi/cloudup/awsup/machine_types.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10588 Automated cherry pick of #10540: Add containerd config file to Flatcar based instances
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10592 Release notes for 1.20.0-alpha.1
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#10564 Make cluster proportional autoscaler image configurable.
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kube-dns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S

#10598 Fix minor docs typos
  docs/addons.md
  docs/contributing/homebrew.md
  docs/contributing/testing.md
  docs/examples/coreos-kops-tests-multimaster.md
  docs/networking/aws-vpc.md
  docs/networking/cilium.md
  docs/state.md
  docs/tutorial/working-with-instancegroups.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#10599 Validate cluster cloud labels
  pkg/apis/kops/validation/cluster.go
  pkg/apis/kops/validation/instancegroup.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10597 Exclude terraform.lock.hcl files from Git repo
  .gitignore
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10600 Provide required --kubernetes-version flags to kubetest2-kops --up
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/S

#10603 Update Go to v1.15.6 for 1.19
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10601 Kubetest - add networking support + misc fixes
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/pkg/kops/download.go
  tests/e2e/pkg/util/http.go
  tests/e2e/pkg/util/publicip.go
  tests/e2e/scenarios/upgrade/run-test
  tests/e2e/templates/simple.yaml.tmpl
Labels: approved, cncf-cla: yes, lgtm, size/L

#10602 Require KOPS_TERRAFORM_0_12_RENAMED, to guard against tf breakage
  permalinks/terraform_renamed.md
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/executor.go
  upup/pkg/fi/task.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10594 Add troubleshooting documentation
  docs/operations/troubleshoot.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10607 Fix menu link to troubleshooting
  mkdocs.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10613 Use kops binary built by kubetest2-kops in upgrade script
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/S

#10608 Warn if cilium encryption is enabled, but no secret has been set
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10617 kubetest2 upgrade script - PATH needs to be a directory
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10612 Add support for container-log-max-size/files with kubelet
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10616 Add network and router availability zone hints to OpenStack
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/openstackmodel/network.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/cloudup/openstacktasks/network.go
  upup/pkg/fi/cloudup/openstacktasks/router.go
  upup/pkg/fi/values.go
Labels: approved, area/api, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/L

#10610 Increase CoreDNS default ttl
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S

#10618 Automated cherry pick of #10610: Increase CoreDNS default ttl
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10606 Automated cherry pick of #10602: Require KOPS_TERRAFORM_0_12_RENAMED, to guard against tf
  cmd/kops/create_cluster.go
  permalinks/terraform_renamed.md
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/executor.go
  upup/pkg/fi/task.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10605 Automated cherry pick of #10602: Require KOPS_TERRAFORM_0_12_RENAMED, to guard against tf
  permalinks/terraform_renamed.md
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/executor.go
  upup/pkg/fi/task.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10620 kubetest2 - Add support for specifying a kubernetes version marker file
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/pkg/version/kubernetes.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10621 kubetest 2 - fix parsing of k8s version semver values
  tests/e2e/pkg/version/kubernetes.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10604 Update Weave to v2.8.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10624 Update AWS instances defaults
  cloudmock/aws/mockec2/launch_templates.go
  cloudmock/aws/mockec2/volumes.go
  docs/releases/1.20-NOTES.md
  hack/verify-cloudformation.sh
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-custom/cloudformation.json
  tests/integration/update_cluster/containerd/cloudformation.json
  tests/integration/update_cluster/docker-custom/cloudformation.json
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/cloudformation.json
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10626 kubetest2 - update the skip regex for the upgrade scenario
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10583 Install dbus if needed for protokube with containerd
  nodeup/pkg/model/protokube.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#10627 Automated cherry pick of #10583: Install dbus if needed for protokube with kope.io
  nodeup/pkg/model/protokube.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#10628 Ensure SpecOverrideFlag is set in upgrade test
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10631 Fix unbound variable in upgrade scenario script
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10632 kubetest2 - increase validation timeout for the upgrade scenario
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10633 Add startup probe for calico-kube-controllers
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10629 Remove coredns dnsprovider
  dns-controller/cmd/dns-controller/BUILD.bazel
  dns-controller/cmd/dns-controller/main.go
  dns-controller/docs/flags.md
  dns-controller/pkg/dns/BUILD.bazel
  dns-controller/pkg/dns/dnscontroller.go
  dnsprovider/pkg/dnsprovider/providers/coredns/BUILD.bazel
  dnsprovider/pkg/dnsprovider/providers/coredns/coredns.go
  dnsprovider/pkg/dnsprovider/providers/coredns/coredns_test.go
  dnsprovider/pkg/dnsprovider/providers/coredns/interface.go
  dnsprovider/pkg/dnsprovider/providers/coredns/rrchangeset.go
  dnsprovider/pkg/dnsprovider/providers/coredns/rrset.go
  dnsprovider/pkg/dnsprovider/providers/coredns/rrsets.go
  dnsprovider/pkg/dnsprovider/providers/coredns/stubs/BUILD.bazel
  dnsprovider/pkg/dnsprovider/providers/coredns/stubs/corednsapi.go
  dnsprovider/pkg/dnsprovider/providers/coredns/zone.go
  dnsprovider/pkg/dnsprovider/providers/coredns/zones.go
  go.mod
  go.sum
  hack/.staticcheck_failures
  protokube/cmd/protokube/BUILD.bazel
  protokube/cmd/protokube/main.go
  vendor/github.com/coreos/go-semver/LICENSE
  vendor/github.com/coreos/go-semver/NOTICE
  vendor/github.com/coreos/go-semver/semver/BUILD.bazel
  vendor/github.com/coreos/go-semver/semver/semver.go
  vendor/github.com/coreos/go-semver/semver/sort.go
  vendor/github.com/miekg/coredns/LICENSE
  vendor/github.com/miekg/coredns/middleware/etcd/msg/BUILD.bazel
  vendor/github.com/miekg/coredns/middleware/etcd/msg/path.go
  vendor/github.com/miekg/coredns/middleware/etcd/msg/service.go
  vendor/go.etcd.io/etcd/LICENSE
  vendor/go.etcd.io/etcd/NOTICE
  vendor/go.etcd.io/etcd/client/BUILD.bazel
  vendor/go.etcd.io/etcd/client/README.md
  vendor/go.etcd.io/etcd/client/auth_role.go
  vendor/go.etcd.io/etcd/client/auth_user.go
  vendor/go.etcd.io/etcd/client/cancelreq.go
  vendor/go.etcd.io/etcd/client/client.go
  vendor/go.etcd.io/etcd/client/cluster_error.go
  vendor/go.etcd.io/etcd/client/curl.go
  vendor/go.etcd.io/etcd/client/discover.go
  vendor/go.etcd.io/etcd/client/doc.go
  vendor/go.etcd.io/etcd/client/json.go
  vendor/go.etcd.io/etcd/client/keys.go
  vendor/go.etcd.io/etcd/client/members.go
  vendor/go.etcd.io/etcd/client/util.go
  vendor/go.etcd.io/etcd/pkg/pathutil/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/pathutil/path.go
  vendor/go.etcd.io/etcd/pkg/srv/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/srv/srv.go
  vendor/go.etcd.io/etcd/pkg/types/BUILD.bazel
  vendor/go.etcd.io/etcd/pkg/types/doc.go
  vendor/go.etcd.io/etcd/pkg/types/id.go
  vendor/go.etcd.io/etcd/pkg/types/set.go
  vendor/go.etcd.io/etcd/pkg/types/slice.go
  vendor/go.etcd.io/etcd/pkg/types/urls.go
  vendor/go.etcd.io/etcd/pkg/types/urlsmap.go
  vendor/go.etcd.io/etcd/version/BUILD.bazel
  vendor/go.etcd.io/etcd/version/version.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XXL

#10630 Spotinst: Avoid unnecessary duplication of tasks
  pkg/model/spotinstmodel/instance_group.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/S

#10635 enableRemoteNodeIdentity actually defaults to true
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10634 Replace gopkg yaml with k8s-sigs yaml
  go.mod
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/kube_scheduler_test.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-scheduler.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
  pkg/configbuilder/BUILD.bazel
  pkg/configbuilder/buildconfigfile.go
  pkg/util/templater/BUILD.bazel
  pkg/util/templater/templater_test.go
  vendor/modules.txt
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10637 protokube: Remove unused ExecuteTemplate function
  protokube/pkg/protokube/BUILD.bazel
  protokube/pkg/protokube/models.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10636 Fix phony make target for setting up kubetest2
  tests/e2e/e2e.mk
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10622 [Digital Ocean] Add SFO3 region. Also update e2e tests to use full list of supported zones
  docs/getting_started/digitalocean.md
  tests/e2e/kubetest2-kops/do/zones.go
  upup/pkg/fi/cloud.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#10638 etcd-manager: Update to 3.0.20210122
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10639 Update k8s versions in stable channel and bump ubuntu ami version in alpha channel
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10641 Automated cherry pick of #10638: etcd-manager: Update to 3.0.20210122
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10644 Backport gp3 volumes fixes
  cloudmock/aws/mockec2/launch_templates.go
  cloudmock/aws/mockec2/volumes.go
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#10646 Update kubetest2 library
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10609 feat: implement azure get api ingress status fn
  docs/getting_started/azure.md
  upup/pkg/fi/cloudup/azure/BUILD.bazel
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/networkinterface.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Labels: approved, area/documentation, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/L

#10649 Use the same package marker for kubectl as for e2e binary
  tests/e2e/pkg/tester/kubectl.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10570 Reword 'what is kOps'
  README.md
  docs/index.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10651 Add back support for kubenet style networking with containerd
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/M

#10642 Automated cherry pick of #10638: etcd-manager: Update to 3.0.20210122
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10589 Add minimum version info for External Policies
  docs/iam_roles.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS, tide/merge-method-squash

#10658 Add --create-args kubetest2 flag
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10660 Fix cluster_spec.md indentation
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10666 Allow attaching same external load balancer to multiple instance groups
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10668 Automated cherry pick of #10666: Allow attaching same external load balancer to multiple
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10669 Automated cherry pick of #10666: Allow attaching same external load balancer to multiple
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/externallb/cloudformation.json
  tests/integration/update_cluster/externallb/in-v1alpha2.yaml
  tests/integration/update_cluster/externallb/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10667 Fix typo
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10652 Update kops e2e testing docs
  docs/contributing/testing.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#10665 Create default loadbalancer when SSL certificate is specified
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10670 Bump Ubuntu images for AWS and GCE
  channels/alpha
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/L

#10673 Release notes for 1.18.3
  docs/releases/1.18-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10674 Remove taints from spotinst ocean terraform resource
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10675 Allow SSH user to be overridden for `toolbox dump`
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10677 Automated cherry pick of #10675: Allow SSH user to be overridden for `toolbox dump`
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10676 kubetest2 - Use --ssh-user to dump logs
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10681 Release 1.19.0
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10683 Release notes for 1.19.0
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10653 Automated cherry pick of #10585: containerd: Add /etc/crictl config to enable crictl #10651: Add back support for kubenet style networking with containerd
  cmd/kops/BUILD.bazel
  cmd/kops/create_cluster.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/containerd.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#10684 Update release compatibility matrix
  docs/welcome/releases.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10686 Add link to 1.19
  mkdocs.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10685 Fix header indentation in addons.md
  docs/addons.md
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10680 Documentation update: Corrected externalPolicy AWS ARN formatting
  docs/iam_roles.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10688 Remove 'not released' notice from 1.19 notes
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10691 Automated cherry pick of #10581: Allow nodeup (and others) to replace in-use files
  upup/pkg/fi/files.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10694 Fix bug preventing tasks using gp2
  pkg/model/master_volumes.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#10689 Add template function returning the latest image
  docs/operations/cluster_template.md
  pkg/util/templater/BUILD.bazel
  pkg/util/templater/template_functions.go
  pkg/util/templater/templater_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S
