Repository kubernetes/kops, pull requests merged in 2021-12, with the labels that each got.

#12866 GCE: fix for metadata-proxy on cilium
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/v0.1.12.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12758 [Digital Ocean] Fix load balancer retry logic while retrieving ip
  upup/pkg/fi/cloudup/do/BUILD.bazel
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/dotasks/BUILD.bazel
  upup/pkg/fi/cloudup/dotasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/digitalocean

#12868 Spotinst: Update spotinst/ocean-controller to v1.0.80
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12812 Add GCP PD CSI driver addon
  cmd/kops/integration_test.go
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/gcppdcsidriver.go
  tests/e2e/pkg/tester/skip_regex.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_nodes-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_startup-script
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/gcp-pd-csi-driver.addons.k8s.io/k8s-1.23.yaml.template
  upup/models/cloudup/resources/addons/storage-gce.addons.k8s.io/v1.7.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XXL, area/addons

#12871 Fix area/provider/gcp GitHub label assignment
  pkg/model/gcemodel/OWNERS
  pkg/resources/gce/OWNERS
  upup/pkg/fi/cloudup/gce/OWNERS
  upup/pkg/fi/cloudup/gcetasks/OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#12869 Remove unused StorageBucketIam GCE task
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/storagebucketiam.go
  upup/pkg/fi/cloudup/gcetasks/storagebucketiam_fitask.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#12863 Don't assign CIDRs to shared subnets
  upup/pkg/fi/cloudup/awstasks/subnet.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12870 Add labels to GCE instance templates
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#12872 Rename imageName to image in v1alpha3
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#12874 Use v1 certificate for snapshot-validation-service
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12875 tests gce: fix project arg on gsutil rm
  tests/e2e/kubetest2-kops/gce/gcs.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12878 If RBN, use IPv6 address instead of IPv4
  protokube/pkg/protokube/aws_volume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12121 Support GSFS Terraform Managed Files
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/tests/BUILD.bazel
  util/pkg/vfs/tests/gsfs_test.go
  util/pkg/vfs/tests/mock_gcp_credentials.json
  util/pkg/vfs/tests/s3fs_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#12882 Remove support for old distros
  docs/releases/1.23-NOTES.md
  nodeup/pkg/model/docker_test.go
  nodeup/pkg/model/packages.go
  nodeup/pkg/model/sysctls.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#12884 Add terraform integration test for dedicated apiserver nodes
  cmd/kops/integration_test.go
  tests/integration/update_cluster/apiservernodes/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_apiservers.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_policy_apiservers.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/apiservernodes/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/apiservernodes/data/aws_launch_template_apiserver.apiservers.minimal.example.com_user_data
  tests/integration/update_cluster/apiservernodes/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/apiservernodes/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_nodeupconfig-apiserver_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/apiservernodes/in-v1alpha2.yaml
  tests/integration/update_cluster/apiservernodes/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#12888 Update k8s dependencies to v1.23.0-rc.1
  go.mod
  go.sum
  tests/e2e/go.mod
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/client-go/applyconfigurations/core/v1/probehandler.go
  vendor/k8s.io/client-go/applyconfigurations/internal/internal.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#12887 Allow setting cilium 1.11
  pkg/apis/kops/validation/validation.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#12889 gce: Add network & subnet to toolbox dump
  pkg/resources/gce/BUILD.bazel
  pkg/resources/gce/gce.go
  pkg/resources/gce/network.go
  pkg/resources/gce/subnet.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#12742 GCE: Support kops-controller, including in gossip mode
  nodeup/pkg/model/bootstrap_client.go
  pkg/model/components/context.go
  pkg/model/components/kubelet.go
  pkg/model/gcemodel/BUILD.bazel
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/resolver/BUILD.bazel
  pkg/resolver/interface.go
  protokube/pkg/gossip/gce/seeds.go
  protokube/pkg/protokube/BUILD.bazel
  protokube/pkg/protokube/gce_volume.go
  upup/pkg/fi/cloudup/gce/BUILD.bazel
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gce/gcediscovery/BUILD.bazel
  upup/pkg/fi/cloudup/gce/gcediscovery/resolver.go
  upup/pkg/fi/cloudup/gce/gcemetadata/BUILD.bazel
  upup/pkg/fi/cloudup/gce/gcemetadata/clustername.go
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/BUILD.bazel
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/tpmverifier.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XL, area/provider/gcp, kind/office-hours

#12862 Use instance ID as node name when AWS CCM supports it
  cmd/kops-controller/pkg/config/options.go
  cmd/kops-controller/pkg/server/server.go
  docs/releases/1.23-NOTES.md
  nodeup/pkg/model/kubelet.go
  pkg/apis/nodeup/config.go
  pkg/bootstrap/authenticate.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/tpmverifier.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, area/provider/aws, area/provider/gcp, area/kops-controller, kind/office-hours

#12896 Update Go to v1.17.4
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12897 Update Go to v1.16.11
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12898 Automated cherry pick of #12897: Update Go to v1.16.11
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12881 enable connection-draining for aws classic lb
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_attributes.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test

#12900 Simplify Flatcar containerd exec command
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#12320 pkg/apis/kops: Allow configuring dockerd --max-* upload and download concurrency and retry options.
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/dockerconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test

#12904 Upgrade node-cache to 1.21.3
  docs/networking/ipv6.md
  pkg/model/components/kubedns.go
  tests/integration/update_cluster/apiservernodes/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/compress/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/digit/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/existing_iam/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/existing_sg/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/externallb/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/externalpolicies/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-gp3/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/mixed_instances/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/mixed_instances_spot/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/private-shared-ip/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/private-shared-subnet/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatedns1/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatedns2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateweave/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_subnet/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_vpc/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/unmanaged/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/vfs-said/data/aws_s3_bucket_object_cluster-completed.spec_content
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/addons

#12893 Fix external-dns service name
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/bug, area/addons

#12907 Fix error applying AWS CCM leader migration
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  upup/models/cloudup/resources/addons/leader-migration.rbac.addons.k8s.io/k8s-1.23.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12908 Update k8s dependencies to v1.23.0
  go.mod
  go.sum
  tests/e2e/go.mod
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#12909 Automated cherry pick of #12893: Fix external-dns service name
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12894 Cleanup GCE loadbalancers created by k8s
  cloudmock/gce/mockcompute/BUILD.bazel
  cloudmock/gce/mockcompute/api.go
  cloudmock/gce/mockcompute/http_healthcheck.go
  pkg/resources/gce/gce.go
  upup/pkg/fi/cloudup/gce/compute.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#12920 Update aws-load-balancer-controller to v2.3.1
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12891 e2e: fix test flakes where we specify a non-schedulable zone
  tests/e2e/pkg/tester/tester.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#12629 Ignore InvalidAction errors when tagging IAM Instance Profiles
  cloudmock/aws/mockiam/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#12929 Update release notes and minimum k8s version
  cmd/kops/integration_test.go
  docs/releases/1.23-NOTES.md
  docs/releases/1.24-NOTES.md
  mkdocs.yml
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/data/aws_iam_role_policy_nodes.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_nodes.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/privatecilium2/in-v1alpha2.yaml
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#12921 kops auth-plugin: need to clear any existing password / key
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/kubecfg_builder.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12930 Add integration test for k8s 1.24
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/id_rsa.pub
  tests/integration/update_cluster/minimal-1.24/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-1.24/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#12931 Only shellcheck files
  hack/verify-shellcheck.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12926 Do not set insecure-port as of k8s 1.20
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/flagbuilder/buildflags_test.go
  pkg/model/components/apiserver.go
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#12933 tests: Improve logging on test failure
  nodeup/pkg/model/cloudconfig_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12923 nodeup: store the CloudProvider in the context
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/ntp.go
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/sysctls.go
  nodeup/pkg/model/warm_pool.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#12934 bazel: always build with pure (CGO_ENABLED=0)
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/S

#12935 nodeup: print more info on hash mismatches
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#12936 PKI library: Add initial support for EC keys
  pkg/pki/privatekey.go
  pkg/pki/privatekey_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12937 Recognize debian bullseye as having "broken" resolv.conf
  util/pkg/distributions/distributions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12939 Remove code for now-unsupported Kubernetes 1.18
  channels/alpha
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/golden/side-loading/cluster.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
  nodeup/pkg/model/tests/kubelet/featuregates/cluster.yaml
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  pkg/apis/kops/model/features.go
  pkg/apis/kops/validation/validation.go
  pkg/kubeconfig/BUILD.bazel
  pkg/kubeconfig/create_kubecfg.go
  pkg/model/components/addonmanifests/dnscontroller/BUILD.bazel
  pkg/model/components/addonmanifests/dnscontroller/remap.go
  pkg/model/components/apiserver.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/clusterautoscaler.go
  pkg/model/components/containerd.go
  pkg/model/components/etcd.go
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XXL, area/channels, area/addons

#12938 Add missing k8s 1.18 relnote
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12942 Remove obsolete, redundant secrets.md
  docs/README.md
  docs/secrets.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#12901 Automated cherry pick of #12320: pkg/apis/kops: Allow configuring dockerd --max-* upload and
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#12941 Drop support for Weave as of k8s 1.23
  docs/networking.md
  docs/networking/weave.md
  docs/releases/1.23-NOTES.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S

#12946 Automated cherry pick of #12941: Remove support for Weave as of k8s 1.23
  docs/networking.md
  docs/networking/weave.md
  docs/releases/1.23-NOTES.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S

#12914 Document CoreDNS configuration settings
  docs/cluster_spec.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#12945 Automated cherry pick of #12918: Make service topology for cilium configurable
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#12943 Update name of kubernetes-ca keypair in documentation
  cmd/kops/create_keypair.go
  cmd/kops/distrust_keypair.go
  cmd/kops/get_keypairs.go
  cmd/kops/promote_keypair.go
  docs/cli/kops_create_keypair.md
  docs/cli/kops_distrust_keypair.md
  docs/cli/kops_get_keypairs.md
  docs/cli/kops_promote_keypair.md
  docs/custom_ca.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, kind/documentation

#12947 Revert "Recognize debian bullseye as having "broken" resolv.conf"
  util/pkg/distributions/distributions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12932 Set the default LT version to the new LT version
  cloudmock/aws/mockec2/launch_templates.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#12918 Make service topology for cilium configurable
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#12950 gce: ServiceAccount task
  cloudmock/gce/BUILD.bazel
  cloudmock/gce/mock_gce_cloud.go
  cloudmock/gce/mockiam/BUILD.bazel
  cloudmock/gce/mockiam/api.go
  cloudmock/gce/mockiam/serviceaccounts.go
  cloudmock/gce/mockiam/utils.go
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_fitask.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/gcp

#12951 Update Calico and Canal to v3.21.2
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12954 Update Go to v1.17.5
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12955 Automated cherry pick of #12954: Update Go to v1.17.5
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12957 Automated cherry pick of #12956: Update Go to v1.16.12
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12956 Update Go to v1.16.12
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12953 Skip IPv6 LB test in the k/s e2e
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12959 GCE: Project IAM Binding task
  cloudmock/gce/BUILD.bazel
  cloudmock/gce/mock_gce_cloud.go
  cloudmock/gce/mockcloudresourcemanager/BUILD.bazel
  cloudmock/gce/mockcloudresourcemanager/api.go
  cloudmock/gce/mockcloudresourcemanager/projects.go
  upup/pkg/fi/cloudup/gce/BUILD.bazel
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/projectiambinding.go
  upup/pkg/fi/cloudup/gcetasks/projectiambinding_fitask.go
  upup/pkg/fi/cloudup/gcetasks/projectiambinding_test.go
  vendor/google.golang.org/api/cloudresourcemanager/v1/BUILD.bazel
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-api.json
  vendor/google.golang.org/api/cloudresourcemanager/v1/cloudresourcemanager-gen.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/gcp

#12892 add verify-golangci-lint.sh script
  .golangci.yaml
  Makefile
  hack/go.mod
  hack/go.sum
  hack/tools.go
  hack/verify-golangci-lint.sh
  nodeup/pkg/model/sysctls.go
  pkg/model/awsmodel/spotinst.go
  util/pkg/hashing/hash.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XXL, area/provider/aws, ok-to-test

#12963 Hubble relay should not tolerate anything
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12962 Do not explicitly skip Dashboard tests
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12960 Do not skip NodePort tests for Calico
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12965 Remove verify-staticcheck
  Makefile
  hack/.staticcheck_failures
  hack/verify-staticcheck.sh
Labels: cncf-cla: yes, lgtm, approved, size/L

#12902 wait for instances to drain from classic LB
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test

#12968 Update containerd to v1.6.0-beta.4
  pkg/model/components/containerd.go
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12967 Update controller-runtime to v0.11.0
  go.mod
  go.sum
  tests/e2e/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/.golangci.yml
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/selector.go
  vendor/sigs.k8s.io/controller-runtime/pkg/config/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/controller-runtime/pkg/manager/signals/signal.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12970 Automated cherry pick of #12967: Update controller-runtime to v0.11.0
  go.mod
  go.sum
  tests/e2e/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/.golangci.yml
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/selector.go
  vendor/sigs.k8s.io/controller-runtime/pkg/config/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/controller-runtime/pkg/manager/signals/signal.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12971 Automated cherry pick of #12968: Update containerd to v1.6.0-beta.4
  pkg/model/components/containerd.go
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12977 Add missing permissions
  docs/getting_started/aws.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12972 Do not skip HPA tests
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12974 Do not skip RuntimeClass tests
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12978 gce: Use ServiceAccount task when building model
  pkg/model/gcemodel/BUILD.bazel
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/service_accounts.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#12979 Quote values and remove limits in karpenter provisioners
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12984 Promote alpha with December releases
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#12982 gce: map multiple serviceaccounts
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#12990 Defend against nil containerd
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12989 Remove unused TemplateResource interface
  upup/pkg/fi/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12991 Avoid double-encoding templates
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
  upup/pkg/fi/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12993 Refactor nodeup script to avoid action-at-a-distance
  pkg/model/BUILD.bazel
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/resources/BUILD.bazel
  pkg/model/resources/nodeup.go
  pkg/model/resources/nodeup_test.go
  pkg/model/resources/template_resource.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#12988 gce: use per InstanceGroup serviceaccounts
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/service_accounts.go
  pkg/model/gcemodel/storageacl.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/types.go
  pkg/truncate/BUILD.bazel
  pkg/truncate/truncate.go
  pkg/truncate/truncate_test.go
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_nodes-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
  upup/pkg/fi/cloudup/gce/BUILD.bazel
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/gcetasks/projectiambinding.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/aws, area/provider/gcp

#12999 Create helper functions for parsing public keys
  pkg/pki/BUILD.bazel
  pkg/pki/publickey.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12995 Use terraform literals in GCP service account references
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#12997 kops-controller: use controller-runtime manager
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/server/server.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#12987 gce: clean up networking objects by reference
  pkg/resources/gce/gce.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#12998 componentconfig: expose advertise-address flag for kube-apiserver
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#12927 Do not allow docker on k8s 1.24+
  docs/releases/1.24-NOTES.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S

#13000 Ignore images hosted in private ECR repositories as containerd cannot pull these
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, kind/bug

#13001 Automated cherry pick of #13000: Ignore images hosted in private ECR repositories as
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13003 Skip RuntimeClass tests for older Kubernetes versions
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12973 Various nill pointer fixes for karpenter
  pkg/instancegroups/instancegroups.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/S, area/provider/aws

#12864 Set Resource Based Naming on managed subnets
  cloudmock/aws/mockec2/subnets.go
  docs/releases/1.23-NOTES.md
  pkg/model/awsmodel/network.go
  protokube/pkg/protokube/aws_volume.go
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/awstasks/subnet_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/gcp, area/kops-controller

#13005 Add kubetest2-kops flags for overriding instance group fields
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#13006 Support creating dualstack internal NLBs
  pkg/model/awsmodel/api_loadbalancer.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#13008 Skip SCTP check for all versions of k8s 1.23/1.24
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13002 Bump karpenter to 0.5.3 and RBN support
  pkg/apis/nodeup/config.go
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#13009 Karpenter template fix
  pkg/kubemanifest/manifest.go
  pkg/model/components/addonmanifests/BUILD.bazel
  pkg/model/components/addonmanifests/remap.go
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13013 staticcheck cleanup: fixup nodeup/pkg/model
  nodeup/pkg/model/cloudconfig_test.go
  nodeup/pkg/model/sysctls.go
  nodeup/pkg/model/volumes.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#13011 Prevent creation of unsupported etcd clusters
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#12917 Create cgroups for kube and runtime if configured
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/kubelet.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#13010 Do not install ClusterRole and binding used by in-tree volume provider if CSI is used
  upup/models/cloudup/resources/addons/storage-aws.addons.k8s.io/v1.15.0.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13014 Automated cherry pick of #13011: Prevent creation of unsupported etcd clusters
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#13016 Automated cherry pick of #13011: Prevent creation of unsupported etcd clusters
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#13015 Automated cherry pick of #13011: Prevent creation of unsupported etcd clusters
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#13018 kubetest2 - Use the same binary path and env when fetching IGs
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/pkg/kops/state.go
  tests/e2e/pkg/tester/tester.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12992 Use fi.Keyset instead of passing tasks around
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/ca.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack

#12966 add instance connection draining for NLBs
  go.mod
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test

#13021 Fix dangling ENIs from AWS VPC CNI
  cloudmock/aws/mockec2/BUILD.bazel
  cloudmock/aws/mockec2/eni.go
  pkg/resources/aws/BUILD.bazel
  pkg/resources/aws/aws.go
  pkg/resources/aws/eni.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#13022 Update k8s dependencies to v1.23.1
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/internal/socket/BUILD.bazel
  vendor/golang.org/x/net/internal/socket/sys_bsd.go
  vendor/golang.org/x/net/internal/socket/sys_linkname.go
  vendor/golang.org/x/net/internal/socket/sys_linux_386.go
  vendor/golang.org/x/net/internal/socket/sys_linux_s390x.go
  vendor/golang.org/x/net/internal/socket/sys_solaris.go
  vendor/golang.org/x/net/internal/socket/sys_solaris_amd64.s
  vendor/golang.org/x/net/internal/socket/sys_unix.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/csi-translation-lib/plugins/rbd.go
  vendor/k8s.io/kubectl/pkg/cmd/util/helpers.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#13023 Automated cherry pick of #13022: Update k8s dependencies to v1.23.1
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/BUILD.bazel
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/golang.org/x/net/internal/socket/BUILD.bazel
  vendor/golang.org/x/net/internal/socket/empty.s
  vendor/golang.org/x/net/internal/socket/sys_bsd.go
  vendor/golang.org/x/net/internal/socket/sys_linkname.go
  vendor/golang.org/x/net/internal/socket/sys_linux_386.go
  vendor/golang.org/x/net/internal/socket/sys_linux_s390x.go
  vendor/golang.org/x/net/internal/socket/sys_solaris.go
  vendor/golang.org/x/net/internal/socket/sys_solaris_amd64.s
  vendor/golang.org/x/net/internal/socket/sys_unix.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/csi-translation-lib/plugins/rbd.go
  vendor/k8s.io/kubectl/pkg/cmd/util/helpers.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#13027 Improve HA for various addons
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12975 Add a CLI flag for creating one karpenter-managed IG for worker nodes instead of ASG-managed ones
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/options.yaml
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, area/rolling-update, approved, size/L, area/provider/aws, area/addons

#13026 Allow IPv6-only subnets
  cmd/kops/integration_test.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/model/awsmodel/network.go
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-ipv6-private/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/subnets.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/aws

#13019 Support specifying instance requirements per IG
  docs/instance_groups.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/instancerequirements.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/aws

#13033 LBC has to run on the control plane, so set replicas accordingly
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13034 Automated cherry pick of #13029: Remove TerraformJSON feature flag and functionality
  docs/advanced/experimental.md
  docs/terraform.md
  pkg/featureflag/featureflag.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinglifecyclehook.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/dhcp_options.go
  upup/pkg/fi/cloudup/awstasks/dnsname.go
  upup/pkg/fi/cloudup/awstasks/dnszone.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
  upup/pkg/fi/cloudup/awstasks/eventbridgerule.go
  upup/pkg/fi/cloudup/awstasks/eventbridgetarget.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofilerole.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
  upup/pkg/fi/cloudup/awstasks/internetgateway.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/natgateway.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/networkloadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/route.go
  upup/pkg/fi/cloudup/awstasks/routetable.go
  upup/pkg/fi/cloudup/awstasks/routetableassociation.go
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
  upup/pkg/fi/cloudup/awstasks/sqs.go
  upup/pkg/fi/cloudup/awstasks/sshkey.go
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/awstasks/vpc_dhcpoptions_association.go
  upup/pkg/fi/cloudup/awstasks/vpccidrblock.go
  upup/pkg/fi/cloudup/dotasks/volume.go
  upup/pkg/fi/cloudup/gcetasks/address.go
  upup/pkg/fi/cloudup/gcetasks/disk.go
  upup/pkg/fi/cloudup/gcetasks/firewallrule.go
  upup/pkg/fi/cloudup/gcetasks/forwardingrule.go
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancegroupmanager.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/gcetasks/network.go
  upup/pkg/fi/cloudup/gcetasks/router.go
  upup/pkg/fi/cloudup/gcetasks/storagebucketacl.go
  upup/pkg/fi/cloudup/gcetasks/storageobjectacl.go
  upup/pkg/fi/cloudup/gcetasks/subnet.go
  upup/pkg/fi/cloudup/gcetasks/targetpool.go
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/cloudup/terraform/BUILD.bazel
  upup/pkg/fi/cloudup/terraform/lifecycle.go
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/cloudup/terraform/target_json.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XXL, area/provider/aws, area/provider/gcp, area/provider/digitalocean, area/provider/spotinst

#13035 Fix various typos related to karpenter
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13038 Kube components log to stdout
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-scheduler.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13040 Identify pending instances
  pkg/nodeidentity/aws/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13039 Add managed-by label to static kube-proxy pods
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13037 Prefix karpenter logging-config name
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13041 Automated cherry pick of #13039: Add managed-by label to static kube-proxy pods
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13042 Automated cherry pick of #13038: Kube components log to stdout
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-scheduler.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13043 gce: don't set per-IG permissions when using shared account
  pkg/model/gcemodel/storageacl.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#13036 Add documentation on karpenter
  docs/addons.md
  docs/operations/karpenter.md
  docs/releases/1.24-NOTES.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#13017 external CCM for GCE
  pkg/model/components/BUILD.bazel
  pkg/model/components/gcpcloudcontrollermanager.go
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13044 Automated cherry pick of #13017: external CCM for GCE
  pkg/model/components/BUILD.bazel
  pkg/model/components/gcpcloudcontrollermanager.go
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13032 Fix OpenStack SecurityGroupRule/LB When CIDR is IPv6
  upup/pkg/fi/cloudup/openstacktasks/BUILD.bazel
  upup/pkg/fi/cloudup/openstacktasks/lblistener.go
  upup/pkg/fi/cloudup/openstacktasks/securitygrouprule.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, ok-to-test

#13046 Automated cherry pick of #13032: Fix OpenStack SecurityGroupRule/LB with IPv6 CIDR
  upup/pkg/fi/cloudup/openstacktasks/BUILD.bazel
  upup/pkg/fi/cloudup/openstacktasks/lblistener.go
  upup/pkg/fi/cloudup/openstacktasks/securitygrouprule.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, ok-to-test

#13050 Bump Cluster Autoscaler and update manifest
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13053 Automated cherry pick of #13050: Bump Cluster Autoscaler and update manifest
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13054 Remove the v1alpha3 API version
  docs/releases/1.23-NOTES.md
  pkg/apis/kops/install/BUILD.bazel
  pkg/apis/kops/install/install.go
  tests/codecs/BUILD.bazel
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/integration_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M

#13031 Use instance requirements with Karpenter
  cloudmock/aws/mockec2/instances.go
  cmd/kops/integration_test.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/update_cluster/karpenter/data/aws_launch_template_karpenter-nodes-default.minimal.example.com_user_data
  tests/integration/update_cluster/karpenter/data/aws_launch_template_karpenter-nodes-single-machinetype.minimal.example.com_user_data
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_bucket_object_nodeupconfig-karpenter-nodes-single-machinetype_content
  tests/integration/update_cluster/karpenter/in-v1alpha2.yaml
  tests/integration/update_cluster/karpenter/kubernetes.tf
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/helper.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/aws, area/addons

#13056 force update dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#13055 force update dependencies
  go.mod
  go.sum
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#13062 Enhance AddHostPathMapping to support a fluent style
  nodeup/pkg/model/convenience.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  pkg/kubemanifest/volumes.go
  pkg/model/components/etcdmanager/model.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#12727 addons: support for kopeio-networking addon
  channels/alpha
  channels/packages/operator.coredns.addons.x-k8s.io/0.1.0-kops.1/manifest.yaml
  channels/packages/operator.networking.addons.kope.io/0.1.0-kops.1/manifest.yaml
  cmd/kops/BUILD.bazel
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/channel.go
  pkg/apis/kops/util/versions.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/kubemanifest/manifest.go
  pkg/wellknownoperators/BUILD.bazel
  pkg/wellknownoperators/operators.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XL, area/channels, kind/office-hours
