Repository kubernetes/kops, pull requests merged in 2021-04, with the labels that each got.

#11164 Automated cherry pick of #11160: Add an option to skip NTP installation
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/ntp.go
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/cluster.go
  pkg/apis/kops/ntpconfig.go
  pkg/apis/kops/v1alpha2/BUILD.bazel
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/ntpconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, area/documentation, area/nodeup, cncf-cla: yes, lgtm, size/L

#11167 kubetest2 - Pass GOPATH when building kops
  tests/e2e/kubetest2-kops/builder/build.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11169 Filter kOps NatGateways from route table
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/natgateway.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11152 Allow setting dedicated apiserver node count from create cluster cmd
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#11174 Update Go to v1.16.3
  .github/workflows/main.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#11175 Add integration test for aws lb controller
  cmd/kops/integration_test.go
  tests/integration/update_cluster/aws-lb-controller/README.md
  tests/integration/update_cluster/aws-lb-controller/ca.crt
  tests/integration/update_cluster/aws-lb-controller/ca.key
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/aws-lb-controller/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/aws-lb-controller/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/aws-lb-controller/id_rsa.pub
  tests/integration/update_cluster/aws-lb-controller/in-v1alpha2.yaml
  tests/integration/update_cluster/aws-lb-controller/kubernetes.tf
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#11177 Increase timeout and update images for postsubmit job
  cloudbuild.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#11178 Kubetest2 - Add flag to expose cluster validation wait time
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11179 Spotinst: Use BDM to configure the root volume size at VNG level
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#11181 Spotinst: Configure headroom resources only at the VNG level
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#11182 Automated cherry pick of #11179: fix(spot/ocean): configure root volume size using bdm
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11183 Automated cherry pick of #11181: fix(spot/ocean): configure headroom resources only at the vng
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11188 Update k8s dependencies to v1.21.0
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  vendor/k8s.io/client-go/plugin/pkg/client/auth/BUILD.bazel
  vendor/k8s.io/client-go/plugin/pkg/client/auth/plugins_providers.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/certwatcher/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/certwatcher/certwatcher.go
  vendor/sigs.k8s.io/controller-runtime/pkg/certwatcher/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/handler/enqueue.go
  vendor/sigs.k8s.io/controller-runtime/pkg/handler/enqueue_mapped.go
  vendor/sigs.k8s.io/controller-runtime/pkg/handler/enqueue_owner.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/recorder/recorder.go
  vendor/sigs.k8s.io/controller-runtime/pkg/source/source.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/internal/certwatcher/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/server.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#11191 Release 1.19.2
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#11192 Release 1.20.0
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#11193 Release notes for 1.19.2
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#11057 Update node local dns cache
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/provider/openstack, cncf-cla: yes, lgtm, size/XS

#11190 Correct typos
  docs/cluster_spec.md
  tests/e2e/kubetest2-kops/deployer/up_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11189 Update cilium.md
  docs/networking/cilium.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11196 Release notes for 1.20.0
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#11198 Docs: Remove 'prerelease' warning from 1.20
  docs/releases/1.19-NOTES.md
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11200 Kubetest2 - Create project-specific state store buckets in GCP
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/template.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/gce/gcs.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#11201 Update release compatibility matrix
  docs/welcome/releases.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#11203 Remove Calico bgppeer KeepOriginalNextHop default
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#11210 Kubetest2 - Set KOPS_BASE_URL to --build's stage location
  tests/e2e/kubetest2-kops/deployer/build.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11195 Update Docker to v20.10.5
  cmd/kops/create_cluster_integration_test.go
  pkg/model/components/docker.go
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/options.yaml
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, area/channels, area/documentation, cncf-cla: yes, lgtm, size/L

#11207 Rename the service account key
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/secrets.go
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/pki.go
  upup/pkg/fi/nodeup/loader.go
  upup/pkg/fi/vfs_castore.go
Labels: approved, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11212 Kubetest2 - detect errors creating GCS bucket
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/gce/gcs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11215 Kubetest2 - Ensure the bucket path is the final gsutil arg
  tests/e2e/kubetest2-kops/gce/gcs.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11218 Update IG tutorial for per-AZ node groups
  docs/tutorial/working-with-instancegroups.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11221 Automated cherry pick of #11220: Use "string" for architecture type in ChannelRecommendedImage
  pkg/util/templater/template_functions.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11220 Use "string" for architecture type in ChannelRecommendedImage
  pkg/util/templater/template_functions.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11185 Always secure api -> kubelet communication
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
Labels: approved, area/documentation, area/nodeup, cncf-cla: yes, kind/bug, lgtm, size/M

#11222 Automated cherry pick of #11185: Use secure kubelet auth
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#11225 Fix etcd volume validation logic
  pkg/model/BUILD.bazel
  pkg/model/master_volumes.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11223 Automated cherry pick of #11185: Use secure kubelet auth
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#11226 Automated cherry pick of #11225: Fix etcd volume validation logic
  pkg/model/BUILD.bazel
  pkg/model/master_volumes.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11229 Replace k8s.io/utils/mount with k8s.io/mount-utils
  go.mod
  go.sum
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/context.go
  nodeup/pkg/model/volumes.go
  protokube/pkg/hostmount/BUILD.bazel
  protokube/pkg/hostmount/nsenter_linux.go
  protokube/pkg/hostmount/nsenter_unsupported.go
  protokube/pkg/protokube/BUILD.bazel
  protokube/pkg/protokube/volume_mounter.go
  vendor/k8s.io/mount-utils/BUILD.bazel
  vendor/k8s.io/mount-utils/LICENSE
  vendor/k8s.io/mount-utils/OWNERS
  vendor/k8s.io/mount-utils/README.md
  vendor/k8s.io/mount-utils/SECURITY_CONTACTS
  vendor/k8s.io/mount-utils/code-of-conduct.md
  vendor/k8s.io/mount-utils/doc.go
  vendor/k8s.io/mount-utils/fake_mounter.go
  vendor/k8s.io/mount-utils/go.mod
  vendor/k8s.io/mount-utils/go.sum
  vendor/k8s.io/mount-utils/mount.go
  vendor/k8s.io/mount-utils/mount_helper_common.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_helper_windows.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/mount-utils/mount_unsupported.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/k8s.io/mount-utils/resizefs_linux.go
  vendor/k8s.io/mount-utils/resizefs_unsupported.go
  vendor/modules.txt
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#11231 Release 1.21.0-alpha.3
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/anonymous-issuer-discovery.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#11232 fix a typo
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11233 Release notes for 1.21.0-alpha.3
  docs/release-process.md
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11234 Automated cherry pick of #11228: Remove validations for EBS from cluster validation
  pkg/apis/kops/validation/cluster.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#11228 Remove validations for EBS from cluster validation
  pkg/apis/kops/validation/cluster.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/S

#11238 Correct typos
  docs/cluster_spec.md
  tests/e2e/kubetest2-kops/deployer/up_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11161 'sv' may have 'nil' or other unexpected value
  pkg/model/context.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, tide/merge-method-squash

#11080 Logging cleanup
  protokube/pkg/protokube/channels.go
  upup/pkg/fi/executor.go
  upup/pkg/fi/task.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11186 Update kops_create_secret_dockerconfig.md
  cmd/kops/create_secret_dockerconfig.go
  docs/cli/kops_create_secret_dockerconfig.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10672 Remove BLM banner
  docs/overrides/main.html
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11240 Run tests only in zones with increased limits
  tests/e2e/kubetest2-kops/aws/zones.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11227 Give kOps CLI knowledge about ASG warm pools
  cloudmock/aws/mockautoscaling/api.go
  cloudmock/aws/mockautoscaling/group.go
  cmd/kops/get_instances.go
  pkg/cloudinstances/cloud_instance.go
  pkg/cloudinstances/cloud_instance_group.go
  pkg/instancegroups/BUILD.bazel
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/instancegroups/rollingupdate_warmpool_test.go
  pkg/resources/digitalocean/cloud.go
  pkg/resources/spotinst/resources.go
  pkg/validation/validate_cluster.go
  upup/pkg/fi/cloudup/aliup/status.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/azure/status.go
  upup/pkg/fi/cloudup/openstack/server_group.go
Labels: approved, area/nodeup, area/provider/alicloud, area/provider/aws, area/provider/azure, area/provider/digitalocean, area/provider/openstack, area/provider/spotinst, area/rolling-update, cncf-cla: yes, lgtm, size/L

#11239 Fix golint issue caused by typo
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/v1alpha2/networking.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11241 Remove unused constants
  pkg/apis/kops/v1alpha2/instancegroup.go
Labels: approved, area/api, cncf-cla: yes, kind/cleanup, lgtm, size/M

#11245 Bump k8s versions with April 2021 releases in Alpha channel
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#11247 Update kOps recommended versions and images
  channels/alpha
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/L

#11250 Kubetest2 - Cleanup leaked resources from previous clusters
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11249 Run tests in all regions with increased limits
  tests/e2e/kubetest2-kops/aws/zones.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11257 Don't set NeedUpdate on first addon install
  channels/pkg/channels/addon.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#11255 Make it possible to detect field changes when mixedInstancePolicy is removed
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/dryrun_target.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/S

#11263 Update rolling update documentation
  docs/operations/rolling-update.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11258 Pre-pull cilium and kube-proxy in warming mode
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_proxy_test.go
  nodeup/pkg/model/networking/cilium.go
  nodeup/pkg/model/tests/golden/minimal/tasks-warmpool.yaml
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/pull_image.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#11248 [cilium] Add support for choosing resources
  docs/contributing/adding_a_feature.md
  docs/networking/cilium.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M

#11264 Add install section to kubelet unit
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  nodeup/pkg/model/tests/kubelet/warmpool/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11266 Update terraform and cloudformation lint versions
  hack/verify-cloudformation.sh
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11270 Fix cilium template scoping typo
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11271 Add Azure image to alpha/stable channel
  channels/alpha
  channels/stable
  pkg/apis/kops/channel.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, area/api, area/channels, cncf-cla: yes, lgtm, ok-to-test, size/S

#11272 Automated cherry pick of #11271: Add Azure image to alpha/stable channel
  pkg/apis/kops/channel.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#11273 Exclude nodes from load balancers upon cordoning
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, kind/bug, lgtm, size/M

#11235 Make it possible to enable/configure warm pool
  cloudmock/aws/mockautoscaling/BUILD.bazel
  cloudmock/aws/mockautoscaling/warmpool.go
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/warmpool.go
  upup/pkg/fi/cloudup/awstasks/warmpool_fitask.go
Labels: approved, area/api, area/nodeup, area/provider/alicloud, area/provider/aws, area/provider/azure, area/provider/digitalocean, area/provider/openstack, area/provider/spotinst, area/rolling-update, cncf-cla: yes, lgtm, size/L

#11275 Automated cherry pick of #11273: Exclude nodes from load balancers upon cordoning
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, lgtm, size/M

#11274 Automated cherry pick of #11273: Exclude nodes from load balancers upon cordoning
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: approved, area/rolling-update, cncf-cla: yes, lgtm, size/M

#11276 If one tries to use eip with a public ip that doesn't exist, fail
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#11277 Automated cherry pick of #11270: Fix cilium template scoping typo
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#11278 Automated cherry pick of #11276: If one tries to use eip with a public ip that doesn't exist,
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#11286 Spotinst: Update spotinst/ocean-controller to v1.0.74
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#11293 Apiserver fixes
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, area/nodeup, cncf-cla: yes, lgtm, size/M

#11289 Spotinst: Prevent nil pointer dereference
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#11294 Automated cherry pick of #11289: fix(spot/elastigroup): prevent nil pointer dereference
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#11287 Automated cherry pick of #11286: feat(spot/addon): bump ocean-controller to 1.0.74
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11296 fix: create.go doesnt add --name flag to the prompt: kops update cluster
  cmd/kops/create.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11285 Make warm pool no ASG found error retryable
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#11261 Automated cherry pick of #11255: Make it possible to detect field changes when
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/dryrun_target.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11262 Automated cherry pick of #11255: Make it possible to detect field changes when
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/dryrun_target.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11300 Document the newly required SQS permissions for NTH
  docs/addons.md
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11303 fix permissions required for NTH Queue Processor
  docs/addons.md
  docs/releases/1.21-NOTES.md
  pkg/resources/aws/eventbridge.go
Labels: approved, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, needs-ok-to-test, size/M

#11301 bump NTH to 1.13.0
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#11184 Add GCE Router task
  cmd/kops/integration_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/network.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_private/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/BUILD.bazel
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/gcetasks/router.go
  upup/pkg/fi/cloudup/gcetasks/router_fitask.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#11281 Add ability to set a default Issuer in certManager addon
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#11308 Automated cherry pick of #11281: Add ability to set a default Issuer in certManager addon
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#11310 Automated cherry pick of #11305: Update seeds.go
  protokube/pkg/gossip/openstack/seeds.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11305 Filter servers using cluster name in tags
  protokube/pkg/gossip/openstack/seeds.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11307 Add warm pool docs and release notes
  docs/instance_groups.md
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11309 Automated cherry pick of #11305: Update seeds.go
  protokube/pkg/gossip/openstack/seeds.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11312 Use the full operator instead of the generic one
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#11315 Automated cherry pick of #11312: Use the full operator instead of the generic one
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11313 Improve warm pool documentation
  docs/instance_groups.md
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11317 Disallow negative warmpool sizes
  pkg/apis/kops/validation/instancegroup.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#11318 Promote channel alpha to stable
  channels/alpha
  channels/stable
  pkg/apis/kops/channel.go
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/api, area/channels, cncf-cla: yes, lgtm, size/L

#11319 [metrics-server] Bump manifest to latest stable
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#11316 Allow disabling warm pool by setting WarmPool.MaxSize to 0
  pkg/apis/kops/instancegroup.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/iam.go
  upup/pkg/fi/nodeup/command.go
Labels: approved, area/api, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11321 Fix typo
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/iam.go
  upup/pkg/fi/nodeup/command.go
Labels: approved, area/api, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11304 [csi/aws] Bump templates + add support for warm pools
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/awsebscsidriver.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/awsebscsidriver.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/nodeup/command.go
Labels: approved, area/addons, area/api, area/nodeup, cncf-cla: yes, lgtm, ok-to-test, size/L

#11322 Add cluster-level warmPool settings
  docs/instance_groups.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/cluster.go
  pkg/apis/kops/cluster_test.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/iam.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/nodeup/command.go
Labels: approved, area/api, area/documentation, area/nodeup, area/provider/aws, cncf-cla: yes, lgtm, size/L

#11326 Fix arguments to csi-provisioner after bump to v2.2.0
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10847 kubetest2: Infer the provider and zones from the kops cluster
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/pkg/kops/download.go
  tests/e2e/pkg/kops/state.go
  tests/e2e/pkg/tester/tester.go
  tests/e2e/pkg/tester/tester_test.go
  tests/e2e/pkg/util/copy.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#11333 Add support for configuring Cilium enable-host-reachable-services.
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/commands/set_cluster_test.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#11335 Fix lifecycle hook naming
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinglifecyclehook.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11334 Update Calico to v3.17.4 for kOps 1.19
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11327 Recognize Ubuntu 21.04
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/ubuntu2104/etc/os-release
Labels: approved, cncf-cla: yes, lgtm, size/S

#11337 Add `enable-host-reachable-services` to 1.8 and generic cilium.
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11331 Don't try to delete warm pool when creating the cluster
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#11339 Update Calico to v3.18.2
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11340 Automated cherry pick of #11339: Update Calico to v3.18.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11336 Fix SQS resource flapping
  pkg/model/awsmodel/nodeterminationhandler.go
  tests/integration/update_cluster/nth_sqs_resources/cloudformation.json
  tests/integration/update_cluster/nth_sqs_resources/data/aws_sqs_queue_nthsqsresources-example-com-nth_policy
  upup/pkg/fi/cloudup/awstasks/sqs.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#11342 Update controller-runtime to v0.9.0-beta.0
  go.mod
  go.sum
  tests/e2e/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/Makefile
  vendor/sigs.k8s.io/controller-runtime/README.md
  vendor/sigs.k8s.io/controller-runtime/go.mod
  vendor/sigs.k8s.io/controller-runtime/go.sum
  vendor/sigs.k8s.io/controller-runtime/pkg/builder/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/deleg_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/metadata_infomer_wrapper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/selector.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/apimachinery.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/client_cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interfaces.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/watch.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/log/warning_handler.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/internal/metrics/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/internal/metrics/metrics.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/server.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11343 Automated cherry pick of #11328: Set SAN for addon CAs
  channels/pkg/channels/addon.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#11328 Set SAN for addon CAs
  channels/pkg/channels/addon.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#11338 Update kubetest2 dependency and fix install method for upgrade scenario
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11344 Bump cilium to 1.9.6
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11348 Automated cherry pick of #11333: Add support for configuring Cilium #11337: Add `enable-host-reachable-services` to 1.8 and generic
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/commands/set_cluster_test.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/M

#11350 Fix upgrade scenario kubetest2 install
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11351 Fix kubetest2 panic inheriting env vars
  tests/e2e/kubetest2-kops/deployer/common.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11352 Mount /run inside etcd-manager pods for systemd mounts
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#11357 Update deps
  go.mod
  go.sum
  tests/e2e/go.sum
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/create_load_balancer_tcp_listener.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/create_load_balancer_udp_listener.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/describe_load_balancer_tcp_listener_attribute.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/describe_load_balancer_udp_listener_attribute.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/set_load_balancer_tcp_listener_attribute.go
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/services/slb/set_load_balancer_udp_listener_attribute.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/eventstream/eventstreamapi/writer.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/api.go
  vendor/github.com/denverdino/aliyungo/common/client.go
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/oauth2/authhandler/BUILD.bazel
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/BUILD.bazel
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/sys/cpu/asm_aix_ppc64.s
  vendor/golang.org/x/sys/cpu/cpu_arm64.s
  vendor/golang.org/x/sys/cpu/cpu_s390x.s
  vendor/golang.org/x/sys/cpu/cpu_x86.s
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_illumos_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/k8s.io/cloud-provider-openstack/pkg/cloudprovider/providers/openstack/metrics/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/cloudprovider/providers/openstack/metrics/metrics.go
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics.go
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics_api.go
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics_reconcile.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/keymanager.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/loadbalancer.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/network.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#11349 Ignore detached nodes when doing validate cluster
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#11358 Move firewall, iam, network and sshkey to awsmodel
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/external_access.go
  pkg/model/awsmodel/firewall.go
  pkg/model/awsmodel/firewall_test.go
  pkg/model/awsmodel/iam.go
  pkg/model/awsmodel/iam_test.go
  pkg/model/awsmodel/network.go
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/awsmodel/sshkey.go
  pkg/model/bootstrapscript_test.go
  pkg/model/context.go
  pkg/model/convenience.go
  pkg/model/master_volumes.go
  pkg/model/names.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/BUILD.bazel
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#11360 [addons/nth] Add capability to define resources
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/nodeterminationhandler.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#11353 Automated cherry pick of #11352: Mount /run inside etcd-manager pods for systemd mounts
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#11359 Split oidc_provider
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/issuerdiscovery.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#11314 Expose hubble agent when hubble is enabled
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, area/api, cncf-cla: yes, kind/bug, lgtm, size/L

#11362 Use VFS as service account issuer if configured
  cmd/kops/integration_test.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/subject.go
  tests/integration/update_cluster/public-jwks-apiserver/README.md
  tests/integration/update_cluster/public-jwks-apiserver/ca.crt
  tests/integration/update_cluster/public-jwks-apiserver/ca.key
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/id_rsa.pub
  tests/integration/update_cluster/public-jwks-apiserver/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/vfs-said/README.md
  tests/integration/update_cluster/vfs-said/ca.crt
  tests/integration/update_cluster/vfs-said/ca.key
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/vfs-said/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/vfs-said/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/vfs-said/id_rsa.pub
  tests/integration/update_cluster/vfs-said/in-v1alpha2.yaml
  tests/integration/update_cluster/vfs-said/kubernetes.tf
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#11354 Allow cert-manager to be provisioned externally
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/M
