Repository kubernetes/kops, pull requests merged in 2021-03, with the labels that each got.

#10949 Update etcd-manager to 3.0.20210228
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10950 Automated cherry pick of #10949: Update etcd-manager to 3.0.20210228
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#10944 gce doesn't suffix the IG names with ClusterName
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10948 Add AWS Transit Gateway support
  cloudmock/aws/mockec2/routetable.go
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/model/network.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/route.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10935 Fix node label conversion in Azure
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/context_test.go
  pkg/nodeidentity/azure/BUILD.bazel
  pkg/nodeidentity/azure/identify.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/M

#10956 Automated cherry pick of #10828: validation.go: remove checks on CNI
  pkg/apis/kops/validation/validation.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#10958 Automated cherry pick of #10828: validation.go: remove checks on CNI
  pkg/apis/kops/validation/validation.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#10828 Allow multi-CNI setups to set usesSecondaryIP
  pkg/apis/kops/validation/validation.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S, tide/merge-method-squash

#10960 Spotinst: Bump the Ocean Controller to 1.0.73
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10961 Spotinst: Don't skip LB attachments when SpotinstHybrid is enabled
  pkg/model/awsmodel/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10955 Update Calico to v3.17.3 for kOps 1.19
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10964 Automated cherry pick of #10961: fix: don't skip lb attachments when hybrid is enabled
  pkg/model/awsmodel/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10953 Automated cherry pick of #10948: Add support for defining a transit gateway for a default
  cloudmock/aws/mockec2/routetable.go
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/model/network.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/route.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10954 Automated cherry pick of #10944: gce doesn't suffix the IG names with ClusterName
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#10952 Automated cherry pick of #10935: Fix node label conversion in Azure
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/context_test.go
  pkg/nodeidentity/azure/BUILD.bazel
  pkg/nodeidentity/azure/identify.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#10962 Automated cherry pick of #10960: feat(spot/addon): bump ocean-controller to 1.0.73
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10966 Add explicit RBAC permissions for finalizers subresources
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10921 Fix typos in docs/getting_started
  docs/getting_started/digitalocean.md
  docs/getting_started/production.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10934 Add support for CPU Credits on AWS t2 and t3 instance families
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/instancegroup.nodes.overrides.txt
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10957 Add support for enable-cadvisor-json-endpoints with Kubelet
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/S

#10969 Automated cherry pick of #10957: Add support for enable-cadvisor-json-endpoints with Kubelet
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10970 Automated cherry pick of #10957: Add support for enable-cadvisor-json-endpoints with Kubelet
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10972 Automated cherry pick of #10966: Add explicit RBAC permissions for finalizers subresources
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10971 Automated cherry pick of #10966: Add explicit RBAC permissions for finalizers subresources
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10968 Automated cherry pick of #10934: Add new CPUCredits field to instance group spec
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10965 Update k8s.io Go modules to v0.20.4
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/containerd/containerd/errdefs/errors.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/container_top.go
  vendor/github.com/docker/docker/api/types/volume.go
  vendor/github.com/docker/docker/api/types/volume/volume_create.go
  vendor/github.com/docker/docker/api/types/volume/volume_list.go
  vendor/github.com/docker/docker/client/client_unix.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/spf13/jwalterweatherman/.gitignore
  vendor/github.com/spf13/jwalterweatherman/default_notepad.go
  vendor/github.com/spf13/jwalterweatherman/go.mod
  vendor/github.com/spf13/jwalterweatherman/log_counter.go
  vendor/github.com/spf13/jwalterweatherman/notepad.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  vendor/k8s.io/legacy-cloud-providers/gce/BUILD.bazel
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10892 Update Go to v1.16
  .github/workflows/main.yml
  Makefile
  WORKSPACE
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/M

#10650 Add a note about informal office hours
  docs/welcome/office_hours.md
Labels: approved, area/documentation, cncf-cla: yes, kind/office-hours, lgtm, size/S

#10978 Removing duplicate local and output values in terraform(#10786)
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraform/target_hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_json.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#10979 Automated cherry pick of #10978: Removing duplicate local and output values in
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraform/target_hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_json.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10980 Automated cherry pick of #10978: Removing duplicate local and output values in
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/target_0_11.go
  upup/pkg/fi/cloudup/terraform/target_0_12.go
  upup/pkg/fi/cloudup/terraform/target_0_12_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10976 Add CloudLabels as --extra-tags to aws-ebs-csi driver
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S

#10981 Automated cherry pick of #10976: Add CloudLabels as --extra-tags to aws-ebs-csi driver
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10984 Automated cherry pick of #10982: Disable Calico Prometheus metrics by default
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10891 Automated cherry pick of #10888: Use internal api url for jwks when required
  pkg/model/iam/subject.go
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_launch_template_master-us-test-1a.masters.bastionuserdata.example.com_user_data
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/compress/data/aws_launch_template_master-us-test-1a.masters.compress.example.com_user_data
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1a.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1b.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1c.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1a.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1b.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1c.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/externallb/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/externallb/data/aws_launch_template_master-us-test-1a.masters.externallb.example.com_user_data
  tests/integration/update_cluster/externalpolicies/data/aws_launch_template_master-us-test-1a.masters.externalpolicies.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1a.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1b.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1c.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/launch_templates/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1a.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1b.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1c.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-json/data/aws_launch_template_master-us-test-1a.masters.minimal-json.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/mixed_instances/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_master-us-test-1a.masters.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-subnet/data/aws_launch_template_master-us-test-1a.masters.private-shared-subnet.example.com_user_data
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecanal/data/aws_launch_template_master-us-test-1a.masters.privatecanal.example.com_user_data
  tests/integration/update_cluster/privatecilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/data/aws_launch_template_master-us-test-1a.masters.privateciliumadvanced.example.com_user_data
  tests/integration/update_cluster/privatedns1/data/aws_launch_template_master-us-test-1a.masters.privatedns1.example.com_user_data
  tests/integration/update_cluster/privatedns2/data/aws_launch_template_master-us-test-1a.masters.privatedns2.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_master-us-test-1a.masters.privateflannel.example.com_user_data
  tests/integration/update_cluster/privatekopeio/data/aws_launch_template_master-us-test-1a.masters.privatekopeio.example.com_user_data
  tests/integration/update_cluster/privateweave/data/aws_launch_template_master-us-test-1a.masters.privateweave.example.com_user_data
  tests/integration/update_cluster/shared_subnet/data/aws_launch_template_master-us-test-1a.masters.sharedsubnet.example.com_user_data
  tests/integration/update_cluster/shared_vpc/data/aws_launch_template_master-us-test-1a.masters.sharedvpc.example.com_user_data
  tests/integration/update_cluster/unmanaged/data/aws_launch_template_master-us-test-1a.masters.unmanaged.example.com_user_data
Labels: approved, cncf-cla: yes, lgtm, size/L

#10888 Use internal api url for jwks
  pkg/model/iam/subject.go
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_launch_template_master-us-test-1a.masters.bastionuserdata.example.com_user_data
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/compress/data/aws_launch_template_master-us-test-1a.masters.compress.example.com_user_data
  tests/integration/update_cluster/containerd-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/containerd/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1a.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1b.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam/data/aws_launch_template_master-us-test-1c.masters.existing-iam.example.com_user_data
  tests/integration/update_cluster/existing_iam_cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1a.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1b.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/existing_sg/data/aws_launch_template_master-us-test-1c.masters.existingsg.example.com_user_data
  tests/integration/update_cluster/externallb/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/externallb/data/aws_launch_template_master-us-test-1a.masters.externallb.example.com_user_data
  tests/integration/update_cluster/externalpolicies/data/aws_launch_template_master-us-test-1a.masters.externalpolicies.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1a.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1b.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha/data/aws_launch_template_master-us-test-1c.masters.ha.example.com_user_data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/launch_templates/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1a.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1b.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_master-us-test-1c.masters.launchtemplates.example.com_user_data
  tests/integration/update_cluster/minimal-cloudformation/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-json/data/aws_launch_template_master-us-test-1a.masters.minimal-json.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/mixed_instances/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1a.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1b.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/mixed_instances_spot/data/aws_launch_template_master-us-test-1c.masters.mixedinstances.example.com_user_data
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/private-shared-ip/data/aws_launch_template_master-us-test-1a.masters.private-shared-ip.example.com_user_data
  tests/integration/update_cluster/private-shared-subnet/data/aws_launch_template_master-us-test-1a.masters.private-shared-subnet.example.com_user_data
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecanal/data/aws_launch_template_master-us-test-1a.masters.privatecanal.example.com_user_data
  tests/integration/update_cluster/privatecilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/data/aws_launch_template_master-us-test-1a.masters.privateciliumadvanced.example.com_user_data
  tests/integration/update_cluster/privatedns1/data/aws_launch_template_master-us-test-1a.masters.privatedns1.example.com_user_data
  tests/integration/update_cluster/privatedns2/data/aws_launch_template_master-us-test-1a.masters.privatedns2.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_master-us-test-1a.masters.privateflannel.example.com_user_data
  tests/integration/update_cluster/privatekopeio/data/aws_launch_template_master-us-test-1a.masters.privatekopeio.example.com_user_data
  tests/integration/update_cluster/privateweave/data/aws_launch_template_master-us-test-1a.masters.privateweave.example.com_user_data
  tests/integration/update_cluster/shared_subnet/data/aws_launch_template_master-us-test-1a.masters.sharedsubnet.example.com_user_data
  tests/integration/update_cluster/shared_vpc/data/aws_launch_template_master-us-test-1a.masters.sharedvpc.example.com_user_data
  tests/integration/update_cluster/unmanaged/data/aws_launch_template_master-us-test-1a.masters.unmanaged.example.com_user_data
Labels: approved, cncf-cla: yes, kind/office-hours, lgtm, size/L

#10983 Automated cherry pick of #10982: Disable Calico Prometheus metrics by default
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10982 Disable Calico Prometheus metrics by default
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10975 Add etcd-manager discoveryPollInterval option
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/etcdmanager/tests/pollinterval/cluster.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
Labels: approved, area/api, cncf-cla: yes, lgtm, ok-to-test, size/L

#10986 Automated cherry pick of #10630: fix(spot/ocean): avoid unnecessary duplication of tasks
  pkg/model/spotinstmodel/instance_group.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/S

#10987 Remove manually added labels from addons
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.kope.io/k8s-1.12.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.kope.io/k8s-1.12.yaml
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, kind/cleanup, lgtm, size/L

#10985 Automated cherry pick of #10975: Add etcd-manager discoveryPollInterval option
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/etcdmanager/tests/pollinterval/cluster.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#10988 Fix kops-controller rbac due to leader election change
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10579 Various cleanups around apply_cluster and awsmodel
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/bastion.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/external_access.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/spotinstmodel/BUILD.bazel
  pkg/model/spotinstmodel/OWNERS
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/provider/aws, area/provider/spotinst, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#10990 Fix very minor formatting typos in docs/manifests_and_customizing_via_api
  docs/manifests_and_customizing_via_api.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10994 kubetest2 - don't overwrite create args that use equals signs
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/deployer/up_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10937 Remove support for launch configurations
  cloudmock/aws/mockautoscaling/BUILD.bazel
  cloudmock/aws/mockautoscaling/launchconfigurations.go
  cmd/kops/integration_test.go
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/featureflag/featureflag.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/context.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/launch_templates/cloudformation.json
  tests/integration/update_cluster/launch_templates/data/aws_iam_role_masters.launchtemplates.example.com_policy
  tests/integration/update_cluster/launch_templates/data/aws_iam_role_nodes.launchtemplates.example.com_policy
  tests/integration/update_cluster/launch_templates/data/aws_iam_role_policy_masters.launchtemplates.example.com_policy
  tests/integration/update_cluster/launch_templates/data/aws_iam_role_policy_nodes.launchtemplates.example.com_policy
  tests/integration/update_cluster/launch_templates/data/aws_key_pair_kubernetes.launchtemplates.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/launch_templates/data/aws_launch_configuration_nodes.launchtemplates.example.com_user_data
  tests/integration/update_cluster/launch_templates/id_rsa.pub
  tests/integration/update_cluster/launch_templates/in-v1alpha2.yaml
  tests/integration/update_cluster/launch_templates/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration_fitask.go
  upup/pkg/fi/cloudup/awstasks/launchconfiguration_test.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/XXL

#10996 Use exponential backoff for DNS updates
  dns-controller/pkg/dns/dnscontroller.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11002 Storage: Amend default choice for StorageClass management to honor a specified OpenStack-related value
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/cloudconfiguration.go
  pkg/model/components/cloudconfiguration_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#11003 Automated cherry pick of #11002: Honor an OpenStack StorageClass management choice
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/cloudconfiguration.go
  pkg/model/components/cloudconfiguration_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#11004 Add to 1.21 release notes
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11006 Kubetest2 - Add support for publishing the kops version marker
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/publish.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#11007 Kubetest2 - Fix kops' --kubernetes-version with k8s version markers
  tests/e2e/e2e.mk
  tests/e2e/pkg/version/kubernetes.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11005 Don't build kops during periodic upgrade tests
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11011 Remove trailing newline from kubernetes version marker
  tests/e2e/pkg/version/kubernetes.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10999 Automated cherry pick of #10996: Use exponential backoff for DNS updates
  dns-controller/pkg/dns/dnscontroller.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10998 Automated cherry pick of #10996: Use exponential backoff for DNS updates
  dns-controller/pkg/dns/dnscontroller.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11017 Kubetest2 - use same kops binary for all commands in upgrade scenario
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/pkg/kops/download.go
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/M

#11018 Update Calico to v3.18.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11019 Automated cherry pick of #11018: Update Calico to v3.18.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#11020 Increase route53 retry count from 3 to 5
  dnsprovider/pkg/dnsprovider/providers/aws/route53/route53.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11025 Automated cherry pick of #10579: Set ssh key on the model context in one location
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/bastion.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/external_access.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/spotinstmodel/BUILD.bazel
  pkg/model/spotinstmodel/OWNERS
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, size/XL

#11028 Automated cherry pick of #11009: feat(spot/ocean): support for block device mappings in
  go.mod
  go.sum
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/BUILD.bazel
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/BUILD.bazel
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/elastigroup.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/azure.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/v3/BUILD.bazel
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/v3/azure.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/v3/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launch_spec_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/launch_spec.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/BUILD.bazel
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/credentials/provider_file.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/github.com/stretchr/testify/assert/BUILD.bazel
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/gopkg.in/ini.v1/section.go
  vendor/gopkg.in/ini.v1/struct.go
  vendor/modules.txt
Labels: approved, area/provider/aws, area/provider/spotinst, cncf-cla: yes, lgtm, size/XXL

#11026 Allow cilium 1.10
  pkg/apis/kops/validation/validation.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#11030 Automated cherry pick of #11027: Fix rendering of multiple Docker insecure registries
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11029 Automated cherry pick of #11027: Fix rendering of multiple Docker insecure registries
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11027 Fix rendering of multiple Docker insecure registries
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11031 Release 1.20.0-beta.2
  Makefile
  go.mod
  go.sum
  hack/go.sum
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  tests/e2e/go.sum
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/client/patch.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cluster/cluster.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/manager/internal.go
  vendor/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/inject/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/inject/inject.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#11015 azure: fix null pointer when updating in place cluster
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11035 Automated cherry pick of #11015: azure: fix null pointer when updating in place cluster
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS

#11034 Release notes for 1.20.0-beta.2
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11037 Trim space on kops version markers
  tests/e2e/pkg/kops/download.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10913 Honor OS update policy at InstanceGroup level too
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/update_service.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/labels.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/fi/nodeup/nodetasks/package.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#11040 Automated cherry pick of #10913: Honor OS update policy at InstanceGroup level too
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/update_service.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/labels.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/fi/nodeup/nodetasks/package.go
Labels: approved, area/api, area/nodeup, cncf-cla: yes, lgtm, size/L

#11039 Update Go to v1.16.2
  .github/workflows/main.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#11042 Create an environment file for kops-configuration systemd process
  nodeup/pkg/bootstrap/install.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#11043 Improve instance type validation error message
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11044 Revert upgrade script to build kops
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/M

#11049 cluster validation - allow flapping of validation errors
  cmd/kops/validate_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11051 Update Terraform to v0.14.8
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11052 Cleanup some nodeup & protokube logging
  channels/pkg/channels/apply.go
  protokube/pkg/protokube/kube_boot.go
  util/pkg/proxy/proxy.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#11046 Add channels entries for image architecture
  channels/alpha
  channels/stable
  cmd/kops/upgrade_cluster.go
  docs/operations/cluster_template.md
  docs/releases/1.20-NOTES.md
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/channel.go
  pkg/util/templater/BUILD.bazel
  pkg/util/templater/template_functions.go
  pkg/util/templater/templater_test.go
  tests/integration/channel/BUILD.bazel
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/channel.yaml
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, area/api, area/channels, area/documentation, cncf-cla: yes, lgtm, size/L

#11061 fix CNI bin path in troubleshoot.md
  docs/operations/troubleshoot.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11058 Automated cherry pick of #11052: Cleanup some nodeup & protokube logging
  channels/pkg/channels/apply.go
  protokube/pkg/protokube/kube_boot.go
  util/pkg/proxy/proxy.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#11060 Automated cherry pick of #11043: Improve instance type validation error message
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/S

#11065 Kubetest2 - Add GCE default SSH key values from prow jobs
  tests/e2e/kubetest2-kops/deployer/common.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11056 Automated cherry pick of #11046: Add channels entries for image architecture
  cmd/kops/upgrade_cluster.go
  docs/operations/cluster_template.md
  pkg/apis/kops/BUILD.bazel
  pkg/apis/kops/channel.go
  pkg/util/templater/BUILD.bazel
  pkg/util/templater/template_functions.go
  pkg/util/templater/templater_test.go
  tests/integration/channel/BUILD.bazel
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/channel.yaml
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: approved, area/api, area/documentation, cncf-cla: yes, lgtm, size/L

#11066 correct a word for readme
  docs/releases/1.18-NOTES.md
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11067 Install bazelisk before pushing images
  Makefile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11070 Kubetest2 - Add boskos for GCE support
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11054 Download kubectl to /opt/kops/bin on Flatcar OS
  nodeup/pkg/model/context.go
  nodeup/pkg/model/protokube.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11073 Kubetest2 - initialize boskos heartbeat channel
  tests/e2e/kubetest2-kops/deployer/deployer.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10756 Instance roles for service accounts (IRSA) contd
  cmd/kops/integration_test.go
  go.mod
  hack/go.mod
  hack/go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/components/apiserver.go
  pkg/model/components/discovery.go
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/subject.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/fitasks/managedfile.go
  util/pkg/vfs/s3fs.go
  vendor/modules.txt
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, kind/office-hours, lgtm, size/L

#11077 Kubetest2 - add more validation time for --target terraform
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11076 Fix GCE channels version constraints
  channels/alpha
  channels/stable
  docs/releases/1.20-NOTES.md
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
Labels: approved, area/channels, area/documentation, cncf-cla: yes, lgtm, size/M

#11075 Update k8s versions with March 2021 releases
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#11078 Upgrade AWS CNI to version 1.7.10
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11085 Improve error messages around PublicJWKS
  pkg/model/iam/subject.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11086 Don't add control-plane DNS permissions with UseServiceAccountIAM
  pkg/model/iam/iam_builder.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11081 Ensure a publicdatastore exists for jwks and that it can only be s3
  pkg/apis/kops/validation/legacy.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/S

#10722 Apiserver nodes
  cmd/kops/integration_test.go
  cmd/kops/rollingupdatecluster.go
  docs/cli/kops_create_instancegroup.md
  docs/cli/kops_rolling-update_cluster.md
  nodeup/pkg/model/context.go
  nodeup/pkg/model/etcd_manager_tls.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/secrets.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/parse.go
  pkg/apis/kops/util/labels.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/featureflag/featureflag.go
  pkg/instancegroups/rollingupdate.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/context.go
  pkg/model/defaults/volumes.go
  pkg/model/iam.go
  pkg/model/iam/iam_builder.go
  pkg/model/iam/subject.go
  pkg/model/names.go
  pkg/nodelabels/BUILD.bazel
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  tests/integration/update_cluster/apiservernodes/cloudformation.json
  tests/integration/update_cluster/apiservernodes/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/apiservernodes/id_rsa.pub
  tests/integration/update_cluster/apiservernodes/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/awsup/instancegroups.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/addons, area/api, area/channels, area/documentation, area/nodeup, area/provider/aws, area/provider/openstack, area/rolling-update, cncf-cla: yes, lgtm, size/XXL

#11071 fix(docs): cpuCFSQuotaPeriod needs a feature gate
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11083 Update Ubuntu 20.04 to latest AMI
  channels/alpha
  channels/stable
  pkg/util/templater/templater_test.go
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/channel.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/L

#11087 Re-add integration tests for jwks
  cmd/kops/integration_test.go
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/legacy.go
  pkg/model/iam/subject.go
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_dns-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/cluster.yaml
  upup/pkg/fi/fitasks/managedfile.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/L

#11069 Dns controller fixes
  dns-controller/README.md
  dns-controller/pkg/watchers/BUILD.bazel
  dns-controller/pkg/watchers/node.go
  dns-controller/pkg/watchers/pod_test.go
  dns-controller/pkg/watchers/testhelpers.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#11097 Remove unused RoleLabelName16
  pkg/nodelabels/builder.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10843 Add additional IOPS validation for AWS EBS gp3 volumes
  pkg/model/master_volumes.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11094 Add values page
  docs/values.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11095 Deeper validation in dns controller tests
  dns-controller/README.md
  dns-controller/pkg/watchers/BUILD.bazel
  dns-controller/pkg/watchers/pod_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11093 Ensure protokube can connect to kube-apiserver before starting the sync loop
  protokube/pkg/protokube/kube_boot.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11082 Remove dbus dependency
  nodeup/pkg/model/protokube.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11105 Automated cherry pick of #11078: Update aws-cni image to 1.7.10
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11106 Automated cherry pick of #11078: Update aws-cni image to 1.7.10
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11101 Have nodeup retry kops-controller bootstrapping sooner if DNS isn't setup
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#11103 Update AWS zones used by e2e tests
  tests/e2e/kubetest2-kops/aws/zones.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11108 Automated cherry pick of #11093: Ensure protokube can connect to kube-apiserver before
  protokube/pkg/protokube/kube_boot.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#11090 Add docs about dedicated apiserver ndoes
  docs/advanced/experimental.md
  docs/operations/scaling.md
  docs/releases/1.21-NOTES.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#11091 Put awslbcontroller on the control-plane
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
Labels: approved, area/addons, cncf-cla: yes, kind/bug, lgtm, size/XS

#11092 Automated cherry pick of #11091: Put awslbcontroller on the control-plane
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XS

#11111 Release notes for 1.21.0-alpha.2
  docs/releases/1.20-NOTES.md
  docs/releases/1.21-NOTES.md
  mkdocs.yml
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#11110 Automated cherry pick of #11101: Have nodeup retry kops-controller bootstrapping sooner if DNS
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/S

#11112 Update release process docs
  docs/release-process.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11107 Use "tag on create" for EIPs, NLBs, and TargetGroups
  cloudmock/aws/mockec2/address.go
  cloudmock/aws/mockelbv2/loadbalancers.go
  cloudmock/aws/mockelbv2/targetgroups.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#11114 Load env vars from file for kops-configuration service
  nodeup/pkg/bootstrap/BUILD.bazel
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/install_test.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#11102 [DigitalOcean] Fix DO Tag issue
  pkg/model/domodel/droplets.go
Labels: approved, area/provider/digitalocean, cncf-cla: yes, lgtm, size/XS

#11123 Kubetest2 - Setup SSH keys for GCE
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/gce/ssh.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11125 Automated cherry pick of #11124: Update kube-router to v1.2.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11127 Validate that kube-apiserver has the necessary authz modes set
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#11130 Automated cherry pick of #11127: Validate that kube-apiserver has the necessary authz modes
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#11132 Automated cherry pick of #11048: remove instance-selector label
  cmd/kops/toolbox_instance_selector.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11128 Automated cherry pick of #11048: remove instance-selector label
  cmd/kops/toolbox_instance_selector.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11048 Remove instance-selector label
  cmd/kops/toolbox_instance_selector.go
Labels: approved, cncf-cla: yes, kind/office-hours, lgtm, size/XS

#11129 Automated cherry pick of #11127: Validate that kube-apiserver has the necessary authz modes
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#11133 Kubetest2 - fix temp directory created for GCE SSH keys
  tests/e2e/kubetest2-kops/deployer/publish.go
  tests/e2e/kubetest2-kops/deployer/template.go
  tests/e2e/kubetest2-kops/gce/ssh.go
  tests/e2e/pkg/kops/download.go
  tests/e2e/pkg/target/terraform.go
  tests/e2e/pkg/tester/kubectl.go
  tests/e2e/pkg/util/zip.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11131 Automated cherry pick of #11102: Fix DO Tag issue
  pkg/model/domodel/droplets.go
Labels: approved, area/provider/digitalocean, cncf-cla: yes, lgtm, size/XS

#11134 Revert "Update kube-router to v1.2.0"
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#11119 replace hard coded aws region checks with aws sdk calls
  pkg/model/BUILD.bazel
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#11136 Automated cherry pick of #11119: replace hard coded aws region checks with aws sdk calls
  pkg/model/BUILD.bazel
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11137 Automated cherry pick of #11119: replace hard coded aws region checks with aws sdk calls
  pkg/model/BUILD.bazel
  pkg/model/iam.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11139 kubetest2 - Specify GCE network name
  tests/e2e/kubetest2-kops/aws/zones.go
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#11138 Update protokube systemd unit docs link
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/tasks-protokube.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#11140 Add scaleDownDelayAfterAdd to clusterAutoscaler spec
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#11141 Automated cherry pick of #11140: Add scaleDownDelayAfterAdd to clusterAutoscaler spec
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#11142 Update cluster_spec.md
  docs/cluster_spec.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11143 minor protokube code clean up
  protokube/cmd/protokube/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#11146 Pass ctx to drain helper
  pkg/instancegroups/instancegroups.go
Labels: approved, area/rolling-update, cncf-cla: yes, kind/bug, lgtm, size/XS

#11147 Change registrable domains to placeholders
  docs/creating_subdomain.md
  docs/examples/kops-test-route53-subdomain.md
  docs/getting_started/aws.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#11149 Add tags to instance profile and OIDC provider terraform resources
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/lifecycle_phases/network-kubernetes.tf
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal-json/kubernetes.tf.json
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofilerole.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/L

#11154 Clarify release notes around exporting kubeconfig
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#11153 Expand flag help on --user flags
  cmd/kops/export_kubecfg.go
  cmd/kops/update_cluster.go
  docs/cli/kops_export_kubecfg.md
  docs/cli/kops_update_cluster.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS
