Repository kubernetes/kops, pull requests merged in 2021-08, with the labels that each got.

#12087 Use SHA-256 for manifest hashes
  channels/pkg/api/channel.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_s3_bucket_object_bastionuserdata.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_bucket_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/compress/data/aws_s3_bucket_object_compress.example.com-addons-bootstrap_content
  tests/integration/update_cluster/existing_iam/data/aws_s3_bucket_object_existing-iam.example.com-addons-bootstrap_content
  tests/integration/update_cluster/existing_sg/data/aws_s3_bucket_object_existingsg.example.com-addons-bootstrap_content
  tests/integration/update_cluster/externallb/data/aws_s3_bucket_object_externallb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/externalpolicies/data/aws_s3_bucket_object_externalpolicies.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha/data/aws_s3_bucket_object_ha.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-gp3/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-json/data/aws_s3_bucket_object_minimal-json.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/mixed_instances/data/aws_s3_bucket_object_mixedinstances.example.com-addons-bootstrap_content
  tests/integration/update_cluster/mixed_instances_spot/data/aws_s3_bucket_object_mixedinstances.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_nthsqsresources.example.com-addons-bootstrap_content
  tests/integration/update_cluster/private-shared-ip/data/aws_s3_bucket_object_private-shared-ip.example.com-addons-bootstrap_content
  tests/integration/update_cluster/private-shared-subnet/data/aws_s3_bucket_object_private-shared-subnet.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatedns1/data/aws_s3_bucket_object_privatedns1.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatedns2/data/aws_s3_bucket_object_privatedns2.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_bucket_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_privatekopeio.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateweave/data/aws_s3_bucket_object_privateweave.example.com-addons-bootstrap_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/shared_subnet/data/aws_s3_bucket_object_sharedsubnet.example.com-addons-bootstrap_content
  tests/integration/update_cluster/shared_vpc/data/aws_s3_bucket_object_sharedvpc.example.com-addons-bootstrap_content
  tests/integration/update_cluster/unmanaged/data/aws_s3_bucket_object_unmanaged.example.com-addons-bootstrap_content
  tests/integration/update_cluster/vfs-said/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/utils/hash.go
  upup/pkg/fi/utils/hash_test.go
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XL

#12088 Update Calico to v3.20.0
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/XL

#12090 Temporarily skip MetricsGrabber test
  tests/e2e/pkg/tester/skip_regex.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#12091 Kubetest2 scenarios - provide absolute path to kops binary
  tests/e2e/scenarios/lib/common.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#12083 Add nth rebalance recommendation configs
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_nthsqsresources.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_nthsqsresources.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, ok-to-test, size/M

#12093 Also skip MetricsGrabber tests on 1.23 version marker
  tests/e2e/pkg/tester/skip_regex.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#12097 Update README.md
  dns-controller/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11784 Launch Openstack instances with config drive
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/openstack.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/configures-server-group-affinity-with-annotations.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: approved, area/api, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/L

#12049 Add Option to Specify OpenStack Octavia Provider
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/getting_started/openstack.md
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#12102 Skip GlusterFS tests
  tests/e2e/pkg/tester/skip_regex.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#12107 Revert most of #12023 and keep awslbc on CP nodes
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/bug, area/addons

#12106 Stop skipping MetricsGrabber tests on CI k8s versions
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12108 Support Debian 11 Bullseye
  docs/operations/images.md
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/debian11/etc/os-release
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test

#12111 In-line openstack loadbalancer feature detection
  go.mod
  go.sum
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/context.go
  tests/e2e/go.sum
  upup/pkg/fi/cloudup/openstack/BUILD.bazel
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstacktasks/BUILD.bazel
  upup/pkg/fi/cloudup/openstacktasks/lblistener.go
  vendor/github.com/gophercloud/gophercloud/openstack/keymanager/v1/secrets/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/keymanager/v1/secrets/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/keymanager/v1/secrets/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/keymanager/v1/secrets/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/keymanager/v1/secrets/urls.go
  vendor/github.com/hashicorp/go-version/.travis.yml
  vendor/github.com/hashicorp/go-version/BUILD.bazel
  vendor/github.com/hashicorp/go-version/LICENSE
  vendor/github.com/hashicorp/go-version/README.md
  vendor/github.com/hashicorp/go-version/constraint.go
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/go-version/version.go
  vendor/github.com/hashicorp/go-version/version_collection.go
  vendor/k8s.io/cloud-provider-openstack/LICENSE
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics.go
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics_api.go
  vendor/k8s.io/cloud-provider-openstack/pkg/metrics/metrics_reconcile.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/errors/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/util/errors/errors.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/keymanager.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/loadbalancer.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/network.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack

#12064 Disallow the use of legacy addons
  addons/README.md
  channels/pkg/cmd/BUILD.bazel
  channels/pkg/cmd/apply_channel.go
  docs/releases/1.22-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, area/channels

#12115 Add release note for Debian 11
  docs/releases/1.22-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12109 Remove UseServiceAccountIAM feature flag and rename feature to UseServiceAccountExternalPermissions
  cmd/kops/integration_test.go
  docs/releases/1.22-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/featureflag/featureflag.go
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/iam.go
  pkg/model/components/addonmanifests/BUILD.bazel
  pkg/model/components/addonmanifests/dnscontroller/remap.go
  pkg/model/components/addonmanifests/remap.go
  pkg/model/context.go
  pkg/model/iam/iam_builder.go
  tests/e2e/scenarios/lib/common.sh
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/aws-lb-controller/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/cluster.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/aws, area/addons

#12118 Pass AZURE_ENVIRONMENT to nodeup
  pkg/model/bootstrapscript.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12120 Update addon manifests referencing RBAC v1beta1
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.kope.io/k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12124 Fix cases when the VPC doesn't exist yet
  upup/pkg/fi/cloudup/awstasks/vpccidrblock.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12125 Update Calico to v3.19.2
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12123 Fix disabling unattended upgrades
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/tests/updateservicebuilder/automatic/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/automatic/tasks-updateservice.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/tasks-updateservice.yaml
  nodeup/pkg/model/update_service.go
  nodeup/pkg/model/update_service_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#12122 Openstack: add port metadata
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/configures-server-group-affinity-with-annotations.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstacktasks/BUILD.bazel
  upup/pkg/fi/cloudup/openstacktasks/port.go
  upup/pkg/fi/cloudup/openstacktasks/port_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/openstack, ok-to-test

#12126 Fix cases when the VPC doesn't exist yet for vpccidrblocks in 1.21
  upup/pkg/fi/cloudup/awstasks/vpccidrblock.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12130 Debian 11: python-apt is not available
  nodeup/pkg/model/miscutils.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#12127 Automated cherry pick of #12123: Test if update_service behaves as intended
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/tests/updateservicebuilder/automatic/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/automatic/tasks-updateservice.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/tasks-updateservice.yaml
  nodeup/pkg/model/update_service.go
  nodeup/pkg/model/update_service_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#12135 Set IRSA flag on scenarios where needed
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12134 Enable ipv6 forwarding and router announcements
  nodeup/pkg/model/sysctls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12137 Bump Cert Manager for 1.22
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#12139 Add e2e scenario for metrics-server
  tests/e2e/scenarios/metrics-server/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#12141 Bump cilium to 1.10.3
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12132 Automated cherry pick of #12108: Support Debian 11 Bullseye #12130: Debian 11: python-apt is not available
  docs/operations/images.md
  nodeup/pkg/model/miscutils.go
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/debian11/etc/os-release
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/M, area/provider/aws

#12145 Bump alpha channel's k8s versions with August releases and add kOps version 1.22 along with k8s 1.22
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#12146 Bump cilium to 1.9.9
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12129 Bump AWS CSI Driver to 1.2.0
  pkg/model/components/awsebscsidriver.go
  tests/e2e/scenarios/aws-ebs-csi/run-test.sh
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_master-us-test-1a.masters.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12144 Update Debian 11 first supported kOps version
  docs/operations/images.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12116 Correct list of beta cloud providers
  cmd/kops/root.go
  docs/cli/kops.md
  docs/index.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12150 leverage proxy env variables
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12148 Reconcile if managedFile is public or not
  upup/pkg/fi/fitasks/managedfile.go
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12152 Automated cherry pick of #12148: Reconcile if managedFile is public or not
  upup/pkg/fi/fitasks/managedfile.go
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12151 Automated cherry pick of #12150: leverage proxy env variables
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12153 Update Go to v1.16.7
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12154 Automated cherry pick of #12153: Update Go to v1.16.7
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12155 Add API validation for subcomponents using API versions removed in k8s 1.22
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#12157 Update kopeio test to test kopeio networking also
  cmd/kops/integration_test.go
  tests/integration/update_cluster/privatekopeio/data/aws_launch_template_master-us-test-1a.masters.privatekopeio.example.com_user_data
  tests/integration/update_cluster/privatekopeio/data/aws_launch_template_nodes.privatekopeio.example.com_user_data
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_privatekopeio.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_privatekopeio.example.com-addons-networking.kope.io-k8s-1.12_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_privatekopeio.example.com-addons-networking.weave-k8s-1.12_content
  tests/integration/update_cluster/privatekopeio/in-v1alpha2.yaml
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/L

#12161 Debian 11: Release AMIs use same AWS Owner ID as Buster
  docs/operations/images.md
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, area/provider/aws, ok-to-test

#12163 Make metrics-server scenario executable
  tests/e2e/scenarios/metrics-server/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12166 Fix unbound variable in metrics server scenario
  tests/e2e/scenarios/metrics-server/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12164 Automated cherry pick of #12161: Debian 11: Release AMIs use same AWS Owner ID as Buster
  docs/operations/images.md
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#12158 Cilium wireguard support
  docs/networking/cilium.md
  docs/releases/1.22-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
  pkg/model/components/cilium.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#12167 Log s3 acl in additional cases
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12168 Fix scaling of metrics-server deployment in e2e scenario
  tests/e2e/scenarios/metrics-server/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12171 Fix parse channels error
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#12159 Incorrect url to the swift container
  util/pkg/vfs/swiftfs.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack, ok-to-test

#12174 Bump cert-manager to 1.5.1
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#12176 Bump snapshot-controller
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12173 [DigitalOcean] Code refactor to use the existing dnsprovider package
  dns-controller/cmd/dns-controller/BUILD.bazel
  dns-controller/cmd/dns-controller/main.go
  dnsprovider/pkg/dnsprovider/providers/do/BUILD.bazel
  dnsprovider/pkg/dnsprovider/providers/do/dns.go
  dnsprovider/pkg/dnsprovider/providers/do/dns_test.go
  protokube/cmd/protokube/BUILD.bazel
  protokube/cmd/protokube/main.go
  upup/pkg/fi/cloudup/do/BUILD.bazel
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/do/mock_do_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/digitalocean

#12177 Hardcode Flatcar containerd exec command
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#12178 Automated cherry pick of #12177: Hardcode Flatcar containerd exec command
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#12181 Fix incorrect validation error message
  pkg/apis/kops/validation/instancegroup.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#12165 Fix MetricsGrabber skip regex condition
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12185 Cleanup unused TerraformFmt feature flag
  docs/advanced/experimental.md
  pkg/featureflag/featureflag.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12187 Add option in Cluster Autoscaler AddOn for AWS EC2 Static instance list
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test, area/addons

#12189 Bump cert-manager to 1.5.2
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#12170 Initial IPv6 support for GCE
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/external_access.go
  pkg/model/gcemodel/firewall.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/firewallrule.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#12190 Automated cherry pick of #12187: Add option in Cluster Autoscaler AddOn for AWS EC2 Static instance list
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, needs-ok-to-test, approved, size/S, area/addons

#12191 Release 1.21.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12195 Release notes for 1.21.1
  docs/releases/1.21-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12197 Add terraform outputs for OIDC provider ARN and issuer
  tests/integration/update_cluster/aws-lb-controller/kubernetes.tf
  tests/integration/update_cluster/irsa/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa/kubernetes.tf
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/vfs-said/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#12169 Script for iterating development on GCE
  hack/dev-build-gce.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#12204 Push alpha to stable
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#12203 Update terraform to 1.0.5
  hack/verify-terraform.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12198 [addons/metrics-server] Bump minor version
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/addons

#12214 Automated cherry pick of #12198: Bump minor version
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12216 Release notes for 1.22.0-beta.1
  docs/releases/1.22-NOTES.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#12222 Bump cloudbuild images to latest
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12224 Update staticcheck to latest
  hack/go.mod
  hack/go.sum
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12223 [Documentation update] Note for the metrics configuration for etcd
  docs/cluster_spec.md
Labels: area/documentation, cncf-cla: yes, lgtm, needs-ok-to-test, approved, size/XS

#12227 fix parse semver
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#12232 check does iface has associations
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12228 Automated cherry pick of #12227: fix parse semver
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#12230 Automated cherry pick of #12229: Bump cert-manager to 1.5.3
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#12229 Bump cert-manager to 1.5.3
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#12233 Automated cherry pick of #12232: check does iface has associations
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws
