Repository kubernetes/kops, pull requests merged in 2021-02, with the labels that each got.

#10699 Automated cherry pick of #10604: Update Weave to v2.8.0 #10698: Update Weave to v2.8.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10698 Update Weave to v2.8.1
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/M

#10702 Increase IMDSv2 hop limit on control plane nodes
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10701 Kubetest2 - refactor how `kops create cluster` arguments are set
  docs/contributing/testing.md
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/deployer/up_test.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#10710 Update upgrade test to use 1.18->1.19
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10711 Fix create args for upgrade test
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10712 Docs: Fix ServiceAccountVolume proposed configuration for Istio
  docs/operations/service_account_token_volumes.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10713 Update the skipped tests in the upgrade job to help the test stage pass
  tests/e2e/scenarios/upgrade/run-test
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10690 Remove unused instanceGroup parameter from setClusterFields
  cmd/kops/create_cluster.go
  pkg/commands/set_cluster.go
  pkg/commands/set_cluster_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#10696 Update code reference links in docs
  docs/contributing/how_it_works.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#10700 Fix rendering issue created by #10414
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, ok-to-test, size/S

#10720 Fix panic when exporting kubecfg for AWS cluster without load balancer
  upup/pkg/fi/cloudup/awstasks/dnsname.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10727 Automated cherry pick of #10720: Fix panic when exporting kubecfg for AWS cluster without load
  upup/pkg/fi/cloudup/awstasks/dnsname.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10721 Cleanup kops-controller Route53 record during cluster deletion
  pkg/resources/aws/aws.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10729 Revert making imdsv2 default
  docs/releases/1.20-NOTES.md
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/L

#10731 Automated cherry pick of #10721: Cleanup kops-controller Route53 record during cluster
  pkg/resources/aws/aws.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10742 Use expected LaunchTemplateId in updating ASG when MixedInstancePolicy is changed
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10743 Automated cherry pick of #10742: Use expected LaunchTemplateId in updating ASG when
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10739 Fix ineffassign issues
  pkg/apis/kops/validation/validation.go
  upup/pkg/fi/cloudup/alitasks/rampolicy.go
  upup/pkg/fi/cloudup/gcetasks/subnet.go
Labels: approved, area/api, area/provider/alicloud, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10725 Automated cherry pick of #10674: Remove taints from spotinst ocean terraform resource
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10746 Deprecate aliyun
  docs/releases/1.20-NOTES.md
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10748 alpha channel: Update older images
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10750 Fix docs build failure
  docs/operations/cluster_template.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10732 add user agent to openstack api requests
  dnsprovider/pkg/dnsprovider/providers/openstack/designate/designate.go
  pkg/model/openstackmodel/context.go
  pkg/nodeidentity/openstack/BUILD.bazel
  pkg/nodeidentity/openstack/identify.go
  protokube/pkg/protokube/openstack_volume.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/utils.go
  util/pkg/vfs/swiftfs.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, size/M

#10695 Add support for cilium 1.9
  pkg/apis/kops/validation/validation.go
  pkg/model/components/cilium.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Labels: approved, area/addons, area/api, cncf-cla: yes, lgtm, size/XXL

#10754 Use EnsureTask instead of prepending IG names to external ELB tasks
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10755 Automated cherry pick of #10754: Use EnsureTask instead of prepending IG names to external
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10757 nodeup file: Set owner & group when we write the file.
  upup/pkg/fi/BUILD.bazel
  upup/pkg/fi/files.go
  upup/pkg/fi/files_owner.go
  upup/pkg/fi/files_owner_windows.go
  upup/pkg/fi/files_test.go
  upup/pkg/fi/nodeup/nodetasks/file.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10760 Automated cherry pick of #10757: nodeup file: Set owner & group when we write the file.
  upup/pkg/fi/BUILD.bazel
  upup/pkg/fi/files.go
  upup/pkg/fi/files_owner.go
  upup/pkg/fi/files_owner_windows.go
  upup/pkg/fi/files_test.go
  upup/pkg/fi/nodeup/nodetasks/file.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/M

#10762 Automated cherry pick of #10758: Always generate kops-controller certs
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kops-controller.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10758 Always generate kops-controller certs
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kops-controller.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10765 Release 1.20.0-alpha.2
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10768 Release notes for 1.20.0-alpha.2
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10764 Add troubleshooting of corrupted api server leases
  docs/operations/troubleshoot.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10469 Boot nodes without state store access
  cmd/kops-controller/pkg/server/BUILD.bazel
  cmd/kops-controller/pkg/server/node_config.go
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/nodeup/bootstrap.go
  pkg/apis/nodeup/config.go
  pkg/configserver/BUILD.bazel
  pkg/configserver/keystore.go
  pkg/configserver/secretstore.go
  pkg/featureflag/featureflag.go
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/azuremodel/BUILD.bazel
  pkg/model/azuremodel/vmscaleset_test.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/authenticate.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: approved, area/api, area/kops-controller, area/nodeup, area/provider/aws, area/provider/azure, area/provider/openstack, cncf-cla: yes, lgtm, size/XL

#10771 Update GCE zones
  upup/pkg/fi/cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#10772 Kubetest2 - Use a shell lexer for passing extra args to `create cluster`
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10707 Use the kubeApiServerConfig clientCAFile field
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
Labels: approved, area/api, area/documentation, area/nodeup, cncf-cla: yes, lgtm, ok-to-test, size/M

#10775 Kubetest2 - Fix splitting of --create-args
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10782 Logging: don't suggest we are pre-creating DNS records unless we are
  upup/pkg/fi/cloudup/dns.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10781 Add missing versions to channels
  channels/alpha
  channels/stable
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/S

#10767 fix: asset task copy docker image
  upup/pkg/fi/assettasks/docker_api.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10784 Automated cherry pick of #10767: fix: asset task copy docker image
  upup/pkg/fi/assettasks/docker_api.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10785 Automated cherry pick of #10767: fix: asset task copy docker image
  upup/pkg/fi/assettasks/docker_api.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10778 Add support for creating world-readable managedFiles
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/pkg/fi/fitasks/managedfile.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10779 Update kubectl documentation with new flags
  docs/getting_started/kubectl.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10752 Add overrides testing in lifecycle integration tests
  cloudmock/aws/mockautoscaling/group.go
  cloudmock/aws/mockec2/launch_templates.go
  cmd/kops/BUILD.bazel
  cmd/kops/lifecycle_integration_test.go
  tests/integration/update_cluster/complex/cluster.overrides.txt
  tests/integration/update_cluster/complex/instancegroup.nodes.overrides.txt
Labels: approved, cncf-cla: yes, lgtm, size/L

#10489 Add AWS LoadBalancerController
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10788 Automated cherry pick of #10489: Add AWS LoadBalancerController
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/iam/iam_builder.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.9.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/XXL

#10787 Update Calico to v3.17.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10790 Automated cherry pick of #10787: Update Calico to v3.17.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10789 Automated cherry pick of #10787: Update Calico to v3.17.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10791 Enable CSIMigrationAWS if CSI EBS driver is installed
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10793 Automated cherry pick of #10791: CSIMigrationAWSComplete feature gate does not work unless
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10728 Fill Role names in kops-controller-config instead of instance profile names when it is specified
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/provider/alicloud, area/provider/aws, area/provider/azure, area/provider/digitalocean, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/M

#10794 Automated cherry pick of #10728: Fill Role names in kops-controller-config instead of instance
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10795 Automated cherry pick of #10728: Fill Role names in kops-controller-config instead of instance
  pkg/testutils/BUILD.bazel
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10799 kubetest2 - Dump all pod logs in addition to host logs
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10802 Update Docker to v19.03.15
  pkg/model/components/docker.go
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10803 Automated cherry pick of #10802: Update Docker to v19.03.15
  pkg/model/components/docker.go
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10804 Automated cherry pick of #10802: Update Docker to v19.03.15
  pkg/model/components/docker.go
  tests/integration/update_cluster/docker-custom/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-gp3/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  upup/pkg/fi/cloudup/docker.go
  upup/pkg/fi/cloudup/populatecluster_test.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10808 Automated cherry pick of #10806: Fix LaunchSpec TF output
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10807 Automated cherry pick of #10806: Fix LaunchSpec TF output
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10806 Fix LaunchSpec TF output
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10809 Add deprecation notice for launch templates.
  docs/releases/1.19-NOTES.md
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10744 add azure support for internal loadbalancer to k8s api
  pkg/model/azuremodel/BUILD.bazel
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/model/azuremodel/api_loadbalancer_test.go
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/testing.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/resources/azure/azure.go
  pkg/resources/azure/azure_test.go
  upup/pkg/fi/cloudup/azure/BUILD.bazel
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/BUILD.bazel
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/loadbalancer_fitask.go
  upup/pkg/fi/cloudup/azuretasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#10797 Allow managed images for Azure instance groups
  pkg/model/azuremodel/vmscaleset.go
  pkg/model/azuremodel/vmscaleset_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/M

#10810 Automated cherry pick of #10744: add internal loadbalancer for azure
  pkg/model/azuremodel/BUILD.bazel
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/model/azuremodel/api_loadbalancer_test.go
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/testing.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/resources/azure/azure.go
  pkg/resources/azure/azure_test.go
  upup/pkg/fi/cloudup/azure/BUILD.bazel
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/BUILD.bazel
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/loadbalancer_fitask.go
  upup/pkg/fi/cloudup/azuretasks/loadbalancer_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XXL

#10811 Automated cherry pick of #10797: Allow managed images for Azure instance groups
  pkg/model/azuremodel/vmscaleset.go
  pkg/model/azuremodel/vmscaleset_test.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/M

#10759 kubenet containerd: match upstream
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10814 kubetest2: Add --host argument
  tests/e2e/pkg/tester/tester.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#10817 Automated cherry pick of #10759: kubenet containerd: match upstream configuration
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10818 Automated cherry pick of #10759: kubenet containerd: match upstream configuration
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10812 iptables: Use the lock when checking for existing rules
  nodeup/pkg/model/firewall.go
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/XS

#10819 Spotinst: Replace corev1.Taint to fix HCL2 serialization
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#10822 Automated cherry pick of #10819: fix(spot/ocean): replace corev1.Taint to fix hcl2
  upup/pkg/fi/cloudup/spotinsttasks/elastigroup.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/M

#10820 Spotinst: Bump the Ocean Controller to 1.0.72
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10823 Automated cherry pick of #10820: feat(spot/addon): bump ocean-controller to 1.0.72
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10741 Allow to control which subnets and IPs get used for the API loadbalancer
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/subnet_mapping.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/XL

#10824 kubetest2: Call Test, not Execute
  tests/e2e/pkg/tester/tester.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10825 Fix kdi 'must specify' error
  cmd/kops/delete_instance.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10827 Automated cherry pick of #10825: Fix kdi 'must specify' error
  cmd/kops/delete_instance.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10826 Automated cherry pick of #10328: Don't try to detach masters
  pkg/instancegroups/instancegroups.go
Labels: approved, area/rolling-update, cncf-cla: yes, lgtm, size/S

#10829 Automated cherry pick of #10741: Refactor and fix NLB subnet change checks
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/subnet_mapping.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/XL

#10619 Use correct tag when creating node labels from azure cloud tags
  pkg/nodeidentity/azure/BUILD.bazel
  pkg/nodeidentity/azure/identify.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10834 Automated cherry pick of #10619: Use correct tag when creating node labels from azure cloud
  pkg/nodeidentity/azure/BUILD.bazel
  pkg/nodeidentity/azure/identify.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10833 Precreate the kops-controller DNS name
  upup/pkg/fi/cloudup/dns.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10813 containerd installation: always configure, even if we don't install
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10839 Automated cherry pick of #10813: containerd installation: always configure, even if we don't
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10838 Automated cherry pick of #10813: containerd installation: always configure, even if we don't
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
Labels: approved, area/nodeup, cncf-cla: yes, lgtm, size/L

#10840 Release binaries for protokube and channels
  .shipbot.yaml
  Makefile
  channels/cmd/channels/BUILD.bazel
  protokube/cmd/protokube/BUILD.bazel
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/M

#10841 Release 1.21.0-alpha.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10844 Release notes for 1.21.0-alpha.1
  docs/releases/1.21-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10850 Automated cherry pick of #10833: Precreate the kops-controller DNS name
  upup/pkg/fi/cloudup/dns.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10851 Automated cherry pick of #10833: Precreate the kops-controller DNS name
  upup/pkg/fi/cloudup/dns.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10697 Kubetest2 - terraform support
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/create.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/pkg/target/terraform.go
  tests/e2e/pkg/util/zip.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#10854 Automated cherry pick of #10853: Update Go to v1.15.8
  .github/workflows/main.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#10853 Update Go to v1.15.8
  .github/workflows/main.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#10855 Automated cherry pick of #10853: Update Go to v1.15.8
  .github/workflows/main.yml
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/S

#10856 Add liveness probe for calico-kube-controllers
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10849 Fix OpenStack delete functions
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/floatingip.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/keypair.go
  upup/pkg/fi/cloudup/openstack/loadbalancer.go
  upup/pkg/fi/cloudup/openstack/network.go
  upup/pkg/fi/cloudup/openstack/port.go
  upup/pkg/fi/cloudup/openstack/router.go
  upup/pkg/fi/cloudup/openstack/security_group.go
  upup/pkg/fi/cloudup/openstack/server_group.go
  upup/pkg/fi/cloudup/openstack/subnet.go
  upup/pkg/fi/cloudup/openstack/volume.go
Labels: approved, area/provider/openstack, cncf-cla: yes, lgtm, ok-to-test, size/L

#10857 Add support for CAS 1.20 + support for disabling CAS for a given IG
  docs/addons.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10859 Automated cherry pick of #10857: Add support for cluster autoscaler 1.20.x
  docs/addons.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: approved, area/addons, area/api, area/documentation, cncf-cla: yes, lgtm, size/M

#10860 Automated cherry pick of #10856: Add liveness probe for calico-kube-controllers
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10861 Automated cherry pick of #10700: Fix rendering issue created by #10414 #10856: Add liveness probe for calico-kube-controllers
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10863 Bump aws node termination handler to 1.12.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10866 Kubetest2 - add ginkgo node debug logs
  tests/e2e/e2e.mk
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: approved, cncf-cla: yes, lgtm, size/M

#10865 K8s Version Updates February 2021
  channels/alpha
  channels/stable
  tests/integration/create_cluster/minimal-1.16/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.17/expected-v1alpha2.yaml
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/M

#10869 Automated cherry pick of #10635: enableRemoteNodeIdentity actually defaults to true
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/XS

#10868 Add note about remote identities
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10858 Bump metrics-server to 0.4.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10867 kubetest2 - support terraform with `kops create cluster`
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10874 Automated cherry pick of #10863: Bump aws node termination handler
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10747 Add validation for instanceType and ami architecture
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/L

#10875 Upgrade k8s 1.20 to latest patch version
  channels/alpha
Labels: approved, area/channels, cncf-cla: yes, lgtm, size/XS

#10880 Release 1.19.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10878 Automated cherry pick of #10876: Update AWS CNI to latest patch version
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10881 Automated cherry pick of #10858: Bump metrics-server to 0.4.2
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10877 Automated cherry pick of #10876: Update AWS CNI to latest patch version
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10876 Update AWS CNI to latest patch version
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/S

#10883 Release notes for 1.19.1
  docs/releases/1.19-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/S

#10885 Automated cherry pick of #10747: Add validation for ami arch to instance type arch #10884: Improve machine type and image validation
  pkg/apis/kops/validation/BUILD.bazel
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10884 Improve machine type and image validation
  pkg/apis/kops/validation/aws.go
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/complex/instancegroup.nodes.overrides.txt
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/M

#10886 fix loadBalancerID null pointer
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/S

#10887 Automated cherry pick of #10886: fix loadBalancerID null pointer
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/S

#10896 Update Openstack Cloud Go module to v1.20.1
  go.mod
  go.sum
  hack/go.sum
  tests/e2e/go.sum
  vendor/github.com/spf13/jwalterweatherman/.gitignore
  vendor/github.com/spf13/jwalterweatherman/default_notepad.go
  vendor/github.com/spf13/jwalterweatherman/go.mod
  vendor/github.com/spf13/jwalterweatherman/log_counter.go
  vendor/github.com/spf13/jwalterweatherman/notepad.go
  vendor/k8s.io/cloud-provider-openstack/pkg/cloudprovider/providers/openstack/metrics/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/cloudprovider/providers/openstack/metrics/metrics.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/BUILD.bazel
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/keymanager.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/loadbalancer.go
  vendor/k8s.io/cloud-provider-openstack/pkg/util/openstack/network.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, size/XL

#10897 Enforce 1.14 deprecation
  pkg/apis/kops/validation/validation.go
  pkg/model/components/clusterautoscaler.go
  pkg/model/components/etcd.go
  pkg/model/components/kubecontrollermanager_test.go
  pkg/model/components/kubelet.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: approved, area/api, cncf-cla: yes, lgtm, size/M

#10900 add usage of subnet and routetable shared resources in azure
  pkg/apis/kops/cluster.go
  pkg/model/azuremodel/network.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azuretasks/routetable.go
  upup/pkg/fi/cloudup/azuretasks/subnet.go
  upup/pkg/fi/cloudup/azuretasks/virtualnetwork.go
Labels: approved, area/api, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/S

#10905 Automated cherry pick of #10904: Update Calico to v3.18.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10904 Update Calico to v3.18.0
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10872 Adding Elastic IP Allocations to NLB API
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/subnet_mapping.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, size/L

#10907 Automated cherry pick of #10872: Adding Elastic IP Allocations to NLB API
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/subnet_mapping.go
Labels: approved, area/api, area/documentation, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10903 Automated cherry pick of #10900: add usage of subnet and routetable shared resources in azure
  pkg/apis/kops/cluster.go
  pkg/model/azuremodel/network.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azuretasks/routetable.go
  upup/pkg/fi/cloudup/azuretasks/subnet.go
  upup/pkg/fi/cloudup/azuretasks/virtualnetwork.go
Labels: approved, area/api, area/provider/azure, cncf-cla: yes, lgtm, size/S

#10906 Release 1.20.0-beta.1
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: approved, area/addons, cncf-cla: yes, lgtm, size/L

#10909 Release notes for 1.20.0-beta.1
  docs/release-process.md
  docs/releases/1.20-NOTES.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/M

#10832 Add Tagging to Instance Profiles and OIDC Providers
  cloudmock/aws/mockiam/iaminstanceprofile.go
  cloudmock/aws/mockiam/iamrole.go
  cloudmock/aws/mockiam/iamrolepolicy.go
  cloudmock/aws/mockiam/oidcprovider.go
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/iam.go
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofilerole.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: approved, area/api, area/provider/aws, cncf-cla: yes, lgtm, size/L

#10919 AWS LB controller is as of 1.20, not 1.19
  docs/addons.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, size/XS

#10918 Spotinst: Prevent instance groups with the same suffix from being deleted
  pkg/resources/spotinst/resources.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10915 add support for azure public loadbalancer
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/BUILD.bazel
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/BUILD.bazel
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress_fitask.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, size/XL

#10922 Automated cherry pick of #10915: add support for azure public loadbalancer
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/BUILD.bazel
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/BUILD.bazel
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress_fitask.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XL

#10924 Fix nil pointer deference for image ID with spotinst
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10923 Automated cherry pick of #10918: fix: prevent igs with same suffix from being deleted
  pkg/resources/spotinst/resources.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10926 Automated cherry pick of #10924: Fix nil pointer deference for image ID with spotinst
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10925 Automated cherry pick of #10924: Fix nil pointer deference for image ID with spotinst
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Labels: approved, area/provider/spotinst, cncf-cla: yes, lgtm, size/XS

#10931 Update SSH documentation for ubuntu
  docs/security.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10928 Fix no-schedule issue
  docs/gpu.md
Labels: approved, area/documentation, cncf-cla: yes, lgtm, ok-to-test, size/S

#10940 Sort external policies when checking for changes
  pkg/model/iam.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10942 Automated cherry pick of #10940: Sort external policies when checking for changes
  pkg/model/iam.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10943 Automated cherry pick of #10940: Sort external policies when checking for changes
  pkg/model/iam.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: approved, area/provider/aws, cncf-cla: yes, lgtm, size/XS

#10912 Instruct GH to collapse BUILD.bazel diffs by default
  .gitattributes
Labels: approved, cncf-cla: yes, lgtm, size/XS
