Repository kubernetes/kops, pull requests merged in 2021-11, with the labels that each got.

#12656 Switch release process to official GitHub client
  docs/contributing/release-process.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12649 Add initial IPv6 documentation
  docs/networking/ipv6.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#12658 Start IPv6 CIDR numbering from 0
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12664 Migrade kube-proxy manifest to use go-runner for logging
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12667 Fix error handling in kubetest2 dumplogs
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12668 Revert "Migrate kube-proxy manifest to use go-runner for logging"
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12672 Fix cluster name used in IAM policies
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/minimal-warmpool/data/aws_iam_role_policy_nodes.minimal-warmpool.example.com_policy
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-warmpool/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#12673 Automated cherry pick of #12672: Fix cluster name used in IAM policies
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/minimal-warmpool/data/aws_iam_role_policy_nodes.minimal-warmpool.example.com_policy
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-warmpool/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#12675 Add arch specific dev-upload-nodeup targets
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/S

#12677 Fix that states AWS IAM Instance Profile blocks IAM Role
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#12681 Use chrony for synchronizing time in Ubuntu
  nodeup/pkg/model/ntp.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12676 Migrate to AWS CCM in k8s 1.24
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#12694 Increase upup http response header timeout
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#12690 Include the amazonvpc logs in toolbox dump
  pkg/dump/dumper.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12696 Automated cherry pick of #12694: Increase upup http response header timeout
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12697 Automated cherry pick of #12694: Increase upup http response header timeout
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12688 Add docs on how to assign arrays with toolbox template
  docs/operations/cluster_template.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12700 Ignore white space when validating IAM policy size limits
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12701 Automated cherry pick of #12700: Ignore white space when validating IAM policy size limits
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#12686 Automated cherry pick of #12587: GCE: use chrony on Ubuntu + GCE #12681: Use chrony for synchronizing time in Ubuntu
  nodeup/pkg/model/context.go
  nodeup/pkg/model/ntp.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12702 Update k8s versions with latest releases. Also bump AWS Ubuntu AMI version
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#12706 Spotinst: Update `spotinst/ocean-controller` to v1.0.79
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12710 gce: don't over-warn on ManagedInstanceGroups filtering
  pkg/nodeidentity/gce/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12682 [calico] Add support for allow_ip_forwarding field
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#12713 set calico-node readiness/liveness timeout to 10s
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#12714 Automated cherry pick of #12713: set calico-node readiness/liveness timeout to 10s
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12715 Automated cherry pick of #12713: set calico-node readiness/liveness timeout to 10s
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12719 Automated cherry pick of #12716: Add missing status fields to IAMIdentityMapping v1 CRD
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12716 Add missing status fields to IAMIdentityMapping v1 CRD
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12711 Populate api-server role label on node
  pkg/nodelabels/builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12726 Revert leader migration
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#12721 Fix render template cilium AgentPrometheusPort into a UNICODE char error
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#12729 Don't fail validation if Nvidia and containerRuntime defaults
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#12692 Watch Ingress by default when using the external-dns provider
  docs/releases/1.23-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha3/cluster.go
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.12_content
  upup/pkg/fi/cloudup/template_functions.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S

#12698 Fix out of bounds error when instance detach fails
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#12732 Automated cherry pick of #12729: Don't fail validation if Nvidia and containerRuntime defaults
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#12730 Fix use of deprecated method
  pkg/apis/kops/validation/validation.go
  pkg/instancegroups/settings.go
Labels: cncf-cla: yes, lgtm, area/api, area/rolling-update, approved, size/XS

#12734 Automated cherry pick of #12698: Fix out of bounds error when instance detach fails
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#12735 Automated cherry pick of #12728: Support setting empty maps and structs
  pkg/commands/set_cluster_test.go
  pkg/commands/unset_cluster_test.go
  util/pkg/reflectutils/access.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12733 Automated cherry pick of #12698: Fix out of bounds error when instance detach fails
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#12720 Update containerd to v1.6.0-beta.2
  cmd/kops/integration_test.go
  pkg/model/components/containerd.go
  tests/integration/update_cluster/minimal-1.23/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.23/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.23/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.23/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.23/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/id_rsa.pub
  tests/integration/update_cluster/minimal-1.23/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-1.23/kubernetes.tf
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/containerd_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#12728 Support setting empty maps and structs
  pkg/commands/set_cluster_test.go
  pkg/commands/unset_cluster_test.go
  util/pkg/reflectutils/access.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/feature

#12724 Upgrade external-dns to 0.10.1 for Kubernetes >= 1.19
  cmd/kops/integration_test.go
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns/kubernetes.tf
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/kubernetes.tf
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12739 kops-controller should log port it is listening on
  cmd/kops-controller/pkg/server/server.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#12740 Automated cherry pick of #12724: Upgrade external-dns to 0.10.1 for Kubernetes >= 1.19
  cmd/kops/integration_test.go
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns/kubernetes.tf
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/kubernetes.tf
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12544 Show additional ("addon") objects in kops get
  cmd/kops/BUILD.bazel
  cmd/kops/get.go
  cmd/kops/get_addons.go
  pkg/kopscodecs/BUILD.bazel
  pkg/kopscodecs/codecs.go
  vendor/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD.bazel
  vendor/k8s.io/apimachinery/pkg/runtime/serializer/yaml/meta.go
  vendor/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#12741 Add create cluster flag for enabling IRSA
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/releases/1.23-NOTES.md
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12744 Do not return error when there is no error checking for cgroupfs
  nodeup/pkg/model/networking/cilium.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#12746 Automated cherry pick of #12744: Do not return error when there is no error checking for
  nodeup/pkg/model/networking/cilium.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#12747 Automated cherry pick of #12721: Fix render template cilium AgentPrometheusPort into a UNICODE
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12748 Makefile: run codegen using go modules
  Makefile
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  hack/tools.go
  hack/update-apimachinery.sh
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L

#12752 Upgrade amazonvpc to v0.10.1
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12754 Update Go to v1.16.10 for kOps 1.22
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12753 Update Go to v1.17.3
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12699 Add ingress hostname suffix configurable to kOps
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/cloudconfig.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#12757 update gophercloud deps
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/keypair.go
  vendor/github.com/gophercloud/gophercloud/.gitignore
  vendor/github.com/gophercloud/gophercloud/.zuul.yaml
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/keypairs/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/keypairs/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/keypairs/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/volumeattach/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/volumeattach/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/monitors/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/pools/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/external/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/accounts/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/containers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/containers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/objectstorage/v1/objects/requests.go
  vendor/github.com/gophercloud/gophercloud/params.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#12760 Partial backport of #12564
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#12762 Automated cherry pick of #12677: Fix that states AWS IAM Instance Profile blocks IAM Role
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#12761 Automated cherry pick of #12677: Fix that states AWS IAM Instance Profile blocks IAM Role
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#12765 Shorten filenames in the asset store
  upup/pkg/fi/assetstore.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/bug

#12767 Add hashes for latest containerd and Docker versions
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12768 Automated cherry pick of #12767: Add hashes for latest containerd and Docker versions
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12771 Automated cherry pick of #12765: Shorten filenames in the asset store
  upup/pkg/fi/assetstore.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12759 Support IPv6 private topology
  cloudmock/aws/mockec2/BUILD.bazel
  cloudmock/aws/mockec2/api.go
  cloudmock/aws/mockec2/egressonlyinternetgateways.go
  cloudmock/aws/mockec2/tags.go
  cmd/kops/integration_test.go
  pkg/model/awsmodel/network.go
  pkg/resources/aws/aws.go
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_iam_role_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_iam_role_nodes.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_iam_role_policy_nodes.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_key_pair_kubernetes.minimal-ipv6.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_kops-version.txt_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-core.addons.k8s.io_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/id_rsa.pub
  tests/integration/update_cluster/minimal-ipv6-private/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-ipv6-private/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/BUILD.bazel
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway_fitask.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/route.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/provider/aws

#12770 Automated cherry pick of #12765: Shorten filenames in the asset store
  upup/pkg/fi/assetstore.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12769 Automated cherry pick of #12767: Add hashes for latest containerd and Docker versions
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/docker.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12774 Allow NodeLocalDNS when defaulting to CoreDNS
  pkg/apis/kops/validation/legacy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#12712 Migrate kube-proxy manifest to use go-runner for logging
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#12778 e2e tests: recognize a full KOPS_BASE_URL as a KOPS_VERSION
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12780 Stable-sort subnets by Name
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/subnet_mapping.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#12783 Bump node local dns cache
  pkg/model/components/kubedns.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/compress/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/digit/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/existing_iam/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/existing_sg/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/external_dns/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/externallb/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/externalpolicies/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-gp3/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/mixed_instances/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/mixed_instances_spot/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/private-shared-ip/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/private-shared-subnet/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatedns1/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatedns2/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateweave/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_subnet/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_vpc/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/unmanaged/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/vfs-said/data/aws_s3_bucket_object_cluster-completed.spec_content
Labels: cncf-cla: yes, lgtm, approved, size/L

#12784 Bump nvidia device plugin to 0.10.0
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nvidia/data/aws_s3_bucket_object_minimal.example.com-addons-nvidia.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12790 Fix AWS authentication separator to support multiple objects
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#12791 Fix volume ratio comparisons
  pkg/model/BUILD.bazel
  pkg/model/master_volumes.go
  pkg/model/master_volumes_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12794 Automated cherry pick of #12791: Add test for ratio bug
  pkg/model/BUILD.bazel
  pkg/model/master_volumes.go
  pkg/model/master_volumes_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12749 Automated cherry pick of #12741: Add create cluster flag for enabling IRSA
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, kind/office-hours

#12793 Automated cherry pick of #12791: Add test for ratio bug
  pkg/model/BUILD.bazel
  pkg/model/master_volumes.go
  pkg/model/master_volumes_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#12787 Remove warning about IPv6 being experimental
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12795 Update containerd to v1.6.0-beta.3
  pkg/model/components/containerd.go
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12786 Automated cherry pick of #12763: Bump etcd-manager version
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#12798 Upgrade Go to 1.16.10
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#12800 Release 1.21.4
  Makefile
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/jwks/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
  upup/pkg/fi/cloudup/urls_test.go
  version.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#12801 Release notes for 1.22.2
  docs/releases/1.22-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#12802 Release notes for 1.21.4
  docs/releases/1.21-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12743 Use dualstack endpoint for s3
  pkg/model/components/discovery.go
  util/pkg/vfs/s3context.go
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/office-hours

#12806 Update channels
  channels/alpha
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.18/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.19/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#12811 Rename fields to fit acronym conventions
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/alimodel/policy_builder.go
  pkg/model/context.go
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/master_volumes.go
  tests/integration/conversion/minimal/v1alpha3.yaml
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/dns_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/addons, area/provider/alicloud

#12737 GCE: Fix race around route deletion
  pkg/resources/gce/BUILD.bazel
  pkg/resources/gce/gce.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#12813 Webhook Update cluster_spec.md
  docs/cluster_spec.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#12814 Bump cilium to 1.10.5
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_bucket_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_bucket_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.18/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#12818 Update Flannel CNI to v0.15.1
  tests/integration/update_cluster/privateflannel/data/aws_s3_bucket_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_bucket_object_privateflannel.example.com-addons-networking.flannel-k8s-1.12_content
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#12804 Check that there are extra fields and not fields explicitly false
  pkg/edit/BUILD.bazel
  pkg/edit/edit.go
  pkg/edit/edit_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#12819 Add NodeProblemDetector clusterRoleBinding
  upup/models/cloudup/resources/addons/node-problem-detector.addons.k8s.io/k8s-1.17.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#12820 Add missing namespaces for addon templates
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/addons

#12782 Bump EBS CSI driver to 1.5.0
  pkg/model/components/awsebscsidriver.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-ipv6/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_master-us-test-1a.masters.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecanal/data/aws_launch_template_master-us-test-1a.masters.privatecanal.example.com_user_data
  tests/integration/update_cluster/privatecanal/data/aws_launch_template_nodes.privatecanal.example.com_user_data
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#12822 Add nodeProblemDetector daemonset serviceAccountName
  upup/models/cloudup/resources/addons/node-problem-detector.addons.k8s.io/k8s-1.17.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#12789 Add support for --dns flag in Docker config
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/dockerconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S, ok-to-test

#12708 Update Calico to v3.21.1
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#12709 Update Canal to v3.21.1
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#12831 Add release note warning about the v1alpha3 API
  docs/releases/1.23-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12830 Migrate to AWS CCM in k8s 1.24
  cmd/kops/integration_test.go
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-controller-manager.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_minimal.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal-1.23/kubernetes.tf
  upup/models/BUILD.bazel
  upup/models/cloudup/resources/addons/leader-migration.rbac.addons.k8s.io/k8s-1.23.yaml
  upup/models/cloudup/resources/addons/leader-migration.rbac.addons.k8s.io/k8s-1.25.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/addons

#12816 Rename fields to fit acronym conventions
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  k8s/crds/kops.k8s.io_keysets.yaml
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/keyset.go
  pkg/apis/kops/networking.go
  pkg/apis/kops/status.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/keyset.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/keyset.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/commands/set_cluster_test.go
  pkg/commands/unset_cluster_test.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/components/cilium.go
  pkg/model/iam/iam_builder.go
  tests/integration/conversion/minimal/v1alpha3.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.9.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.10.yaml.template
  upup/pkg/fi/clientset_castore.go
  upup/pkg/fi/cloudup/aliup/status.go
  upup/pkg/fi/cloudup/awsup/status.go
  upup/pkg/fi/cloudup/azure/status.go
  upup/pkg/fi/cloudup/azure/status_test.go
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/gce/status.go
  upup/pkg/fi/cloudup/openstack/status.go
  upup/pkg/fi/vfs_castore.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/azure, area/provider/openstack, area/provider/digitalocean, area/addons, area/provider/alicloud

#12832 Change DisableSubnetTags to tagSubnets
  cmd/kops/create_cluster.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/BUILD.bazel
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/network.go
  tests/integration/conversion/BUILD.bazel
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/integration_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/aws

#12807 Promote alpha channel to stable
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#12834 Automated cherry pick of #12826: Update etcd-manager to v3.0.20211124
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#12836 Update Calico and Canal to v3.20.3 for kOps 1.22
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_bucket_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.16_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_bucket_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#12838 Skip SCTP test on cilium clusters in k8s 1.24 as well
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12837 Fix enabling of AWS CCM
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/bug

#12839 Fix upgrade tests with dest kOps version < 1.22
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS, kind/bug

#12840 Pin the aws-lb-controller scenario to k8s 1.21
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#12845 Change title of iam_roles.md to be specific to instance IAM roles
  docs/README.md
  docs/iam_roles.md
  docs/manifests_and_customizing_via_api.md
  docs/security.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#12842 Route NAT64 to NAT Gateway in IPv6 private topology
  pkg/model/awsmodel/network.go
  tests/integration/update_cluster/minimal-ipv6-private/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#12766 Enable DNS64 in CoreDNS if IPv6 enabled
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12829 Automated cherry pick of #12789: Add support for --dns flag in Docker config
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#12828 Automated cherry pick of #12789: Add support for --dns flag in Docker config
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/docker_test.go
  pkg/apis/kops/dockerconfig.go
  pkg/apis/kops/v1alpha2/dockerconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#12844 Use AWS metadata to retrieve local-hostname in nodeup
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/context.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, ok-to-test

#12847 Fix e2e scenario tests
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12848 Open nodeport to IPv6 in e2e tests
  docs/contributing/testing.md
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12843 Route NAT64 to NAT Gateway in IPv6 public topology
  pkg/apis/kops/validation/validation.go
  pkg/model/awsmodel/network.go
  pkg/model/names.go
  tests/integration/update_cluster/minimal-ipv6-calico/cloudformation.json
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/cloudformation.json
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/cloudformation.json
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XL, area/provider/aws

#12850 Use NAT64 instead of dual-stack for AWS EBS CSI driver
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12846 Reissue client keypairs on issuer change
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/configures-server-group-affinity-with-annotations.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/fitasks/keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/bug, area/provider/openstack

#12849 Remove more non-configurable settings from v1alpha3
  pkg/apis/kops/v1alpha3/componentconfig.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#12853 Automated cherry pick of #12846: Reissue client keypairs on issuer change
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/pollinterval/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-additional-security-groups.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-ClusterSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/adds-cloud-labels-from-InstanceGroupSpec.yaml
  pkg/model/openstackmodel/tests/servergroup/configures-server-group-affinity-with-annotations.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-auto-zone-distribution.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-external-router.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-without-bastion-no-public-ip-association.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-subnet-as-availability-zones-fallback.yaml
  pkg/model/openstackmodel/tests/servergroup/uses-instance-group-zones-as-availability-zones.yaml
  upup/pkg/fi/fitasks/keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack

#12852 Update IPv6 documentation
  docs/networking/ipv6.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#12854 Revert "Open nodeport to IPv6 in e2e tests"
  docs/contributing/testing.md
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#12851 Support NodeLocalDNS on IPv6 clusters
  pkg/model/components/kubedns.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#12856 Fix upgrade tests to kops version < 1.22
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12857 Make requests and limits be *resource.Quantity
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_proxy_test.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/BUILD.bazel
  pkg/model/bootstrapscript_test.go
  pkg/model/components/kubeproxy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#12531 Stop skipping snapshot fields tests in EBS CSI e2e
  tests/e2e/scenarios/aws-ebs-csi/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12859 images: use k8s-staging-test-infra/gcb-docker-gcloud
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#12861 images: fix invalid k8s-staging-test-infra/gcb-docker-gcloud tag
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS
