Repository kubernetes/kops, pull requests merged in 2022-07, with the labels that each got.

#13923 Automated cherry pick of #13922: Mount /etc/hosts from host for CoreDNS
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons, kind/office-hours

#13924 Automated cherry pick of #13922: Mount /etc/hosts from host for CoreDNS
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_bucket_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_bucket_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_bucket_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons, kind/office-hours

#13936 Automated cherry pick of #13917: Update Cilium to 1.11.6
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons

#13935 Remove the v1alpha3 API version
  pkg/apis/kops/install/install.go
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/integration_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#13851 fix typos
  README-ES.md
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#13852 Fix unsetting ASG max price
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#13937 Automated cherry pick of #13852: Fix unsetting ASG max price
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/mixed_instances/cloudformation.json
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#13940 Revert "Add back the metrics-server 443 port with a new name"
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13941 Automated cherry pick of #13940: Revert "Add back the metrics-server 443 port with a new name"
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13845 Add config drive as a source for OpenStack instance metadata
  protokube/pkg/protokube/openstack_volume.go
  protokube/pkg/protokube/openstack_volume_test.go
  protokube/pkg/protokube/testdata/metadata_drive.json
  protokube/pkg/protokube/testdata/metadata_service.json
  vendor/k8s.io/utils/exec/testing/fake_exec.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, ok-to-test

#13861 Be more specific when filtering OS instance ports
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/instance_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack, ok-to-test

#13918 Upgrade karpenter to 0.13.1
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#13942 Fix broken links
  docs/README.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#13955 Set SpecOverrideFlag to true by default
  docs/cli/kops_create_cluster.md
  docs/cli/kops_edit_cluster.md
  docs/cli/kops_edit_instancegroup.md
  pkg/featureflag/featureflag.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#13959 Release notes for 1.24.0
  docs/releases/1.24-NOTES.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#13960 Fix release notes for 1.24.0
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#13961 Add release 1.24.0 to channels
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13965 Fix AWS IAM Authenticator nodeSelector in k8s 1.24
  cmd/kops/integration_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_iam_role_policy_masters.complex.example.com_policy
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#13968 Automated cherry pick of #13901: Use Calico v3.23 for Kubernetes 1.22+
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13967 Automated cherry pick of #13965: Use control-plane node role for AWS IAM Authenticator
  cmd/kops/integration_test.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_iam_role_policy_masters.complex.example.com_policy
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/complex/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#13970 Skip deregistering the instance during rolling update for Spotinst
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#13971 Automated cherry pick of #13970: Skip deregistering the instance during rolling update for
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#13977 bump alpha channel k8s releases
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13979 Upgrade aws-iam-authenticator to v0.5.9
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13980 Automated cherry pick of #13979: Upgrade aws-iam-authenticator to v0.5.9
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13982 Use only IPv4 for Hetzner servers
  pkg/model/hetznermodel/servers.go
  upup/pkg/fi/cloudup/hetznertasks/server.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#13975 Add option to set etcd-manager backup interval
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/etcdmanager/tests/interval/cluster.yaml
  pkg/model/components/etcdmanager/tests/interval/tasks.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, kind/office-hours

#13984 Automated cherry pick of #13982: Use only IPv4 for Hetzner servers
  pkg/model/hetznermodel/servers.go
  upup/pkg/fi/cloudup/hetznertasks/server.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#13986 Add option to set number of replicas for pod-identity-webhook
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#13983 Automated cherry pick of #13975: Add option to set etcd-manager backup interval
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/etcdmanager/tests/interval/cluster.yaml
  pkg/model/components/etcdmanager/tests/interval/tasks.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M

#13946 Adding GCE SPOT support
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/gce.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/gcp, ok-to-test, kind/office-hours

#13994 Update Go to v1.18.4
  .github/workflows/main.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#13997 Update Go to v1.17.12 for kOps 1.23
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#13996 Automated cherry pick of #13994: Update Go to v1.18.4
  .github/workflows/main.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#13998 Update Go to v1.16.15 for kOps 1.22
  .github/workflows/main.yml
  WORKSPACE
Labels: cncf-cla: yes, lgtm, approved, size/S

#13987 Add S3_REGION to Hetzner docs
  docs/getting_started/hetzner.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#13995 Update GitHub workflows
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/depsreview.yaml
  .github/workflows/main.yml
  .github/workflows/tag-release.yml
  .github/workflows/update-deps.yml
Labels: cncf-cla: yes, lgtm, approved, size/M

#13988 Automated cherry pick of #13986: Add option to set number of replicas for pod-identity-webhook
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#14001 Add missing namespace to external-dns Service
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14005 Upgrade DO CSI controller to 4.2.0
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14006 Automated cherry pick of #14005: Upgrade DO CSI driver to 4.2.0
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14003 Update k8s.io/client-go to match k8s.io/api
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/k8s.io/kubectl/pkg/util/templates/templater.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_util.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#13963 Applier should be more tolerant of errors
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#14015 Switch to latest MacOS version for CI
  .github/workflows/main.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14014 delete t.FailNow after t.Fatalf
  util/pkg/vfs/tests/gsfs_test.go
  util/pkg/vfs/tests/s3fs_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14019 Automated cherry pick of #14015: Switch to latest MacOS version for CI
  .github/workflows/main.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14020 Automated cherry pick of #14015: Switch to latest MacOS version for CI
  .github/workflows/main.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14021 Automated cherry pick of #14015: Switch to latest MacOS version for CI
  .github/workflows/main.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14016 fix hyperlinks in calico docs
  docs/networking/calico.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14024 Revert to using instance private DNS name to lookup hostname
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14026 Automated cherry pick of #14024: Revert to using instance private DNS name to lookup hostname
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14025 Automated cherry pick of #14024: Revert to using instance private DNS name to lookup hostname
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14018 Add server group management for Hetzner
  pkg/model/hetznermodel/servers.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/hetznertasks/server.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup_fitask.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/hetzner

#14029 promote alpha k8s versions to stable
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14028 Automated cherry pick of #14018: Add server group management for Hetzner
  pkg/model/hetznermodel/servers.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/hetznertasks/server.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup_fitask.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/hetzner

#14009 Update Calico and Canal to v3.23.3
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14010 Automated cherry pick of #13908: Update Calico to v3.23.2 #14009: Update Calico to v3.23.3
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14032 Update continuous_integration.md
  docs/continuous_integration.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14041 Check keyset existence before attempting to distrust
  cmd/kops/distrust_keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14036 Make control plane size configurable in kops-up
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14043 Automated cherry pick of #14041: Check keyset existence before attempting to distrust
  cmd/kops/distrust_keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14044 Automated cherry pick of #14041: Check keyset existence before attempting to distrust
  cmd/kops/distrust_keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14042 Automated cherry pick of #14041: Check keyset existence before attempting to distrust
  cmd/kops/distrust_keypair.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14045 Do not allow PodSecurityPolicy using K8s 1.25
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14046 Fix SIGSEGV when deleting a Hetzner instance
  cmd/kops/delete_instance.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#14047 Automated cherry pick of #14046: Fix SIGSEGV when deleting a Hetzner instance
  cmd/kops/delete_instance.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14048 Automated cherry pick of #14046: Fix SIGSEGV when deleting a Hetzner instance
  cmd/kops/delete_instance.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14054 Use cabundle for etcd CA files to fix key rotation in HA clusters
  nodeup/pkg/model/etcd_manager_tls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#14056 Use stable kops release for kops 1.21
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14053 Remove namespaces from cluster-scoped resources in CNI manifests
  tests/integration/update_cluster/privatedns1/data/aws_s3_object_privatedns1.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatedns1/data/aws_s3_object_privatedns1.example.com-addons-networking.weave-k8s-1.12_content
  tests/integration/update_cluster/privateweave/data/aws_s3_object_privateweave.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateweave/data/aws_s3_object_privateweave.example.com-addons-networking.weave-k8s-1.12_content
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14059 Automated cherry pick of #14053: Remove namespaces from cluster-scoped resources in CNI
  tests/integration/update_cluster/privatedns1/data/aws_s3_object_privatedns1.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatedns1/data/aws_s3_object_privatedns1.example.com-addons-networking.weave-k8s-1.12_content
  tests/integration/update_cluster/privateweave/data/aws_s3_object_privateweave.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateweave/data/aws_s3_object_privateweave.example.com-addons-networking.weave-k8s-1.12_content
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14034 Enable rolling updates for Hetzner
  docs/getting_started/hetzner.md
  pkg/model/hetznermodel/servers.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/provider/hetzner

#14062 Release notes for 1.22.6
  docs/releases/1.22-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14063 Release notes for 1.23.3
  docs/releases/1.23-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14057 Wait for load balancer to be ready for Hetzner
  pkg/model/bootstrapscript.go
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#14058 Add multiple SSH keys support for Hetzner
  pkg/model/hetznermodel/context.go
  pkg/model/hetznermodel/servers.go
  pkg/model/hetznermodel/sshkey.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
  upup/pkg/fi/cloudup/hetznertasks/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#14067 Automated cherry pick of #14034: Enable rolling updates for Hetzner #14057: Wait for load balancer to be ready for Hetzner #14058: Add multiple SSH keys support for Hetzner
  docs/getting_started/hetzner.md
  pkg/model/bootstrapscript.go
  pkg/model/hetznermodel/context.go
  pkg/model/hetznermodel/servers.go
  pkg/model/hetznermodel/sshkey.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
  upup/pkg/fi/cloudup/hetznertasks/sshkey.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/provider/hetzner

#14069 Automated cherry pick of #14054: Use cabundle for etcd CA files
  nodeup/pkg/model/etcd_manager_tls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#14073 Release notes for 1.24.1
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14074 Use SSA for updating addon channel objects
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#14075 Merge cmd factories
  channels/cmd/channels/main.go
  channels/pkg/cmd/factory.go
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/create_instancegroup.go
  cmd/kops/create_keypair.go
  cmd/kops/create_secret_ciliumpassword.go
  cmd/kops/create_secret_dockerconfig.go
  cmd/kops/create_secret_encryptionconfig.go
  cmd/kops/create_secret_weavepassword.go
  cmd/kops/create_sshpublickey.go
  cmd/kops/delete_cluster.go
  cmd/kops/delete_instance.go
  cmd/kops/delete_instancegroup.go
  cmd/kops/delete_secret.go
  cmd/kops/delete_sshpublickey.go
  cmd/kops/distrust_keypair.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/export_kubeconfig.go
  cmd/kops/get.go
  cmd/kops/get_cluster.go
  cmd/kops/get_instancegroups.go
  cmd/kops/get_instances.go
  cmd/kops/get_keypairs.go
  cmd/kops/get_secrets.go
  cmd/kops/get_sshpublickeys.go
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  cmd/kops/promote_keypair.go
  cmd/kops/replace.go
  cmd/kops/rolling-update_cluster.go
  cmd/kops/root.go
  cmd/kops/toolbox.go
  cmd/kops/toolbox_dump.go
  cmd/kops/toolbox_instance-selector.go
  cmd/kops/toolbox_template.go
  cmd/kops/trust_keypair.go
  cmd/kops/update_cluster.go
  cmd/kops/upgrade_cluster.go
  cmd/kops/util/factory.go
  cmd/kops/validate_cluster.go
  pkg/commands/commandutils/cluster.go
  pkg/commands/commandutils/factory.go
  pkg/commands/helpers/kubectl_auth.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14076 Remove passing cluster name as positional argument
  cmd/kops/create_cluster.go
  cmd/kops/create_secret_ciliumpassword.go
  cmd/kops/create_secret_dockerconfig.go
  cmd/kops/create_secret_encryptionconfig.go
  cmd/kops/create_secret_weavepassword.go
  cmd/kops/create_sshpublickey.go
  cmd/kops/delete_cluster.go
  cmd/kops/delete_sshpublickey.go
  cmd/kops/edit_cluster.go
  cmd/kops/get_assets.go
  cmd/kops/get_instances.go
  cmd/kops/get_sshpublickeys.go
  cmd/kops/rolling-update_cluster.go
  cmd/kops/root.go
  cmd/kops/toolbox_dump.go
  cmd/kops/toolbox_template.go
  cmd/kops/update_cluster.go
  cmd/kops/upgrade_cluster.go
  cmd/kops/validate_cluster.go
  docs/cli/kops_create_cluster.md
  docs/cli/kops_create_secret_ciliumpassword.md
  docs/cli/kops_create_secret_dockerconfig.md
  docs/cli/kops_create_secret_encryptionconfig.md
  docs/cli/kops_create_secret_weavepassword.md
  docs/cli/kops_create_sshpublickey.md
  docs/cli/kops_delete_cluster.md
  docs/cli/kops_delete_sshpublickey.md
  docs/cli/kops_edit_cluster.md
  docs/cli/kops_get_assets.md
  docs/cli/kops_get_instances.md
  docs/cli/kops_get_sshpublickeys.md
  docs/cli/kops_rolling-update_cluster.md
  docs/cli/kops_toolbox_dump.md
  docs/cli/kops_toolbox_template.md
  docs/cli/kops_update_cluster.md
  docs/cli/kops_upgrade_cluster.md
  docs/cli/kops_validate_cluster.md
  docs/releases/1.25-NOTES.md
  pkg/featureflag/featureflag.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#13950 Automated cherry pick of #13845: Add config drive as a source for OpenStack instance metadata
  protokube/pkg/protokube/openstack_volume.go
  protokube/pkg/protokube/openstack_volume_test.go
  protokube/pkg/protokube/testdata/metadata_drive.json
  protokube/pkg/protokube/testdata/metadata_service.json
  vendor/k8s.io/utils/exec/testing/fake_exec.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, ok-to-test

#14017 Allow configuring OpenStack CCM networking options
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/cloudconfig.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, ok-to-test
