Repository kubernetes/kops, pull requests merged in 2022-06, with the labels that each got.

#13713 promote alpha to stable (k8s releases)
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13726 Bump aws cni to 1.11.2
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13728 Add CSI driver for Hetzner
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13731 Use kubectl replace instead of apply when updating addons
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#13732 Release notes for 1.24.0-beta.1
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#13739 Only rewrite to k8s.gcr.io until k8s 1.25
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13717 [DigitalOcean] Restart journald service on node startup
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#13748 Update AWS CCM images for k8s 1.20-1.22
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#13749 Channels to have exit status 1 on apply failure
  channels/pkg/cmd/apply_channel.go
  go.mod
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13756 Automated cherry pick of #13749: Channels to have exit status 1 on apply failure
  channels/pkg/cmd/apply_channel.go
  go.mod
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13715 Add support for setting mode field on file assets
  Makefile
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/file_assets.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, ok-to-test

#13759 Automated cherry pick of #13715: Add support for setting mode field on file assets
  Makefile
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/file_assets.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#13761 Revert "Use kubectl replace instead of apply when updating addons"
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#13762 Automated cherry pick of #13761: Revert "Use kubectl replace instead of apply when updating
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#13757 Run channels on upgrade e2e tests to verify addons are being applied
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#13765 Remove some unused legacy addons
  upup/models/cloudup/resources/addons/core.addons.k8s.io/addon.yaml
  upup/models/cloudup/resources/addons/core.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/limit-range.addons.k8s.io/addon.yaml
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/addon.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13760 Automated cherry pick of #13715: Add support for setting mode field on file assets
  Makefile
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/file_assets.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#13745 Bump nvidia device plugin to 0.12.0
  tests/integration/update_cluster/nvidia/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nvidia/data/aws_s3_object_minimal.example.com-addons-nvidia.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#13763 Update runc to v1.1.3
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-calico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_launch_template_nodes.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/runc.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#13771 Automated cherry pick of #13748: Update AWS CCM images for k8s 1.20-1.22
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#13770 Automated cherry pick of #13763: Update runc to v1.1.3
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_bucket_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  upup/pkg/fi/cloudup/runc.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#13772 Automated cherry pick of #13748: Update AWS CCM images for k8s 1.20-1.22
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_bucket_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_bucket_object_minimal-ipv6.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#13773 Fix namespace for cert manager webhook config
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13774 Avoid spurious changes with ed25519 keys
  upup/pkg/fi/cloudup/awstasks/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#13775 Automated cherry pick of #13773: Fix namespace for cert manager webhook config
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13780 Make the cert-manager breaking change more visible.
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#13777 Automated cherry pick of #13774: Avoid spurious changes with ed25519 keys
  upup/pkg/fi/cloudup/awstasks/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#13786 Automated cherry pick of #13779: Add back the metrics-server 443 port with a new name
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13779 Add back the metrics-server 443 port with a new name
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13781 Fix broken node selector for node termination handler
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13776 Automated cherry pick of #13774: Avoid spurious changes with ed25519 keys
  upup/pkg/fi/cloudup/awstasks/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#13787 Automated cherry pick of #13781: Fix broken node selector for node termination handler
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13790 Release notes for 1.24.0-beta.2
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#13791 Fix PDB api version for a set of addons
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_minimal-ipv6.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#13789 Remove replaces from go.mod
  go.mod
  go.sum
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/M

#13805 Use exported interface to detect SSH key type
  pkg/pki/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#13806 Use node.k8s.io/v1 API in the nvidia addon
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13807 Merge the cilium templates
  cmd/kops/integration_test.go
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.23-v1.11.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#13802 fix tenv linter
  .golangci.yaml
  nodeup/pkg/bootstrap/install_test.go
  pkg/featureflag/featureflag_test.go
  pkg/instancegroups/rollingupdate_os_test.go
  upup/pkg/fi/cloudup/networking_test.go
  util/pkg/vfs/tests/s3fs_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/rolling-update, approved, size/M

#13809 Replace flexdriver with busybox
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.23.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13810 Automated cherry pick of #13809: replace flexdriver with busybox
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.23.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#13801 add support for varcheck linter
  .golangci.yaml
  protokube/pkg/protokube/aws_volume.go
  protokube/pkg/protokube/do_volume.go
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#13822 bump k8s versions and ubuntu ami (aws) in alpha channel
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13651 chore(deps): Included dependency review
  .github/workflows/depsreview.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, kind/office-hours

#13811 add metric port to nth deployment
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#13823 Recommend the latest kOps version in alpha & stable channels and add 1.24 to alpha
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#13793 Ensure clusters with internal load balancers have a private subnet
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#13840 Use legacy-cloud-providers repo for the gcp provider dep
  dnsprovider/pkg/dnsprovider/providers/google/clouddns/clouddns.go
  go.mod
  go.sum
  tests/e2e/go.mod
  vendor/k8s.io/cloud-provider-gcp/providers/gce/BUILD
  vendor/k8s.io/cloud-provider-gcp/providers/gce/OWNERS
  vendor/k8s.io/legacy-cloud-providers/LICENSE
  vendor/k8s.io/legacy-cloud-providers/gce/OWNERS
  vendor/k8s.io/legacy-cloud-providers/gce/doc.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_address_manager.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_addresses.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_alpha.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_annotations.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_backendservice.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_cert.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_clusterid.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_clusters.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_disks.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_fake.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_firewall.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_forwardingrule.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_healthchecks.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_instancegroup.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_instances.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_interfaces.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_external.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_metrics.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_naming.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_networkendpointgroup.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_routes.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_securitypolicy.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_targetpool.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_targetproxy.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_tpu.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_urlmap.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_util.go
  vendor/k8s.io/legacy-cloud-providers/gce/gce_zones.go
  vendor/k8s.io/legacy-cloud-providers/gce/metrics.go
  vendor/k8s.io/legacy-cloud-providers/gce/support.go
  vendor/k8s.io/legacy-cloud-providers/gce/token_source.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/M

#13841 Remove the removable replaces in kubetest2
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: cncf-cla: yes, lgtm, approved, size/L

#13828 Add kubetest2 scenario for testing many addons
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/upgrade-ab/run-test.sh
  tests/e2e/templates/many-addons.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/L

#13842 Skip known failing cilium e2e test
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13846 Do not run cluster autoscaler on spot instances
  docs/releases/1.24-NOTES.md
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/addons

#13847 Automated cherry pick of #13846: Do not run CAS on spot instances
  docs/releases/1.24-NOTES.md
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/addons

#13857 Fix GCE resource tracking
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#13707 Adding GuestAccelerators to InstanceTemplate
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/gcetasks/accelerator_config.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/gcp, ok-to-test

#13862 Align website and readme file
  docs/index.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#13866 Limit GCE tag for role to 63 chars
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gce/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#13863 Automated cherry pick of #13857: Fix GCE resource tracking
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#13865 Automated cherry pick of #13707: Adding GuestAccelerators to InstanceTemplate
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/gcetasks/accelerator_config.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/gcp

#13867 Automated cherry pick of #13866: Limit GCE tag for role to 63 chars
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gce/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#13868 Promote alpha to stable
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#13869 Clean-up firewall rules that contain targets with the cluster name hash
  cmd/kops/integration_test.go
  pkg/resources/gce/gce.go
  pkg/truncate/truncate.go
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/provider/gcp

#13819 Replace manifests after apply
  channels/pkg/channels/apply.go
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels, kind/office-hours

#13871 Automated cherry pick of #13819: Replace manifests after apply
  channels/pkg/channels/apply.go
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13870 Bump kubetest2 to test rundir
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13881 Release notes for 1.24.0-beta.3
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#13885 Generate cli docs after updating dependencies
  .github/workflows/update-deps.yml
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13891 Update troubleshoot.md
  docs/operations/troubleshoot.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#13872 Automated cherry pick of #13869: Clean-up firewall rules that contain targets with the
  cmd/kops/integration_test.go
  pkg/resources/gce/gce.go
  pkg/truncate/truncate.go
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-etcdmanager-events_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-etcdmanager-main_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-long-name.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_ssh-keys
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_longclustername/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/provider/gcp

#13894 Replace Dependabot with regular `update-deps` run
  .github/dependabot.yml
  .github/workflows/update-deps.yml
Labels: cncf-cla: yes, lgtm, approved, size/S

#13896 Log errors from detachInstance
  pkg/instancegroups/instancegroups.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/XS

#13854 increase backoff time when updating loadbalancer pool member
  upup/pkg/fi/cloudup/openstack/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#13899 Automated cherry pick of #13896: Log errors from detachInstance
  pkg/instancegroups/instancegroups.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/XS

#13903 gce: Move out of beta, drop feature flag
  cmd/kops/create_cluster.go
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  docs/cli/kops_create_cluster.md
  docs/getting_started/gce.md
  hack/dev-build-gce.sh
  pkg/clouds/supported.go
  pkg/featureflag/featureflag.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/upgrade-ha-leader-migration/run-test.sh
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#13902 gce: set ProvisioningModel on InstanceTemplate
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#13905 Automated cherry pick of #13902: gce: set ProvisioningModel on InstanceTemplate
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#13904 Automated cherry pick of #13903: gce: Move out of beta, drop feature flag
  cmd/kops/create_cluster.go
  cmd/kops/integration_test.go
  cmd/kops/lifecycle_integration_test.go
  docs/cli/kops_create_cluster.md
  docs/getting_started/gce.md
  hack/dev-build-gce.sh
  pkg/clouds/supported.go
  pkg/featureflag/featureflag.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/upgrade-ha-leader-migration/run-test.sh
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#13860 Set Makefile GITSHA to the git sha instead of human 'readable' name
  docs/contributing/test_versions.md
  tests/e2e/kubetest2-kops/deployer/build.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#13888 Add validation for IRSA bucket name which contains dots
  pkg/apis/kops/validation/legacy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS, ok-to-test

#13907 Fix cleanup of firewall rules that contain targets with the cluster name hash
  pkg/resources/gce/gce.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#13908 Update Calico to v3.23.2
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.23_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.23.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13910 Automated cherry pick of #13907: Fix cleanup of firewall rules that contain the cluster name
  pkg/resources/gce/gce.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#13913 Automated cherry pick of #13897: Apply PKI even if addon fails
  channels/pkg/channels/addon.go
  channels/pkg/channels/apply.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#13914 Ignore the _rundir that kubetest2 now creates
  .gitignore
Labels: cncf-cla: yes, lgtm, approved, size/XS

#13901 Use Calico v3.23 for Kubernetes 1.22+
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13920 gce: Refactor ClusterPrefixedName and ClusterSuffixedName to not return error
  pkg/model/gcemodel/context.go
  pkg/model/master_volumes.go
  pkg/resources/gce/gce.go
  upup/pkg/fi/cloudup/gce/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#13921 Automated cherry pick of #13920: Refactor ClusterPrefixedName and ClusterSuffixedName to not
  pkg/model/gcemodel/context.go
  pkg/model/master_volumes.go
  pkg/resources/gce/gce.go
  upup/pkg/fi/cloudup/gce/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#13922 Mount /etc/hosts from host for CoreDNS
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#13873 Limit GCE names to 63 chars for various resources
  pkg/model/gcemodel/context.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp, area/addons

#13929 Make it possible to enable the shield addon for LBC
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/addonmanifests/awsloadbalancercontroller/iam.go
  pkg/model/iam/iam_builder.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#13930 Automated cherry pick of #13929: Make it possible to enable the shield addon for LBC
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/addonmanifests/awsloadbalancercontroller/iam.go
  pkg/model/iam/iam_builder.go
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#13928 Automated cherry pick of #13926: Make IRSA webhook configure apps to use regional STS and set
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#13917 Update Cilium to 1.11.6
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, ok-to-test, area/addons

#13927 Automated cherry pick of #13873: Limit GCE names to 63 chars for various resources
  pkg/model/gcemodel/context.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp
