Repository kubernetes/kops, pull requests merged in 2022-12, with the labels that each got.

#14697 Use newer terminology in validation
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14696 Fix edit.HasExtraFields()
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  pkg/edit/edit.go
  pkg/edit/edit_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14691 Stop trying to populate arbitrary cluster fields from the channel
  pkg/apis/kops/channel.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14694 Fix Cilium ENI ipam
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#14698 Refactor writing of terraform block
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14707 aws: Skip Route53 cleanup for clusters without DNS
  pkg/resources/aws/aws.go
  pkg/resources/ops/collector.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14704 Update OWNERS files
  OWNERS
  pkg/model/openstackmodel/OWNERS
  pkg/resources/openstack/OWNERS
  pkg/resources/spotinst/OWNERS
  upup/pkg/fi/cloudup/openstack/OWNERS
  upup/pkg/fi/cloudup/openstacktasks/OWNERS
  upup/pkg/fi/cloudup/spotinsttasks/OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, area/provider/spotinst, kind/office-hours

#14709 metrics-server: Set preferred address type to `InternalIP` when non AWS
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp, area/addons

#14719 A couple of static checks cleanups
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/get_all.go
  cmd/kops/get_cluster.go
  cmd/kops/get_keypairs.go
  cmd/kops/get_secrets.go
  cmd/kops/integration_test.go
  cmd/kops/validate_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14703 gce: Set AUTOSCALER_ENV_VARS in instance template metadata
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#14720 upgrade authentication.aws to v0.5.12
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-authentication.aws-k8s-1.12_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/crd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/mappings/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#14715 Upgrade Node Termination Handler to 1.18.1 and fix some issues
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/addons

#14701 gce: Update default instance types
  docs/releases/1.26-NOTES.md
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp, kind/office-hours

#14722 gce: Allow metrics-server to access kubelet API
  pkg/model/gcemodel/firewall.go
  pkg/wellknownports/wellknownports.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#14641 Scaleway create cluster
  nodeup/pkg/model/protokube.go
  pkg/apis/kops/validation/legacy.go
  pkg/model/components/apiserver.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/sshkey.go
  upup/pkg/fi/cloudup/scalewaytasks/volume.go
  upup/pkg/fi/cloudup/scalewaytasks/volume_fitask.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, ok-to-test, area/provider/scaleway

#14676 Update documentation and validation for Cilium
  docs/networking.md
  docs/networking/cilium.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S, kind/office-hours

#14723 Refactor writing Terraform resources
  upup/pkg/fi/cloudup/terraform/element.go
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14737 aws: Use EnsureTask to reference shared target groups
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws, kind/bug

#14740 Make curl fail on 404 in scenario tests
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#14738 aws: Add support for managing target group attributes
  cloudmock/aws/mockelbv2/api.go
  cloudmock/aws/mockelbv2/targetgroups.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14742 OpenStack: Refactor Load Balancer builder
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/options.yaml
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack

#14745 kops-controller: increase verbosity level on logs in gossip controller
  cmd/kops-controller/controllers/hosts_controller.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#14747 bump k8s versions and ubuntu ami version in alpha channel
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14746 Overflow wrap the content column so content doesn't go under right sidebar and not be readable
  docs/extra.css
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14750 Enable NTH Scheduled Event Draining by default
  docs/releases/1.26-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#14748 trying to fix the broken list items for ECR permissions
  docs/iam_roles.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14751 Bump kOps versions in alpha and stable channels
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#14757 Automated cherry pick of #14704: Update OWNERS files
  OWNERS
  pkg/model/openstackmodel/OWNERS
  pkg/resources/openstack/OWNERS
  pkg/resources/spotinst/OWNERS
  upup/pkg/fi/cloudup/openstack/OWNERS
  upup/pkg/fi/cloudup/openstacktasks/OWNERS
  upup/pkg/fi/cloudup/spotinsttasks/OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, area/provider/spotinst

#14758 Automated cherry pick of #14704: Update OWNERS files
  OWNERS
  pkg/model/openstackmodel/OWNERS
  pkg/resources/openstack/OWNERS
  pkg/resources/spotinst/OWNERS
  upup/pkg/fi/cloudup/openstack/OWNERS
  upup/pkg/fi/cloudup/openstacktasks/OWNERS
  upup/pkg/fi/cloudup/spotinsttasks/OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, area/provider/spotinst

#14754 Promote alpha channel to stable
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14730 Refactor writing Terraform providers
  go.mod
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/element.go
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14732 Bump cilium version to 1.12.4
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XXL, area/addons

#14779 Update Go to v1.19.4
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14780 Automated cherry pick of #14779: Update Go to v1.19.4
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14778 Introduce context.Context into some of our "Context" objects
  nodeup/pkg/bootstrap/install.go
  pkg/testutils/integrationtestharness.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/awstasks/internetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
  upup/pkg/fi/cloudup/awstasks/subnet_test.go
  upup/pkg/fi/cloudup/awstasks/vpc_test.go
  upup/pkg/fi/cloudup/gcetasks/projectiambinding_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/cloudup/gcetasks/storagebucketiam_test.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/context.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/task.go
  util/pkg/vfs/context.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/provider/aws, area/provider/gcp

#14736 scaleway : nodeidentity
  cmd/kops-controller/main.go
  pkg/nodeidentity/scaleway/OWNERS
  pkg/nodeidentity/scaleway/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/L, ok-to-test, area/kops-controller, area/provider/scaleway

#14768 Guess cloud provider from state store path
  cmd/kops/create_cluster.go
  pkg/clouds/supported.go
  pkg/zones/wellknown.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14683 Get AWS zones list from AWS SDK
  cmd/kops/create_cluster.go
  pkg/zones/wellknown.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#14773 Calico: Don't try to upgrade IPAM in IPv6 clusters
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14743 OpenStack: allow no lbclient when checking for vipacl
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#14769 gce: Add support for clusters without DNS
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  pkg/apis/kops/validation/validation.go
  pkg/model/gcemodel/api_loadbalancer.go
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/options.yaml
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_dns-none/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_dns-none/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XXL, area/provider/gcp

#14791 Automated cherry pick of #14789: Update containerd to v1.6.13
  pkg/model/components/containerd.go
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14731 scaleway: list and delete resources
  pkg/resources/ops/collector.go
  pkg/resources/scaleway/OWNERS
  pkg/resources/scaleway/resources.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/sshkey.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, ok-to-test, area/kops-controller, area/provider/scaleway

#14729 Always use load balancer address in kubeconfig
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#14794 Upgrade AWS CCM to v1.26.0
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.26/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-dns-none/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-dns-none/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-dns-none/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/S

#14771 Don't drain on rebalance recommendations in SQS mode unless configured
  cmd/kops/integration_test.go
  docs/releases/1.26-NOTES.md
  pkg/model/awsmodel/nodeterminationhandler.go
  pkg/resources/aws/eventbridge.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons-ccm-irsa/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons-ccm-irsa23/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons-ccm-irsa24/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons-ccm-irsa25/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons-ccm-irsa26/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons/data/aws_cloudwatch_event_rule_minimal.example.com-RebalanceRecommendation_event_pattern
  tests/integration/update_cluster/many-addons/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/eventbridgerule.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14795 Upgrade older AWS CCM minor versions
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/aws-cloud-controller.addons.k8s.io-k8s-1.18.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#14796 NTH: add API validation against unsupported option configurations
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14799 Support public buckets for serviceAccountIssuers on S3
  docs/releases/1.26-NOTES.md
  pkg/model/issuerdiscovery.go
  tests/integration/update_cluster/aws-lb-controller/kubernetes.tf
  tests/integration/update_cluster/digit/kubernetes.tf
  tests/integration/update_cluster/external_dns_irsa/kubernetes.tf
  tests/integration/update_cluster/irsa/kubernetes.tf
  tests/integration/update_cluster/karpenter/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa23/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa24/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa25/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa26/kubernetes.tf
  tests/integration/update_cluster/minimal_gossip_irsa/kubernetes.tf
  tests/integration/update_cluster/nth-imds-processor-irsa/kubernetes.tf
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/vfs-said/kubernetes.tf
  util/pkg/vfs/s3fs.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#14800 Always include load balancer domain in APIServer certificate
  pkg/model/awsmodel/api_loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14792 NTH: Remove unnecessary configuration in Queue Processor mode
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14805 Bump metrics-server to 0.6.2
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14806 Base OpenStack API resources on cluster name if public name is not set
  pkg/model/openstackmodel/context.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup.go
  tests/integration/update_cluster/minimal_openstack/in-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#14804 Add call for experimental-CNI maintainers
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14664 v1alpha3: move AWS-specific fields to AWSSpec
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/cluster_test.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/iam.go
  pkg/model/awsmodel/nodeterminationhandler.go
  pkg/model/components/addonmanifests/awsloadbalancercontroller/iam.go
  pkg/model/components/nodeterminationhandler.go
  pkg/model/context.go
  pkg/model/iam/iam_builder.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/aws, area/addons, kind/office-hours

#14727 Move kops-controller client into its own package
  nodeup/pkg/model/bootstrap_client.go
  pkg/kopscontrollerclient/client.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#14817 Automated cherry pick of #14815: Update containerd to v1.6.14
  pkg/model/components/containerd.go
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14813 v1alpha3: Move some GCE-specific fields to CloudProvider.GCE
  docs/cluster_spec.md
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/gcppdcsidriver.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/service_accounts.go
  pkg/model/gcemodel/storageacl.go
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_nodes-ha-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_master-us-test1-a-minimal-example-com_metadata_startup-script
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_nodes-minimal-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-ilb-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_nodes-minimal-gce-ilb-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_startup-script
  upup/models/cloudup/resources/addons/storage-gce.addons.k8s.io/v1.7.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, area/provider/gcp, area/addons

#14822 Remove nodeup's unused cloudinit target
  cmd/nodeup/main.go
  upup/pkg/fi/nodeup/cloudinit/cloud_init_target.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/archive.go
  upup/pkg/fi/nodeup/nodetasks/bindmount.go
  upup/pkg/fi/nodeup/nodetasks/chattr.go
  upup/pkg/fi/nodeup/nodetasks/file.go
  upup/pkg/fi/nodeup/nodetasks/group.go
  upup/pkg/fi/nodeup/nodetasks/load_image.go
  upup/pkg/fi/nodeup/nodetasks/package.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/nodeup/nodetasks/update_etc_hosts_task.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
  upup/pkg/fi/nodeup/nodetasks/user.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#14824 Update cert-manager to v1.10.1
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#14825 Move Cluster into CloudupSubContext
  pkg/apis/nodeup/config.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/routetable.go
  upup/pkg/fi/cloudup/gcetasks/subnet.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
  upup/pkg/fi/cloudup/openstacktasks/port_test.go
  upup/pkg/fi/context.go
  upup/pkg/fi/fitasks/managedfile.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/local/local_target.go
  upup/pkg/fi/nodeup/nodetasks/package.go
  upup/pkg/fi/nodeup/nodetasks/prefix.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/gcp, area/provider/openstack, area/provider/hetzner

#14826 Update AWS test scenarios
  docs/cluster_spec.md
  tests/e2e/scenarios/aws-ebs-csi/run-test.sh
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14828 Use cluster autoscaler 1.26 on k8s 1.26 clusters
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#14831 vfs: avoid early initialization of GCS client
  pkg/acls/gce/storage.go
  util/pkg/vfs/context.go
  util/pkg/vfs/gsfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14833 Cleanup double-license header in file
  util/pkg/vfs/k8scontext.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14830 Move more state out of the shared fi.Context
  nodeup/pkg/model/context.go
  pkg/configserver/keystore.go
  upup/pkg/fi/ca.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/awstasks/internetgateway_test.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
  upup/pkg/fi/cloudup/awstasks/subnet_test.go
  upup/pkg/fi/cloudup/awstasks/vpc_test.go
  upup/pkg/fi/cloudup/awsup/aws_apitarget.go
  upup/pkg/fi/cloudup/azure/azure_apitarget.go
  upup/pkg/fi/cloudup/do/api_target.go
  upup/pkg/fi/cloudup/gce/gce_apitarget.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/cloudup/hetzner/api_target.go
  upup/pkg/fi/cloudup/openstack/apitarget.go
  upup/pkg/fi/cloudup/scaleway/api_target.go
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/context.go
  upup/pkg/fi/default_methods.go
  upup/pkg/fi/dryrun_target.go
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/fitasks/mirrorkeystore.go
  upup/pkg/fi/fitasks/mirrorsecrets.go
  upup/pkg/fi/fitasks/secret.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/install/install_target.go
  upup/pkg/fi/nodeup/local/local_target.go
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
  upup/pkg/fi/target.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/provider/aws, area/provider/azure, area/provider/gcp, area/provider/openstack, area/provider/digitalocean, area/provider/hetzner, area/provider/scaleway

#14835 Use OnDelete update strategy for node local dns cache
  channels/pkg/api/channel.go
  channels/pkg/channels/addon.go
  channels/pkg/channels/addons_test.go
  cmd/kops/integration_test.go
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-nodelocaldns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/in-v1alpha2.yaml
  tests/integration/update_cluster/many-addons-ccm-irsa26/kubernetes.tf
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels, area/addons

#14832 vfs: add context to s3 functions
  util/pkg/vfs/s3context.go
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14836 Fix logspam on debian
  nodeup/pkg/model/miscutils.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14838 Use --set instead of deprecated --override flag
  docs/contributing/testing.md
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
  tests/e2e/scenarios/cilium-connectivity-test/run-test.sh
  tests/e2e/scenarios/metrics-server/run-test.sh
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14840 Update resource tracking test scenario
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#14842 Fix logging of the generated e2e cluster name
  tests/e2e/kubetest2-kops/deployer/common.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14841 Bump cilium to 1.12.5
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#14844 Update resource tracking test scenario, again
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14843 VFS: Add context to internals of Openstack Swift client
  util/pkg/vfs/context.go
  util/pkg/vfs/swiftfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14847 openstack: Refactor DNS client initialization
  pkg/model/openstackmodel/context.go
  protokube/pkg/protokube/openstack_volume.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
  upup/pkg/fi/cloudup/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack

#14848 Validate control-plane IG size
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14849 Automated cherry pick of #14848: Validate control-plane IG size
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14853 vfs: cleanup of SSH code
  util/pkg/vfs/sshfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14852 vfs: wire context into SSHPath
  util/pkg/vfs/sshfs.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14855 Upgrade external-dns to 0.13.1
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/external_dns_irsa/data/aws_s3_object_minimal.example.com-addons-external-dns.addons.k8s.io-k8s-1.19_content
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/README.md
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14846 Allow migration from Gossip DNS to no DNS
  pkg/apis/kops/cluster.go
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#14856 Validate external-dns not being used for IPv6 clusters
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#14863 Add context to GetOrCreateSecret
  cmd/kops/create_secret_ciliumpassword.go
  cmd/kops/create_secret_dockerconfig.go
  cmd/kops/create_secret_encryptionconfig.go
  cmd/kops/create_secret_weavepassword.go
  pkg/configserver/secretstore.go
  upup/pkg/fi/fitasks/secret.go
  upup/pkg/fi/secrets.go
  upup/pkg/fi/secrets/clientset_secretstore.go
  upup/pkg/fi/secrets/vfs_secretstore.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14862 VFS: Add context to CreateFile & WriteFile
  cmd/kops/integration_test.go
  pkg/assets/copyfile.go
  pkg/client/simple/vfsclientset/addons.go
  pkg/client/simple/vfsclientset/commonvfs.go
  pkg/model/components/image_test.go
  pkg/testutils/testcontext/context.go
  upup/models/vfs.go
  upup/pkg/fi/fitasks/managedfile.go
  upup/pkg/fi/secrets/clientset_secretstore.go
  upup/pkg/fi/secrets/vfs_secretstore.go
  upup/pkg/fi/vfs_castore.go
  util/pkg/vfs/azureblob.go
  util/pkg/vfs/fs.go
  util/pkg/vfs/fs_test.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/k8sfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/memfs_test.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/sshfs.go
  util/pkg/vfs/swiftfs.go
  util/pkg/vfs/vfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14861 Mount the audit config dir for kube-apiserver
  docs/cluster_spec.md
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  nodeup/pkg/model/tests/golden/audit/cluster.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kops-controller.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-scheduler.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kubectl.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-secret.yaml
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XXL

#14867 FindKeyset can return nil
  channels/pkg/channels/addon.go
  cmd/kops-controller/pkg/server/keystore.go
  cmd/kops-controller/pkg/server/server.go
  cmd/kops/create_keypair.go
  cmd/kops/distrust_keypair.go
  cmd/kops/export_kubeconfig.go
  cmd/kops/promote_keypair.go
  cmd/kops/trust_keypair.go
  cmd/kops/update_cluster.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/fakes_test.go
  pkg/commands/helpers/kubectl_auth.go
  pkg/configserver/keystore.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/pki/issue.go
  pkg/pki/issue_test.go
  upup/pkg/fi/ca.go
  upup/pkg/fi/clientset_castore.go
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
  upup/pkg/fi/vfs_castore.go
  upup/pkg/fi/vfs_castore_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/channels, area/kops-controller

#14868 Avoid triggering upgrade tests on release commits
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14872 OWNERS needs to be synced to k8s.io
  OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14873 Fix file extension of 1.27 release notes
  docs/releases/1.27-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14874 v1alpha3: Move AWS-specific CloudConfig settings to AWSSpec
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/components/aws.go
  pkg/model/components/cloudconfiguration.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws

#14876 Include kops-controller logs in toolbox dump
  pkg/dump/dumper.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14878 Simplify pointers to maps in API
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/iam.go
  upup/pkg/fi/cloudup/terraform/target.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws

#14888 Fix ingress status for loadbalancers that does not have publicname
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack

#14890 Automated cherry pick of #14888: Fix ingress status for loadbalancers that does not have
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack

#14897 Include SSHCredentials in create cluster dryrun output
  cmd/kops/create_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14900 Automated cherry pick of #14897: Include SSHCredentials in create cluster dryrun output
  cmd/kops/create_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14901 Documentation updates
  docs/getting_started/kubectl.md
  docs/getting_started/production.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14882 APIServer nodes need cloudconfig
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  pkg/apis/nodeup/config.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#14902 Etcd domains are now under .internal.
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14904 Automated cherry pick of #14902: etcd domains are now under .internal.
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14903 Automated cherry pick of #14902: etcd domains are now under .internal.
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14889 Automated cherry pick of #14887: set loadbalancer configs before initializing the OS
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#14883 Improve validation of API loadbalancer specs
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14887 set loadbalancer configs before initializing the OS clients
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#14908 Automated cherry pick of #14907: APIServer nodes also need apiserverAdditionalIPs
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14907 APIServer nodes also need apiserverAdditionalIPs
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14881 Move networking validations inside validateNetworking()
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L

#14909 Make IsValidValue more useful for enum types
  pkg/apis/kops/cluster.go
  pkg/apis/kops/topology.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/helpers.go
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14893 Don't expose v1alpha3 API
  pkg/apis/kops/install/install.go
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/integration_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14914 Don't require subnets on DO and Hetzner
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#14915 Reduce use of cluster topology field
  pkg/model/awsmodel/network.go
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws, area/provider/gcp
