Repository kubernetes/kops, pull requests merged in 2022-11, with the labels that each got.

#14443 Move GCE project under CloudProvider in v1alpha3 API
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/utils.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#14485 Upgrade Amazon VPC CNI to v1.12.0
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14486 Update aws.md
  docs/getting_started/aws.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14487 doc_fix: fixing update cluster command
  docs/security.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14440 hetzner: Create cluster without DNS or Gossip
  cmd/kops/create_cluster.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  nodeup/pkg/model/etc_hosts.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/topology.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/nodeup/config.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/iam.go
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/model/bootstrapscript.go
  pkg/model/components/defaults.go
  pkg/model/components/discovery.go
  pkg/model/context.go
  pkg/model/domodel/api_loadbalancer.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/pki.go
  pkg/validation/validate_cluster.go
  tests/integration/create_cluster/ha_hetzner/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_hetzner/options.yaml
  tests/integration/create_cluster/minimal_hetzner/expected-v1alpha2.yaml
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_manifests-etcdmanager-events-master-fsn1_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_manifests-etcdmanager-main-master-fsn1_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_nodeupconfig-master-fsn1_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_nodeupconfig-nodes-fsn1_content
  tests/integration/update_cluster/minimal_hetzner/data/hcloud_server_master-fsn1_user_data
  tests/integration/update_cluster/minimal_hetzner/data/hcloud_server_nodes-fsn1_user_data
  tests/integration/update_cluster/minimal_hetzner/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_hetzner/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XL, area/provider/hetzner

#14460 hetzner: Use kops-controller for node bootstrap
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  cmd/kops/integration_test.go
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_nodeupconfig-nodes-fsn1_content
  tests/integration/update_cluster/minimal_hetzner/data/hcloud_server_nodes-fsn1_user_data
  tests/integration/update_cluster/minimal_hetzner/kubernetes.tf
  upup/pkg/fi/cloudup/hetzner/authenticator.go
  upup/pkg/fi/cloudup/hetzner/verifier.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/kops-controller, area/provider/hetzner

#14492 hetzner: Add listener for kops-controller when using it for node bootstrap
  nodeup/pkg/model/etc_hosts.go
  pkg/model/hetznermodel/loadbalancer.go
  tests/integration/update_cluster/minimal_hetzner/kubernetes.tf
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, area/provider/hetzner

#14454 Revert deprecation of positional clustername args
  cmd/kops/root.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14468 Create NLB instead of CLB for bastion
  cloudmock/aws/mockelbv2/api.go
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/releases/1.26-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/bastion.go
  pkg/apis/kops/v1alpha2/bastion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/bastion.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/bastion.go
  pkg/testutils/integrationtestharness.go
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XXL, area/provider/aws, kind/office-hours

#14488 Deprecate Ubuntu 18.04
  docs/operations/images.md
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14500 Also dump logs from IPv6 nodes
  pkg/dump/dumper.go
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14499 aws: delete CLBs after migration to NLB
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14498 Update TopologySpec for v1alpha3 API
  examples/kops-api-example/up.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/topology.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/topology.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/defaults.go
  pkg/apis/kops/v1alpha3/topology.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/openstack.go
  pkg/apis/kops/validation/openstack_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/model/awsmodel/dns.go
  pkg/model/components/kubescheduler/tests/kubeschedulerconfig/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/minimal/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/mixing/completed-cluster.yaml
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/testutils/cluster.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/canal/v1alpha2.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/cilium/v1alpha2.yaml
  tests/integration/conversion/cilium/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha2.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/minimal/legacy-v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha3.yaml
  tests/integration/conversion/openstack/v1alpha2.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, area/rolling-update, approved, size/L, area/provider/aws, area/provider/gcp, area/provider/openstack

#14503 Set customizable affinity and tolerations for coredns-autoscaler to match main coredns deployment
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/coredns.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14505 Automated cherry pick of #14503: use the same tolerations config for coredns-autoscaler
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/coredns.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14506 Automated cherry pick of #14503: use the same tolerations config for coredns-autoscaler
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/coredns.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/coredns/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14508 do: Return ingress addresses even when public name is not set
  upup/pkg/fi/cloudup/do/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/digitalocean

#14513 AWS CNI template updates
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14516 Automated cherry pick of #14513: add a condition for the aws-cni ClusterRole based on the
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14515 Automated cherry pick of #14513: add a condition for the aws-cni ClusterRole based on the
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14511 Remove support for "external" networking as of k8s 1.26
  docs/releases/1.26-NOTES.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XS

#14512 Remove obsolete kubenet information from networking.md
  docs/networking.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14517 aws: Fix TestPolicyGeneration output
  pkg/model/iam/iam_builder_test.go
  pkg/model/iam/tests/iam_builder_node_strict.json
  pkg/model/iam/tests/iam_builder_node_strict_ecr.json
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14522 Use bastion to dump private instances
  cmd/kops/toolbox_dump.go
  pkg/dump/dumper.go
  pkg/resources/aws/aws.go
  pkg/resources/dumpmodel.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/forward.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14526 bump k8s patch versions in alpha for November releases
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14524 Change the default networking provider to Cilium
  docs/cli/kops_create_cluster.md
  docs/networking.md
  docs/releases/1.26-NOTES.md
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14525 Promote Ubuntu Version from Alpha to Stable
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14529 Can only request agent forwarding once per connection
  pkg/dump/dumper.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14530 Skip the SSH-to-nodes test in private topology
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14533 Fix a spot missed when changing default CNI to Cilium
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14534 Bump channels
  channels/alpha
  channels/stable
  docs/operations/images.md
  hack/update-expected.sh
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/channels

#14535 Add --bastion-image flag to "kops create cluster"
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14536 Document that Flatcar can run Calico IPv6
  docs/networking/ipv6.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14538 Use local API server on control plane nodes for clusters without DNS
  nodeup/pkg/model/etc_hosts.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14539 Use ARM instancetype for ARM images in tests
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14542 c7g.large doesn't exist in all regions yet
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14544 Clearer error messages around instance types not found
  pkg/apis/kops/validation/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/provider/aws

#14549 Update Go to v1.19.3
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14552 Automated cherry pick of #14549: Update Go to v1.19.3
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14555 Update Go to v1.18.8
  .github/workflows/main.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14551 Update Calico and Canal to latest versions
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14558 Manual cherry pick of #14551: Update Calico and Canal to latest versions
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14553 Automated cherry pick of #14551: Update Calico and Canal to latest versions
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14556 Automated cherry pick of #14550: Update containerd to v1.6.10
  pkg/model/components/containerd.go
  tests/integration/update_cluster/complex/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-calico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_master-us-test-1a.masters.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_launch_template_nodes.minimal-ipv6.example.com_user_data
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_startup-script
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_master-us-test-1a.masters.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_launch_template_nodes.privatecalico.example.com_user_data
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_nodeupconfig-nodes_content
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14543 Update topology.md
  docs/topology.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14563 Add missing create tags permissions for cilium operator in ENI mode
  pkg/model/iam/iam_builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14541 Ensure IRSA is enabled when using Karpenter
  docs/cluster_spec.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S

#14564 use sprig join for template functions
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14567 Automated cherry pick of #14564: use sprig join for template functions
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14568 Automated cherry pick of #14564: use sprig join for template functions
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14548 Run some scenarios on ARM
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
  tests/e2e/scenarios/keypair-rotation/run-test.sh
  tests/e2e/scenarios/metrics-server/run-test.sh
  tests/e2e/scenarios/podidentitywebhook/cluster.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/S

#14532 Add "kops get all" command
  cmd/kops/get.go
  cmd/kops/get_all.go
  docs/cli/kops_get.md
  docs/cli/kops_get_all.md
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#14574 Automated cherry pick of #14573: Allow using the price-capacity-optimized spot allocation
  pkg/apis/kops/instancegroup.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#14579 Automated cherry pick of #14563: Add missing create tags permissions for cilium operator in
  pkg/model/iam/iam_builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14576 aws: Fix SIGSEGV when using instance selector
  cmd/kops/toolbox_instance-selector.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14581 Automated cherry pick of #14576: aws: Fix SIGSEGV when using instance selector
  cmd/kops/toolbox_instance-selector.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14580 Automated cherry pick of #14576: aws: Fix SIGSEGV when using instance selector
  cmd/kops/toolbox_instance-selector.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14586 Bump cilium to 1.11.11
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14588 Automated cherry pick of #14586: Bump cilium to 1.11.11
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14585 Update ko to v0.12.0
  hack/install-ko.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14589 Fix disabling StorageClass management
  upup/models/cloudup/resources/addons/storage-aws.addons.k8s.io/v1.15.0.yaml.template
  upup/models/cloudup/resources/addons/storage-gce.addons.k8s.io/v1.7.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/bug, area/addons

#14587 Switch to using k8s.io/cloud-provider-gcp
  dnsprovider/pkg/dnsprovider/providers/google/clouddns/clouddns.go
  go.mod
  go.sum
  vendor/k8s.io/cloud-provider-gcp/providers/LICENSE
  vendor/k8s.io/cloud-provider-gcp/providers/gce/BUILD
  vendor/k8s.io/cloud-provider-gcp/providers/gce/OWNERS
  vendor/k8s.io/cloud-provider-gcp/providers/gce/doc.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_address_manager.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_addresses.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_alpha.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_annotations.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_backendservice.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_cert.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_clusterid.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_clusters.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_disks.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_fake.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_firewall.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_forwardingrule.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_healthchecks.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_instancegroup.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_instances.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_interfaces.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_loadbalancer.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_loadbalancer_external.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_loadbalancer_internal.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_loadbalancer_metrics.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_loadbalancer_naming.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_networkendpointgroup.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_routes.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_securitypolicy.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_targetpool.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_targetproxy.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_tpu.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_urlmap.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_util.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/gce_zones.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/metrics.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/support.go
  vendor/k8s.io/cloud-provider-gcp/providers/gce/token_source.go
  vendor/k8s.io/legacy-cloud-providers/gce/OWNERS
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14590 Automated cherry pick of #14589: Fix disabling StorageClass management
  upup/models/cloudup/resources/addons/storage-aws.addons.k8s.io/v1.15.0.yaml.template
  upup/models/cloudup/resources/addons/storage-gce.addons.k8s.io/v1.7.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14594 skip Loadbalancer UDP tests
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14595 Add generics alternatives for fi.Bool/Float*/Int*/String*()
  upup/pkg/fi/values.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14597 Automated cherry pick of #14595: Add generics alternatives for fi.Bool/Float*/Int*/String*()
  upup/pkg/fi/values.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14598 Automated cherry pick of #14595: Add generics alternatives for fi.Bool/Float*/Int*/String*()
  upup/pkg/fi/values.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14596 Re-add inadvertently-dropped deprecation notices
  docs/releases/1.25-NOTES.md
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14531 New IPv6 clusters now default to private topology
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/releases/1.26-NOTES.md
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, kind/office-hours

#14604 Fix the keypair-rotation scenario test
  tests/e2e/scenarios/keypair-rotation/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14577 Add option for setting Kubernetes feature gates
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  docs/cli/kops_create_cluster.md
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/options.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#14504 v1alpha3: Move API-related settings under API
  cmd/kops/create_cluster.go
  cmd/kops/update_cluster.go
  nodeup/pkg/model/etc_hosts.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/defaults.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/commands/set_cluster_test.go
  pkg/commands/unset_cluster_test.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/external_access.go
  pkg/model/azuremodel/testing.go
  pkg/model/components/discovery.go
  pkg/model/context.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/external_access.go
  pkg/model/hetznermodel/firewall.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/testutils/cluster.go
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/cilium/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/minimal/v1alpha3.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/dns_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/azure, area/provider/gcp, area/provider/openstack, area/provider/digitalocean, area/addons, area/provider/hetzner

#14610 Update AMI used in many-addons scenarios
  tests/e2e/templates/many-addons.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14613 Load images before starting the kubelet service
  upup/pkg/fi/nodeup/nodetasks/service.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#14609 Miscellaneous non-user-visible API changes
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/network.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/context.go
  pkg/model/gcemodel/network.go
  pkg/model/openstackmodel/context.go
  pkg/model/openstackmodel/network.go
  pkg/model/openstackmodel/servergroup.go
  upup/pkg/fi/cloudup/gce/network.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/subnets.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws, area/provider/gcp, area/provider/openstack

#14612 Remove support for IPv6 on Debian
  docs/networking/ipv6.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14615 Automated cherry pick of #14434: add option to query AMIs IDs from SSM
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/service.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/ssmiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/waiters.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14614 Add minimum version for specifying an AMI through an SSM parameter
  docs/operations/images.md
  docs/tutorial/working-with-instancegroups.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14617 Automated cherry pick of #14442: Fix pdb for identity webhook
  tests/e2e/templates/many-addons.yaml.tmpl
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14618 Cherry pick of #14442: Fix pdb for identity webhook
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14569 Add best practices to getting started with GCE docs
  docs/getting_started/gce.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test

#14624 kubetest: dump poddisruptionbudgets and fieldManagers
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14625 Don't use ptr for CAS expander field
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14583 aws: Add capacityRebalance flag for ASGs
  docs/instance_groups.md
  docs/releases/1.26-NOTES.md
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws

#14608 Don't serve config from kops-controller for APIServer nodes
  pkg/model/bootstrapscript.go
  tests/integration/update_cluster/apiservernodes/data/aws_launch_template_apiserver.apiservers.minimal.example.com_user_data
  tests/integration/update_cluster/apiservernodes/data/aws_s3_object_nodeupconfig-apiserver_content
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, area/provider/aws, area/provider/gcp, area/kops-controller

#14599 Remove CloudFormation support
  cmd/kops/create_cluster.go
  cmd/kops/update_cluster.go
  docs/cli/kops_create_cluster.md
  docs/cli/kops_update_cluster.md
  docs/contributing/testing.md
  docs/getting_started/arguments.md
  docs/releases/1.26-NOTES.md
  pkg/model/awsmodel/network.go
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinglifecyclehook.go
  upup/pkg/fi/cloudup/awstasks/classic_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/classic_loadbalancer_attributes.go
  upup/pkg/fi/cloudup/awstasks/cloudformation.go
  upup/pkg/fi/cloudup/awstasks/dhcp_options.go
  upup/pkg/fi/cloudup/awstasks/dnsname.go
  upup/pkg/fi/cloudup/awstasks/dnszone.go
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
  upup/pkg/fi/cloudup/awstasks/egressonlyinternetgateway.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip.go
  upup/pkg/fi/cloudup/awstasks/eventbridgerule.go
  upup/pkg/fi/cloudup/awstasks/eventbridgetarget.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofilerole.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
  upup/pkg/fi/cloudup/awstasks/internetgateway.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_cloudformation.go
  upup/pkg/fi/cloudup/awstasks/natgateway.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
  upup/pkg/fi/cloudup/awstasks/route.go
  upup/pkg/fi/cloudup/awstasks/routetable.go
  upup/pkg/fi/cloudup/awstasks/routetableassociation.go
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
  upup/pkg/fi/cloudup/awstasks/securitygrouprule.go
  upup/pkg/fi/cloudup/awstasks/sqs.go
  upup/pkg/fi/cloudup/awstasks/sshkey.go
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/awstasks/vpc_dhcpoptions_association.go
  upup/pkg/fi/cloudup/awstasks/vpcamazonipv6cidrblock.go
  upup/pkg/fi/cloudup/awstasks/vpccidrblock.go
  upup/pkg/fi/cloudup/awstasks/warmpool.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/cloudformation/literal.go
  upup/pkg/fi/cloudup/cloudformation/target.go
  upup/pkg/fi/cloudup/target.go
  upup/pkg/fi/task.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/api.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/doc.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/errors.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/service.go
  vendor/github.com/aws/aws-sdk-go/service/cloudformation/waiters.go
  vendor/modules.txt
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XXL, area/provider/aws

#14632 hetzner: Update CSI driver to v2.0.0
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14634 Fix missing locking in mock ModifySubnetAttribute()
  cloudmock/aws/mockec2/subnets.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14628 Add SELinuxMount feature gate
  pkg/featureflag/featureflag.go
  pkg/featureflag/featureflag_test.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14633 Create new clusters with updated control plane IG names
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  pkg/model/awsmodel/dns.go
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/different-amis/expected-v1alpha2.yaml
  tests/integration/create_cluster/different-amis/options.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/options.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/options.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/options.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/options.yaml
  tests/integration/create_cluster/ha_hetzner/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_hetzner/options.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/options.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/options.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/options.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_hetzner/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/options.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/options.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XL, area/provider/aws

#14636 Automated cherry pick of #14632: hetzner: Update CSI driver to v2.0.0
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14622 Add networking flag option for cilium in eni mode
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/networking/cilium.md
  docs/releases/1.26-NOTES.md
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/cilium-eni/options.yaml
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_bastions.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_masters.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_nodes.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_policy_bastions.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_policy_masters.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_iam_role_policy_nodes.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium-eni/data/aws_key_pair_kubernetes.privatecilium.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/privatecilium-eni/data/aws_launch_template_master-us-test-1a.masters.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium-eni/data/aws_launch_template_nodes.privatecilium.example.com_user_data
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/privatecilium-eni/id_rsa.pub
  tests/integration/update_cluster/privatecilium-eni/in-v1alpha2.yaml
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XXL

#14631 Write Terraform vpc_cidr_block output for shared VPCs
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
  upup/pkg/fi/cloudup/terraformWriter/writer.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14643 Additional control-plane terminology changes
  cmd/kops/rolling-update_cluster.go
  docs/cli/kops_rolling-update_cluster.md
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14645 Even more control-plane terminology fixes
  cmd/kops/create_instancegroup.go
  cmd/kops/update_cluster.go
  docs/cli/kops_create_instancegroup.md
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/model/awsmodel/external_access.go
  pkg/model/gcemodel/external_access.go
  pkg/model/gcemodel/storageacl.go
  pkg/model/openstackmodel/servergroup.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/rolling-update, approved, size/M, area/provider/aws, area/provider/gcp, area/provider/openstack

#14647 hetzner: Set default image to `ubuntu-20.04`
  tests/integration/create_cluster/ha_hetzner/options.yaml
  tests/integration/create_cluster/minimal_hetzner/options.yaml
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/tests/channels/channel.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#14648 aws: Limit the number of target groups updated per operation
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14651 Automated cherry pick of #14648: aws: Limit the number of target groups updated per
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14653 Automated cherry pick of #14650: Add `ec2:DescribeAvailabilityZones` to the AWS CCM
  pkg/model/iam/iam_builder.go
  pkg/model/iam/tests/iam_builder_master_strict.json
  pkg/model/iam/tests/iam_builder_master_strict_ecr.json
  tests/integration/update_cluster/apiservernodes/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_iam_role_policy_masters.bastionuserdata.example.com_policy
  tests/integration/update_cluster/complex/data/aws_iam_role_policy_masters.complex.example.com_policy
  tests/integration/update_cluster/compress/data/aws_iam_role_policy_masters.compress.example.com_policy
  tests/integration/update_cluster/containerd-custom/data/aws_iam_role_policy_masters.containerd.example.com_policy
  tests/integration/update_cluster/containerd/data/aws_iam_role_policy_masters.containerd.example.com_policy
  tests/integration/update_cluster/digit/data/aws_iam_role_policy_masters.123.example.com_policy
  tests/integration/update_cluster/docker-custom/data/aws_iam_role_policy_masters.docker.example.com_policy
  tests/integration/update_cluster/existing_sg/data/aws_iam_role_policy_masters.existingsg.example.com_policy
  tests/integration/update_cluster/external_dns/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/external_dns_irsa/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/externallb/data/aws_iam_role_policy_masters.externallb.example.com_policy
  tests/integration/update_cluster/externalpolicies/data/aws_iam_role_policy_masters.externalpolicies.example.com_policy
  tests/integration/update_cluster/ha/data/aws_iam_role_policy_masters.ha.example.com_policy
  tests/integration/update_cluster/irsa/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/irsa119/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-cloud-controller-manager.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_aws-cloud-controller-manager.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_iam_role_policy_aws-cloud-controller-manager.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.23/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.24/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-etcd/data/aws_iam_role_policy_masters.minimal-etcd.example.com_policy
  tests/integration/update_cluster/minimal-gp3/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-longclustername/data/aws_iam_role_policy_masters.this.is.truly.a.really.really.long.cluster-name.m-kaamp9_policy
  tests/integration/update_cluster/minimal-warmpool/data/aws_iam_role_policy_masters.minimal-warmpool.example.com_policy
  tests/integration/update_cluster/minimal/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal_gossip/data/aws_iam_role_policy_masters.minimal.k8s.local_policy
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_iam_role_policy_masters.minimal.k8s.local_policy
  tests/integration/update_cluster/mixed_instances/data/aws_iam_role_policy_masters.mixedinstances.example.com_policy
  tests/integration/update_cluster/mixed_instances_spot/data/aws_iam_role_policy_masters.mixedinstances.example.com_policy
  tests/integration/update_cluster/nth_sqs_resources/data/aws_iam_role_policy_masters.nthsqsresources.longclustername.example.com_policy
  tests/integration/update_cluster/nvidia/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/private-shared-ip/data/aws_iam_role_policy_masters.private-shared-ip.example.com_policy
  tests/integration/update_cluster/private-shared-subnet/data/aws_iam_role_policy_masters.private-shared-subnet.example.com_policy
  tests/integration/update_cluster/privatecalico/data/aws_iam_role_policy_masters.privatecalico.example.com_policy
  tests/integration/update_cluster/privatecanal/data/aws_iam_role_policy_masters.privatecanal.example.com_policy
  tests/integration/update_cluster/privatecilium/data/aws_iam_role_policy_masters.privatecilium.example.com_policy
  tests/integration/update_cluster/privatecilium2/data/aws_iam_role_policy_masters.privatecilium.example.com_policy
  tests/integration/update_cluster/privateciliumadvanced/data/aws_iam_role_policy_masters.privateciliumadvanced.example.com_policy
  tests/integration/update_cluster/privatedns1/data/aws_iam_role_policy_masters.privatedns1.example.com_policy
  tests/integration/update_cluster/privatedns2/data/aws_iam_role_policy_masters.privatedns2.example.com_policy
  tests/integration/update_cluster/privateflannel/data/aws_iam_role_policy_masters.privateflannel.example.com_policy
  tests/integration/update_cluster/privatekopeio/data/aws_iam_role_policy_masters.privatekopeio.example.com_policy
  tests/integration/update_cluster/privateweave/data/aws_iam_role_policy_masters.privateweave.example.com_policy
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/shared_subnet/data/aws_iam_role_policy_masters.sharedsubnet.example.com_policy
  tests/integration/update_cluster/shared_vpc/data/aws_iam_role_policy_masters.sharedvpc.example.com_policy
  tests/integration/update_cluster/unmanaged/data/aws_iam_role_policy_masters.unmanaged.example.com_policy
  tests/integration/update_cluster/vfs-said/data/aws_iam_role_policy_masters.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/M

#14652 Automated cherry pick of #14648: aws: Limit the number of target groups updated per
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14655 gce: Allow Cilium to connect to its etcd cluster
  pkg/model/gcemodel/firewall.go
  pkg/wellknownports/wellknownports.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#14656 Automated cherry pick of #14655: gce: Allow Cilium to connect to its etcd cluster
  pkg/model/gcemodel/firewall.go
  pkg/wellknownports/wellknownports.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#14657 Automated cherry pick of #14655: gce: Allow Cilium to connect to its etcd cluster
  pkg/model/gcemodel/firewall.go
  pkg/wellknownports/wellknownports.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#14640 e2e: always upload to a versioned directory
  tests/e2e/kubetest2-kops/builder/build.go
  tests/e2e/kubetest2-kops/deployer/build.go
  upup/pkg/fi/nodeup/nodetasks/load_image.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14658 Declare IPv6 on AWS beta
  docs/networking/ipv6.md
  docs/releases/1.26-NOTES.md
  hack/mkdocs_macros/feature_stability_table.py
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14659 Refactor rendering Terraform functions into constructor
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14670 Disallow use of admissionControl as of k8s 1.26
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#14674 Automated cherry pick of #14667: We no longer release an images.tar.gz
  .shipbot.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14673 Automated cherry pick of #14667: We no longer release an images.tar.gz
  .shipbot.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14667 We no longer release an images.tar.gz
  .shipbot.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14675 Update release process
  docs/contributing/release-process.md
  docs/releases/1.24-NOTES.md
  docs/releases/1.25-NOTES.md
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14671 Update Calico documentation and validation
  docs/networking/calico.md
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M

#14672 Don't disable AWS src/dst checks in Calico IPv6
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_iam_role_policy_masters.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_iam_role_policy_nodes.minimal-ipv6.example.com_policy
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#14678 Remove obsolete document
  docs/work_in_progress/pushing_updates_without_rebooting.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14684 aws: remove obsolete workaround code
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#14680 Refactor terraformWriter.Literal
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  upup/pkg/fi/cloudup/terraform/hcl2.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
  upup/pkg/fi/cloudup/terraformWriter/writer.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/tests/gsfs_test.go
  util/pkg/vfs/tests/s3fs_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14686 Refactor IPv6 use of terraformWriter.Literal
  go.mod
  go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  upup/pkg/fi/cloudup/awstasks/subnet.go
  upup/pkg/fi/cloudup/awstasks/vpc.go
  upup/pkg/fi/cloudup/terraform/hcl2_test.go
  upup/pkg/fi/cloudup/terraformWriter/literal.go
  upup/pkg/fi/cloudup/terraformWriter/writer.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/ureader_yes.go
  vendor/golang.org/x/tools/go/internal/pkgbits/decoder.go
  vendor/golang.org/x/tools/go/internal/pkgbits/encoder.go
  vendor/golang.org/x/tools/go/internal/pkgbits/reloc.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_darwin.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_dirent_ino.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_dirent_namlen_bsd.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk_unix.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14638 Add id_ed25519 to auto-loaded ssh keys
  cmd/kops/create_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/provider/scaleway

#14685 Revert "Calico: Work around host port/conntrack problem"
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14688 v1alpha3: document field name changes
  docs/cluster_spec.md
  docs/instance_groups.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14669 v1alpha3: use new terminology for kubelet config
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/kubelet.go
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  upup/pkg/fi/cloudup/spec_builder.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#14689 v1alpha3: fix miscellaneous capitalization
  docs/cluster_spec.md
  nodeup/pkg/model/networking/kube_router.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/firewall.go
  pkg/model/bootstrapscript.go
  pkg/model/iam/iam_builder.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/pki.go
  tests/e2e/pkg/tester/skip_regex.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, area/provider/aws, area/provider/openstack
