Repository kubernetes/kops, pull requests merged in 2022-10, with the labels that each got.

#14364 gce: memberlist needs TCP also
  pkg/model/gcemodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#14366 Always infer gossip DNS from cluster name
  nodeup/pkg/model/dns/builder.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/protokube.go
  pkg/apis/kops/validation/validation.go
  pkg/dns/gossip.go
  pkg/dns/gossip_test.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/iam.go
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/kopscontroller/template_functions.go
  pkg/model/context.go
  pkg/model/domodel/api_loadbalancer.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup.go
  pkg/resources/aws/aws.go
  pkg/resources/gce/gce.go
  pkg/resources/openstack/dns.go
  pkg/validation/validate_cluster.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/azure, area/provider/gcp, area/provider/openstack, area/provider/digitalocean

#14368 Refactor NodeUp GossipBuilder to EtcHostsBuilder
  nodeup/pkg/model/etc_hosts.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/nodeup/nodetasks/update_etc_hosts_task.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#14369 Disable rp_filter on cilium hosts
  nodeup/pkg/model/sysctls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14373 Automated cherry pick of #14369: Disable rp_filter on cilium hosts
  nodeup/pkg/model/sysctls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14372 Automated cherry pick of #14369: Disable rp_filter on cilium hosts
  nodeup/pkg/model/sysctls.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#14374 Automated cherry pick of #14364: gce: memberlist needs TCP also
  pkg/model/gcemodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#14365 Automated cherry pick of #14364: gce: memberlist needs TCP also
  pkg/model/gcemodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#14378 Karpenter : fallback on ondemand instance by default
  docs/operations/karpenter.md
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#14379 cluster-autoscaler : Add scaleDownUnneededTime and scaleDownUnreadyTime
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, needs-ok-to-test, approved, size/M, area/addons

#14380 Automated cherry pick of #14379: cluster-autoscaler : Add scaleDownUnneededTime and
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#14384 Automated cherry pick of #14382: update NPD to version 0.8.12
  pkg/model/components/nodeproblemdetector.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14385 Automated cherry pick of #14382: update NPD to version 0.8.12
  pkg/model/components/nodeproblemdetector.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14386 hetzner: Update CCM to v1.13.2
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14387 Automated cherry pick of #14386: hetzner: Update CCM to v1.13.2
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14390 Remove fsGroupPolicy as it is immutable
  tests/integration/update_cluster/additionalobjects/data/aws_s3_object_additionalobjects.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/additionalobjects/data/aws_s3_object_additionalobjects.example.com-addons-bootstrap_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/apiservernodes/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.26/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6-private/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/public-jwks-apiserver/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awscloudcontroller/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/service-account-iam/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14389 Fix default launch spec detection for spotinst
  pkg/model/awsmodel/spotinst.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test

#14362 Let kOps take ownership of any field currently owned by kubectl
  channels/pkg/cmd/apply_channel.go
  pkg/applylib/applyset/applyset.go
  pkg/applylib/applyset/applyset_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14397 nodeup script: accept strongly typed nodeup.Config
  pkg/model/bootstrapscript.go
  pkg/model/resources/nodeup.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14399 Fix typo in format string
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/hetzner/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp, area/provider/hetzner

#14405 Automated cherry pick of #14401: update k8s cloudprovider openstack images
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14401 update k8s cloudprovider openstack images
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14404 Automated cherry pick of #14401: update k8s cloudprovider openstack images
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14393 Automated cherry pick of #14389: Fix default launch spec detection
  pkg/model/awsmodel/spotinst.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14392 Automated cherry pick of #14389: Fix default launch spec detection
  pkg/model/awsmodel/spotinst.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14406 update k8s openstack
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14407 Automated cherry pick of #14406: update k8s openstack
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14408 karpenter: upgrade to version 0.16.3 and support kubeReserved configuration
  tests/integration/update_cluster/karpenter/data/aws_launch_template_karpenter-nodes-default.minimal.example.com_user_data
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, ok-to-test, area/addons

#14409 Automated cherry pick of #14408: karpenter: upgrade to version 0.16.3 and support
  tests/integration/update_cluster/karpenter/data/aws_launch_template_karpenter-nodes-default.minimal.example.com_user_data
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupconfig-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14410 Deprecate AWS Classic Load Balancer support for API
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  docs/cluster_spec.md
  docs/releases/1.26-NOTES.md
  tests/integration/create_cluster/different-amis/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#14415 Bump k8s and ubuntu ami version in alpha
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14418 Automated cherry pick of #14417: bump Openstack ccm version
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14417 bump Openstack ccm version
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14419 Remove usage of cluster kubelet config in nodeup
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/tests/kubelet/featuregates/tasks.yaml
  nodeup/pkg/model/tests/kubelet/warmpool/tasks.yaml
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14421 Automated cherry pick of #14413: Allow snapshot controller to create volumesnapshotcontent
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-snapshot-controller.addons.k8s.io-k8s-1.20_content
  upup/models/cloudup/resources/addons/snapshot-controller.addons.k8s.io/k8s-1.20.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14423 Ensure kOps doesn't surge on karpenter IGs
  pkg/instancegroups/instancegroups.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/XS

#14424 Bump AWS CCM to 1.25.1
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#14370 get-keypairs: Tolerate key set items without certificates
  cmd/kops/get_keypairs.go
  cmd/kops/promote_keypair.go
  upup/pkg/fi/vfs_castore.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/office-hours

#14427 Automated cherry pick of #14370: get-keypairs: Tolerate items without certificates
  cmd/kops/get_keypairs.go
  cmd/kops/promote_keypair.go
  upup/pkg/fi/vfs_castore.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14433 Bump alpha and stable channel with the latest kops releases
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#14436 Log and aggregate errors from rolling update
  pkg/instancegroups/rollingupdate.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/S

#14434 add option to query AMI IDs from SSM
  docs/operations/images.md
  docs/releases/1.26-NOTES.md
  docs/tutorial/working-with-instancegroups.md
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/service.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/ssmiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/waiters.go
  vendor/modules.txt
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14439 Move Gossip check to cluster struct
  nodeup/pkg/model/etc_hosts.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/protokube.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/validation/validation.go
  pkg/dns/gossip.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/iam.go
  pkg/model/azuremodel/api_loadbalancer.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/kopscontroller/template_functions.go
  pkg/model/context.go
  pkg/model/domodel/api_loadbalancer.go
  pkg/model/gcemodel/firewall.go
  pkg/model/openstackmodel/firewall.go
  pkg/model/openstackmodel/servergroup.go
  pkg/validation/validate_cluster.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/aws, area/provider/azure, area/provider/gcp, area/provider/openstack, area/provider/digitalocean

#14442 Fix pdb for identity webhook
  tests/e2e/templates/many-addons.yaml.tmpl
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14445 Update Kubernetes support removal documentation
  docs/releases/1.25-NOTES.md
  docs/releases/1.26-NOTES.md
  permalinks/upgrade_k8s.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, kind/documentation

#14446 Remove dead code
  nodeup/pkg/model/protokube.go
  pkg/apis/kops/validation/legacy.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/clusterautoscaler.go
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S, kind/cleanup, area/addons

#14437 Automated cherry pick of #14436: Log and aggregate errors from rolling update
  pkg/instancegroups/rollingupdate.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/S

#14449 Fix 1.22 deprecation notice
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14455 Need to setup topology before control plane for IPv6 private topology
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14456 hack: add support for dev-build script for scaleway
  hack/dev-build-scaleway.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#14461 ipv6: Tolerate multiple routes to the same NAT Gateway
  cmd/kops/delete_cluster.go
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/awstasks/natgateway.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14466 Update Calico and Canal to v3.24.3
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14459 Stop applying the beta.kubernetes.io/os
  addons/prometheus-operator/v0.19.0.yaml
  addons/prometheus-operator/v0.26.0.yaml
  addons/prometheus-operator/v0.29.0.yaml
  addons/prometheus-operator/v0.42.1.yaml
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/v0.1.12.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14463 Fix Prometheus scraping for pod-identity-webhook
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#14472 Automated cherry pick of #14463: Fix Prometheus scraping for pod-identity-webhook
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-eks-pod-identity-webhook.addons.k8s.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/eks-pod-identity-webhook.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14470 ipv6: NPE fixes for IPv6-only instances
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14473 aws: Set the target group health check interval to 10s
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-private/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14475 Refactor to avoid looking up SSH keypairs twice
  upup/pkg/fi/cloudup/awstasks/sshkey.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14478 Automated cherry pick of #14466: Update Calico and Canal
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14479 Automated cherry pick of #14466: Update Calico and Canal
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.22_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.22_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons
