Repository kubernetes/kops, pull requests merged in 2022-09, with the labels that each got.

#14215 AWS IAM Role listing: don't ignore "other" errors
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#14221 Some minor docs fixes
  docs/cluster_spec.md
  docs/operations/etcd_backup_restore_encryption.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14223 Remove warning for FindClusterStatus not implemented for Hetzner
  upup/pkg/fi/cloudup/hetzner/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#14203 Add support for installing dcgm exporter
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons

#14230 Release notes for 1.23.4
  docs/releases/1.23-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14232 Makefile: Don't assume GOBIN is set
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14231 Release notes for 1.24.2
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14226 Update Flannel to v0.19.2
  cmd/kops/integration_test.go
  tests/integration/update_cluster/privateflannel/data/aws_iam_role_policy_masters.privateflannel.example.com_policy
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_master-us-test-1a.masters.privateflannel.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_nodes.privateflannel.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-networking.flannel-k8s-1.25_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/privateflannel/in-v1alpha2.yaml
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#14234 applylib: Better health checking
  pkg/applylib/applyset/health.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14235 Bump cluster-autoscaler images
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#14238 Automated cherry pick of #14226: Update Flannel to v0.19.2
  cmd/kops/integration_test.go
  tests/integration/update_cluster/privateflannel/data/aws_iam_role_policy_masters.privateflannel.example.com_policy
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_master-us-test-1a.masters.privateflannel.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_launch_template_nodes.privateflannel.example.com_user_data
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-leader-migration.rbac.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-networking.flannel-k8s-1.25_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/privateflannel/in-v1alpha2.yaml
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#14227 Automated cherry pick of #14215: AWS IAM Role listing: don't ignore "other" errors
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#14228 Automated cherry pick of #14223: Remove warning for FindClusterStatus not implemented for
  upup/pkg/fi/cloudup/hetzner/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#14229 Allow cert-manager the privileges needed to resolve dns-01 challenges
  docs/addons.md
  docs/releases/1.25-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/addonmanifests/certmanager/iam.go
  pkg/model/components/addonmanifests/remap.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L

#14233 GCE: change default control-plane instance type to e2-medium
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14240 Automated cherry pick of #14235: Bump cluster-autoscaler images
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#14241 Automated cherry pick of #14229: Add support for cert-manager dns-01 challenges
  docs/addons.md
  docs/releases/1.25-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/addonmanifests/certmanager/iam.go
  pkg/model/components/addonmanifests/remap.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L

#14237 Small release notes cleanup for 1.25
  docs/releases/1.25-NOTES.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14236 Add suport to --cordon-node-before-terminating autoscaler flag
  docs/releases/1.25-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test, area/addons

#14242 Automated cherry pick of #14236: Add support to --cordon-node-before-terminating on the
  docs/releases/1.25-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws, area/addons, area/provider/hetzner

#13853 Fix openstack tag limitation
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/truncate-cluster-names-to-42-characters.yaml
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/instance_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/openstack, ok-to-test

#14245 Automated cherry pick of #14244: aws-node-termination-handler: Add option to fetch node name
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14246 Automated cherry pick of #14244: aws-node-termination-handler: Add option to fetch node name
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14248 Bump versions in netlify and mkdocs
  images/mkdocs/Dockerfile
  images/mkdocs/requirements.txt
  netlify.toml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14244 aws-node-termination-handler to match node using providerID instead of AWS DNS name
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth_sqs_resources/data/aws_s3_object_nthsqsresources.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#14243 kOps managed OIDC provider is no longer needed for IRSA
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#14252 Update recommended kOps versions in alpha and stable
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14255 AWS LBC needs ec2:DescribeVpcPeeringConnections for IPv6
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14256 Automated cherry pick of #14254: Fix CAS cordon flag
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14257 Automated cherry pick of #14255: AWS LBC needs ec2:DescribeVpcPeeringConnections for IPv6
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14259 Automated cherry pick of #14255: AWS LBC needs ec2:DescribeVpcPeeringConnections for IPv6
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/aws-lb-controller/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_iam_role_policy_aws-load-balancer-controller.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/many-addons-ccm/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/many-addons/data/aws_iam_role_policy_masters.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14254 Fix CAS cordon flag
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  upup/models/cloudup/resources/addons/cluster-autoscaler.addons.k8s.io/k8s-1.15.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#14258 Automated cherry pick of #13914: Ignore the _rundir that kubetest2 now creates
  .gitignore
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14260 Bump verbosity level for some log statements
  pkg/model/components/etcdmanager/model.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14261 Automated cherry pick of #14260: Bump verbosity level for some log statements
  pkg/model/components/etcdmanager/model.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14263 Automated cherry pick of #13853: Fix openstack tag limitation
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/truncate-cluster-names-to-42-characters.yaml
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/instance_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/openstack

#14264 Automated cherry pick of #13853: Fix openstack tag limitation
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/truncate-cluster-names-to-42-characters.yaml
  upup/pkg/fi/cloudup/openstacktasks/instance.go
  upup/pkg/fi/cloudup/openstacktasks/instance_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/openstack

#14251 Warm pool-enabled ASGs scaled to zero will no longer panic
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/instancegroups_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#14266 Automated cherry pick of #14251: Warm pool-enabled ASGs scaled to zero will no longer panic
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/instancegroups_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#14267 Automated cherry pick of #14251: Warm pool-enabled ASGs scaled to zero will no longer panic
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/instancegroups_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M

#14265 Bump aws-cni to v1.11.4
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14273 Automated cherry pick of #14265: bump aws-cni to version 1.11.4
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14272 aws-cni clusterRole fix
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14274 Automated cherry pick of #14272: remove 'get' from aws-cni clusterRole to reflect
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14271 Automated cherry pick of #14107: bump aws cni to 1.11.13 #14265: bump aws-cni to version 1.11.4
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#14278 bump k8s versions in alpha with September releases
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#13163 rolling-update: don't deregister our only apiserver
  cmd/kops/rolling-update_cluster.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/M, lifecycle/stale

#14282 Delete the oldest servers when over the desired count for Hetzner
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#14281 Release notes for 1.24.3
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14283 Automated cherry pick of #14282: Delete the oldest servers when over the desired count for
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#14284 [Docs] Fix karpenter link
  docs/releases/1.24-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14288 Bump stable and alpha channels with latest k8s/kops releases
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels

#14287 Prevent kops edit cluster from writing the populated IG spec to state store
  cmd/kops/edit_instancegroup.go
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/testutils/cluster.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  upup/pkg/fi/cloudup/validation_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14289 Automated cherry pick of #14287: Add test for ensuring taints are merged correctly
  cmd/kops/edit_instancegroup.go
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/testutils/cluster.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  upup/pkg/fi/cloudup/validation_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14290 User IG without image should be allowed
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  pkg/client/simple/vfsclientset/instancegroup.go
  pkg/commands/helpers_readwrite.go
  pkg/testutils/integrationtestharness.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14292 Automated cherry pick of #14290: User IG without image should be allowed
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  pkg/client/simple/vfsclientset/instancegroup.go
  pkg/commands/helpers_readwrite.go
  pkg/testutils/integrationtestharness.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14291 Remove k8s GTE 1.20 checks as it is always true
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.11/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.14/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/skipinstall/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/docker_19.03.11/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/docker_19.03.11/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/healthcheck/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/logflags/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/logflags/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/skipinstall/cluster.yaml
  nodeup/pkg/model/tests/golden/awsiam/cluster.yaml
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/dedicated-apiserver/cluster.yaml
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/without-etcd-events/cluster.yaml
  nodeup/pkg/model/tests/golden/without-etcd-events/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/protokube/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/automatic/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/cluster.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/apiserver.go
  pkg/model/components/docker.go
  pkg/model/components/etcdmanager/tests/interval/cluster.yaml
  pkg/model/components/etcdmanager/tests/minimal/cluster.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/cluster.yaml
  pkg/model/components/etcdmanager/tests/proxy/cluster.yaml
  pkg/model/components/kubeapiserver/tests/minimal/cluster.yaml
  pkg/model/components/kubelet.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/canal/v1alpha2.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/cilium/v1alpha2.yaml
  tests/integration/conversion/cilium/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha2.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/minimal/legacy-v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha3.yaml
  tests/integration/conversion/openstack/v1alpha2.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/cluster.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, kind/cleanup

#14293 Automated cherry pick of #14291: Bump tests to supported k8s version
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.11/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.14/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/cluster.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/skipinstall/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/docker_19.03.11/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/docker_19.03.11/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/healthcheck/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/logflags/cluster.yaml
  nodeup/pkg/model/tests/dockerbuilder/logflags/tasks.yaml
  nodeup/pkg/model/tests/dockerbuilder/skipinstall/cluster.yaml
  nodeup/pkg/model/tests/golden/awsiam/cluster.yaml
  nodeup/pkg/model/tests/golden/awsiam/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/dedicated-apiserver/cluster.yaml
  nodeup/pkg/model/tests/golden/dedicated-apiserver/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/without-etcd-events/cluster.yaml
  nodeup/pkg/model/tests/golden/without-etcd-events/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/protokube/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/automatic/cluster.yaml
  nodeup/pkg/model/tests/updateservicebuilder/external/cluster.yaml
  pkg/apis/kops/validation/validation.go
  pkg/model/components/apiserver.go
  pkg/model/components/docker.go
  pkg/model/components/etcdmanager/tests/interval/cluster.yaml
  pkg/model/components/etcdmanager/tests/minimal/cluster.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/cluster.yaml
  pkg/model/components/etcdmanager/tests/proxy/cluster.yaml
  pkg/model/components/kubeapiserver/tests/minimal/cluster.yaml
  pkg/model/components/kubelet.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha2.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/canal/v1alpha2.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/cilium/v1alpha2.yaml
  tests/integration/conversion/cilium/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha2.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha2.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/minimal/legacy-v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha2.yaml
  tests/integration/conversion/minimal/v1alpha3.yaml
  tests/integration/conversion/openstack/v1alpha2.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/cluster.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#14294 Add support for using an existing network for Hetzner
  pkg/apis/kops/validation/legacy.go
  pkg/model/hetznermodel/network.go
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
  upup/pkg/fi/cloudup/hetznertasks/network.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons, area/provider/hetzner

#14296 Automated cherry pick of #14294: Add support for using an existing network for Hetzner
  pkg/apis/kops/validation/legacy.go
  pkg/model/hetznermodel/network.go
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
  upup/pkg/fi/cloudup/hetznertasks/network.go
  upup/pkg/fi/cloudup/hetznertasks/servergroup.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons, area/provider/hetzner

#14297 Update Hetzner CCM to v1.13.0
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14298 Automated cherry pick of #14297: Update Hetzner CCM to v1.13.0
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14299 hetzner: Move out of alpha and drop feature flag
  README-ES.md
  README.md
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  docs/getting_started/digitalocean.md
  docs/getting_started/gce.md
  docs/getting_started/hetzner.md
  docs/getting_started/openstack.md
  docs/index.md
  mkdocs.yml
  pkg/clouds/supported.go
  pkg/featureflag/featureflag.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#14300 Automated cherry pick of #14299: hetzner: Move out of alpha and drop feature flag
  README-ES.md
  README.md
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  docs/getting_started/digitalocean.md
  docs/getting_started/gce.md
  docs/getting_started/hetzner.md
  docs/getting_started/openstack.md
  docs/index.md
  mkdocs.yml
  pkg/clouds/supported.go
  pkg/featureflag/featureflag.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#14306 Add release 1.25.0 to channels
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#14305 Release notes for 1.25.0
  docs/releases/1.25-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#14309 Hetzner: Generate CCM args from external CCM config
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons

#14310 Automated cherry pick of #14309: hetzner: Generate CCM args from external CCM config
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons

#14318 Avoid spurious changes with bastion hosts due to user data
  pkg/model/bootstrapscript.go
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#14319 Avoid spurious changes with NLB due to access log config
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws

#14324 Automated cherry pick of #14319: Avoid spurious changes with NLB due to access log config
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws

#14325 Automated cherry pick of #14319: Avoid spurious changes with NLB due to access log config
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/cloudformation.json
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/aws

#14326 Add --network-id alias for --vpc flag
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14327 Automated cherry pick of #14326: Add --network-id alias for --vpc flag
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14323 Add more details to the NTH documentation
  docs/addons.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha3/componentconfig.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test

#14321 Automated cherry pick of #14318: Avoid spurious changes with bastion hosts due to user
  pkg/model/bootstrapscript.go
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecalico/cloudformation.json
  tests/integration/update_cluster/privatecalico/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14320 Automated cherry pick of #14318: Avoid spurious changes with bastion hosts due to user
  pkg/model/bootstrapscript.go
  tests/integration/update_cluster/private-shared-ip/cloudformation.json
  tests/integration/update_cluster/private-shared-ip/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium/cloudformation.json
  tests/integration/update_cluster/privatecilium/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privatecilium2/cloudformation.json
  tests/integration/update_cluster/privatecilium2/cloudformation.json.extracted.yaml
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json
  tests/integration/update_cluster/privateciliumadvanced/cloudformation.json.extracted.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14332 Fix typo in doc for enabling cert-manager dns-01 challenges
  docs/addons.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14322 Scaleway init and nodeup
  Makefile
  go.mod
  go.sum
  hack/update-expected.sh
  hack/upload
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/protokube.go
  pkg/apis/kops/channel.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/clouds/supported.go
  pkg/featureflag/featureflag.go
  pkg/model/bootstrapscript.go
  util/pkg/env/standard.go
  vendor/github.com/scaleway/scaleway-sdk-go/LICENSE
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/auth.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/no_auth.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/auth/token.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/errors/error.go
  vendor/github.com/scaleway/scaleway-sdk-go/logger/default_logger.go
  vendor/github.com/scaleway/scaleway-sdk-go/logger/logger.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/README.md
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/client_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config_legacy.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/convert.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/env.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/errors.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/path.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/request_option.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/version.go
  vendor/github.com/scaleway/scaleway-sdk-go/validation/is.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, ok-to-test

#14343 Validate `--zones` flag earlier
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14344 Automated cherry pick of #14343: Validate `--zones` flag earlier
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14342 Make kOps release and deprecation policy more clear
  docs/welcome/releases.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, tide/merge-method-squash

#14335 Bump Terraform tag to v1.3.0
  hack/verify-terraform.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14349 Revert "Set metrics-server `--kubelet-preferred-address-types` by k8s version"
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14350 hetzner: Fix metrics-server config to use internal IP
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#14339 Set higher verbosity when logging Gossip DNS info
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14351 Update channels with the latest Ubuntu images
  channels/alpha
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14354 Update channels with the latest Ubuntu images
  channels/alpha
  channels/stable
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.20/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.21/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#14341 Automated cherry pick of #14339: Set higher verbosity when logging Gossip DNS info
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14345 Scaleway support in protokube
  go.sum
  protokube/cmd/protokube/main.go
  protokube/pkg/gossip/scaleway/seeds.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/image_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_metadata_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/security_group_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/server_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/snapshot_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/volume_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v1/marketplace_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/async/wait.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/marshaler/duration.go
  vendor/github.com/scaleway/scaleway-sdk-go/internal/parameter/query.go
  vendor/github.com/scaleway/scaleway-sdk-go/namegenerator/name_generator.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, ok-to-test

#14347 Add node/master size from create cluster into IG spec
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/options.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/options.yaml
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14355 Automated cherry pick of #14347: Add create cluster test for arm64
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/options.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/options.yaml
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14333 Ensure kubelet configuration from IG takes precedence over cluster's
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha3/cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  util/pkg/reflectutils/walk.go
  util/pkg/reflectutils/walk_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#14356 Automated cherry pick of #14333: Ensure kubelet configuration from IG takes precedence
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha3/cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
  util/pkg/reflectutils/walk.go
  util/pkg/reflectutils/walk_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L
