Repository kubernetes/kops, pull requests merged in 2023-03, with the labels that each got.

#15183 feat(NodeLocalDNS): Add possibility to set an ExternalCoreFile
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#15185 Automated cherry pick of #15183: nodelocaldns: Add possibility to set ExternalCoreFile
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#15035 Set the nonMasqueradeCIDR for GCE networking
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/gce/network.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15040 gce: When using network native pod IPs, open firewall to apiserver
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/external_access.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15188 Automated cherry pick of #15040: gce: When using network native pod IPs, open firewall to
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/external_access.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15189 Automated cherry pick of #15040: gce: When using network native pod IPs, open firewall to
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/external_access.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15191 kubetest2: don't cache version markers
  tests/e2e/kubetest2-kops/deployer/publish.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15192 Always try to prune an addon even if applying updates fail
  channels/pkg/channels/addon.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#15194 Fix error in dependencies update workflow
  .github/workflows/update-deps.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15198 Update Go to v1.19.7
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15201 Automated cherry pick of #15186: gce: Don't reconcile routes when running with "gce"
  pkg/model/components/gcpcloudcontrollermanager.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15200 Automated cherry pick of #15198: Update Go to v1.19.7
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15199 Automated cherry pick of #15198: Update Go to v1.19.7
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15207 Automated cherry pick of #15121 release 1.26
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#15208 Bump channels
  channels/alpha
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15213 Fix the latest Ubuntu images
  channels/alpha
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15214 Automated cherry pick of #14962: gce: KCM should not allocate IPs when CCM is in use.
  pkg/model/components/kubecontrollermanager.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14735 scaleway: documentation
  docs/getting_started/scaleway.md
  docs/state.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/provider/scaleway

#15215 Automated cherry pick of #15110: gce: Always apply the metadata-proxy-ready node label
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15219 Update channels and release note for 1.26
  channels/alpha
  channels/stable
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/channels

#15197 Don't set CSIMigrationAWS in k8s 1.27
  pkg/model/components/apiserver.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubescheduler.go
  tests/integration/update_cluster/minimal/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#15222 Automated cherry pick of #14952: Bump cluster autoscaler to 1.26.1
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/S

#15228 Documentation: add CI and latest release badges
  README.md
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15230 scaleway: fix client for protokube
  protokube/pkg/protokube/scaleway_volumes.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15231 Initial support for Debian 12 Bookworm
  docs/operations/images.md
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/debian12/etc/os-release
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15235 Add terraform rendering to GCP HTTP Health Check
  upup/pkg/fi/cloudup/gcetasks/httphealthcheck.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15237 gcp: Add integration test for minimal cluster with public load balancer
  cmd/kops/integration_test.go
  pkg/model/gcemodel/api_loadbalancer.go
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_manifests-etcdmanager-events-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_manifests-etcdmanager-main-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-storage-gce.addons.k8s.io-v1.7.0_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_nodeupconfig-master-us-test1-a_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-plb-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_nodes-minimal-gce-plb-example-com_metadata_startup-script
  tests/integration/update_cluster/minimal_gce_plb/id_rsa.pub
  tests/integration/update_cluster/minimal_gce_plb/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/httphealthcheck.go
  upup/pkg/fi/cloudup/gcetasks/poolhealthcheck.go
  upup/pkg/fi/cloudup/gcetasks/targetpool.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/provider/gcp

#15223 Automated cherry pick of #14861: Mount the audit config dir for kube-apiserver
  docs/cluster_spec.md
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_test.go
  nodeup/pkg/model/tests/golden/audit/cluster.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kops-controller.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-apiserver.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-controller-manager.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kube-scheduler.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-kubectl.yaml
  nodeup/pkg/model/tests/golden/audit/tasks-secret.yaml
  pkg/apis/kops/validation/validation.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XXL

#15238 aws: Use `control-plane` for additional policies instead of `master`
  pkg/model/awsmodel/iam.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15242 Automated cherry pick of #15238: aws: Use `control-plane` for additional policies instead of
  pkg/model/awsmodel/iam.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15241 Initial Amazon Linux 2023 support
  docs/operations/images.md
  nodeup/pkg/model/miscutils.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/amazonlinux2023/etc/os-release
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#15243 Skip multiple-port multiple-endpointslice e2e test with Cilium
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15244 Fix behaviour for `kops export kubeconfig --internal`
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15246 Automated cherry pick of #15244: Fix behaviour for `kops export kubeconfig --internal`
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15247 Bump k8s versions to latest
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#15250 Automated cherry pick of #15249: switch to use registry.k8s.io images for openstack
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#15249 switch to use registry.k8s.io images for openstack
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#15248 Bump AWS CNI to 1.25.5
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15255 Automated cherry pick of #15248: bump aws cni to 1.12.5 and align with vendor chart
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15102 Retry creating failed OpenStack servers
  cloudmock/openstack/mockcompute/servers.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/instance_test.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack, ok-to-test

#15260 Automated cherry pick of #15102: Retry creating failed OpenStack servers
  cloudmock/openstack/mockcompute/servers.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/instance_test.go
  upup/pkg/fi/cloudup/openstacktasks/instance.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack, ok-to-test

#15256 feat(spot): Setting the VNG Size Limits in Launch Spec
  pkg/model/awsmodel/spotinst.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#15263 spot: support latest controller version
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
Labels: cncf-cla: yes, lgtm, needs-ok-to-test, approved, size/XS, area/addons

#15267 OpenStack: Add OCCM address sort order config
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS, area/provider/openstack, ok-to-test

#15270 Update kube-router to v1.5.3
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#15265 Allow Cilium manifest to be replaced (for testing)
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15259 OpenStack: Format and improve getting started docu
  docs/getting_started/openstack.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test

#15273 test scenarios: create simple scalability test
  tests/e2e/scenarios/scalability/README.md
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/L

#15224 scaleway: integration tests
  cmd/kops/integration_test.go
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_manifests-etcdmanager-events-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_manifests-etcdmanager-main-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_nodeupconfig-control-plane-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_nodeupconfig-nodes-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-scaleway-cloud-controller.addons.k8s.io-k8s-1.24_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-scaleway-csi-driver.addons.k8s.io-k8s-1.24_content
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_control-plane-fr-par-1-masters-scw-minimal-k8s-local_user_data
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_nodes-fr-par-1-scw-minimal-k8s-local_user_data
  tests/integration/update_cluster/minimal_scaleway/id_rsa.pub
  tests/integration/update_cluster/minimal_scaleway/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_frontend.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
  upup/pkg/fi/cloudup/scalewaytasks/sshkey.go
  upup/pkg/fi/cloudup/scalewaytasks/volume.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XXL, ok-to-test, area/provider/scaleway

#15276 Update scalability test so it passes
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/scalability/run-test.sh
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#15279 gce: Fix log message about bucket level IAM
  pkg/model/gcemodel/storageacl.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#15280 GCE FirewallRule: Use an explicit field for ipv4 vs ipv6
  pkg/model/gcemodel/firewall.go
  upup/pkg/fi/cloudup/gcetasks/firewallrule.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/gcp

#15281 gce: Add IPv6 support to subnet/instances
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/network.go
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
  upup/pkg/fi/cloudup/gcetasks/subnet.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp
