Repository kubernetes/kops, pull requests merged in 2023-08, with the labels that each got.

#15725 kubetest2: Mark `--control-plane-size` as deprecated
  tests/e2e/kubetest2-kops/deployer/deployer.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15729 Automated cherry pick of #15725: kubetest2: Mark `--control-plane-size` as deprecated
  tests/e2e/kubetest2-kops/deployer/deployer.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15728 Automated cherry pick of #15725: kubetest2: Mark `--control-plane-size` as deprecated
  tests/e2e/kubetest2-kops/deployer/deployer.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15727 scaleway: handle changes to volumes
  upup/pkg/fi/cloudup/scalewaytasks/volume.go
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/provider/scaleway

#15733 Update references to control-plane-count
  tests/e2e/scenarios/digital-ocean/run-test
  tests/e2e/scenarios/scalability/run-test.sh
  tests/e2e/scenarios/upgrade-ha-leader-migration/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15736 Add prefix delegation for amazon vpc cni in scale tests
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15737 azure: Add support for NAT gateway
  pkg/model/azuremodel/network.go
  pkg/resources/azure/azure.go
  pkg/resources/azure/azure_test.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/natgateway.go
  upup/pkg/fi/cloudup/azure/publicipaddress.go
  upup/pkg/fi/cloudup/azure/subnet.go
  upup/pkg/fi/cloudup/azuretasks/natgateway.go
  upup/pkg/fi/cloudup/azuretasks/natgateway_fitask.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress_test.go
  upup/pkg/fi/cloudup/azuretasks/subnet.go
  upup/pkg/fi/cloudup/azuretasks/subnet_test.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/azure, kind/office-hours

#15730 Bump cilium to v1.13.5
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-warmpool/data/aws_launch_template_nodes.minimal-warmpool.example.com_user_data
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.13.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, ok-to-test, area/addons

#15741 aws: Don't use `ap-northeast-2d` and `us-east-1e` for testing
  tests/e2e/kubetest2-kops/aws/zones.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15742 Use `--master-count` in testing for backwards compatibility
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15747 Use Ubuntu 20.04 in load-balancer-controller E2E scenario
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
  tests/e2e/scenarios/podidentitywebhook/cluster.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15748 E2E - Dont set --master-count if --control-plane-count is provided
  tests/e2e/kubetest2-kops/deployer/up.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15746 feature: Add cluster-id for Cilium
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/validation/validation_test.go
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.13.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#15749 Use arm64 AMI for LBC scenario
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15754 Fix AMI SSM parameter for podidentitywebhook scenarioo
  tests/e2e/scenarios/podidentitywebhook/cluster.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15715 Remove references to cloudconfig-related fields from ClusterSpec in nodeup
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/cloudconfig_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/validation/gce.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/nodeup/config.go
  pkg/model/bootstrapscript.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/openstack

#15757 Fix a bug in setting env variable for amazon vpc cni
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15762 Fixing a typo in Hetzner Firewall Model management
  pkg/model/hetznermodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/provider/hetzner

#15756 Fix hubble certificate dnsname
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.13.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#15769 Automated cherry pick of #15762: fix: fixed an edge case with setting NodePort access in
  pkg/model/hetznermodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#15768 Automated cherry pick of #15762: fix: fixed an edge case with setting NodePort access in
  pkg/model/hetznermodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/hetzner

#15767 Allow setting env vars from the command line
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15770 Automated cherry pick of #15767: Allow setting env vars from the command line
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15773 Fix amazonvpc string casing
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15753 Trim e2e skip regexes for Cilium
  tests/e2e/pkg/kops/state.go
  tests/e2e/pkg/tester/skip_regex.go
  tests/e2e/pkg/tester/tester.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/office-hours

#15774 Use dns=none for scale tests
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15775 Pass error when failing to get SSM parameter
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15766 openstack: Add missing security groups for cilium etcd
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, ok-to-test

#15777 Use the same LBC version for e2e tests as what is deployed
  tests/e2e/scenarios/aws-lb-controller/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#15726 Don't set object-level public ACL in S3 FileRepository
  cmd/kops/util/factory.go
  docs/operations/asset-repository.md
  docs/releases/1.28-NOTES.md
  pkg/acls/s3/storage.go
  pkg/acls/s3/storage_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#15782 aws: Ignore volumes set to delete on instance termination
  pkg/resources/aws/aws.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#15783 Use us-east-2 region for scale tests
  tests/e2e/pkg/tester/skip_regex.go
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15785 aws: implement paginator for DescribeLaunchTemplate on buildKarpenterGroup
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#15743 Mark flags as deprecated instead of normalizing
  cmd/kops/create_cluster.go
  cmd/kops/create_sshpublickey.go
  cmd/kops/rolling-update_cluster.go
  cmd/kops/toolbox_template.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15792 Skip failing ProxyTerminatingEndpoints test
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15787 Add a new field for using a custom registry for Cilium
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.13.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#15797 Stop installing misc utils on RHEL distros
  docs/releases/1.28-NOTES.md
  nodeup/pkg/model/miscutils.go
  upup/pkg/fi/nodeup/command.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#15798 kcm: Add support for `--endpoint/slice-updates-batch-period`
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#15799 Allow setting metav1.Duration from the command line
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15802 gce: don't logspam when next-route-hop is starting
  pkg/resources/gce/gce.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#15794 Automated cherry pick of #15787: Add a new field for using a custom registry for Cilium
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/addons

#15788 Automated cherry pick of #15785: fix: implement LaunchTemplate with paginator on
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15804 fix: error message typo
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws, ok-to-test

#15807 Continue skipping SCTP HostPort tests in older k8s versions
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15791 Create clusters with bigger default subnets
  pkg/apis/kops/validation/validation.go
  pkg/util/subnet/subnet.go
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/different-amis/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_nodns/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/subnets.go
  upup/pkg/fi/cloudup/subnets_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L, kind/office-hours

#15809 Bump AWS CNI to 1.13.4
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15811 Automated cherry pick of #15810: bump cert manager to 1.12.3
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#15810 Bump Cert Manager to 1.12.3
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#15813 Use AWS CCM 1.28.1 on k8s 1.28+
  pkg/model/components/awscloudcontrollermanager.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15815 Fix gossip on DigitalOcean
  pkg/apis/kops/model/features.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#15817 update alpha channel with k8s emergency release and ubuntu ami versions
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#15819 Promote alpha to stable
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15822 Skip UDP LoadBalancer test on k8s 1.26
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15826 Automated cherry pick of #15824: Add support for --experimental-allocatable-ignore-eviction
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#15814 Split network CIDR into even bigger subnets
  pkg/util/subnet/subnet.go
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/subnets.go
  upup/pkg/fi/cloudup/subnets_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#15824 Add support for --experimental-allocatable-ignore-eviction kubelet flag
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#15825 Automated cherry pick of #15815: Fix gossip on DigitalOcean
  pkg/apis/kops/model/features.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#15827 cleanup: Fix comment on GetExternalNetwork
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#15796 Fix small typo in documentation
  docs/getting_started/openstack.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15831 Automated cherry pick of #15709: gce: Set labels on ForwardingRules
  cloudmock/gce/mockcompute/forwarding_rule.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/master_volumes.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/gcetasks/forwardingrule.go
  upup/pkg/fi/cloudup/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#15599 Scale config changes for scale prow job on AWS
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, tide/merge-method-squash, ok-to-test

#15834 Find containerd package hash from release sha256sum
  pkg/assets/builder.go
  upup/pkg/fi/cloudup/containerd.go
  upup/pkg/fi/cloudup/containerd_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#15828 Don't rely on kubectl being installed
  cmd/kops/update_cluster.go
  upup/pkg/kutil/kubectl.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#15835 scaleway: rolling-update feature
  docs/getting_started/scaleway.md
  go.mod
  go.sum
  pkg/instancegroups/instancegroups.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/domain/v2beta1/domain_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v2/marketplace_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/marketplace/v2/marketplace_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/locality.go
  vendor/modules.txt
Labels: area/documentation, cncf-cla: yes, lgtm, area/rolling-update, approved, size/L, ok-to-test, area/provider/scaleway

#15841 aws: Add dependency on additional network cidrs for subnets
  pkg/model/awsmodel/network.go
  upup/pkg/fi/cloudup/awstasks/subnet.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#15843 Let us spread across all AZ(s) in us-east-2
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15845 Automated cherry pick of #14991: Allow custom service account issuer without public bucket
  pkg/model/issuerdiscovery.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14991 Allow custom service account issuer without public bucket
  pkg/model/issuerdiscovery.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15846 Dependency analysis: include the direct task
  upup/pkg/fi/topological_sort.go
Labels: cncf-cla: yes, lgtm, approved, size/XS
