Repository kubernetes/kops, pull requests merged in 2023-02, with the labels that each got.

#15092 Automated cherry pick of #15091: add k8s node labels
  pkg/nodeidentity/openstack/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15091 OpenStack: add k8s node labels
  pkg/nodeidentity/openstack/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15096 Fix nvidia container toolkit repos
  nodeup/pkg/model/nvidia.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S, ok-to-test

#15100 Automated cherry pick of #15096: Use ubuntu18.04 repos for nvidia-container-toolkit
  nodeup/pkg/model/nvidia.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#15101 Automated cherry pick of #15096: Use ubuntu18.04 repos for nvidia-container-toolkit
  nodeup/pkg/model/nvidia.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#15105 aws: Remove S3 region validation
  util/pkg/vfs/s3context.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15106 Automated cherry pick of #15105: aws: Remove S3 region validation
  util/pkg/vfs/s3context.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15107 Automated cherry pick of #15105: aws: Remove S3 region validation
  util/pkg/vfs/s3context.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15113 Automated cherry pick of #15111: Switch contained config file path to
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.11/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.14/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#15111 Switch contained config file path to `/etc/containerd/config.toml`
  docs/releases/1.26-NOTES.md
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.11/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/from_docker_19.03.14/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#15110 gce: Always apply the metadata-proxy-ready node label
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15117 Update golangci-lint to v1.51.1
  .golangci.yaml
  hack/go.mod
  hack/go.sum
Labels: cncf-cla: yes, lgtm, approved, size/XL

#15119 Document missing kops permission for aws NTH addon in SQS mode
  docs/addons.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15109 Bump AWS CNI to 1.12.2
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15116 Replace deprecated command with environment file
  .github/workflows/update-deps.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15123 Automated cherry pick of #15052: bump aws-cni to 1.12.1 and re-order some manifests for a #15109: bump aws cni to v1.12.2
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15121 Use cloud-discovery on GCE in gossip mode
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  upup/pkg/fi/nodeup/nodetasks/bootstrap_client.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#15124 hetzner: support toolbox dump of instances
  pkg/resources/dump.go
  pkg/resources/hetzner/resources.go
  upup/pkg/fi/cloudup/hetzner/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#15128 digitalocean: don't print empty IP addresses
  pkg/resources/digitalocean/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/digitalocean

#14954 gce terraform: Use google_storage_object_acl
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/tests/gsfs_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15129 Revert "disable kops-configuration.service after successful execution"
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15130 Revert "Automated cherry pick of #15078: disable kops-configuration.service after successful execution"
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15134 Update remaining references from k8s.gcr.io to registry.k8s.io
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.sh
  addons/ingress-nginx/README.md
  addons/ingress-nginx/v1.4.0.yaml
  addons/ingress-nginx/v1.6.0-gce.yaml
  addons/ingress-nginx/v1.6.0.yaml
  addons/kube-state-metrics/v1.0.1.yaml
  addons/kube-state-metrics/v1.1.0-rc.0.yaml
  addons/kube-state-metrics/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.10.1.yaml
  addons/kubernetes-dashboard/v1.4.0.yaml
  addons/kubernetes-dashboard/v1.5.0.yaml
  addons/kubernetes-dashboard/v1.6.0.yaml
  addons/kubernetes-dashboard/v1.6.1.yaml
  addons/kubernetes-dashboard/v1.6.3.yaml
  addons/kubernetes-dashboard/v1.7.0.yaml
  addons/kubernetes-dashboard/v1.7.1.yaml
  addons/kubernetes-dashboard/v1.8.0.yaml
  addons/kubernetes-dashboard/v1.8.1.yaml
  addons/kubernetes-dashboard/v1.8.3.yaml
  addons/logging-elasticsearch/v1.5.0.yaml
  addons/logging-elasticsearch/v1.6.0.yaml
  addons/logging-elasticsearch/v1.7.0.yaml
  addons/metrics-server/v1.16.x.yaml
  addons/metrics-server/v1.8.x.yaml
  nodeup/pkg/model/context.go
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
  pkg/assets/builder.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/v0.1.12.yaml
  upup/models/cloudup/resources/addons/scaleway-csi-driver.addons.k8s.io/k8s-1.24.yaml.template
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/addons

#15136 Automated cherry pick of #15134: Use registry.k8s.io for legacy addons
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.sh
  addons/ingress-nginx/README.md
  addons/ingress-nginx/v1.4.0.yaml
  addons/ingress-nginx/v1.6.0-gce.yaml
  addons/ingress-nginx/v1.6.0.yaml
  addons/kube-state-metrics/v1.0.1.yaml
  addons/kube-state-metrics/v1.1.0-rc.0.yaml
  addons/kube-state-metrics/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.10.1.yaml
  addons/kubernetes-dashboard/v1.4.0.yaml
  addons/kubernetes-dashboard/v1.5.0.yaml
  addons/kubernetes-dashboard/v1.6.0.yaml
  addons/kubernetes-dashboard/v1.6.1.yaml
  addons/kubernetes-dashboard/v1.6.3.yaml
  addons/kubernetes-dashboard/v1.7.0.yaml
  addons/kubernetes-dashboard/v1.7.1.yaml
  addons/kubernetes-dashboard/v1.8.0.yaml
  addons/kubernetes-dashboard/v1.8.1.yaml
  addons/kubernetes-dashboard/v1.8.3.yaml
  addons/logging-elasticsearch/v1.5.0.yaml
  addons/logging-elasticsearch/v1.6.0.yaml
  addons/logging-elasticsearch/v1.7.0.yaml
  addons/metrics-server/v1.16.x.yaml
  addons/metrics-server/v1.8.x.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
  pkg/assets/builder.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/v0.1.12.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/addons

#15137 Automated cherry pick of #15134: Use registry.k8s.io for legacy addons
  addons/cluster-autoscaler/README.md
  addons/cluster-autoscaler/cluster-autoscaler.sh
  addons/ingress-nginx/README.md
  addons/ingress-nginx/v1.4.0.yaml
  addons/ingress-nginx/v1.6.0-gce.yaml
  addons/ingress-nginx/v1.6.0.yaml
  addons/kube-state-metrics/v1.0.1.yaml
  addons/kube-state-metrics/v1.1.0-rc.0.yaml
  addons/kube-state-metrics/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.1.0.yaml
  addons/kubernetes-dashboard/v1.10.1.yaml
  addons/kubernetes-dashboard/v1.4.0.yaml
  addons/kubernetes-dashboard/v1.5.0.yaml
  addons/kubernetes-dashboard/v1.6.0.yaml
  addons/kubernetes-dashboard/v1.6.1.yaml
  addons/kubernetes-dashboard/v1.6.3.yaml
  addons/kubernetes-dashboard/v1.7.0.yaml
  addons/kubernetes-dashboard/v1.7.1.yaml
  addons/kubernetes-dashboard/v1.8.0.yaml
  addons/kubernetes-dashboard/v1.8.1.yaml
  addons/kubernetes-dashboard/v1.8.3.yaml
  addons/logging-elasticsearch/v1.5.0.yaml
  addons/logging-elasticsearch/v1.6.0.yaml
  addons/logging-elasticsearch/v1.7.0.yaml
  addons/metrics-server/v1.16.x.yaml
  addons/metrics-server/v1.8.x.yaml
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-apiserver-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-controller-manager-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-scheduler-arm64.yaml
  pkg/assets/builder.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-metadata-proxy.addons.k8s.io-v0.1.12_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.k8s.local-addons-hcloud-csi-driver.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/metadata-proxy.addons.k8s.io/v0.1.12.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/addons

#15139 Add cluster name to OCCM opts
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_nodns/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15127 DigitalOcean: Support SSH key provisioning
  pkg/model/domodel/droplets.go
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/do/mock_do_cloud.go
  upup/pkg/fi/cloudup/dotasks/droplet.go
  upup/pkg/fi/cloudup/dotasks/sshkey.go
  upup/pkg/fi/cloudup/dotasks/sshkey_fitask.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/digitalocean

#15143 kubetest2-kops: update tests for new zones
  tests/e2e/kubetest2-kops/aws/zones_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15142 Automated cherry pick of #15139: add clustername to ccm opts
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_nodns/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15145 remove AWS S3 access from nodes if using none dns
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/minimal-dns-none/data/aws_iam_role_policy_nodes.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/S

#15146 Automated cherry pick of #15145: remove s3 access from nodes if using none dns
  pkg/model/iam/iam_builder.go
  tests/integration/update_cluster/minimal-dns-none/data/aws_iam_role_policy_nodes.minimal.example.com_policy
Labels: cncf-cla: yes, lgtm, approved, size/S

#15147 OpenStack: remove cadvisor and etcd client fw rule
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#15148 Automated cherry pick of #15147: remove cadvisor and etcd client fw rule
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack

#15141 hetzner: add dependency logic to deletion
  pkg/resources/hetzner/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/hetzner

#15149 Automated cherry pick of #15141: hetzner: add dependency logic to deletion
  pkg/resources/hetzner/resources.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/hetzner

#15095 Pass actual cluster name to cinder-csi-plugin
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_nodns/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#15152 Automated cherry pick of #15095: Pass actual cluster name to cinder-csi-plugin
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_nodns/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, ok-to-test, area/addons

#15153 Add terraform target support for configuring Warm Pool
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, ok-to-test

#15154 Automated cherry pick of #15153: Add terraform target support for configuring Warm Pool
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#15155 Automated cherry pick of #15153: Add terraform target support for configuring Warm Pool
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/warmpool.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#15156 Document setting cluster name flag for OCCM and Cinder CSI plugin
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15160 Update Go to v1.19.6
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15166 tests: create smoketest scenario
  tests/e2e/scenarios/smoketest/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#15161 Automated cherry pick of #15160: Update Go to v1.19.6
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15162 Automated cherry pick of #15160: Update Go to v1.19.6
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15138 exit nodeup gracefully if server already exists in k8s
  cmd/kops-controller/pkg/server/server.go
  pkg/bootstrap/authenticate.go
  pkg/kopscontrollerclient/client.go
  upup/pkg/fi/cloudup/openstack/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack, area/kops-controller

#15169 update openstack csi & ccm versions
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15170 Automated cherry pick of #15169: update openstack csi & ccm versions
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15171 Automated cherry pick of #15169: update openstack csi & ccm versions
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15177 [docs] Fix External IAM Policy Docs
  docs/iam_roles.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15178 Automated cherry pick of #15069: openstack verifier: support IPv6 #15138: exit gracefully if server already exists in k8s
  cmd/kops-controller/pkg/server/server.go
  pkg/bootstrap/authenticate.go
  pkg/kopscontrollerclient/client.go
  upup/pkg/fi/cloudup/openstack/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack, area/kops-controller

#15036 Improve support for AdditionalNetworkCIDRs
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/validation.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
  upup/pkg/fi/cloudup/defaults.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L

#15122 scaleway: get credentials from Scaleway profile
  Makefile
  hack/update-expected.sh
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/protokube.go
  pkg/model/bootstrapscript.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/template_functions.go
  util/pkg/env/standard.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, ok-to-test, area/provider/scaleway

#15179 validation cleanup: simplify signature of validateCIDR
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#15180 set node status update freq to 60min in OpenStack
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/openstack.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#15182 Automated cherry pick of #15180: set node status update freq to 60min in OpenStack
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/openstack.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M
