Repository kubernetes/kops, pull requests merged in 2023-01, with the labels that each got.

#14925 Add Context arg to vfs ReadFile
  cmd/kops-controller/pkg/server/node_config.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/get_all.go
  cmd/kops/get_cluster.go
  cmd/kops/version.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_apiserver_healthcheck.go
  nodeup/pkg/model/manifests.go
  pkg/client/simple/clientset.go
  pkg/client/simple/vfsclientset/addons.go
  pkg/client/simple/vfsclientset/cluster.go
  pkg/client/simple/vfsclientset/commonvfs.go
  pkg/templates/templates.go
  upup/models/vfs.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/fitasks/managedfile.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/resources.go
  upup/pkg/fi/secrets/vfs_secretstore.go
  upup/pkg/fi/vfs_castore.go
  upup/pkg/fi/vfs_castore_test.go
  util/pkg/vfs/azureblob.go
  util/pkg/vfs/cache.go
  util/pkg/vfs/context.go
  util/pkg/vfs/fs.go
  util/pkg/vfs/fs_test.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/k8sfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/memfs_test.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/sshfs.go
  util/pkg/vfs/swiftfs.go
  util/pkg/vfs/vfs.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/kops-controller

#14870 Refactor away from using Cluster object in nodeup
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/cloudconfig.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/etc_hosts.go
  nodeup/pkg/model/kops_controller.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_proxy_test.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/protokube.go
  pkg/acls/s3/storage_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/assets/builder.go
  pkg/assets/builder_test.go
  pkg/commands/helpers_readwrite.go
  pkg/configserver/secretstore.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/containerd_test.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/image_test.go
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/components/kubecontrollermanager_test.go
  pkg/model/components/kubelet_test.go
  pkg/model/components/kubescheduler/model_test.go
  pkg/model/components/kubescheduler_test.go
  upup/pkg/fi/ca.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/cloudup/networking_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/fi/dryruntarget_test.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/secrets.go
  upup/pkg/fi/secrets/vfs_secretstore.go
  upup/pkg/fi/secrets/vfs_secretstorereader.go
  upup/pkg/fi/vfs_castore.go
  upup/pkg/fi/vfs_castore_test.go
  upup/pkg/fi/vfs_keystorereader.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, area/rolling-update, approved, size/XL, area/provider/aws, area/provider/gcp

#14932 OpenStack: include cloud config in normal nodes
  nodeup/pkg/model/cloudconfig.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, kind/bug

#14937 Improve error message when trying to use IPv6 with amazonvpc networking
  upup/pkg/fi/cloudup/defaults.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14938 Automated cherry pick of #14937: Improve error message when trying to use IPv6 with amazonvpc
  upup/pkg/fi/cloudup/defaults.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14935 Pull pki.Keystore out of fi.KeystoreReader
  pkg/commands/helpers/kubectl_auth.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  upup/pkg/fi/ca.go
  upup/pkg/fi/clientset_castore.go
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/vfs_keystorereader.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14929 Prune admission webhooks
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_object_privatekopeio.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#14934 Temporarily disable cluster-autoscaler in many-addons test
  tests/e2e/templates/many-addons.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14924 Automated cherry pick of #14923: Do not include tags when searching existing volumes in
  upup/pkg/fi/cloudup/openstacktasks/volume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, kind/bug, area/provider/openstack

#14923 Do not include tags when searching existing volumes in OpenStack
  upup/pkg/fi/cloudup/openstacktasks/volume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, kind/bug, area/provider/openstack

#14940 Automated cherry pick of #14929: Prune admission webhooks
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatekopeio/data/aws_s3_object_privatekopeio.example.com-addons-bootstrap_content
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#14941 Don't tag public subnets for internal LBs in IPv6 clusters
  pkg/model/awsmodel/network.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#14942 Automated cherry pick of #14941: Don't tag public subnets for internal LBs in IPv6 clusters
  pkg/model/awsmodel/network.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#14912 gce: try to avoid concurrent IAM project operations
  pkg/mutexes/localmutexes.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gcetasks/projectiambinding.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#14945 vfs: don't cache bucketDetails in S3Path
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#14926 Support multiple terraform file providers
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/lifecycle_phases/network-kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  tests/integration/update_cluster/minimal_hetzner/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup_test.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
  upup/pkg/fi/cloudup/awstasks/render_test.go
  upup/pkg/fi/cloudup/terraform/target.go
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
  upup/pkg/fi/cloudup/terraformWriter/provider.go
  upup/pkg/fi/cloudup/terraformWriter/writer.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/tests/gsfs_test.go
  util/pkg/vfs/tests/s3fs_test.go
  util/pkg/vfs/vfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#14927 EnsureTask should panic
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/awsmodel/dns.go
  pkg/model/awsmodel/network.go
  pkg/model/awsmodel/spotinst.go
  pkg/model/components/etcdmanager/model.go
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
  upup/pkg/fi/task.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, area/provider/aws

#14948 Refactor terraform provider version logic
  upup/pkg/fi/cloudup/terraform/target_hcl2.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#14955 Allow built-in manifests to be replaced by external addons
  pkg/kubemanifest/containerargs.go
  pkg/kubemanifest/visitor.go
  pkg/model/components/addonmanifests/remap.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/pruning.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#14953 Revert "Temporarily disable cluster-autoscaler in many-addons test"
  tests/e2e/templates/many-addons.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14958 kubetest2-kops: include stderr when calling kops toolbox dump
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14959 move openstack cloud config to k8s secrets
  nodeup/pkg/model/cloudconfig.go
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/provider/openstack, area/addons

#14961 kubetest: pass through KOPS_ARCH if set
  tests/e2e/kubetest2-kops/deployer/common.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14962 gce: KCM should not allocate IPs when CCM is in use.
  pkg/model/components/kubecontrollermanager.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14965 Fix `kops version` command when dev-building nodeup
  docs/contributing/adding_a_feature.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14194 Exit rolling updates when encountering specific errors
  docs/releases/1.26-NOTES.md
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/rolling-update, approved, size/M, ok-to-test, kind/office-hours

#14972 scaleway: remove location environment variables
  Makefile
  hack/update-expected.sh
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/protokube.go
  pkg/model/bootstrapscript.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/utils.go
  util/pkg/env/standard.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, ok-to-test, area/provider/scaleway

#14879 aws: Set IMDS defaults for existing clusters
  docs/instance_groups.md
  docs/releases/1.27-NOTES.md
  pkg/model/awsmodel/autoscalinggroup.go
  tests/integration/update_cluster/apiservernodes/kubernetes.tf
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/compress/kubernetes.tf
  tests/integration/update_cluster/containerd-custom/kubernetes.tf
  tests/integration/update_cluster/containerd/kubernetes.tf
  tests/integration/update_cluster/digit/kubernetes.tf
  tests/integration/update_cluster/docker-custom/kubernetes.tf
  tests/integration/update_cluster/existing_iam/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/external_dns/kubernetes.tf
  tests/integration/update_cluster/externallb/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/ha/kubernetes.tf
  tests/integration/update_cluster/irsa/kubernetes.tf
  tests/integration/update_cluster/karpenter/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa23/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa24/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm-irsa25/kubernetes.tf
  tests/integration/update_cluster/many-addons-ccm/kubernetes.tf
  tests/integration/update_cluster/many-addons/kubernetes.tf
  tests/integration/update_cluster/minimal-etcd/kubernetes.tf
  tests/integration/update_cluster/minimal-gp3/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  tests/integration/update_cluster/minimal-longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal-warmpool/kubernetes.tf
  tests/integration/update_cluster/minimal/kubernetes.tf
  tests/integration/update_cluster/minimal_gossip/kubernetes.tf
  tests/integration/update_cluster/mixed_instances/kubernetes.tf
  tests/integration/update_cluster/mixed_instances_spot/kubernetes.tf
  tests/integration/update_cluster/nth-imds-processor/kubernetes.tf
  tests/integration/update_cluster/nvidia/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/public-jwks-apiserver/kubernetes.tf
  tests/integration/update_cluster/shared_subnet/kubernetes.tf
  tests/integration/update_cluster/shared_vpc/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  tests/integration/update_cluster/vfs-said/kubernetes.tf
  upup/pkg/fi/cloudup/new_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, kind/office-hours

#14981 Bump cert-manager to 1.10.2
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#14978 Update Go to v1.19.5
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14979 Automated cherry pick of #14978: Update Go to v1.19.5
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14980 Automated cherry pick of #14978: Update Go to v1.19.5
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#14860 Update release notes for kOps v1.26
  docs/releases/1.26-NOTES.md
  mkdocs.yml
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14920 Populate cluster with default values in `kops replace`
  cmd/kops/replace.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#14985 Automated cherry pick of #14920: Populate cluster with default values in `kops replace`
  cmd/kops/replace.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#14986 Infer the dns suffix from the cluster name for etcd-manager
  pkg/model/components/etcdmanager/model.go
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
Labels: cncf-cla: yes, lgtm, approved, size/S

#14987 Automated cherry pick of #14986: Infer the dns suffix from the cluster name for
  pkg/model/components/etcdmanager/model.go
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal_gossip_irsa/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
Labels: cncf-cla: yes, lgtm, approved, size/S

#14916 openstack: use subnet type instead of topology
  docs/releases/1.27-NOTES.md
  nodeup/pkg/model/kube_apiserver.go
  pkg/apis/kops/validation/openstack.go
  pkg/apis/kops/validation/openstack_test.go
  pkg/apis/kops/validation/validation.go
  pkg/model/openstackmodel/context.go
  pkg/model/openstackmodel/servergroup.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/openstackmodel/tests/servergroup/multizone-setup-3-masters-3-nodes-without-bastion-with-API-loadbalancer.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  tests/integration/update_cluster/minimal_openstack/in-v1alpha2.yaml
  tests/integration/update_cluster/openstack_floatingip/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/openstack/cloud.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/openstack

#14839 Remove the SpecOverrideFlag feature flag
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/lifecycle_integration_test.go
  docs/advanced/experimental.md
  pkg/featureflag/featureflag.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/digital-ocean/run-test
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
  tests/e2e/scenarios/upgrade-ha-leader-migration/run-test.sh
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, kind/office-hours

#14993 Rename version.go to kops-version.go
  .github/workflows/tag-release.yml
  Makefile
  hack/set-version
  hack/tag-release.sh
  hack/verify-versions.sh
  kops-version.go
  tools/get_version.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#14994 Automated cherry pick of #14993: Rename version.go to kops-version.go
  .github/workflows/tag-release.yml
  Makefile
  hack/set-version
  hack/tag-release.sh
  hack/verify-versions.sh
  kops-version.go
  tools/get_version.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#14995 Automated cherry pick of #14993: Rename version.go to kops-version.go
  .github/workflows/tag-release.yml
  Makefile
  hack/set-version
  hack/tag-release.sh
  hack/verify-versions.sh
  kops-version.go
  tools/get_version.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#14998 Add release note about CAS expander config
  docs/releases/1.26-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#14999 Use kops-controller to boostrap nodes in OpenStack
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  pkg/model/bootstrapscript.go
  pkg/model/openstackmodel/firewall.go
  protokube/pkg/protokube/openstack_volume.go
  upup/pkg/fi/cloudup/openstack/authenticator.go
  upup/pkg/fi/cloudup/openstack/metadata.go
  upup/pkg/fi/cloudup/openstack/metadata_test.go
  upup/pkg/fi/cloudup/openstack/testdata/metadata_drive.json
  upup/pkg/fi/cloudup/openstack/testdata/metadata_service.json
  upup/pkg/fi/cloudup/openstack/verifier.go
  upup/pkg/fi/cloudup/openstacktasks/port.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XL, area/provider/openstack, area/kops-controller

#15002 Run kops-controller server on non-leaders as well
  cmd/kops-controller/pkg/server/server.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#15009 Automated cherry pick of #15002: Run kops-controller server on non-leaders as well
  cmd/kops-controller/pkg/server/server.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#15010 Automated cherry pick of #15002: Run kops-controller server on non-leaders as well
  cmd/kops-controller/pkg/server/server.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#15012 Automated cherry pick of #15011: Upgrade AWS CCM to 1.25.2
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15013 Automated cherry pick of #15011: Upgrade AWS CCM to 1.25.2
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15011 Upgrade AWS CCM to 1.25.2
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15014 Automated cherry pick of #15006: update OpenStack node identifier to use Identifier instead of
  cmd/kops-controller/main.go
  pkg/nodeidentity/openstack/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#15006 update OpenStack node identifier to use Identifier
  cmd/kops-controller/main.go
  pkg/nodeidentity/openstack/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#15017 Automated cherry pick of #14959: move openstack cloud config to k8s secrets #15001: Use kops-controller to boostrap nodes in OpenStack
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/cloudconfig.go
  pkg/apis/kops/model/features.go
  pkg/model/bootstrapscript.go
  pkg/model/openstackmodel/firewall.go
  protokube/pkg/protokube/openstack_volume.go
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/openstack/authenticator.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/metadata.go
  upup/pkg/fi/cloudup/openstack/metadata_test.go
  upup/pkg/fi/cloudup/openstack/testdata/metadata_drive.json
  upup/pkg/fi/cloudup/openstack/testdata/metadata_service.json
  upup/pkg/fi/cloudup/openstack/verifier.go
  upup/pkg/fi/cloudup/openstacktasks/port.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XL, area/provider/openstack, area/kops-controller, area/addons

#15021 fix(sec): upgrade gopkg.in/yaml.v3 to 3.0.0
  hack/go.mod
  hack/go.sum
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15020 Upgrade Node Termination Handler to 1.18.3
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15023 Automated cherry pick of #15020: Upgrade Node Termination Handler to 1.18.3
  pkg/model/components/nodeterminationhandler.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor-irsa/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-bootstrap_content
  tests/integration/update_cluster/nth-imds-processor/data/aws_s3_object_nthimdsprocessor.longclustername.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15022 scaleway: refactoring: instance and tags
  pkg/model/components/etcdmanager/model.go
  pkg/model/master_volumes.go
  pkg/model/scalewaymodel/instances.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/provider/scaleway

#15029 Fix LBC e2e after dropping override feature flag
  tests/e2e/scenarios/lib/common.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15030 Upgrade AWS LBC to v2.4.6
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-aws-load-balancer-controller.addons.k8s.io-k8s-1.19_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  upup/models/cloudup/resources/addons/aws-load-balancer-controller.addons.k8s.io/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15031 gce cloud-controller-manager: Add nodes/patch permission
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#14997 Validate nonMasqueradeCIDR doesn't overlap additionalNetworkCIDRs
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L

#15033 nodeup: don't set up masquerade if nonMasqueradeCIDR not set
  nodeup/pkg/model/containerd.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#15039 tests: Capture iptables chains
  pkg/dump/dumper.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15041 Add Spotinst to help-wanted announcement
  docs/releases/1.26-NOTES.md
  docs/releases/1.27-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS

#15024 make openstack kops-controller boostrap auth better
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
  pkg/bootstrap/authenticate.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/tpmverifier.go
  upup/pkg/fi/cloudup/hetzner/verifier.go
  upup/pkg/fi/cloudup/openstack/verifier.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, area/provider/aws, area/provider/gcp, area/provider/openstack, area/kops-controller, area/provider/hetzner

#15044 Fix resource-tracking scenario test
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15047 Fix resource-tracking scenario
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15052 Bump aws-cni to 1.12.1
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15051 bump k8s versions and ubuntu ami version in alpha
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#15048 Automated cherry pick of #15024: make openstack kops-controller boostrap auth better
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
  pkg/bootstrap/authenticate.go
  upup/pkg/fi/cloudup/awsup/aws_verifier.go
  upup/pkg/fi/cloudup/gce/tpm/gcetpmverifier/tpmverifier.go
  upup/pkg/fi/cloudup/hetzner/verifier.go
  upup/pkg/fi/cloudup/openstack/verifier.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, area/provider/aws, area/provider/gcp, area/provider/openstack, area/kops-controller, area/provider/hetzner

#15053 Upgrade AWS CCM to 1.25.3
  pkg/model/components/awscloudcontrollermanager.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/privateflannel/data/aws_s3_object_privateflannel.example.com-addons-bootstrap_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/shared_vpc_ipv6/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15054 Always disable the reboot manager for Flatcar
  docs/releases/1.26-NOTES.md
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
  nodeup/pkg/model/update_service.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15056 Automated cherry pick of #15055: remove condition path exists
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15058 Automated cherry pick of #15054: Always disable the reboot manager for Flatcar
  docs/releases/1.26-NOTES.md
  nodeup/pkg/model/update_service.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15062 nodeup: fix logging of download times
  upup/pkg/fi/http.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15069 openstack verifier: support IPv6
  cmd/kops-controller/pkg/server/server.go
  upup/pkg/fi/cloudup/openstack/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/openstack, area/kops-controller

#15070 Promote alpha to stable
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15064 executor: Avoid writing into slice without a mutex
  upup/pkg/fi/executor.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14933 scaleway: load-balancer support
  pkg/model/context.go
  pkg/model/scalewaymodel/api_loadbalancer.go
  pkg/resources/scaleway/resources.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_frontend.go
  upup/pkg/fi/cloudup/scalewaytasks/lbbackend_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/lbfrontend_fitask.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer_fitask.go
  upup/pkg/fi/cloudup/utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_utils.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XXL, ok-to-test, area/provider/scaleway

#15050 Cilium: Add unreachable route for pod IP on deletion option
  docs/releases/1.26-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test, area/addons

#15077 scaleway: CCM and CSI driver
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
  upup/models/cloudup/resources/addons/scaleway-csi-driver.addons.k8s.io/k8s-1.24.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, ok-to-test, area/addons

#15081 azure: Use Basic SKU for the API LB
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/publicipaddress.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/azure

#15085 Automated cherry pick of #15078: disable kops-configuration.service after successful execution
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15078 disable kops-configuration.service after successful execution
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/bootstrap/tests/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#15086 Automated cherry pick of #15083: Allow setting 'ignore-volume-microversion' for OCCP
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/openstack

#15083 Allow setting 'ignore-volume-microversion' for OCCP
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/cloud_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/openstack, ok-to-test
