Repository kubernetes/kops, pull requests merged in 2023-07, with the labels that each got.

#15563 azure: Enable support for public load balancer
  pkg/model/azuremodel/vmscaleset.go
  pkg/model/azuremodel/vmscaleset_test.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/azure

#15567 azure: Fix finding load balancers without subnets
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/azure

#15571 Automated cherry pick of #15144: Upgrade Karpenter to v0.27.5
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  docs/operations/karpenter.md
  docs/releases/1.27-NOTES.md
  pkg/apis/kops/validation/validation.go
  pkg/featureflag/featureflag.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XXL, tide/merge-method-squash

#15570 azure: Add support for network security groups
  pkg/model/azuremodel/network.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/networksecuritygroup.go
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup.go
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup_fitask.go
  upup/pkg/fi/cloudup/azuretasks/subnet.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/azure

#15579 Don't download container runtime assets when skipping the installation
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_master-us-test-1a.masters.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_nodes.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15580 Automated cherry pick of #14893: Don't expose v1alpha3 API
  pkg/apis/kops/install/install.go
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/integration_test.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M

#15581 Promote alpha channel to stable
  channels/alpha
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15577 hetzner: Update CCM to v1.16.0
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15578 Automated cherry pick of #15577: hetzner: Update CCM to v1.16.0
  pkg/model/components/hetznercloudcontrollermanager.go
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_hetzner/data/aws_s3_object_minimal.example.com-addons-hcloud-cloud-controller.addons.k8s.io-k8s-1.22_content
  upup/models/cloudup/resources/addons/hcloud-cloud-controller.addons.k8s.io/k8s-1.22.yaml.template
  upup/models/cloudup/resources/addons/hcloud-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15573 aws: Avoid spurious changes in EBSVolume for KmsKeyId
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15575 Automated cherry pick of #15573: aws: Avoid spurious changes in EBSVolume for KmsKeyId
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15574 Automated cherry pick of #15573: aws: Avoid spurious changes in EBSVolume for KmsKeyId
  upup/pkg/fi/cloudup/awstasks/ebsvolume.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15325 docs(cilium): fix several broken links
  docs/networking/cilium.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15584 docs: remove `kube-dns-autoscaler` when upgrading to CoreDNS
  docs/cluster_spec.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15583 docs(cilium): update links to latest v1.13
  docs/networking/cilium.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15586 Automated cherry pick of #15579: Don't download containerd assets when skipping the
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_master-us-test-1a.masters.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_launch_template_nodes.containerd.example.com_user_data
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/containerd-custom/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/containerd-custom/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15588 doc: Added documentation about loadbalancer and security group configuration
  docs/getting_started/openstack.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test

#15585 Update Karpenter to v0.28.1
  channels/pkg/channels/addon.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/channels, area/addons

#15592 Automated cherry pick of #15585: Update Karpenter to v0.28.1
  channels/pkg/channels/addon.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/channels, area/addons

#15591 kops-controller: create IPAM controller for GCE
  cmd/kops-controller/controllers/awsipam.go
  cmd/kops-controller/controllers/gceipam.go
  cmd/kops-controller/main.go
  pkg/model/components/gcpcloudcontrollermanager.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
Labels: cncf-cla: yes, lgtm, approved, size/L, area/kops-controller

#15593 Increase client-side throttling limits
  cmd/kops/util/factory.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15596 Automated cherry pick of #15593: Increase client-side throttling limits
  cmd/kops/util/factory.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15594 ipv6: containerd routes support for IPv6
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/tests/containerdbuilder/flatcar/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#14921 Validate additionalNetworkCIDRs only set on AWS
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#15597 Automated cherry pick of #14921: Validate additionalNetworkCIDRs only set on AWS
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#14905 Use private topology for apiserver e2e test
  tests/e2e/templates/apiserver.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/M

#15602 gce: Add support for bastions
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/external_access.go
  pkg/model/gcemodel/firewall.go
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#15605 Fix Karpenter failure to start on IPv6 clusters
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#15332 gce: Update logic for internal LB
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/firewall.go
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gcetasks/address.go
  upup/pkg/fi/cloudup/gcetasks/backend_service.go
  upup/pkg/fi/cloudup/gcetasks/healthcheck.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp, kind/office-hours

#15610 Move GCE networkCIDR prohibition to validateNetworking()
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS

#15612 v1alpha3: Rename GCE networking to GCP
  cmd/kops/create_cluster.go
  docs/cluster_spec.md
  k8s/crds/kops.k8s.io_clusters.yaml
  nodeup/pkg/model/containerd.go
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/gcpcloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/networking.go
  pkg/model/gcemodel/context.go
  upup/pkg/fi/cloudup/gce/network.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, area/provider/gcp

#15613 Remove references to ClusterSpec from nodeup sysctls.go
  nodeup/pkg/model/kubelet_test.go
  nodeup/pkg/model/sysctls.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/nodeup/config.go
  tests/integration/update_cluster/complex/data/aws_launch_template_master-us-test-1a.masters.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_launch_template_nodes.complex.example.com_user_data
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/complex/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/externalpolicies/data/aws_launch_template_master-us-test-1a.masters.externalpolicies.example.com_user_data
  tests/integration/update_cluster/externalpolicies/data/aws_launch_template_nodes.externalpolicies.example.com_user_data
  tests/integration/update_cluster/externalpolicies/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/externalpolicies/data/aws_s3_object_nodeupconfig-nodes_content
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#15611 gce: Set firewall rules for Internal LBs also
  pkg/model/gcemodel/api_loadbalancer.go
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#15618 scaleway: switched credentials reading order
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scaleway/utils_test.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/L, ok-to-test, area/provider/scaleway

#15620 Remove more references to ClusterSpec from nodeup
  cmd/kops/integration_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/model/features.go
  pkg/model/bootstrapscript.go
  pkg/model/context.go
  pkg/model/iam/iam_builder.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/dns_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#15619 Automated cherry pick of #15618: switched credentials reading order
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scaleway/utils_test.go
  upup/pkg/fi/cloudup/scalewaytasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/scaleway

#15621 Update Go to v1.20.6
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15622 Automated cherry pick of #15621: Update Go to v1.20.6
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15626 scaleway: refactoring: utils functions to get info from tags
  pkg/nodeidentity/scaleway/identify.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/utils.go
  upup/pkg/fi/cloudup/scaleway/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/provider/scaleway

#15628 aws: Allow using the same instance ID as egress for multiple subnets
  pkg/model/awsmodel/network.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15609 Automated cherry pick of #15605: Fix Karpenter failure to start on IPv6 clusters
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#15604 scaleway: documentation improvement
  docs/getting_started/scaleway.md
Labels: area/documentation, cncf-cla: yes, lgtm, needs-ok-to-test, approved, size/M

#15634 Deprecate Canal, Flannel, and Kube-router
  docs/networking.md
  docs/networking/canal.md
  docs/networking/flannel.md
  docs/networking/kube-router.md
  docs/releases/1.27-NOTES.md
  docs/releases/1.28-NOTES.md
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/M

#15635 open hubble port 4244 for openstack
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#15636 Automated cherry pick of #15635: openstack: Open hubble port 4244
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#15632 Add support for using swap memory
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#15607 gce: Use `user-data` instead of `startup-script` metadata key
  cmd/kops/integration_test.go
  pkg/model/gcemodel/autoscalinggroup.go
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_nodes-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_master-us-test1-a-minimal-example-com_metadata_user-data
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_nodes-minimal-example-com_metadata_user-data
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-ilb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_nodes-minimal-gce-ilb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-plb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_nodes-minimal-gce-plb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instance.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp, kind/office-hours

#15639 Automated cherry pick of #15602: gce: Add support for bastions#15332: gce: Update logic for internal LB#15611: gce: Set firewall rules for Internal LBs also#15614: gce: Rename firewall SSH rules for bastion#15607: gce: Use `user-data` instead of `startup-script` metadata
  cmd/kops/integration_test.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/external_access.go
  pkg/model/gcemodel/firewall.go
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-a-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-b-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_master-us-test1-c-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/data/google_compute_instance_template_nodes-ha-gce-example-com_metadata_user-data
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_master-us-test1-a-minimal-example-com_metadata_user-data
  tests/integration/update_cluster/many-addons-gce/data/google_compute_instance_template_nodes-minimal-example-com_metadata_user-data
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_master-us-test1-a-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_dns-none/data/google_compute_instance_template_nodes-minimal-gce-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-ilb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb/data/google_compute_instance_template_nodes-minimal-gce-ilb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_master-us-test1-a-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_longclustername/data/google_compute_instance_template_nodes-minimal-gce-with-a-very-very-very-very-very-long-name-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_master-us-test1-a-minimal-gce-plb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_plb/data/google_compute_instance_template_nodes-minimal-gce-plb-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_master-us-test1-a-minimal-gce-private-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_private/data/google_compute_instance_template_nodes-minimal-gce-private-example-com_metadata_user-data
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gcetasks/address.go
  upup/pkg/fi/cloudup/gcetasks/backend_service.go
  upup/pkg/fi/cloudup/gcetasks/healthcheck.go
  upup/pkg/fi/cloudup/gcetasks/instance.go
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#15637 Automated cherry pick of #15632: Add support for using swap memory
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/validation/validation.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/S

#14960 Add VFSContext to various clientsets
  cmd/kops/create.go
  cmd/kops/delete.go
  cmd/kops/replace.go
  cmd/kops/util/factory.go
  cmd/kops/version.go
  examples/kops-api-example/apply.go
  examples/kops-api-example/up.go
  nodeup/pkg/model/kubelet_test.go
  pkg/client/simple/api/clientset.go
  pkg/client/simple/clientset.go
  pkg/client/simple/vfsclientset/clientset.go
  pkg/client/simple/vfsclientset/clientset_test.go
  pkg/instancegroups/rollingupdate_os_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  util/pkg/vfs/context.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/rolling-update, approved, size/L, kind/office-hours

#15395 add removeAll to vfs
  pkg/client/simple/vfsclientset/clientset.go
  upup/models/vfs.go
  util/pkg/vfs/azureblob.go
  util/pkg/vfs/fs.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/k8sfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/sshfs.go
  util/pkg/vfs/swiftfs.go
  util/pkg/vfs/vfs.go
Labels: cncf-cla: yes, lgtm, approved, size/L, ok-to-test, kind/office-hours

#15608 kops-controller: load objects with version conversion
  cmd/kops-controller/controllers/legacy_node_controller.go
  pkg/nodelabels/builder.go
  upup/pkg/fi/utils/yaml.go
Labels: cncf-cla: yes, lgtm, blocks-next, approved, size/M, area/kops-controller

#15641 Automated cherry pick of #15608: kops-controller: load objects with version conversion
  cmd/kops-controller/controllers/legacy_node_controller.go
  pkg/nodelabels/builder.go
  upup/pkg/fi/utils/yaml.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#15642 Automated cherry pick of #15608: kops-controller: load objects with version conversion
  cmd/kops-controller/controllers/legacy_node_controller.go
  pkg/nodelabels/builder.go
  upup/pkg/fi/utils/yaml.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#15627 azure: Add support for dns=none
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  pkg/apis/kops/validation/validation.go
  pkg/model/azuremodel/network.go
  pkg/model/azuremodel/vmscaleset.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/azure/authenticator.go
  upup/pkg/fi/cloudup/azure/loadbalancer.go
  upup/pkg/fi/cloudup/azure/verifier.go
  upup/pkg/fi/cloudup/azuretasks/loadbalancer.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/dns_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XL, area/provider/azure, area/kops-controller, kind/office-hours

#15631 spot: update docs about setting the VNG Size Limits in Launch Spec
  docs/getting_started/spot-ocean.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15646 Remove dead code for non-kops-controller bootstrap
  cmd/kops/integration_test.go
  nodeup/pkg/model/bootstrap_client.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/etc_hosts.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/networking/cilium.go
  pkg/apis/kops/model/features.go
  pkg/model/bootstrapscript.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/context.go
  pkg/model/hetznermodel/loadbalancer.go
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
  pkg/model/scalewaymodel/api_loadbalancer.go
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/models/cloudup/resources/addons/rbac.addons.k8s.io/k8s-1.8.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/dns.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XL, area/addons, area/provider/hetzner

#15648 Remove support for bootstrap tokens
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/validation/validation.go
  pkg/model/bootstrapscript.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M

#15651 Fix comment on patchNodePodCIDRs
  cmd/kops-controller/controllers/awsipam.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/kops-controller

#15652 Automated cherry pick of #15650: Support removal of managed node labels
  cmd/kops-controller/controllers/legacy_node_controller.go
  cmd/kops-controller/controllers/node_controller.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/kops-controller

#15650 Support removal of managed node labels
  cmd/kops-controller/controllers/legacy_node_controller.go
  cmd/kops-controller/controllers/node_controller.go
Labels: cncf-cla: yes, lgtm, blocks-next, approved, size/M, area/kops-controller

#15601 feat(karpenter): Variabilize image, logFormat and logLevel
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/karpenter.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test, area/addons

#15656 Automated cherry pick of #15655: Fix modifying backupRetentionDays
  tests/integration/update_cluster/minimal-etcd/data/aws_launch_template_master-us-test-1a.masters.minimal-etcd.example.com_user_data
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  upup/pkg/fi/cloudup/defaults.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15617 azure: Add mode dependency logic to deletion
  pkg/resources/azure/azure.go
  pkg/resources/azure/azure_test.go
  upup/pkg/fi/cloudup/azure/azure_utils.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset_test.go
  vendor/k8s.io/utils/set/OWNERS
  vendor/k8s.io/utils/set/ordered.go
  vendor/k8s.io/utils/set/set.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/azure, kind/office-hours

#15640 Refactor out references to global vfs.Context
  channels/pkg/channels/addon.go
  channels/pkg/channels/addons.go
  channels/pkg/cmd/apply_channel.go
  channels/pkg/cmd/factory.go
  cmd/kops-controller/controllers/legacy_node_controller.go
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/server/server.go
  examples/kops-api-example/apply.go
  examples/kops-api-example/main.go
  examples/kops-api-example/up.go
  util/pkg/vfs/context.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/channels, area/kops-controller

#15655 Fix modifying backupRetentionDays
  tests/integration/update_cluster/minimal-etcd/data/aws_launch_template_master-us-test-1a.masters.minimal-etcd.example.com_user_data
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-etcd/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  upup/pkg/fi/cloudup/defaults.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15653 Update release nodes for kOps 1.27
  docs/releases/1.27-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#15658 Update scaleway-sdk-go to v1.0.0-beta.19
  go.mod
  go.sum
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/domain/v2beta1/domain_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/iam/v1alpha1/iam_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/instance/v1/instance_utils.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/lb/v1/lb_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/config.go
  vendor/github.com/scaleway/scaleway-sdk-go/scw/custom_types.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/scaleway

#15662 More VFSContext refactoring
  cmd/kops/create.go
  cmd/kops/create_cluster.go
  cmd/kops/create_instancegroup.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/get_cluster.go
  cmd/kops/replace.go
  cmd/kops/toolbox_instance-selector.go
  cmd/kops/toolbox_template.go
  cmd/kops/upgrade_cluster.go
  examples/kops-api-example/up.go
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/channel.go
  pkg/apis/kops/registry/registry.go
  pkg/apis/kops/validation/cluster.go
  pkg/apis/kops/validation/legacy.go
  pkg/client/simple/api/clientset.go
  pkg/client/simple/vfsclientset/clientset.go
  pkg/client/simple/vfsclientset/cluster.go
  pkg/client/simple/vfsclientset/commonvfs.go
  pkg/client/simple/vfsclientset/instancegroup.go
  pkg/commands/commandutils/factory.go
  pkg/commands/helpers_readwrite.go
  pkg/instancegroups/rollingupdate_os_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/defaults.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/cloudup/validation_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, area/rolling-update, approved, size/L

#15654 Automated cherry pick of #15601: feat(karpenter): Variabilize Image, logFormat and logLevel
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/model/components/karpenter.go
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/addons

#15657 docs: revise the bastion ssh guideline to mitigate permission denied errors
  docs/bastion.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test

#15547 Fix long auth helper cache file name
  pkg/commands/helpers/kubectl_auth.go
  pkg/commands/helpers/kubectl_auth_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, kind/office-hours

#15663 More VFSContext refactoring
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  cmd/kops/get_assets.go
  nodeup/pkg/model/kubelet_test.go
  pkg/assets/builder.go
  pkg/assets/copy.go
  pkg/assets/copyfile.go
  pkg/clusteraddons/load.go
  pkg/commands/helpers_readwrite.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/containerd_test.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/image_test.go
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/components/kubecontrollermanager_test.go
  pkg/model/components/kubelet_test.go
  pkg/model/components/kubescheduler/model_test.go
  pkg/model/components/kubescheduler_test.go
  pkg/wellknownoperators/operators.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/cloudup/networking_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/dryruntarget_test.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/rolling-update, approved, size/L, area/provider/aws, area/provider/gcp

#15665 verify-boilerplate: stricter error checking
  hack/__init__.py
  hack/boilerplate/boilerplate.py
  hack/boilerplate/boilerplate.py.txt
  hack/mkdocs_macros/__init__.py
  hack/mkdocs_macros/feature_stability_table.py
  hack/verify-boilerplate.sh
Labels: cncf-cla: yes, lgtm, approved, size/S

#15664 Add golden-output test for cacheFilePath
  pkg/commands/helpers/kubectl_auth_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#14996 Determine default API access method by IG subnet type
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  nodeup/pkg/model/kubelet_test.go
  pkg/apis/kops/v1alpha2/defaults.go
  pkg/apis/kops/v1alpha3/defaults.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/validation/validation.go
  pkg/commands/helpers_readwrite.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/kubescheduler/tests/kubeschedulerconfig/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/minimal/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/mixing/completed-cluster.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, area/rolling-update, approved, size/L, kind/office-hours

#15623 Improve validation of PodCIDR and ServiceClusterIPRange
  pkg/apis/kops/validation/legacy.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/util/subnet/subnet.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/L

#15668 azure: Avoid spurious changes in NetworkSecurityGroup
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/azure

#15671 Continue skipping SCTP tests for cilium until we upgrade to 1.13
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15672 Bump k8s and kops versions used in scenario scripts
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
  tests/e2e/scenarios/cilium-connectivity-test/run-test.sh
  tests/e2e/scenarios/digital-ocean/run-test
Labels: cncf-cla: yes, lgtm, approved, size/S

#15673 Add 1.27 release notes to docs menu
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15667 azure: Populate node labels from tags
  pkg/nodeidentity/azure/identify.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15683 Skip ssh-to-all-nodes test in private topology
  pkg/apis/kops/v1alpha2/cluster.go
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#15674 kubetest2-kops: rename control-plane-size flag to control-plane-count
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#15688 Fix addon-resource-tracking scenario for new starting kops version
  tests/e2e/scenarios/addon-resource-tracking/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15689 Print error message when digest image fails
  pkg/assets/builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15690 Automated cherry pick of #15689: Print error message when digest image fails
  pkg/assets/builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15695 Promote alpha channel to stable
  channels/alpha
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/gce_byo_sa/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.23/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.24/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce-dns-none/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_gce/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#15693 v1alpha3: move state store location config under its own sub-struct
  cmd/kops/version.go
  docs/cluster_spec.md
  examples/kops-api-example/up.go
  pkg/acls/s3/storage.go
  pkg/acls/s3/storage_test.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/registry/registry.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/client/simple/api/clientset.go
  pkg/client/simple/vfsclientset/clientset.go
  pkg/client/simple/vfsclientset/clientset_test.go
  pkg/client/simple/vfsclientset/cluster.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/kubescheduler/tests/kubeschedulerconfig/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/minimal/completed-cluster.yaml
  pkg/model/components/kubescheduler/tests/mixing/completed-cluster.yaml
  pkg/model/config.go
  pkg/model/gcemodel/storageacl.go
  pkg/model/iam/iam_builder.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/pki.go
  pkg/testutils/cluster.go
  tests/codecs/componentconfig_test.go
  tests/integration/conversion/aws/v1alpha2.yaml
  tests/integration/conversion/aws/v1alpha3.yaml
  tests/integration/conversion/azure/v1alpha3.yaml
  tests/integration/conversion/canal/v1alpha3.yaml
  tests/integration/conversion/cilium/v1alpha3.yaml
  tests/integration/conversion/do/v1alpha3.yaml
  tests/integration/conversion/gce/v1alpha3.yaml
  tests/integration/conversion/minimal/v1alpha3.yaml
  tests/integration/conversion/openstack/v1alpha3.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, area/rolling-update, approved, size/L, area/provider/gcp

#15694 update logs with "cannot render instance groups" instead of "cannot render nodes" in validate_cluster.go
  cmd/kops/validate_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15699 Use release version of k8s 1.27 in integration test
  tests/integration/update_cluster/minimal/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal/in-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#15702 Automated cherry pick of #15699: Use release version of k8s 1.27 in integration test
  tests/integration/update_cluster/minimal/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal/in-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M

#15703 Upgrade cluster-autoscaler
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15704 Automated cherry pick of #15703: Upgrade cluster-autoscaler
  pkg/model/components/clusterautoscaler.go
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cas-priority-expander-custom.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander-custom/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-bootstrap_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cas-priority-expander.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/cluster-autoscaler-priority-expander/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-cluster-autoscaler.addons.k8s.io-k8s-1.15_content
Labels: cncf-cla: yes, lgtm, approved, size/M

#15700 Promote July 2023 K8s releases to stable
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#15710 gce: fix message around getting firewall rule
  upup/pkg/fi/cloudup/gcetasks/firewallrule.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp

#15712 Log error when PutWarmPool fails
  upup/pkg/fi/cloudup/awstasks/warmpool.go
  upup/pkg/fi/context.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#15709 gce: Set labels on ForwardingRules
  cloudmock/gce/mockcompute/forwarding_rule.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/master_volumes.go
  pkg/resources/gce/gce.go
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  upup/pkg/fi/cloudup/gce/compute.go
  upup/pkg/fi/cloudup/gce/gce_cloud.go
  upup/pkg/fi/cloudup/gce/labels.go
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/gcetasks/forwardingrule.go
  upup/pkg/fi/cloudup/utils.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/gcp

#15708 gce load balancers: set LoadBalancingScheme to EXTERNAL explicitly
  pkg/model/gcemodel/api_loadbalancer.go
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp

#15716 Remove code for unsupported k8s version
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/clusterautoscaler.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15717 upgrade-ab test should use old (deprecated) flags
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15718 Automated cherry pick of #15674: kubetest2-kops: rename control-plane-size flag to
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#15719 Automated cherry pick of #15674: kubetest2-kops: rename control-plane-size flag to
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/deployer.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/M

#15677 azure: Add support for application security groups
  pkg/model/azuremodel/context.go
  pkg/model/azuremodel/network.go
  pkg/model/azuremodel/vmscaleset.go
  pkg/resources/azure/azure.go
  upup/pkg/fi/cloudup/azure/applicationsecuritygroup.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/azure_utils.go
  upup/pkg/fi/cloudup/azuretasks/applicationsecuritygroup.go
  upup/pkg/fi/cloudup/azuretasks/applicationsecuritygroup_fitask.go
  upup/pkg/fi/cloudup/azuretasks/networksecuritygroup.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
  upup/pkg/fi/cloudup/azuretasks/vmscaleset.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/provider/azure

#15721 Rename eventbridge rule in toolbox dump output
  pkg/resources/aws/aws.go
  pkg/resources/aws/eventbridge.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/aws

#15722 Fix WarmPool with --target direct
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws

#15723 Automated cherry pick of #15722: Fix WarmPool with --target direct
  upup/pkg/fi/cloudup/awstasks/autoscalinggroup.go
Labels: cncf-cla: yes, lgtm, approved, size/S, area/provider/aws
