Repository kubernetes/kops, pull requests merged in 2023-06, with the labels that each got.

#15460 Default to dns=none for hetzner and digitalocean
  tests/integration/create_cluster/minimal_hetzner/expected-v1alpha2.yaml
  upup/pkg/fi/cloudup/new_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15478 GCP Terraform: enable create_before_destroy in instance templates
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
  upup/pkg/fi/cloudup/gcetasks/instancetemplate.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/gcp, ok-to-test

#15477 fix: CVE-2023-2253 CVE-2022-41723
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
  vendor/github.com/docker/distribution/.dockerignore
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15481 Add RHEL9 support
  docs/operations/images.md
  nodeup/pkg/model/miscutils.go
  nodeup/pkg/model/packages.go
  upup/pkg/fi/nodeup/nodetasks/package.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/rhel9/etc/os-release
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#15483 Increase verbosity level of log message about object ACLs
  pkg/acls/gce/storage.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15486 scaleway: use latest version of the ccm
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-scaleway-cloud-controller.addons.k8s.io-k8s-1.24_content
  upup/models/cloudup/resources/addons/scaleway-cloud-controller.addons.k8s.io/k8s-1.24.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#15482 Make create args for scale testing configurable in the run-test.sh
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15466 Add additional config for node local dns
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-nodelocaldns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/in-v1alpha2.yaml
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/M, area/channels, area/addons, kind/office-hours

#15490 Fix Amazon ECR endpoint in China
  nodeup/pkg/model/kubelet.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#15491 Hetzner LoadBalancer: support adding services
  upup/pkg/fi/cloudup/hetznertasks/loadbalancer.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/hetzner

#15475 Use Ubuntu 22.04 (Jammy) as the default distro for K8s 1.27+
  channels/alpha
  channels/stable
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/releases/1.27-NOTES.md
  pkg/apis/kops/channel.go
  pkg/util/templater/templater_test.go
  tests/integration/channel/integration_test.go
  tests/integration/channel/simple/channel.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/options.yaml
  tests/integration/update_cluster/minimal-1.27/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.27/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.27/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.27/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/minimal-1.27/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_etcd-cluster-spec-events_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_etcd-cluster-spec-main_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_kops-version.txt_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_manifests-etcdmanager-events-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_manifests-etcdmanager-main-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_manifests-static-kube-apiserver-healthcheck_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-aws-cloud-controller.addons.k8s.io-k8s-1.18_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-kubelet-api.rbac.addons.k8s.io-k8s-1.9_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-limit-range.addons.k8s.io_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_minimal.example.com-addons-storage-aws.addons.k8s.io-v1.15.0_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.27/id_rsa.pub
  tests/integration/update_cluster/minimal-1.27/in-v1alpha2.yaml
  tests/integration/update_cluster/minimal-1.27/kubernetes.tf
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XXL, area/channels, kind/office-hours

#15462 Use API internal name as TLS server name in kubeconfig
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/kubeconfig/kubecfg_builder.go
Labels: cncf-cla: yes, lgtm, approved, size/L, kind/office-hours

#15494 Automated cherry pick of #15462: Use API internal name as TLS server name in kubeconfig
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/kubeconfig/kubecfg_builder.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#15493 Use kops-controller on hetzner, even with gossip
  pkg/apis/kops/model/features.go
  pkg/model/hetznermodel/loadbalancer.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, area/provider/hetzner

#15479 New OpenStack security group rules for metrics
  pkg/model/openstackmodel/firewall.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/openstack, ok-to-test

#15498 [doc] Update s3api command to create OIDC bucket
  docs/getting_started/aws.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#15474 scaleway: use kops controller for bootstrap
  cmd/kops-controller/main.go
  cmd/kops-controller/pkg/config/options.go
  cmd/kops/integration_test.go
  nodeup/pkg/model/bootstrap_client.go
  pkg/apis/kops/model/features.go
  pkg/model/bootstrapscript.go
  pkg/model/scalewaymodel/api_loadbalancer.go
  pkg/nodeidentity/scaleway/identify.go
  protokube/pkg/protokube/scaleway_volumes.go
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_nodeupconfig-nodes-fr-par-1_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-kops-controller.addons.k8s.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-rbac.addons.k8s.io-k8s-1.8_content
  tests/integration/update_cluster/minimal_scaleway/data/scaleway_instance_server_nodes-fr-par-1_user_data
  tests/integration/update_cluster/minimal_scaleway/kubernetes.tf
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/scaleway/authenticator.go
  upup/pkg/fi/cloudup/scaleway/verifier.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, ok-to-test, area/kops-controller, area/provider/scaleway

#15502 Debian 12 Bookworm: Fix DNS resolution
  util/pkg/distributions/distributions.go
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15507 Update containerd to v1.7.2
  pkg/model/components/containerd.go
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-master-us-test-1a_content
  tests/integration/update_cluster/minimal-1.27/data/aws_s3_object_nodeupconfig-nodes_content
  tests/integration/update_cluster/minimal-1.27/in-v1alpha2.yaml
  upup/pkg/fi/cloudup/containerd.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#15501 Update Go to v1.20.5
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15037 Don't set up masquerade if NonMasqueradeCIDR is /0
  nodeup/pkg/model/containerd.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, lifecycle/stale

#15503 Automated cherry pick of #15501: Update Go to v1.20.5
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S

#15504 Automated cherry pick of #15502: Debian 12 Bookworm: Fix DNS resolution
  util/pkg/distributions/distributions.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15514 Remap all init container images of etcd-manager
  pkg/model/components/etcdmanager/model.go
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#15487 Add optional SELinux support to RHEL clusters
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/kube_apiserver.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/kube_scheduler.go
  pkg/apis/kops/containerdconfig.go
  pkg/apis/kops/v1alpha2/containerdconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/containerdconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/kubemanifest/selinux.go
  pkg/model/components/containerd.go
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/aws-cloud-controller.addons.k8s.io/k8s-1.18.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/networking.flannel/k8s-1.25.yaml.template
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
  upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/nvidia.addons.k8s.io/k8s-1.16.yaml.template
  upup/models/cloudup/resources/addons/openstack.addons.k8s.io/k8s-1.13.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/addons

#15523 Fix promotion of `kops-utils-cp` - cloudbuild
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15524 Automated cherry pick of #15523: Fix promotion of `kops-utils-cp` - cloudbuild
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15527 Fix promotion of `kops-utils-cp` - push
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15528 Automated cherry pick of #15527: Fix promotion of `kops-utils-cp` - push
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/XS

#15519 Automated cherry pick of #15515: node labeling: don't ignore unknown roles
  cmd/kops-controller/controllers/legacy_node_controller.go
  pkg/model/context.go
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion-2.yaml
  pkg/model/openstackmodel/tests/servergroup/one-master-one-node-one-bastion.yaml
  pkg/nodelabels/builder.go
  pkg/nodelabels/builder_test.go
  tests/integration/update_cluster/bastionadditional_user-data/data/aws_s3_object_nodeupconfig-bastion_content
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Labels: cncf-cla: yes, lgtm, approved, size/XL, area/provider/openstack, area/kops-controller

#15526 Remove duplicate Cluster field in BootstrapScriptBuilder
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/azuremodel/vmscaleset_test.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/iam/types.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, area/provider/azure, area/provider/openstack

#15534 Bump AWS CNI to version 1.13.2
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#15537 Automated cherry pick of #15536: bump cert-manager to v1.12.2
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#15536 Bump cert-manager to version 1.12.2
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#15458 Support intstr.IntOrString type in cmd
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  util/pkg/reflectutils/access.go
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, kind/office-hours

#15543 Create release notes for kOps 1.28; delete code for removed features
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/create_secret.go
  cmd/kops/create_secret_weavepassword.go
  docs/cli/kops_create_cluster.md
  docs/cli/kops_create_secret.md
  docs/cli/kops_create_secret_weavepassword.md
  docs/getting_started/digitalocean.md
  docs/getting_started/openstack.md
  docs/manifests_and_customizing_via_api.md
  docs/networking.md
  docs/networking/weave.md
  docs/operations/images.md
  docs/operations/rotate-secrets.md
  docs/releases/1.28-NOTES.md
  hack/dev-build.sh
  mkdocs.yml
  permalinks/upgrade_k8s.md
  pkg/apis/kops/parse_test.go
  pkg/apis/kops/validation/validation.go
  pkg/model/openstackmodel/firewall.go
  tests/e2e/pkg/tester/skip_regex.go
  tests/integration/create_cluster/minimal-1.22/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.22/options.yaml
  upup/models/cloudup/resources/addons/networking.weave/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/new_cluster_test.go
  upup/pkg/fi/cloudup/template_functions.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XL, area/provider/openstack, area/addons

#15552 Add create cluster flag for specifying the list of etcd clusters
  cmd/kops/create_cluster.go
  docs/cli/kops_create_cluster.md
  examples/kops-api-example/main.go
  examples/kops-api-example/up.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#15553 Add option for specifying the list of etcd metrics urls
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/etcdmanager/model.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S

#15538 Add CL2 test command to scalability scenario
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, tide/merge-method-squash, ok-to-test

#15557 make cni plugin configurable in scaling test scenario
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, tide/merge-method-squash, ok-to-test

#15144 Upgrade Karpenter to v0.27.5
  cmd/kops/create_cluster.go
  cmd/kops/create_cluster_integration_test.go
  cmd/kops/integration_test.go
  docs/cli/kops_create_cluster.md
  docs/operations/karpenter.md
  docs/releases/1.27-NOTES.md
  pkg/apis/kops/validation/validation.go
  pkg/featureflag/featureflag.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/scenarios/lib/common.sh
  tests/e2e/scenarios/upgrade-ab/run-test.sh
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/XXL, tide/merge-method-squash, ok-to-test, area/addons

#15541 Automated cherry pick of #15458: Support intstr.IntOrString type
  cmd/kops/edit_instancegroup_test.go
  cmd/kops/test/edit_instance_group.yaml
  util/pkg/reflectutils/access.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15551 Allow overriding uint values
  util/pkg/reflectutils/access.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#15535 Automated cherry pick of #15526: Remove duplicate Cluster field in BootstrapScriptBuilder
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/azuremodel/vmscaleset_test.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/iam/types.go
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, area/provider/azure, area/provider/openstack

#15546 Automated cherry pick of #15393: scaleway: dns support
  cloudmock/scaleway/mockdns/api.go
  dns-controller/cmd/dns-controller/main.go
  dnsprovider/pkg/dnsprovider/providers/scaleway/dns.go
  dnsprovider/pkg/dnsprovider/providers/scaleway/dns_test.go
  dnsprovider/pkg/dnsprovider/providers/scaleway/domain_api_interface.go
  docs/getting_started/scaleway.md
  pkg/resources/scaleway/resources.go
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-dns-controller.addons.k8s.io-k8s-1.12_content
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/template_functions.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/domain/v2beta1/domain_sdk.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/domain/v2beta1/domain_utils.go
  vendor/modules.txt
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/XXL, area/addons, area/provider/scaleway
