Repository kubernetes/kops, pull requests merged in 2024-11, with the labels that each got.

#16929 feat(cilium): adding EnableLocalRedirectPolicy parameter
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_minimal-warmpool.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-bootstrap_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_scw-minimal.k8s.local-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_privateciliumadvanced.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/M, ok-to-test, area/addons

#16934 Reduce number of nodes in manyaddons tests
  tests/e2e/templates/many-addons.yaml.tmpl
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16936 Allow updating the cluster one instance group at a time
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/awsmodel/iam.go
  pkg/model/azuremodel/testing.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/components/kubescheduler/model_test.go
  pkg/model/context.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/predicates/function.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, area/provider/azure, area/provider/openstack

#16931 Spotinst: add aggressive scale down feature
  docs/getting_started/spot-ocean.md
  go.mod
  go.sum
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/elastigroup.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/azure.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/tag.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/v3/azure.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/gcp/gcp.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/clusternodes.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launchspec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launchspec_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/loadbalancer.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/migrationstatus.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/migrationsummary.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/rightsizing.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure/common.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure/nodegroup.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure/rightsizing.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/cluster_np.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/common.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/launchspec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/right_sizing/right_sizing.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/right_sizing/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/client/client.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/client/request.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, ok-to-test, area/provider/spotinst

#16942 e2e tests: dump ip information for each VM
  tests/e2e/scenarios/bare-metal/dump-artifacts
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16941 e2e: name artifacts after the tests
  .github/workflows/e2e.yml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16940 tests: run kops toolbox dump in bare-metal e2e
  cmd/kops/toolbox_dump.go
  docs/cli/kops_toolbox_dump.md
  tests/e2e/scenarios/bare-metal/dump-artifacts
  tests/e2e/scenarios/bare-metal/run-test
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#16947 chore(channels): update alpha k8s and ubuntu ami versions
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#16950 Automated cherry pick of #16949: chore(upup): bump aws-cni to 1.18.6
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#16951 feat(docs): add toggle for light/dark mode support
  mkdocs.yml
Labels: cncf-cla: yes, lgtm, approved, size/S

#16952 chore(channels): promote alpha to stable
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex-private/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.25/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.26/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.28/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.29/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.30/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#16957 Automated cherry pick of #16948: openstack: add external dns support
  upup/models/cloudup/resources/addons/external-dns.addons.k8s.io/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#16959 Automated cherry pick of #16765: Allocate more resources to cloudbuild
  cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16958 Fix channels for K8s 1.26
  channels/alpha
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#16954 refactor: build assets for kubernetes and nodeup explicitly
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  pkg/commands/toolbox_enroll.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#16955 refactor: create abstraction over cluster/instancegroup for building assets
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kube_proxy_test.go
  pkg/apis/kops/model/features.go
  pkg/apis/kops/model/instance_group.go
  pkg/apis/kops/model/kubernetes_version.go
  pkg/apis/kops/util/versions.go
  pkg/model/components/context.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/nodeupconfigbuilder.go
  pkg/nodemodel/wellknownassets/cni.go
  pkg/nodemodel/wellknownassets/cni_test.go
  pkg/nodemodel/wellknownassets/containerd.go
  pkg/nodemodel/wellknownassets/crictl.go
  pkg/nodemodel/wellknownassets/crictl_test.go
  pkg/nodemodel/wellknownassets/nerdctl.go
  pkg/nodemodel/wellknownassets/runc.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#16962 Add hashes for containerd 1.17.22
  pkg/assets/assetdata/containerd.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16964 chore(channels): bump k8s and ubuntu jammy ami versions in alpha channel
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#16963 Recognize fedora 41 and debian 13
  upup/pkg/fi/nodeup/nodetasks/package.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M

#16966 Remove more unnecessary IMDS request logging
  dnsprovider/pkg/dnsprovider/providers/aws/route53/route53.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16968 Automated cherry pick of #16966: Remove more unnecessary IMDS request logging
  dnsprovider/pkg/dnsprovider/providers/aws/route53/route53.go
Labels: cncf-cla: yes, lgtm, approved, size/XS
