Repository kubernetes/kops, pull requests merged in 2024-04, with the labels that each got.

#16440 Update kube-router to v2.1.0
  pkg/model/iam/iam_builder.go
  tests/e2e/pkg/tester/skip_regex.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/addons

#16445 Automated cherry pick of #16440: Update kube-router to v2.1.0
  pkg/model/iam/iam_builder.go
  tests/e2e/pkg/tester/skip_regex.go
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#16438 Create assetdata
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/README.md
  pkg/assets/assetdata/cni.yaml
  pkg/assets/assetdata/containerd.yaml
  pkg/assets/assetdata/crictl.yaml
  pkg/assets/assetdata/data.go
  pkg/assets/assetdata/data_test.go
  pkg/assets/assetdata/ecr.yaml
  pkg/assets/assetdata/k8s-1.24.yaml
  pkg/assets/assetdata/k8s-1.25.yaml
  pkg/assets/assetdata/k8s-1.26.yaml
  pkg/assets/assetdata/k8s-1.27.yaml
  pkg/assets/assetdata/k8s-1.28.yaml
  pkg/assets/assetdata/k8s-1.29.yaml
  pkg/assets/assetdata/runc-1.1.yaml
  pkg/assets/assetdata/tools/cmd/generatefileassets/globlist.go
  pkg/assets/assetdata/tools/cmd/generatefileassets/globlist_test.go
  pkg/assets/assetdata/tools/cmd/generatefileassets/main.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#16363 Update Calico to v3.27.3
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#16449 Automated cherry pick of #16363: Update Calico to v3.27.3
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#16451 Migrate node controller and identity to aws-sdk-go-v2
  cmd/kops-controller/main.go
  pkg/nodeidentity/aws/identify.go
  protokube/pkg/gossip/aws/seeds.go
  protokube/pkg/protokube/aws_volume.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/kops-controller

#16454 Update images.md
  docs/operations/images.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, tide/merge-method-squash, ok-to-test

#16456 azure: Various updates
  pkg/apis/kops/cluster.go
  pkg/apis/nodeup/config.go
  pkg/instancegroups/instancegroups.go
  pkg/model/azuremodel/context.go
  upup/pkg/fi/cloudup/azure/applicationsecuritygroup.go
  upup/pkg/fi/cloudup/azure/azure_cloud.go
  upup/pkg/fi/cloudup/azure/loadbalancer.go
  upup/pkg/fi/cloudup/azure/natgateway.go
  upup/pkg/fi/cloudup/azure/networksecuritygroup.go
  upup/pkg/fi/cloudup/azure/publicipaddress.go
  upup/pkg/fi/cloudup/azure/routetable.go
  upup/pkg/fi/cloudup/azure/status_test.go
  upup/pkg/fi/cloudup/azure/virtualnetwork.go
  upup/pkg/fi/cloudup/azure/vmscaleset.go
  upup/pkg/fi/cloudup/azure/vmscalesetvm.go
  upup/pkg/fi/cloudup/azuretasks/subnet.go
  upup/pkg/fi/cloudup/azuretasks/testing.go
Labels: cncf-cla: yes, lgtm, area/api, area/rolling-update, approved, size/L, area/provider/azure

#16450 Provide default region to route53 client
  dnsprovider/pkg/dnsprovider/providers/aws/route53/route53.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16467 kube-router: fix version and cluster ip range
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test, area/addons

#16473 nodeup: error message instead of segfault
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#16471 Cherry pick of #16469: azure: Use lowercase for node names
  upup/pkg/fi/cloudup/azure/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/azure

#16470 Automated cherry pick of #16469: azure: Use lowercase for node names
  upup/pkg/fi/cloudup/azure/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/azure

#16469 azure: Use lowercase for node names
  upup/pkg/fi/cloudup/azure/verifier.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/azure

#16472 Automated cherry pick of #16467: k8s-1.12.yaml.template: update kube-router init container
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#16480 Migrate usage of aws-sdk-go/aws/endpoints
  pkg/model/awsmodel/iam.go
  pkg/model/awsmodel/iam_test.go
  pkg/zones/wellknown.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#16476 chore: fix function names in comment
  cmd/kops/integration_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test

#16487 tests: add unit test for aws authenticator
  upup/pkg/fi/cloudup/awsup/aws_authenticator_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws

#16486 Fix getting crictl assets
  nodeup/pkg/model/crictl.go
  nodeup/pkg/model/nerdctl.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/M, ok-to-test

#16489 Fix function name in comment
  cmd/kops/lifecycle_integration_test.go
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/kube_apiserver.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#16493 aliyun: Remove some leftovers
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/protokube.go
  util/pkg/vfs/context.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/S

#16503 kube-router: bump version v2.1.0 -> v2.1.1
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#16502 all: fix function names
  pkg/model/gcemodel/context.go
  pkg/nodeidentity/gce/identify.go
  pkg/resources/spotinst/spotinst.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec_test.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp, ok-to-test, area/provider/spotinst

#16504 chore: optimize the method for obtaining gopath
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/XS, ok-to-test
