Repository kubernetes/kops, pull requests merged in 2024-12, with the labels that each got.

#16970 Revert 1.30 Cherrypick "correct hubble tls file names as ..."
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-networking.cilium.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, area/addons

#16973 chore(channels): promoe alpha to stable (k8s and ubuntu ami)
  channels/stable
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.28/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.29/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.30/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#16932 Fix version upgrade kubelet support
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
  pkg/apis/kops/model/instance_group.go
  pkg/assets/builder.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, ok-to-test

#16976 Remove unusued kubernetesVersion from AssetBuilder
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  cmd/kops/create_cluster.go
  cmd/kops/edit_cluster.go
  cmd/kops/edit_instancegroup.go
  nodeup/pkg/model/kubelet_test.go
  pkg/assets/builder.go
  pkg/assets/builder_test.go
  pkg/commands/helpers_readwrite.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/model/components/containerd_test.go
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/image_test.go
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/components/kubecontrollermanager_test.go
  pkg/model/components/kubelet_test.go
  pkg/model/components/kubescheduler/model_test.go
  pkg/model/components/kubescheduler_test.go
  pkg/nodemodel/wellknownassets/cni_test.go
  pkg/nodemodel/wellknownassets/crictl_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec_test.go
  upup/pkg/fi/dryruntarget_test.go
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/rolling-update, approved, size/M, area/provider/aws, area/provider/gcp

#16974 tests: fix linter-detected problem with error handling
  nodeup/pkg/model/kubelet_test.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#16975 Fixup kubelet and controlPlaneKubelet config building
  nodeup/pkg/model/context.go
  pkg/apis/kops/model/kubernetes_version.go
  pkg/model/components/apiserver.go
  pkg/model/components/awscloudcontrollermanager.go
  pkg/model/components/containerd_test.go
  pkg/model/components/context.go
  pkg/model/components/gcpcloudcontrollermanager.go
  pkg/model/components/kubecontrollermanager.go
  pkg/model/components/kubelet.go
  pkg/model/components/kubelet_test.go
  pkg/model/components/kubescheduler.go
  pkg/model/components/kubescheduler_test.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/spec_builder.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L

#16980 Add `kops reconcile cluster` command
  cmd/kops/create_cluster.go
  cmd/kops/export_kubeconfig.go
  cmd/kops/get_assets.go
  cmd/kops/reconcile.go
  cmd/kops/reconcile_cluster.go
  cmd/kops/root.go
  cmd/kops/update_cluster.go
  docs/cli/kops.md
  docs/cli/kops_reconcile.md
  docs/cli/kops_reconcile_cluster.md
  docs/cli/kops_update_cluster.md
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/L

#16939 reconcile command to combine update and rolling-update
  cmd/kops/reconcile_cluster.go
  cmd/kops/update_cluster.go
  docs/cli/kops_update_cluster.md
Labels: area/documentation, cncf-cla: yes, size/L, area/provider/aws, area/provider/azure, area/provider/openstack

#16981 chore: fix some function names in comment
  pkg/apis/kops/util/taints.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/resources/aws/filters.go
  protokube/pkg/gossip/dns/provider/zone.go
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/S, area/provider/aws, ok-to-test

#16984 Generate hashes for latest kube versions
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/README.md
  pkg/assets/assetdata/k8s-1.28.yaml
  pkg/assets/assetdata/k8s-1.29.yaml
  pkg/assets/assetdata/k8s-1.30.yaml
  pkg/assets/assetdata/k8s-1.31.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L

#16985 Dial down warning level when asset is not found
  pkg/assets/builder.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#17134 OpenStack: update csi images
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test, area/addons

#17137 chore(networking): bump aws-cni to 1.19.0
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-networking.amazon-vpc-routed-eni-k8s-1.16_content
  upup/models/cloudup/resources/addons/networking.amazon-vpc-routed-eni/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc-containerd/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/networking.amazon-vpc-routed-eni-k8s-1.16.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/addons

#17136 chore(channels): update alpha k8s and ubuntu ami versions
  channels/alpha
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#17142 Automated cherry pick of #17141: Only set NTH ManagedASGTag label if it doesn't already exist
  pkg/model/context.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#17143 Automated cherry pick of #17141: Only set NTH ManagedASGTag label if it doesn't already exist
  pkg/model/context.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#17140 Temporarily skip failing cilium test to unblock PRs
  tests/e2e/pkg/tester/skip_regex.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#17141 Only set NTH ManagedASGTag label if it doesn't already exist
  pkg/model/context.go
  tests/integration/update_cluster/complex/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-bootstrap_content
  tests/integration/update_cluster/complex/data/aws_s3_object_complex.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/complex/in-legacy-v1alpha2.yaml
  tests/integration/update_cluster/complex/in-v1alpha2.yaml
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M

#17149 Dump ip routes as job artifacts
  pkg/dump/dumper.go
Labels: cncf-cla: yes, lgtm, approved, size/XS

#17148 Update calico to 3.29.1
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#17150 chore(channels): promote alpha to stable (k8s and ubuntu ami versions)
  channels/stable
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.28/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.29/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.30/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/S, area/channels

#17151 s3 vfs: fix delete all versions to handle errors
  util/pkg/vfs/s3fs.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#17153 chore: add context to rolling update functions
  cmd/kops/delete_instance.go
  cmd/kops/rolling-update_cluster.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/instancegroups_test.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_os_test.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/instancegroups/rollingupdate_warmpool_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/L

#17154 chore: refactor factory to accept a cluster
  channels/cmd/channels/main.go
  channels/pkg/cmd/apply.go
  channels/pkg/cmd/apply_channel.go
  channels/pkg/cmd/factory.go
  channels/pkg/cmd/get.go
  channels/pkg/cmd/get_addons.go
  channels/pkg/cmd/root.go
  cmd/kops/delete_instance.go
  cmd/kops/get_instances.go
  cmd/kops/rolling-update_cluster.go
  cmd/kops/toolbox_addons.go
  cmd/kops/toolbox_dump.go
  cmd/kops/util/factory.go
  cmd/kops/validate_cluster.go
  pkg/commands/commandutils/factory.go
  pkg/commands/toolbox_enroll.go
  pkg/instancegroups/rollingupdate.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
Labels: cncf-cla: yes, lgtm, area/rolling-update, approved, size/XL, area/channels

#17156 Add assets Runc 1.2
  hack/generate-asset-hashes.sh
  pkg/assets/assetdata/runc-1.1.yaml
  pkg/assets/assetdata/runc-1.2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M
