Repository kubernetes/kops, pull requests merged in 2024-03, with the labels that each got.

#16395 e2e tests: When upgrading, wait for the new configuration
  tests/e2e/scenarios/upgrade-ab/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/XS

#16398 Automated cherry pick of #16174: Bump metrics-server to 0.6.4
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-metrics-server.addons.k8s.io-k8s-1.11_content
  upup/models/cloudup/resources/addons/metrics-server.addons.k8s.io/k8s-1.11.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/insecure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/metrics-server.addons.k8s.io-k8s-1.11.yaml
Labels: cncf-cla: yes, lgtm, approved, size/M, area/addons

#16399 Automated cherry pick of #16177: Bump cert manager to 1.12.7
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#16402 Use github.com/go-viper/mapstructure/v2
  go.mod
  go.sum
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/verifier.go
  vendor/github.com/go-viper/mapstructure/v2/.editorconfig
  vendor/github.com/go-viper/mapstructure/v2/.envrc
  vendor/github.com/go-viper/mapstructure/v2/.gitignore
  vendor/github.com/go-viper/mapstructure/v2/.golangci.yaml
  vendor/github.com/go-viper/mapstructure/v2/CHANGELOG.md
  vendor/github.com/go-viper/mapstructure/v2/LICENSE
  vendor/github.com/go-viper/mapstructure/v2/README.md
  vendor/github.com/go-viper/mapstructure/v2/decode_hooks.go
  vendor/github.com/go-viper/mapstructure/v2/error.go
  vendor/github.com/go-viper/mapstructure/v2/flake.lock
  vendor/github.com/go-viper/mapstructure/v2/flake.nix
  vendor/github.com/go-viper/mapstructure/v2/mapstructure.go
  vendor/github.com/go-viper/mapstructure/v2/reflect_go1_19.go
  vendor/github.com/go-viper/mapstructure/v2/reflect_go1_20.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/openstack

#16404 docs: Update relnotes for 1.29 for deferred deletion
  docs/releases/1.29-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S

#16403 aws: Expose port 8443 when using NLB with a custom certificate
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws

#16405 Cherry pick of #16403: aws: expose port 8443 when using NLB with a custom
  pkg/model/awsmodel/api_loadbalancer.go
  tests/integration/update_cluster/complex/kubernetes.tf
Labels: cncf-cla: yes, lgtm, approved, size/M, area/provider/aws, kind/office-hours

#16269 gce: Change default storage class to balanced-csi
  docs/releases/1.29-NOTES.md
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-gcp-pd-csi-driver.addons.k8s.io-k8s-1.23_content
  upup/models/cloudup/resources/addons/gcp-pd-csi-driver.addons.k8s.io/k8s-1.23.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M, ok-to-test, area/addons, kind/office-hours

#16410 upgraded cert-manager to 1.12.9
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_many-addons.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#16412 aws/cert-manager: Tighten IAM permissions for cert-manager
  pkg/model/components/addonmanifests/certmanager/iam.go
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#16411 Automated cherry pick of #16410: upgraded cert-manager to 1.12.9
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/aws-lb-controller/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa23/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa24/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa25/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm-irsa26/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-ccm/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons/data/aws_s3_object_minimal.example.com-addons-certmanager.io-k8s-1.16_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_privatecilium.example.com-addons-certmanager.io-k8s-1.16_content
  upup/models/cloudup/resources/addons/certmanager.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/metrics-server/secure-1.19/manifest.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XXL, area/addons

#16414 Automated cherry pick of #16412: aws/cert-manager: Tighten IAM permissions for cert-manager
  pkg/model/components/addonmanifests/certmanager/iam.go
Labels: cncf-cla: yes, lgtm, approved, size/S

#16418 Update golangci-lint to v1.57.1
  hack/go.mod
  hack/go.sum
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_hosts.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  k8s/crds/kops.k8s.io_keysets.yaml
  k8s/crds/kops.k8s.io_sshcredentials.yaml
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XXL

#16426 refactor: move assets into their own package
  pkg/nodemodel/wellknownassets/containerd.go
  pkg/nodemodel/wellknownassets/containerd_test.go
  pkg/nodemodel/wellknownassets/crictl.go
  pkg/nodemodel/wellknownassets/crictl_test.go
  pkg/nodemodel/wellknownassets/nerdctl.go
  pkg/nodemodel/wellknownassets/runc.go
  pkg/nodemodel/wellknownassets/runc_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/M

#16428 refactor: isolate asset construction out of cloudup
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  hack/set-version
  pkg/commands/toolbox_enroll.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/wellknownassets/cni.go
  pkg/nodemodel/wellknownassets/cni_test.go
  pkg/nodemodel/wellknownassets/kopsassets.go
  pkg/nodemodel/wellknownassets/kopsassets_test.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/L

#16429 Refactor: Move nodeUpConfigBuilder to nodemodel
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  pkg/commands/toolbox_enroll.go
  pkg/nodemodel/nodeupconfigbuilder.go
  upup/pkg/fi/cloudup/apply_cluster.go
Labels: cncf-cla: yes, lgtm, approved, size/XXL

#16430 Migrate IMDS, command completion, and region validation to aws-sdk-go-v2
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/awsup/aws_authenticator.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/aws_utils_test.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/utils.go
  upup/pkg/fi/nodeup/nodetasks/prefix.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, area/provider/aws

#16436 chore: refactor MirroredAsset into assets
  clusterapi/bootstrap/controllers/kopsconfig_controller.go
  pkg/assets/builder.go
  pkg/assets/mirrored_asset.go
  pkg/assets/mirrors.go
  pkg/commands/toolbox_enroll.go
  pkg/model/bootstrapscript.go
  pkg/model/bootstrapscript_test.go
  pkg/model/openstackmodel/servergroup_test.go
  pkg/model/resources/nodeup.go
  pkg/nodemodel/fileassets.go
  pkg/nodemodel/nodeupconfigbuilder.go
  pkg/nodemodel/wellknownassets/kopsassets.go
  pkg/nodemodel/wellknownassets/kopsassets_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/openstack

#16443 Various aws-sdk-go-v2 fixes
  cloudmock/aws/mockiam/iaminstanceprofile.go
  cloudmock/aws/mockiam/iamrole.go
  cloudmock/aws/mockiam/oidcprovider.go
  go.mod
  pkg/model/awsmodel/iam.go
  pkg/resources/aws/aws.go
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofile.go
  upup/pkg/fi/cloudup/awstasks/iaminstanceprofilerole.go
  upup/pkg/fi/cloudup/awstasks/iamrole.go
  upup/pkg/fi/cloudup/awstasks/iamrolepolicy.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/aws_utils.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws
