Repository kubernetes/kops, pull requests merged in 2025-05, with the labels that each got.

#17380 Automated cherry pick of #17358: Add support for Gateway API within Cilium
  docs/networking/cilium.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/networking.go
  pkg/apis/kops/v1alpha2/networking.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/networking.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/components/cilium.go
  tests/integration/update_cluster/minimal-ipv6-cilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal-warmpool/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_scaleway/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium-eni/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privatecilium2/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/privateciliumadvanced/data/aws_s3_object_cluster-completed.spec_content
  upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.16-v1.15.yaml.template
Labels: area/documentation, cncf-cla: yes, lgtm, area/api, approved, size/L, area/addons

#17385 fix get assets
  cmd/kops/integration_test.go
  tests/integration/update_cluster/containerd/assets.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/dryrun_target.go
  upup/pkg/fi/dryruntarget_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, area/provider/gcp

#17384 tests: add tests for kubectl get assets
  cmd/kops/integration_test.go
  tests/integration/update_cluster/containerd/assets.yaml
Labels: cncf-cla: yes, size/M

#17386 Automated cherry pick of #17385: tests: add tests for kubectl get assets
  cmd/kops/integration_test.go
  tests/integration/update_cluster/containerd/assets.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/dryrun_target.go
  upup/pkg/fi/dryruntarget_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, area/provider/gcp

#17387 Automated cherry pick of #17385: tests: add tests for kubectl get assets
  cmd/kops/integration_test.go
  tests/integration/update_cluster/containerd/assets.yaml
  tests/integration/update_cluster/externallb/assets.yaml
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/elastic_ip_test.go
  upup/pkg/fi/cloudup/gcetasks/serviceaccount_test.go
  upup/pkg/fi/dryrun_target.go
  upup/pkg/fi/dryruntarget_test.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws, area/provider/gcp

#17394 Bump go to 1.24.3
  cloudbuild.yaml
  go.mod
  hack/go.mod
  tests/e2e/go.mod
  tools/otel/traceserver/go.mod
Labels: cncf-cla: yes, lgtm, approved, size/S

#17395 Release notes for 1.32.0
  docs/releases/1.32-NOTES.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/M

#17396 [release-1.32] Upgrade to Go 1.23.9
  cloudbuild.yaml
  go.mod
  hack/go.mod
  tests/e2e/go.mod
  tools/otel/traceserver/go.mod
Labels: cncf-cla: yes, lgtm, approved, size/S

#17397 [release-1.31] Upgrade to Go 1.23.9
  cloudbuild.yaml
  go.mod
  hack/go.mod
  tests/e2e/go.mod
  tools/otel/traceserver/go.mod
Labels: cncf-cla: yes, lgtm, approved, size/S

#17403 chore(channels): promote alpha to stable
  channels/stable
  tests/integration/create_cluster/cilium-eni/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex-private/expected-v1alpha2.yaml
  tests/integration/create_cluster/complex/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_encrypt/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zone/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_shared_zones/expected-v1alpha2.yaml
  tests/integration/create_cluster/ingwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/create_cluster/karpenter/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.27/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.28/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.29/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.30/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.31/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-1.32/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-arm64/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal-irsa/expected-v1alpha2.yaml
  tests/integration/create_cluster/minimal_feature-gates/expected-v1alpha2.yaml
  tests/integration/create_cluster/ngwspecified/expected-v1alpha2.yaml
  tests/integration/create_cluster/overrides/expected-v1alpha2.yaml
  tests/integration/create_cluster/private/expected-v1alpha2.yaml
  tests/integration/create_cluster/private_shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_subnets_vpc_lookup/expected-v1alpha2.yaml
  tests/integration/create_cluster/shared_vpc/expected-v1alpha2.yaml
Labels: cncf-cla: yes, lgtm, approved, size/L, area/channels

#17405 Change volume type to io1 from io2
  tests/e2e/scenarios/scalability/run-test.sh
Labels: cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#17407 Update requiredVersion for 1.31 and 1.32 in stable
  channels/stable
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/channels

#17412 Remove cloud-config and cloud-provider from 1.33 kubelet
  nodeup/pkg/model/kubelet.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS, ok-to-test

#17414 Automated cherry pick of #17398: Set MACAddressPolicy=none for Ubuntu 24.04
  nodeup/pkg/model/networking/amazon-vpc-routed-eni.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#17415 Automated cherry pick of #17398: Set MACAddressPolicy=none for Ubuntu 24.04
  nodeup/pkg/model/networking/amazon-vpc-routed-eni.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#17398 Set MACAddressPolicy=none for Ubuntu 24.04
  nodeup/pkg/model/networking/amazon-vpc-routed-eni.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/XS

#17413 GCE: avoid duplicate bucket IAM tasks for a single service account
  pkg/model/gcemodel/storageacl.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/provider/gcp, ok-to-test

#17422 cherry-pick of #17383: Remove securityGroupOverride validation for NLB
  pkg/apis/kops/validation/aws.go
Labels: cncf-cla: yes, lgtm, area/api, approved, size/XS, ok-to-test
