Repository kubernetes/kops, pull requests merged in 2025-09, with the labels that each got.

#17602 Golangci-lint v2 fixes: gocritic
  cloudmock/aws/mockec2/dhcpoptions.go
  cloudmock/aws/mockec2/tags.go
  cloudmock/aws/mockec2/volumes.go
  cloudmock/aws/mockelbv2/tags.go
  cloudmock/aws/mockelbv2/targetgroups.go
  cloudmock/openstack/mockcompute/instanceactions.go
  cloudmock/openstack/mockdns/zones.go
  cloudmock/scaleway/mockdns/api.go
  cmd/kops-controller/controllers/hosts_controller.go
  dnsprovider/pkg/dnsprovider/providers/aws/route53/stubs/route53api.go
  pkg/apis/kops/v1alpha2/register.go
  pkg/apis/kops/v1alpha3/register.go
  pkg/apis/nodeup/config.go
  pkg/dump/resourcedumper.go
  pkg/kopscontrollerclient/client.go
  pkg/model/gcemodel/api_loadbalancer.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/storageacl.go
  pkg/nodeidentity/aws/identify.go
  pkg/nodeidentity/hetzner/identify.go
  pkg/nodeidentity/openstack/identify.go
  pkg/nodeidentity/scaleway/identify.go
  pkg/nodemodel/nodeupconfigbuilder.go
  pkg/resources/scaleway/resources.go
  pkg/templates/templates.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/do/cloud.go
  upup/pkg/fi/cloudup/gce/gce_url.go
  upup/pkg/fi/cloudup/gce/utils.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/secrets/clientset_secretstore.go
  util/pkg/tables/format.go
  util/pkg/ui/user.go
Labels: cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/L, area/provider/gcp, area/provider/digitalocean, area/kops-controller, area/provider/spotinst, area/provider/hetzner, area/provider/scaleway

#17567 Update Karpenter to v1.6.2
  cmd/kops/integration_test.go
  docs/operations/karpenter.md
  docs/releases/1.34-NOTES.md
  pkg/apis/kops/validation/validation.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bootstrapscript.go
  pkg/model/components/addonmanifests/karpenter/iam.go
  pkg/model/components/karpenter.go
  pkg/model/components/nodeterminationhandler.go
  tests/e2e/scenarios/karpenter/run-test.sh
  tests/e2e/scenarios/lib/common.sh
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-ASGLifecycle_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-InstanceScheduledChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-InstanceStateChange_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_cloudwatch_event_rule_minimal.example.com-SpotInterruption_event_pattern
  tests/integration/update_cluster/karpenter/data/aws_iam_role_aws-node-termination-handler.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_aws-node-termination-handler.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_iam_role_policy_karpenter.kube-system.sa.minimal.example.com_policy
  tests/integration/update_cluster/karpenter/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-aws-ebs-csi-driver.addons.k8s.io-k8s-1.17_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-coredns.addons.k8s.io-k8s-1.12_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-karpenter.sh-k8s-1.19_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_minimal.example.com-addons-node-termination-handler.aws-k8s-1.11_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-default_content
  tests/integration/update_cluster/karpenter/data/aws_s3_object_nodeupscript-karpenter-nodes-single-machinetype_content
  tests/integration/update_cluster/karpenter/kubernetes.tf
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/karpenter.sh/helm-values.yaml
  upup/models/cloudup/resources/addons/karpenter.sh/k8s-1.19.yaml.template
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/template_functions.go
  upup/pkg/fi/cloudup/template_functions_test.go
Labels: area/documentation, cncf-cla: yes, lgtm, area/nodeup, area/api, approved, size/XXL, area/provider/aws, area/addons

#17607 azure: Use internal K8s API endpoint for cloud-node-manager
  upup/models/cloudup/resources/addons/azure-cloud-node.addons.k8s.io/k8s-1.31.yaml.template
Labels: cncf-cla: yes, lgtm, approved, size/XS, area/addons

#17611 azure: Add udev disk rules
  nodeup/pkg/model/azure.go
  nodeup/pkg/model/resources/80-azure-disk.rules
  upup/pkg/fi/nodeup/command.go
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L

#17614 Bump versions in netlify and mkdocs
  images/mkdocs/Dockerfile
  images/mkdocs/requirements.txt
  netlify.toml
Labels: cncf-cla: yes, lgtm, approved, size/XS

#17613 nodeup: Use embed for containerd license
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/resources/containerd-license.txt
  nodeup/pkg/model/resources/docker_healthcheck.go
  nodeup/pkg/model/resources/docker_license.go
  nodeup/pkg/model/tests/containerdbuilder/complex/tasks.yaml
  nodeup/pkg/model/tests/containerdbuilder/simple/tasks.yaml
Labels: cncf-cla: yes, lgtm, area/nodeup, approved, size/L, kind/cleanup

#17618 docs: migrate to control-plane nomenclature
  docs/operations/high_availability.md
Labels: area/documentation, cncf-cla: yes, lgtm, approved, size/S, ok-to-test

#17625 Add support for `cilium-etcd` with `dns=none`
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/wellknownservices/wellknownservices.go
Labels: cncf-cla: yes, lgtm, approved, size/L, area/provider/aws
